{% extends "::base.html.twig" %}
{% trans_default_domain 'ListsOrganizationBundle' %}
{% block title %}{% trans %}Show Organization{% endtrans %} {% endblock %}
{% block page_breadcrumbs %}
	<ul class="page-breadcrumb breadcrumb">
		<li>
			<i class="fa fa-home"></i>
			<a href="{{ path('sd_dashboard_homepage') }}" title="{% trans %}Dashboard{% endtrans %}">{% trans %}Dashboard{% endtrans %}</a>
			<i class="fa fa-angle-right"></i>
		</li>
		<li><a href="{{ path('lists_' ~ baseRoutePrefix ~ '_organization_index') }}" title="{% trans %}Organization List{% endtrans %}">{% trans %}Organization List{% endtrans %}</a><i class="fa fa-angle-right"></i></li>
		<li><a href="{{ path('lists_' ~ baseRoutePrefix ~ '_organization_show', { id : organization.id }) }}" title="{% trans %}Show Organization{% endtrans %}">{% trans %}Show Organization{% endtrans %}</a></li>
	</ul>
{% endblock %}
{% block page_title %}
	<h3 class="page-title">
		{% trans %}Organization <small>show organization</small>{% endtrans %}
	</h3>
{% endblock %}

{% block css_page_level_plugin %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('metronic/assets/global/plugins/select2/select2.css')}} " />
    <link rel="stylesheet" type="text/css" href="{{ asset('metronic/assets/global/plugins/bootstrap-editable/bootstrap-editable/css/bootstrap-editable.css')}} " />
    <link rel="stylesheet" type="text/css" href="{{ asset('metronic/assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.css')}} " />
    <link rel="stylesheet" type="text/css" href="{{ asset('metronic/assets/global/plugins/bootstrap-datetimepicker/css/datetimepicker.css')}}" />
{% endblock %}

{% block js_page_level_plugins %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('metronic/assets/global/plugins/select2/select2.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('metronic/assets/global/plugins/bootstrap-editable/bootstrap-editable/js/bootstrap-editable.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('metronic/assets/global/plugins/datatables/media/js/jquery.dataTables.js') }}"></script>
    <script type="text/javascript" src="{{ asset('metronic/assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js') }}"></script>
    <script type="text/javascript" src="{{ asset('metronic/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js')}} "></script>
    <script type="text/javascript" src="{{ asset('metronic/assets/global/plugins/bootstrap-datepicker/js/locales/bootstrap-datepicker.ru.js')}} "></script>
{% endblock %}

{% block body %}

	<div class="row">
		<div class="col-md-12">
			<div class="tabbable tabbable-custom boxless">
				<ul class="nav nav-tabs">
					<li class="active"><a href="#tab_0" data-toggle="tab">{% trans %}Organization{% endtrans %}</a></li>
					<li><a href="#tab_1" data-toggle="tab">{% trans %}Managers{% endtrans %}</a></li>
					<li><a href="#tab_2" data-toggle="tab">{% trans %}Contacts{% endtrans %}</a></li>
					<li><a href="#tab_3" data-toggle="tab">{% trans %}Child organization{% endtrans %}</a></li>
                                        <li><a href="#tab_4" data-toggle="tab">{% trans %}Dogovors{% endtrans %}</a></li>
                                        <li><a href="#tab_5" data-toggle="tab">{% trans %}Projects{% endtrans %}</a></li>
				</ul>
				<div class="tab-content">
                    <div class="tab-pane active" id="tab_0">
                        {{  include(
                            'ListsOrganizationBundle:' ~ baseTemplate ~ ':edit.html.twig',
                            {
                                organization: organization
                            }
                            )
                        }}
                    </div>
					<!--tabpane-->
                    {{  include(
                        'ListsOrganizationBundle:' ~ baseTemplate ~ ':managers.html.twig',
                            {
                                organization: organization,
                                baseTemplate: baseTemplate,
                                baseRoutePrefix: baseRoutePrefix
                            }
                        )
                    }}
					<!--tabpane-->
                    {{  include(
                        'ListsOrganizationBundle:' ~ baseTemplate ~ ':contacts.html.twig',
                            {
                                organization: organization,
                                baseTemplate: baseTemplate,
                                baseRoutePrefix: baseRoutePrefix
                            }
                        )
                    }}
					<!--tabpane-->
                    {{  include(
                        'ListsOrganizationBundle:' ~ baseTemplate ~ ':organizationChild.html.twig',
                            {
                                organization: organization,
                                baseTemplate: baseTemplate,
                                baseRoutePrefix: baseRoutePrefix
                            }
                        )
                    }}
                    <div class="tab-pane" id="tab_4">
                        {{ render(controller('ListsDogovorBundle:Dogovor:forOrganization', { id:organization.id })) }}
                    </div>
                    <div class="tab-pane" id="tab_5">
                        {{ render(controller('ListsHandlingBundle:' ~ (baseTemplate == 'DogovorAdmin' ? 'SalesAdmin' : baseTemplate ) ~ ':forOrganization', { id:organization.id })) }}
                    </div>
                    <!--tabpane-->
                </div>
                <!--tab-content-->
            </div>
            <!--tabbale-->
        </div>
	</div>
	<!--row-->

{% endblock body %}
