{% trans_default_domain 'SDTaskBundle' %}
{% set color = 'grey' %}
{% if taskUserRole.role == 'author' %}
    {% set color = 'red' %}
{% elseif taskUserRole.role == 'performer' %}
    {% set color = 'blue' %}
{% elseif taskUserRole.role == 'controller' %}
    {% set color = 'yellow' %}
{% elseif taskUserRole.role == 'matcher' %}
    {% set color = 'green' %}
{% endif %}

{% set stage = taskUserRole.task.stage %}
{% if stage == 'undone' %}
    {% set labelStage = 'label-primary' %}
{% elseif stage == 'performing' %}
    {% set labelStage = 'label-info' %}
{% elseif stage == 'created' %}
    {% set labelStage = 'label-default' %}
{% elseif stage == 'done' %}
    {% set labelStage = 'label-success' %}
{% elseif stage == 'date request' %}
    {% set labelStage = 'label-danger' %}
{% elseif stage == 'closed' %}
    {% set labelStage = 'label-primary' %}
{% elseif stage == 'checking' %}
    {% set labelStage = 'label-warning' %}
{% elseif stage == 'matching' %}
    {% set labelStage = 'label-warning' %}
{% endif %}

<div class="todo-tasklist-item todo-tasklist-item-border-{{ color }} task-item task_{{ taskUserRole.task.id }}" data-id="{{ taskUserRole.id }}" style="border-width: 3px;" id="taskListItem_{{ taskUserRole.id }}">
    <img class="todo-userpic pull-left" src="{{ web_image( taskUserRole.user.photo is not empty ? userprofiles_url ~ taskUserRole.user.id ~ '/' ~ taskUserRole.user.photo : userprofiles_url ~ 'no_avatar.png').resize(27, 27) }}">
    <div class="todo-tasklist-item-title">
        {% if taskUserRole.isUpdated %}
            <i class="fa fa-comments" style="color: #019660"></i>
        {% endif %}
         {{ taskUserRole.task.title|length > 30 ? taskUserRole.task.title|slice(0, 30) ~ '...' : taskUserRole.task.title }} <span style="color: #577688">(ID:{{ taskUserRole.task.id }}) </span>
    </div>
    <div class="todo-tasklist-item-text">
{#
        {{ taskUserRole.task.description|length > 100 ? taskUserRole.task.description|slice(0, 50) ~ '...' : taskUserRole.task.description  }}
#}

{#
        {% if taskUserRole.role = 'controller' %}
            <br>
            {% trans %}Performer{% endtrans %}:
        {% endif %}
#}
    </div>
    <div class="todo-tasklist-controls pull-left">
        <span class="{#todo-tasklist-date#}" style="color: #abbfca; margin-right: 5px;">
            <i class="fa fa-calendar"></i>
            {{
                include('SDTaskBundle:Task:taskEndDateLast.html.twig',
                    {
                        'taskUserRole' : taskUserRole
                    }
                )
            }}
        </span>
        <span class="label label-sm {{ labelStage }}">{{ stage|trans }}</span>
        <span class="{#todo-tasklist-date#}" style="color: #abbfca; margin-left: 5px;">
            {% if taskUserRole.task.editedDate is not empty %}
                <i class="fa fa-pencil"></i>
                {{ taskUserRole.task.editedDate|date('d.m.Y H:i') }}
            {% endif %}
        </span>
    </div>
</div>
