{% trans_default_domain 'SDTaskBundle' %}

<script>
    $(document).ready(function(){
        $('#task_set_viewed').die('click')
        $('#task_set_viewed').live('click', function(e){
            var id = $('#task_modal_info_holder').data('id');
            var url = $('#task_modal_info_holder').data('url_task_set_viewed');
            var sendData = {
                'id': id
            }
            $.ajax({
                type: 'POST',
                url: url,
                data: sendData,
                success: function(data1) {
                    //alert(data1)
                    data = JSON.parse(data1);
                    if (data.success == 1) {
                        updateTask();
                    } else {

                    }
                }
            })
        })

        $('.stageButton').die('click');
        $('.stageButton').live('click', function(e){
            var stage = $(this).data('stage');
            insertComment();
            updateTaskStage(stage);
        })

        $('#task_change_date').die('click');
        $('#task_change_date').live('click', function(e){
            $('#change_date_holder').toggle('blind', {}, 500)
        })

        $('.answerButton').die('click');
        $('.answerButton').live('click', function(e){
            var answer = $(this).data('value');
            var id = $('#task_modal_info_holder').data('id');
            var url = $('#task_modal_info_holder').data('url_answer_date');;
            var sendData = {
                'id': id,
                'answer': answer
            }
            $.ajax({
                type: 'POST',
                url: url,
                data: sendData,
                success: function(data1) {
                    //alert(data1)
                    data = JSON.parse(data1);
                    if (data.success == 1) {
                        insertComment();
                        updateTask();
                    } else {
                        //$('#copy_etalon_finished').show('blind', {}, 500);
                    }
                }

            })
        })

        $('.changeDate').die('click');
        $('.changeDate').live('click', function(e){
            var value = $(this).data('value');
            var type = $(this).data('type');
            var id = $('#task_modal_info_holder').data('id');
            var url = $('#task_modal_info_holder').data('url_change_date');;
            var sendData = {
                'id': id,
                'value': value,
                'type': type
            }
            $.ajax({
                type: 'POST',
                url: url,
                data: sendData,
                success: function(data1) {
                    //alert(data1)
                    data = JSON.parse(data1);
                    if (data.success == 1) {
                        insertComment()
                        updateTask();
                    } else {
                        alert('{% trans %}Somebody already made request{% endtrans %}');
                        updateTask();
                        //$('#copy_etalon_finished').show('blind', {}, 500);
                    }
                }

            })
        })

        /*
         $('#change_date_input').datetimepicker({
         'language': 'ru',
         'orientation': "auto",
         'weekStart': 0

         });
         */

        /*
         $('#task_change_date_submit').die('click');
         $('#task_change_date_submit').live('click', function(e){
         var date = $('#change_date_input').val();
         var stage = $(this).data('stage');
         })
         */

        function insertComment() {
            var comment = $('#comment').val();
            var id = $('#task_modal_info_holder').data('id');
            var url = $('#task_modal_info_holder').data('url_add_comment');
            var sendData = {
                'id': id,
                'comment': comment
            }
            //alert(comment.length)
            if (comment.length) {
                $.ajax({
                    type: 'POST',
                    url: url,
                    data: sendData,
                    success: function(data1) {
                        //alert(data1)
                        data = JSON.parse(data1);
                        if (data.success == 1) {

                        } else {
                            //$('#copy_etalon_finished').show('blind', {}, 500);
                        }
                        return true;
                    }

                })
            }

        }

        function updateTaskStage (stage) {
            var id = $('#task_modal_info_holder').data('id');
            var url = $('#task_modal_info_holder').data('url_task_set_stage');
            var sendData = {
                'id': id,
                'stage': stage
            }
            $.ajax({
                type: 'POST',
                url: url,
                data: sendData,
                success: function(data1) {
                    //alert(data1)
                    data = JSON.parse(data1);
                    if (data.success == 1) {
                        updateTask();
                    } else {
                        //$('#copy_etalon_finished').show('blind', {}, 500);
                    }
                }

            })
        }



        function updateTask() {
            location.reload();
        }


        //function updateTask_list

    })

</script>


<div class="scroller" style="max-height: 600px;" data-always-visible="0" data-rail-visible="0" data-handle-color="#dae3e7"
     >
    <form action="#" class="form-horizontal">
    <!-- TASK HEAD -->
    <div class="form">
        <div class="form-group">
            <div class="col-md-8 col-sm-8">
                <div class="todo-taskbody-user">
                    <img class="todo-userpic pull-left" src="{{ asset( userprofiles_url ~ app.user.id ~ '/image29_' ~ app.user.photo) }}" width="50px" height="50px">
                    <span class="todo-username pull-left">{{ taskUserRole.user }}</span>
{#
                    <button type="button" class="todo-username-btn btn btn-circle btn-default btn-xs">&nbsp;edit&nbsp;</button>
#}
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="todo-taskbody-date pull-right">
                    {% if taskUserRole.isViewed != true %}
                        <button type="button" class="todo-username-btn btn btn-circle btn-default btn-xs" id="task_set_viewed">
                            &nbsp; {% trans %}Set viewed{% endtrans %} &nbsp;
                        </button>
                    {% else %}
                            <div class="actions">
                                <div class="btn-group">
                                    <a class="btn green-haze btn-circle btn-sm" href="#" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                        MANAGE <i class="fa fa-angle-down"></i>
                                    </a>
                                    <ul class="dropdown-menu pull-right">
                                        {% if taskUserRole.role == 'performer' %}
                                            {% if taskUserRole.task.stage == 'created' or taskUserRole.task.stage == 'performing' or taskUserRole.task.stage == 'date request'%}
                                            <li>
                                                <a id="task_set_done" data-stage="checking" class="stageButton">{% trans %}Set done{% endtrans %}</a>
                                            </li>
                                            {% endif %}
                                        {% endif %}
                                        {% if taskUserRole.role == 'controller' %}
                                            {% if taskUserRole.task.stage == 'created' or taskUserRole.task.stage == 'performing' or taskUserRole.task.stage == 'checking' or taskUserRole.task.stage == 'date request'%}
                                                <li>
                                                    <a id="task_set_closed" data-stage="closed" class="stageButton">{% trans %}Close task{% endtrans %}</a>
                                                </li>
                                                <li>
                                                    <a id="task_set_undone" data-stage="undone" class="stageButton">{% trans %}Set undone{% endtrans %}</a>
                                                </li>
                                            {% endif %}
                                            {% if taskUserRole.task.stage == 'checking'%}
                                                <li>
                                                    <a id="task_set_done_controller" data-stage="done" class="stageButton">{% trans %}Set done{% endtrans %}</a>
                                                </li>
                                                <li>
                                                    <a id="task_set_performing_controller" data-stage="performing" class="stageButton">{% trans %}Re-make{% endtrans %}</a>
                                                </li>
                                            {% endif %}


                                        {% endif %}
                                        <li>
                                            <a href="#">
                                                <i class="i"></i> New Task </a>
                                        </li>
                                        <li class="divider">
                                        </li>
                                        <li>
                                            <a href="#">
                                                Pending <span class="badge badge-danger">
                                                                    4 </span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                Completed <span class="badge badge-success">
                                                                    12 </span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                Overdue <span class="badge badge-warning">
                                                                    9 </span>
                                            </a>
                                        </li>
                                        <li class="divider">
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="i"></i> Delete Project </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                    {% endif %}


                </div>
            </div>
        </div>
        <!-- END TASK HEAD -->
        <!-- TASK TITLE -->
        <div class="form-group">
            <div class="col-md-12">
                {{ taskUserRole.task.title }}
            </div>
        </div>
        <!-- TASK DESC -->
        <div class="form-group">
            <div class="col-md-12">
                {{ taskUserRole.task.description }}
            </div>
        </div>


        <!-- END TASK DESC -->
        <!-- TASK DUE DATE -->
        <div class="form-group">
            <div class="col-md-12">
                <div class="input-icon">
                    {#<i class="fa fa-calendar"></i>#}
                    {% trans %}End date{% endtrans %}:<br>
                        {{ include ('SDTaskBundle:Task:taskEndDate.html.twig', {
                            'taskEndDates': taskUserRole.task.taskEndDates,
                            'stage': taskUserRole.task.stage
                        }) }}
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-12">
                {% trans %}Performer{% endtrans %} :
                {% if taskUserRolePerformer|length %}
                    {% for performer in taskUserRolePerformer %}
                        {{ performer.user }}

                        {% if performer.isViewed !=true %}
                            <span style="color: red; font-size: smaller;">({% trans %}Not viewed{% endtrans %})</span>
                        {% endif %}
                        <br>
                    {% endfor %}
                {% endif %}
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-12">
                {% trans %}Controller{% endtrans %}:
                {% if taskUserRoleController|length %}
                    {% for controller in taskUserRoleController %}
                        {{ controller.user }}
                        {% if controller.isViewed !=true %}
                            <span style="color: red; font-size: smaller;">({% trans %}Not viewed{% endtrans %})</span>
                        {% endif %}
                        <br>
                    {% endfor %}
                {% endif %}

                <br><br>
                {% trans %}Author{% endtrans %}: {% if taskUserRoleAuthor|length %}
                    {% for author in taskUserRoleAuthor %}
                        {{ author.user }}
                    {% endfor %}
                {% endif %}
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-12">
                {% trans %}My role{% endtrans %}: {{ taskUserRole.role|trans }}
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-12">
                {% trans %}Stage{% endtrans %}: {{ taskUserRole.task.stage|trans }}
            </div>
        </div>

        <!-- TASK TAGS -->
        <div class="form-group">
            <div class="col-md-12">
                {% if taskUserRole.role == 'controller' %}
                    {% if taskUserRole.task.stage == 'date request'%}
                        {% if taskUserRole.isViewed == true %}
                            <div style="clear: both;" class="alert alert-danger">
                                {% trans %}Request to change date{% endtrans %}:
                                <a data-value="1" class="btn green answerButton" style="margin-left: 10px;">{% trans %}Submit{% endtrans %}</a>
                                <a data-value="0" class="btn red answerButton" style="margin-left: 10px;">{% trans %}Reject{% endtrans %}</a>
                            </div>
                            <br>
                        {% endif %}
                    {% endif %}
                {% endif %}
                {#
                                <input type="text" class="form-control todo-taskbody-tags" placeholder="Tags..." value="Pending, Requested">
                #}
            </div>
        </div>
        <!-- TASK TAGS -->
        <div class="form-actions right todo-form-actions">
            {% if taskUserRole.task.stage != 'date request' and taskUserRole.task.stage != 'done' and taskUserRole.task.stage != 'undone' and taskUserRole.task.stage != 'closed' and taskUserRole.task.stage != 'checking'
            and taskUserRole.role != 'author' and taskUserRole.isViewed == true %}
                <button id="task_change_date" data-stage="date request" class="btn btn-circle btn-sm green-haze">{% trans %}Change end date{% endtrans %}</button>
                <div id="change_date_holder" style="display: none">
                    {#
                                <br>
                                <label for="change_date_input">Change end date to:</label>
                                <input type="text" id="change_date_input">
                                <a id="task_change_date_submit" data-stage="date request" class="btn blue stageButton" style="margin-left: 10px;">{% trans %}Send request{% endtrans %}</a>
                    #}
                    <br>
                    <a data-value="1" data-type="hour" class="btn red changeDate" style="width: 100px;">+ {% trans %}1 hour{% endtrans %}</a>
                    <a data-value="3" data-type="hour" class="btn red changeDate" style="width: 100px;">+ {% trans %}3 hours{% endtrans %}</a>
                    <a data-value="5" data-type="hour" class="btn red changeDate" style="width: 100px;">+ {% trans %}5 hours{% endtrans %}</a>
                    <a data-value="12" data-type="hour" class="btn red changeDate" style="width: 100px;">+ {% trans %}12 hours{% endtrans %}</a>
                    <br><br>
                    <a data-value="1" data-type="day" class="btn blue changeDate" style="width: 100px;">+ {% trans %}1 day{% endtrans %}</a>
                    <a data-value="2" data-type="day" class="btn blue changeDate" style="width: 100px;">+ {% trans %}2 days{% endtrans %}</a>
                    <a data-value="3" data-type="day" class="btn blue changeDate" style="width: 100px;">+ {% trans %}3 days{% endtrans %}</a>
                    <a data-value="5" data-type="day" class="btn blue changeDate" style="width: 100px;">+ {% trans %}5 days{% endtrans %}</a>
                    <br><br>
                    <a data-value="1" data-type="week" class="btn green changeDate" style="width: 100px;">+ {% trans %}1 week{% endtrans %}</a>
                    <a data-value="2" data-type="week" class="btn green changeDate" style="width: 100px;">+ {% trans %}2 weeks{% endtrans %}</a>
                    <a data-value="3" data-type="week" class="btn green changeDate" style="width: 100px;">+ {% trans %}3 weeks{% endtrans %}</a>
                    <a data-value="1" data-type="month" class="btn green changeDate" style="width: 100px;">+ {% trans %}1 month{% endtrans %}</a>

                </div>
            {% endif %}

{#
            <button class="btn btn-circle btn-sm green-haze">Save Changes</button>
            <button class="btn btn-circle btn-sm btn-default">Cancel</button>
#}
        </div>
    </div>
    <div class="tabbable-line">
        <ul class="nav nav-tabs ">
            <li class="active">
                <a href="#tab_1" data-toggle="tab">
                    {% trans %}Comments{% endtrans %} </a>
            </li>
{#
            <li>
                <a href="#tab_2" data-toggle="tab">
                    History </a>
            </li>
#}
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="tab_1">
                <!-- TASK COMMENTS -->
                <div class="form-group">
                    <div class="col-md-12">
                        <ul class="media-list">
                            {% for comment in comments %}
                                <li class="media">
                                    <a class="pull-left" href="#">
                                        <img class="todo-userpic" src="{{ asset( userprofiles_url ~ comment.user.id ~ '/image29_' ~ comment.user.photo) }}" width="27px" height="27px">
                                    </a>
                                    <div class="media-body todo-comment">
                                        {#
                                                                            <button type="button" class="todo-comment-btn btn btn-circle btn-default btn-xs">&nbsp; Reply &nbsp;</button>
                                        #}
                                        <p class="todo-comment-head">
                                            <span class="todo-comment-username">{{ comment.user }}</span> &nbsp; <span class="todo-comment-date">{{ comment.createDatetime|date('H:i d-m-Y') }}</span>
                                        </p>
                                        <p class="todo-text-color">
                                            {{ comment.value }} <br>
                                        </p>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <!-- END TASK COMMENTS -->
                <!-- TASK COMMENT FORM -->
                {% if taskUserRole.task.stage != 'done' and taskUserRole.task.stage != 'undone'
                and taskUserRole.task.stage != 'closed' and taskUserRole.role != 'author' and taskUserRole.isViewed == true %}
                    {% if taskUserRole.role != 'performer' or taskUserRole.task.stage != 'checking'%}
                        <div class="form-group">
                            <div class="col-md-12">
                                <ul class="media-list">
                                    <li class="media">
                                        <img class="todo-userpic pull-left" src="../../assets/admin/layout/img/avatar4.jpg" width="27px" height="27px">
                                        <div class="media-body">
                                            <textarea class="form-control todo-taskbody-taskdesc" rows="4" placeholder="Введите комментарий к действию"></textarea>
                                        </div>
                                    </li>
                                </ul>
                                <button type="button" class="pull-right btn btn-sm btn-circle green-haze"> &nbsp; Submit &nbsp; </button>
                            </div>
                        </div>
                    {% endif %}
                {% endif %}

                <!-- END TASK COMMENT FORM -->
            </div>
{#
            <div class="tab-pane" id="tab_2">
                <ul class="todo-task-history">
                    <li>
                        <div class="todo-task-history-date">
                            20 Jun, 2014 at 11:35am
                        </div>
                        <div class="todo-task-history-desc">
                            Task created
                        </div>
                    </li>
                    <li>
                        <div class="todo-task-history-date">
                            21 Jun, 2014 at 10:35pm
                        </div>
                        <div class="todo-task-history-desc">
                            Task category status changed to "Top Priority"
                        </div>
                    </li>
                    <li>
                        <div class="todo-task-history-date">
                            22 Jun, 2014 at 11:35am
                        </div>
                        <div class="todo-task-history-desc">
                            Task owner changed to "Nick Larson"
                        </div>
                    </li>
                    <li>
                        <div class="todo-task-history-date">
                            30 Jun, 2014 at 8:09am
                        </div>
                        <div class="todo-task-history-desc">
                            Task completed by "Nick Larson"
                        </div>
                    </li>
                </ul>
            </div>
#}
        </div>
    </div>
</form>
</div>
<input type="hidden" id="task_modal_info_holder"
       data-id="{{ taskUserRole.id }}"
       data-url_task_set_viewed="{{ path('sd_task_set_viewed') }}"
       data-url_task_set_stage="{{ path('sd_task_set_stage') }}"
       data-url_update_modal="{{ path('sd_task_modal') }}"
       data-url_change_date="{{ path('sd_task_change_date') }}"
       data-url_answer_date="{{ path('sd_task_answer_date') }}"
       data-role="{{ taskUserRole.role }}"
       data-task_id="{{ taskUserRole.task.id }}"
       data-url_add_comment="{{ path('sd_task_add_comment') }}"
        >
