{% trans_default_domain 'SDTaskBundle' %}
<link rel="stylesheet" type="text/css" href="{{ asset('metronic/assets/global/plugins/bootstrap-datetimepicker/css/datetimepicker.css')}}" />
<script type="text/javascript" src="{{ asset('metronic/assets/global/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js')}} "></script>
<script type="text/javascript" src="{{ asset('metronic/assets/global/plugins/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.ru.js')}} "></script>
{{ ajax_form_render_btn({
    'selector' : '#task_add_file',
    'formType' : 'taskFileForm',
    'successFunctions' : {
        'list_files' : 'ITDoorsAjax.updateList'
    },
    'serviceDefault' : {
        'alias' : 'task.file.form.service',
        'method' : 'addFormDefaults'
    },
    'serviceSave' : {
        'alias' : 'task.file.form.service',
        'method' : 'saveForm'
    },
    'parameters' : {
        'idTask' : taskUserRole.task.id
    },
    'target' : '#task_add_file_holder'
    })
}}

<script>
    $(document).ready(function(){
        $('#task_set_viewed').die('click')
        $('#task_set_viewed').live('click', function(e){
            var id = $('#task_modal_info_holder').data('id');
            var url = $('#task_modal_info_holder').data('url_task_set_viewed');
            var sendData = {
                'id': id
            }
            $.ajax({
                type: 'POST',
                url: url,
                data: sendData,
                success: function(data1) {
                    //alert(data1)
                    data = JSON.parse(data1);
                    if (data.success == 1) {
                        updateTask();
                    } else {

                    }
                }
            })
        })

        $('.stageButton').die('click');
        $('.stageButton').live('click', function(e){
            var stage = $(this).data('stage');
            insertComment();
            updateTaskStage(stage);
        })

        $('#task_change_date').die('click');
        $('#task_change_date').live('click', function(e){
            $('#change_date_holder').toggle('blind', {}, 300)
        })

        $('.answerButton').die('click');
        $('.answerButton').live('click', function(e){
            var answer = $(this).data('value');
            var id = $('#task_modal_info_holder').data('id');
            var url = $('#task_modal_info_holder').data('url_answer_date');;
            var sendData = {
                'id': id,
                'answer': answer
            }
            $.ajax({
                type: 'POST',
                url: url,
                data: sendData,
                success: function(data1) {
                    //alert(data1)
                    data = JSON.parse(data1);
                    if (data.success == 1) {
                        insertComment();
                        updateTask();
                    } else {
                        //$('#copy_etalon_finished').show('blind', {}, 500);
                    }
                }

            })
        })

        $('.changeDateCalendar').die('click');
        $('.changeDateCalendar').live('click', function(e){
            var value = $('#new_date_holder').val();
            var id = $('#task_modal_info_holder').data('id');
            var url = $('#task_modal_info_holder').data('url_change_date');;
            var sendData = {
                'id': id,
                'value': value
            }
            alert(value);
            $.ajax({
                type: 'POST',
                url: url,
                data: sendData,
                success: function(data1) {
                    //alert(data1)
                    data = JSON.parse(data1);
                    if (data.success == 1) {
                        insertComment()
                        updateTask();
                    } else {
                        alert('{% trans %}Somebody already made request{% endtrans %}');
                        updateTask();
                        //$('#copy_etalon_finished').show('blind', {}, 500);
                    }
                }

            })
        })

        function insertComment() {
            var comment = $('#comment').val();
            var id = $('#task_modal_info_holder').data('id');
            var url = $('#task_modal_info_holder').data('url_add_comment');
            var sendData = {
                'id': id,
                'comment': comment
            }
            //alert(comment.length)
            if (comment.length) {
                $.ajax({
                    type: 'POST',
                    url: url,
                    data: sendData,
                    success: function(data1) {
                        //alert(data1)
                        data = JSON.parse(data1);
                        if (data.success == 1) {

                        } else {
                            //$('#copy_etalon_finished').show('blind', {}, 500);
                        }
                    }

                })
            }

        }

        function updateTaskStage (stage) {
            var id = $('#task_modal_info_holder').data('id');
            var url = $('#task_modal_info_holder').data('url_task_set_stage');
            var sendData = {
                'id': id,
                'stage': stage
            }
            $.ajax({
                type: 'POST',
                url: url,
                data: sendData,
                success: function(data1) {
                    //alert(data1)
                    data = JSON.parse(data1);
                    if (data.success == 1) {
                        updateTask();
                    } else {
                        //$('#copy_etalon_finished').show('blind', {}, 500);
                    }
                }

            })
        }



        function updateTask() {
            var id = $('#task_modal_info_holder').data('id');
            var url = $('#more_info_input').data('url_get_task_view');

            clearTaskContent();
            showSpinner();

            var sendData = {
                'id': id
            }
            $.ajax({
                type: 'POST',
                url: url,
                data: sendData,
                success: function(data1) {
                    //alert(data1)
                    data = JSON.parse(data1);
                    if (data.success == 1) {
                        hideSpinner();
                        setTaskContent(data.html);
                    } else {
                        //$('#copy_etalon_finished').show('blind', {}, 500);
                    }
                }
            })
        }
/*
        Metronic.initSlimScroll('.scroller');
*/
        $('#new_date_holder').datetimepicker({
            minView:0,
            rtl: Metronic.isRTL(),
            autoclose: true,
            format: "dd.mm.yyyy hh:ii:ss",
            pickerPosition: (Metronic.isRTL() ? "bottom-right" : "bottom-left"),
            language: 'ru',
            minuteStep: 30,
            weekStart: 1,
            startDate: new Date()
        }).on('changeDate', function(ev){
                    //.val($('.datatime-picker').val()+':00');
                }
        );

    })

</script>


{#
<div class="scroller" style="max-height: 600px" data-always-visible="0" data-rail-visible="0" data-handle-color="#dae3e7"
     >
#}
    <!-- TASK HEAD -->
    <div class="form">
        <div class="form-group">
            <div class="col-md-8 col-sm-8">
                <div class="todo-taskbody-user">
                    <img class="todo-userpic pull-left" src="{{ asset( userprofiles_url ~ app.user.id ~ '/image29_' ~ app.user.photo) }}" width="50px" height="50px">
                    <span class="todo-username pull-left">{{ taskUserRole.user }}</span>
{#
                    <button type="button" class="todo-username-btn btn btn-circle btn-default btn-xs">&nbsp;edit&nbsp;</button>
#}
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="todo-taskbody-date pull-right">

                    {% if taskUserRole.isViewed != true %}
                        <button type="button" class="todo-username-btn btn btn-circle btn-default btn-xs" id="task_set_viewed">
                            &nbsp; {% trans %}Set viewed{% endtrans %} &nbsp;
                        </button>
                    {% endif %}
                    {#
                {% else %}
                    {% set showAction = false %}
                    {% if taskUserRole.role == 'performer' %}
                        {% if taskUserRole.task.stage == 'created' or taskUserRole.task.stage == 'performing' or taskUserRole.task.stage == 'date request'%}
                            {% set showAction = true %}
                        {% endif %}
                    {% endif %}
                    {% if taskUserRole.role == 'controller' %}
                        {% if taskUserRole.task.stage == 'created' or taskUserRole.task.stage == 'performing' or taskUserRole.task.stage == 'checking' or taskUserRole.task.stage == 'date request'%}
                            {% set showAction = true %}
                        {% endif %}
                        {% if taskUserRole.task.stage == 'checking'%}
                            {% set showAction = true %}
                        {% endif %}
                    {% endif %}
                    {% if showAction == true %}
                    <div class="actions">
                            <div class="btn-group">
                                <a class="btn green-haze btn-circle btn-sm" href="#" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                    {% trans %}Contol{% endtrans %} <i class="fa fa-angle-down"></i>
                                </a>
                                <ul class="dropdown-menu pull-right">
                                    {% if taskUserRole.role == 'performer' %}
                                        {% if taskUserRole.task.stage == 'created' or taskUserRole.task.stage == 'performing' or taskUserRole.task.stage == 'date request'%}
                                        <li>
                                            <a id="task_set_done" data-stage="checking" class="stageButton">{% trans %}Set done{% endtrans %}</a>
                                        </li>
                                        {% endif %}
                                    {% endif %}
                                    {% if taskUserRole.role == 'controller' %}
                                        {% if taskUserRole.task.stage == 'created' or taskUserRole.task.stage == 'performing' or taskUserRole.task.stage == 'checking' or taskUserRole.task.stage == 'date request'%}
                                            <li>
                                                <a id="task_set_closed" data-stage="closed" class="stageButton">{% trans %}Close task{% endtrans %}</a>
                                            </li>
                                            <li>
                                                <a id="task_set_undone" data-stage="undone" class="stageButton">{% trans %}Set undone{% endtrans %}</a>
                                            </li>
                                        {% endif %}
                                        {% if taskUserRole.task.stage == 'checking'%}
                                            <li>
                                                <a id="task_set_done_controller" data-stage="done" class="stageButton">{% trans %}Set done{% endtrans %}</a>
                                            </li>
                                            <li>
                                                <a id="task_set_performing_controller" data-stage="performing" class="stageButton">{% trans %}Re-make{% endtrans %}</a>
                                            </li>
                                        {% endif %}


                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    {% endif %}
                {% endif %}
#}


                </div>
            </div>
        </div>
        <!-- END TASK HEAD -->
        <!-- TASK TITLE -->
        <div class="form-group">
            <div class="col-md-12">
                <br>
                <h3>{{ taskUserRole.task.title }}</h3>
            </div>
        </div>
        <!-- TASK DESC -->
        <div class="form-group">
            <div class="col-md-12">
                {{ taskUserRole.task.description }}
                <br><br>
            </div>
        </div>


        <!-- END TASK DESC -->
        <!-- TASK DUE DATE -->
        <div class="form-group">
            <div class="col-md-12">
                <div class="input-icon">
                    {#<i class="fa fa-calendar"></i>#}
                    {% trans %}End date{% endtrans %}:<br>
                        {{ include ('SDTaskBundle:Task:taskEndDate.html.twig', {
                            'taskEndDates': taskUserRole.task.taskEndDates,
                            'stage': taskUserRole.task.stage
                        }) }}
                    <br><br>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-12">
                {% trans %}Performer{% endtrans %} :
                {% if taskUserRolePerformer|length %}
                    {% for performer in taskUserRolePerformer %}
                        {{ performer.user }}

                        {% if performer.isViewed !=true %}
                            <span style="color: red; font-size: smaller;">({% trans %}Not viewed{% endtrans %})</span>
                        {% endif %}
                        <br>
                    {% endfor %}
                {% endif %}
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-12">
                {% trans %}Controller{% endtrans %}:
                {% if taskUserRoleController|length %}
                    {% for controller in taskUserRoleController %}
                        {{ controller.user }}
                        {% if controller.isViewed !=true %}
                            <span style="color: red; font-size: smaller;">({% trans %}Not viewed{% endtrans %})</span>
                        {% endif %}
                        <br>
                    {% endfor %}
                {% endif %}

                <br><br>
                {% trans %}Author{% endtrans %}: {% if taskUserRoleAuthor|length %}
                    {% for author in taskUserRoleAuthor %}
                        {{ author.user }}
                    {% endfor %}
                {% endif %}
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-12">
                {% trans %}My role{% endtrans %}: {{ taskUserRole.role|trans }}
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-12">
                {% trans %}Stage{% endtrans %}: {{ taskUserRole.task.stage|trans }}
            </div>
        </div>
        <br><br>
        <!-- TASK TAGS -->
        <div class="form-group">
            <div class="col-md-12">
                {% if taskUserRole.role == 'controller' %}
                    {% if taskUserRole.task.stage == 'date request'%}
                        {% if taskUserRole.isViewed == true %}
                            <br>
                            <div class="alert alert-danger">
                                {% trans %}Request to change date{% endtrans %}:
                                <a data-value="1" class="btn green answerButton" style="margin-left: 10px;">{% trans %}Submit{% endtrans %}</a>
                                <a data-value="0" class="btn red answerButton" style="margin-left: 10px;">{% trans %}Reject{% endtrans %}</a>
                            </div>
                            <br>
                        {% endif %}
                    {% endif %}
                {% endif %}
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                <br>
            </div>
        </div>
        <br><br>
        {% if taskUserRole.task.stage != 'done' and taskUserRole.task.stage != 'undone'
        and taskUserRole.task.stage != 'closed' and taskUserRole.role != 'author' and taskUserRole.isViewed == true %}
            {% if taskUserRole.role != 'performer' or taskUserRole.task.stage != 'checking'%}
                <div class="form-group">
                    <div class="col-md-12" style="background-color: #f6fbfc;">
                        <br><br>
                        <ul class="media-list">
                            <li class="media">
                                <img class="todo-userpic pull-left" src="{{ asset( userprofiles_url ~ taskUserRole.user.id ~ '/image29_' ~ taskUserRole.user.photo) }}" width="27px" height="27px">
                                <div class="media-body">
                                    <textarea id="comment" class="form-control todo-taskbody-taskdesc" rows="4" placeholder="Введите комментарий к действию"></textarea>
                                </div>
                            </li>
                        </ul>
                        {#
                                            <button type="button" class="pull-right btn btn-sm btn-circle green-haze"> &nbsp; Submit &nbsp; </button>
                        #}
                    </div>
                </div>
            {% endif %}
        {% endif %}
        <div class="form-group">
            <div class="col-md-12" style="background-color: #f6fbfc;">
                <div class="form-actions right todo-form-actions" >
                    {% if taskUserRole.isViewed == true %}
                        {% if taskUserRole.role == 'performer' %}
                            {% if taskUserRole.task.stage == 'created' or taskUserRole.task.stage == 'performing' or taskUserRole.task.stage == 'date request'%}
                                    <button id="task_set_done" data-stage="checking" class="stageButton btn btn-circle btn-sm green-haze">{% trans %}Set done{% endtrans %}</button>
                            {% endif %}
                        {% endif %}
                        {% if taskUserRole.role == 'controller' %}
                            {% if taskUserRole.task.stage == 'created' or taskUserRole.task.stage == 'performing' or taskUserRole.task.stage == 'checking' or taskUserRole.task.stage == 'date request'%}
                                    <button id="task_set_closed" data-stage="closed" class="stageButton btn btn-circle btn-sm green-haze">{% trans %}Close task{% endtrans %}</button>
                                    <button id="task_set_undone" data-stage="undone" class="stageButton btn btn-circle btn-sm green-haze">{% trans %}Set undone{% endtrans %}</button>
                            {% endif %}
                            {% if taskUserRole.task.stage == 'checking'%}
                                    <button id="task_set_done_controller" data-stage="done" class="stageButton btn btn-circle btn-sm green-haze">{% trans %}Set done{% endtrans %}</button>
                                    <button id="task_set_performing_controller" data-stage="performing" class="stageButton btn btn-circle btn-sm green-haze">{% trans %}Re-make{% endtrans %}</button>
                            {% endif %}
                        {% endif %}
                    {% endif %}





                    {% if taskUserRole.task.stage != 'date request' and taskUserRole.task.stage != 'done' and taskUserRole.task.stage != 'undone' and taskUserRole.task.stage != 'closed' and taskUserRole.task.stage != 'checking'
                    and taskUserRole.role != 'author' and taskUserRole.isViewed == true %}
                        <button id="task_change_date" class="btn btn-circle btn-sm green-haze">{% trans %}Change the end date{% endtrans %}</button>
                    {% endif %}
                </div>
            </div>
        </div>
        {% if taskUserRole.task.stage != 'date request' and taskUserRole.task.stage != 'done' and taskUserRole.task.stage != 'undone' and taskUserRole.task.stage != 'closed' and taskUserRole.task.stage != 'checking'
        and taskUserRole.role != 'author' and taskUserRole.isViewed == true %}

        <div class="form-group">
            <div class="col-md-12" style="background-color: #f6fbfc;">

                <div id="change_date_holder" style="display: none">
                    <div class="form-group">
                        <div class="col-md-10">
                            <div class="input-icon">
                                <i class="fa fa-calendar"></i>
                                <input type="text" id="new_date_holder" class="form-control todo-taskbody-due" placeholder="{% trans %}New date end{% endtrans %}">
                            </div>
                        </div>
                        <div class="col-md-2">
                                <button class="btn btn-circle btn-sm btn-default changeDateCalendar">{% trans %}Change{% endtrans %}</button>
                        </div>
                        <br><br>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}

    </div>

    <div class="tabbable-line">
        <ul class="nav nav-tabs ">
            <li class="active">
                <a href="#tab_1" data-toggle="tab">
                    {% trans %}Comments{% endtrans %} </a>
            </li>
            <li>
                <a href="#tab_2" data-toggle="tab">
                    {% trans %}Files{% endtrans %} </a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="tab_1">
                <!-- TASK COMMENTS -->
                <div class="form-group">
                    <div class="col-md-12">
                        <ul class="media-list">
                            {% for comment in comments %}
                                <li class="media">
                                    <a class="pull-left" href="{{ path('sd_user_show',{ 'id': comment.user.id}) }}">
                                        <img class="todo-userpic" src="{{ asset( userprofiles_url ~ comment.user.id ~ '/image29_' ~ comment.user.photo) }}" width="27px" height="27px">
                                    </a>
                                    <div class="media-body todo-comment">
                                        {#
                                                                            <button type="button" class="todo-comment-btn btn btn-circle btn-default btn-xs">&nbsp; Reply &nbsp;</button>
                                        #}
                                        <p class="todo-comment-head">
                                            <span class="todo-comment-username">{{ comment.user }}</span> &nbsp; <span class="todo-comment-date">{{ comment.createDatetime|date('H:i d-m-Y') }}</span>
                                        </p>
                                        <p class="todo-text-color">
                                            {{ comment.value }} <br>
                                        </p>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <!-- END TASK COMMENTS -->
            </div>
            <div class="tab-pane" id="tab_2">
                <button type="button" id="task_add_file" class="pull-right btn btn-sm btn-circle green-haze"> &nbsp; {% trans %}Add file{% endtrans %} &nbsp; </button>
                <div id="task_add_file_holder" style=" display: none; background-color: #f6fbfc; border-radius: 5px; border-color: green; padding: 15px; margin: 15px 0px 15px 0px;">

                </div>
                <div id="list_files" data-url="{{ path('sd_task_files', { 'id' : taskUserRole.id })}}">
                    {{ render(controller('SDTaskBundle:Task:renderListOfFiles', {
                        'id': taskUserRole.id
                    })) }}
                </div>
            </div>
        </div>
    </div>
{#
</div>
#}
<input type="hidden" id="task_modal_info_holder"
       data-id="{{ taskUserRole.id }}"
       data-url_task_set_viewed="{{ path('sd_task_set_viewed') }}"
       data-url_task_set_stage="{{ path('sd_task_set_stage') }}"
       data-url_update_modal="{{ path('sd_task_modal') }}"
       data-url_change_date="{{ path('sd_task_change_date_calendar') }}"
       data-url_answer_date="{{ path('sd_task_answer_date') }}"
       data-role="{{ taskUserRole.role }}"
       data-task_id="{{ taskUserRole.task.id }}"
       data-url_add_comment="{{ path('sd_task_add_comment') }}"
        >
