{% trans_default_domain 'SDTaskBundle' %}
{% if taskUserRole.role == 'author' %}
    {% set color = 'red' %}
{% elseif taskUserRole.role == 'performer' %}
    {% set color = 'blue' %}
{% elseif taskUserRole.role == 'controller' %}
    {% set color = 'yellow' %}
{% endif %}

{% set stage = taskUserRole.task.stage %}
{% if stage == 'undone' %}
    {% set labelStage = 'label-primary' %}
{% elseif stage == 'performing' %}
    {% set labelStage = 'label-info' %}
{% elseif stage == 'created' %}
    {% set labelStage = 'label-default' %}
{% elseif stage == 'done' %}
    {% set labelStage = 'label-success' %}
{% elseif stage == 'date request' %}
    {% set labelStage = 'label-danger' %}
{% elseif stage == 'closed' %}
    {% set labelStage = 'label-primary' %}
{% elseif stage == 'checking' %}
    {% set labelStage = 'label-warning' %}
{% endif %}

<div class="todo-tasklist-item todo-tasklist-item-border-{{ color }} task-item" data-id="{{ taskUserRole.id }}">
    <img class="todo-userpic pull-left" src="{{ asset( userprofiles_url ~ taskUserRole.user.id ~ '/image29_' ~ taskUserRole.user.photo) }}" width="27px" height="27px">
    <div class="todo-tasklist-item-title">
        {{ taskUserRole.task.title }}
    </div>
    <div class="todo-tasklist-item-text">
        {{ taskUserRole.task.description }}
    </div>
    <div class="todo-tasklist-controls pull-left">
        <span class="todo-tasklist-date"><i class="fa fa-calendar"></i>
            {{
                include('SDTaskBundle:Task:taskEndDateLast.html.twig',
                    {
                        'taskUserRole' : taskUserRole
                    }
                )
            }}
        </span>
        <span class="label label-sm {{ labelStage }}">{{ stage|trans }}</span>
    </div>
</div>
