{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Organization list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Mpk</th>
                <th>Name</th>
                <th>Address</th>
                <th>Contacts</th>
                <th>Shortname</th>
                <th>Issmeta</th>
                <th>Mailingaddress</th>
                <th>Rs</th>
                <th>Edrpou</th>
                <th>Inn</th>
                <th>Certificate</th>
                <th>Shortdescription</th>
                <th>Site</th>
                <th>Organization_type_id</th>
                <th>City_id</th>
                <th>Scope_id</th>
                <th>Createdatetime</th>
                <th>Physicaladdress</th>
                <th>Phone</th>
                <th>Group_id</th>
                <th>Parent_id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('organization_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.mpk }}</td>
                <td>{{ entity.name }}</td>
                <td>{{ entity.address }}</td>
                <td>{{ entity.contacts }}</td>
                <td>{{ entity.shortname }}</td>
                <td>{{ entity.isSmeta }}</td>
                <td>{{ entity.mailingAddress }}</td>
                <td>{{ entity.rs }}</td>
                <td>{{ entity.edrpou }}</td>
                <td>{{ entity.inn }}</td>
                <td>{{ entity.certificate }}</td>
                <td>{{ entity.shortDescription }}</td>
                <td>{{ entity.site }}</td>
                <td>{{ entity.organizationtypeid }}</td>
                <td>{{ entity.cityid }}</td>
                <td>{{ entity.scopeid }}</td>
                <td>{% if entity.createdatetime %}{{ entity.createdatetime|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.physicalAddress }}</td>
                <td>{{ entity.phone }}</td>
                <td>{{ entity.groupid }}</td>
                <td>{{ entity.parentid }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('organization_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('organization_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('organization_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
