{% trans_default_domain 'ListsOrganizationBundle' %}
<script>
    $(document).ready(function(){
        $('#TransferSubmit').on('click', function(){
           var organizations = $('input[name="organizations[]"]:checked').map(function(){
                    return $(this).val();
                }).toArray();
            var userId = $('#userTo').val();
            var blockupdate = $('#datatable_ajax');
             $.ajax({
                type: 'POST',
                url: "{{ url('lists_organization_transfer_for_user') }}",
                dataType: 'json',
                data: {
                    organizations: organizations,
                    userId: userId
                },
                beforeSend: function() {
                    ITDoorsAjax.blockUI(blockupdate);
                },
                success: function(json) {
                    ITDoorsAjax.unblockUI(blockupdate);
                    if (json.success) {
                        $.ajax({
                        type: 'POST',
                        url: blockupdate.data('url'),
                        success: function(response) {
                            blockupdate.html(response);
                            ITDoorsAjax.unblockUI(blockupdate);
                        }
                    });
                    }else if(json.error){
                        alert(json.error);
                    }
                }
            });
        });
        $('#userTo').select2({
                width: '200px',
                minimumInputLength: 2,
                ajax: {
                    url: '{{ path('sd_common_ajax_user') }}',
                    dataType: 'json',
                    data: function (term, page) {
                        return {
                            query: term
                        };
                    },
                    results: function (data, page) {
                        return {
                            results: data
                        };
                    }
                }
            });
    });
</script>
{% if organizations|length > 0 %}
<div class="table-responsive col-md-12">
    <table class="table table-striped table-bordered table-advance table-hover">
        <thead>
            <tr>
                <th></th>
                <th>{% trans %}ID{% endtrans %} </th>
                <th>{% trans %}Name{% endtrans %} </th>
                <th>{% trans %}Edrpou{% endtrans %} </th>
            </tr>
        </thead>
        <tbody>
            {% for item in organizations %}
                <tr {% if loop.index is odd %}class="color"{% endif %}>
                    <td><input type="checkbox" name="organizations[]" value="{{ item.organizationId|e }}"></td>
                    <td><a target="_blank"
                            href="{{ path('lists_sales_admin_organization_show', { id: item.organizationId }) }}">
                            {{ item.organizationId|e }}
                        </a></td>
                    <td>{{ item.organizationName|e }}</td>
                    <td>{{ item.edrpou|e }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}
{% if departmens|length > 0 %}
<div class="table-responsive col-md-12">
    <table class="table table-striped table-bordered table-advance table-hover">
        <thead>
            <tr>
                <th></th>
                <th>{% trans %}ID{% endtrans %}{{ departmens.name}} </th>
            </tr>
        </thead>
        <tbody>
            {% for item in departmens %}
                <tr {% if loop.index is odd %}class="color"{% endif %}>
                    <td><input type="checkbox" name="departmens[]" value="{{ item.id|e }}"></td>
                    <td>{{ item.id|e }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}
{% if organizations|length > 0 or departmens|length > 0 %}
<div class="table-responsive col-md-6">
    <input id="userTo" value="">
    <button type="submit" id="TransferSubmit" name="organizationUserFilterForm[submit]" class="btn blue">{%trans%}Transfer{% endtrans %}</button>
</div>
{% endif %}
