{% form_theme form 'ITDoorsCommonBundle:Form:fields.html.twig' %}
{% trans_default_domain 'ITDoorsPayMasterBundle' %}
<script>
    $(document).ready(function(){
        $('#{{ form.vars.name }}_isAcceptance').on('change', function(){
            console.log($(this).val());
            if ($(this).val() == 0) {
                $('#AcceptanceReason').show();
            } else {
                $('#AcceptanceReason').hide();
            }
        });
    });
</script>

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">{% trans %}Acceptance{% endtrans %}</h4>
        </div>
        <div class="modal-body">
            <div class="row ">
                
                {% if form.vars.valid is sameas(false) %}
                    <div class="form-group col-md-12">
                        <div class="alert alert-danger">
                            <button class="close" data-close="alert"></button>
                            {% trans from 'messages' %}You have some form errors. Please check below.{% endtrans %}
                            {{ form_errors(form) }}
                        </div>
                    </div>
                {% endif %}

                {{ form_start(form, {
                    'action' : path('it_doors_ajax_form'),
                    'attr' : {
                    'method' : 'POST',
                    'class' : 'itdoors-ajax-form',
                    'novalidate': 'novalidate'
                }
                }) }}
                <div class="form-body">
                    <div class="col-md-12">
                        <div class="form-group{% if form.isAcceptance.vars.errors|length %} has-error{% endif %}">
                            {{ form_label(form.isAcceptance, 'Acceptance', {'attr': {'class': 'control-label'}}) }}
                            {{ form_widget(form.isAcceptance, {'attr' : {'class' : 'form-control', 'placeholder': "Enter is acceptance"} }) }}
                            {{ form_errors(form.isAcceptance) }}
                        </div>
                    </div>
                    <div class="col-md-12" id="AcceptanceReason" {% if form.isAcceptance.vars.value != '0' or form.isAcceptance.vars.value is null %} style="display:none" {% endif %}>
                        <div class="form-group{% if form.reason.vars.errors|length %} has-error{% endif %}">
                            {{ form_label(form.reason, 'Reason', {'attr': {'class': 'control-label'}}) }}
                            {{ form_widget(form.reason, {'attr' : {'class' : 'form-control', 'placeholder': "Enter reason"} }) }}
                            {{ form_errors(form.reason) }}
                        </div>
                    </div>
                    
                    <div class="col-md-12">
                        <div class="form-actions">
                            {{ form_widget(form.submit, { 'label': 'Save'|trans({}, 'messages'), 'attr': {'class': 'btn blue'} } ) }}
                            {{ form_widget(form.cancel, { 'label': 'Cancel'|trans({}, 'messages'), 'attr': {'class': 'btn default itdoors-form-cancel-btn', 'data-dismiss' : 'modal'} } ) }}
                        </div>

                        <input type="hidden" name="params" class="params-hidden" value="{{ params }}">
                    </div>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>