{% block form_row %}
    <div class="form-group
    {% if form.vars.attr.class_outer is defined  %}
        {{ form.vars.attr.class_outer }}
        {% else %}
            col-md-3
        {% endif %}"
    >
        {% if form.vars.label is defined and form.vars.label is not null %}
            {{ form_label(form) }}
        {% endif %}
        {{ form_errors(form) }}
        {{ form_widget(form) }}
    </div>
{% endblock form_row %}

{% block hidden_row %}
    <div class="form-group
    {% if form.vars.attr.class_outer is defined  %}
        {{ form.vars.attr.class_outer }}
        {% else %}
            col-md-3
        {% endif %}"
    >
        {{ form_widget(form) }}
    </div>
{% endblock hidden_row %}

{% block form_errors %}
    {% spaceless %}
        {% if errors|length > 0 %}
            {% for error in errors %}
                <span class="help-block">{{ error.message }}</span>
            {% endfor %}
        {% endif %}
    {% endspaceless %}
{% endblock form_errors %}