{% extends "::base.html.twig" %}
{% trans_default_domain 'ListsDogovorBundle' %}
{% block title %}{% trans %}Dogovor list{% endtrans %} {% endblock %}
{% block page_breadcrumbs %}
    <ul class="page-breadcrumb breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="{{ path('sd_dashboard_homepage') }}" title="{% trans from 'messages' %}Dashboard{% endtrans %}">{% trans from 'messages' %}Dashboard{% endtrans %}</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li><a href="" title="{% trans %}Made agreement{% endtrans %}">{% trans %}Made agreement{% endtrans %}</a></li>
    </ul>
{% endblock %}
{% block page_title %}
    <h3 class="page-title">
        {% trans %}Made agreemen <small>dogovors list</small>{% endtrans %}
    </h3>
{% endblock %}

{% block css_page_level_plugin %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('templates/metronic/plugins/select2/select2_metro.css')}} " />
    <link href="{{ asset('templates/metronic/plugins/bootstrap-daterangepicker/daterangepicker-bs2.css')}}" rel="stylesheet" type="text/css"/>
    {#<link href="{{ asset('templates/metronic/plugins/bootstrap-daterangepicker/daterangepicker-bs3.css')}}" rel="stylesheet" type="text/css"/>
    {#<link rel="stylesheet" type="text/css" href="{{ asset('templates/metronic/plugins/bootstrap-editable/bootstrap-editable/css/bootstrap-editable.css')}} " />
    <link rel="stylesheet" type="text/css" href="{{ asset('templates/metronic/plugins/bootstrap-datetimepicker/css/datetimepicker.css')}} " />#}
{% endblock %}

{% block js_page_level_plugins %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('templates/metronic/plugins/select2/select2.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('templates/metronic/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js')}} "></script>
    <script type="text/javascript" src="{{ asset('templates/metronic/plugins/bootstrap-datepicker/js/locales/bootstrap-datepicker.ru.js')}} "></script>
    <script src="{{ asset('templates/metronic/plugins/bootstrap-daterangepicker/daterangepicker.js') }}" type="text/javascript"></script>
    {#<script type="text/javascript" src="{{ asset('templates/metronic/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js')}} "></script>
    <script type="text/javascript" src="{{ asset('templates/metronic/plugins/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.ru.js')}} "></script>#}
{% endblock %}

{% block body %}
    <script>
        $(document).ready(function() {
            $('.daterangepicker').daterangepicker(
                    {
                        ranges: {
                            'Текущий месяц': [moment().startOf('month'), moment().endOf('month')]
                           },
                        startDate: moment().subtract('days', 29),
                        endDate: moment(),
                        format: 'YYYY.MM.DD',
                        timePicker: false,
                        locale: {
                            applyLabel: 'ОК',
                            cancelLabel: 'Отмена',
                            fromLabel: 'от',
                            toLabel: 'до',
                            customRangeLabel: 'Выбрать диапазон',
                            daysOfWeek: ['Пн', 'Вт', 'Ср', 'Чт', 'Пт', 'Сб','Вс'],
                            monthNames: ['Январь', 'Февраль', 'Март', 'Апрель', 'Май', 'Июнь', 'Июль', 'Август', 'Сентябрь', 'Октябрь', 'Ноябрь', 'Декабрь'],
                            firstDay: 1
                        }
                    },
                    function(start, end) {
                        $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
                    }
            );
        });
    </script>
    <style>
        .input-daterange{
            outline: 0;
            height: auto;
            min-height: 32px;
            padding: 6px 6px;
            line-height: 20px;
            font-size: 14px;
            font-weight: normal;
            vertical-align: top;
            font-size: 100%;
            color: #666;
            outline: 0;
            border: 0;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;
            background: transparent !important;
            border: 1px solid #e5e5e5;
            top: 0px;
            left: 0px;
            width: 250px;
            margin: 0;
        }
    </style>
    {{ ajax_filter_render(filter, namespase, {
        'datatable_ajax': 'ITDoorsAjax.updateList'
    }) }}
    <div class="row">
        <div class="col-md-12">
            <div id="datatable_ajax"  data-url="{{ url('lists_dogovor_made_list') }}">
                {{ render(controller('ListsDogovorBundle:DogovorMade:list')) }}
            </div>
        </div>
    </div>
{% endblock body %}
