{% trans_default_domain 'ListsDogovorBundle' %}    
<script type="text/javascript">
    $(document).ready(function() {
        $.fn.modal.Constructor.prototype.enforceFocus = function() {
        };
    });
</script>

<div id="form_dogovor_history" class="modal fade" role="basic" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">{% trans from 'ListsDogovorBundle' %}Prolongation{% endtrans %}</h4>
            </div>
            <div class="modal-body">
                <div id="dogovorHistoryFormTpl" data-text="{% trans from 'messages' %}Loading data. Please wait{% endtrans %}">
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
</div>


<div class="table-responsive">
    <div class="navigation">
        {{ ajax_paginator_render(
            dogovors, namespaseDogovor, {
                    'datatable_ajax': 'ITDoorsAjax.updateList'
                }
            )
        }}
    </div>
    <table class="table table-striped table-bordered table-advance table-hover">
        <thead>
            <tr>
                <th>{% trans %}ID{% endtrans %} </th>
                <th>{% trans %}Number{% endtrans %} </th>
                <th>{% trans %}Organization{% endtrans %} </th>
                <th>{% trans %}Customer{% endtrans %} </th>
                <th>{% trans %}Performer{% endtrans %} </th>
                <th>{% trans %}Startdatetime{% endtrans %} </th>
                <th>{% trans %}Stopdatetime{% endtrans %} </th>
                <th>{% trans %}Prolongation{% endtrans %} </th>
                <th>{% trans %}Prolongation Date{% endtrans %} </th>
                <th>{% trans %}Status{% endtrans %} </th>
                <th>{% trans %}Subject{% endtrans %} </th>
                <th>{% trans %}Dogovor Type{% endtrans %} </th>
                <th>{% trans %}Actions{% endtrans %} </th>
            </tr>
        </thead>
        <tbody>
            {% for item in dogovors %}
                <tr {% if loop.index is odd %}class="color"{% endif %}
                                              id="dogovorItem{{ item.dogovorId|e }}"
                                              data-url="{{ path('lists_dogovor_ajax_element', {
                        id: item.dogovorId,
                    }) }}"
                                              >
                    {{  include(
                        'ListsDogovorBundle:Dogovor:element.html.twig',
                            {
                                item: item,
                                baseRoutePrefix: 'dogovor',
                            }
                        )
                    }}
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="navigation">
        {{ ajax_paginator_render(
            dogovors, namespaseDogovor, {
                    'datatable_ajax': 'ITDoorsAjax.updateList'
                }
            )
        }}
    </div>
</div>
<div class="table-responsive">
    <div class="navigation">
        {{ ajax_paginator_render(
            dopDogovors, namespaseDop, {
                    'datatable_ajax': 'ITDoorsAjax.updateList'
                }
            )
        }}
    </div>
    <table class="table table-striped table-bordered table-advance table-hover">
        <thead>
            <tr>
                <th>{% trans %}ID{% endtrans %} </th>
                <th>{% trans %}Dop Dogovor Type{% endtrans %} </th>
                <th>{% trans %}Number{% endtrans %} </th>
                <th>{% trans %}Startdatetime{% endtrans %} </th>
                <th>{% trans %}Activedatetime{% endtrans %} </th>
                <th>{% trans %}Subject{% endtrans %} </th>
                <th>{% trans %}Status{% endtrans %} </th>
                <th>{% trans from 'messages' %}Creator{% endtrans %} </th>
                <th>{% trans from 'messages' %}Saller{% endtrans %} </th>
                <th>{% trans%}Total summ{% endtrans %} </th>
                <th>{% trans from 'messages' %}File{% endtrans %} </th>
                <th>{% trans from 'messages' %}Actions{% endtrans %} </th>
            </tr>
        </thead>
        <tbody>
            {% for item in dopDogovors %}
                <tr id="dop-dogovor-element-{{ item.id }}"
                    data-url="{{ path('lists_dopdogovor_ajax_element', {
                id: item.id,
            }) }}"
                    >
                {{  include(
                'ListsDogovorBundle:DopDogovor:element.html.twig',
                    {
                        item: item,
                        baseRoutePrefix: 'dopdogovor',
                    }
                )
                    }}
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="navigation">
        {{ ajax_paginator_render(
            dopDogovors, namespaseDop, {
                    'datatable_ajax': 'ITDoorsAjax.updateList'
                }
            )
        }}
    </div>
</div>
