{% extends "::base.html.twig" %}
{% trans_default_domain 'ListsTeamBundle' %}
{% block title %}{% trans %}List of Teams{% endtrans %} {% endblock %}
{% block page_breadcrumbs %}
	<ul class="page-breadcrumb breadcrumb">
		<li>
			<i class="fa fa-home"></i>
			<a href="{{ path('sd_dashboard_homepage') }}" title="{% trans %}Dashboard{% endtrans %}">{% trans %}Dashboard{% endtrans %}</a> 
			<i class="fa fa-angle-right"></i>
		</li>
		<li><a href="{{ path('lists_sales_dispatcher_team_index') }}" title="{% trans %}Teams{% endtrans %}">{% trans %}Teams{% endtrans %}</a></li>						
	</ul>
{% endblock %}
{% block page_title %}
	<h3 class="page-title">
		{% trans %}Team <small>list of teams</small>{% endtrans %}  
	</h3>
{% endblock %}

{% block body %}

    <div class="table-responsive">
        {# Sales, SalesDispatcher  не могут управлять командами - могут просматривать в каких командах состоят и какие есть команды#}
        <table class="table table-striped table-bordered table-advance table-hover">
            <thead>
            <tr>
				<th>#</th>
                <th>{% trans %}ID{% endtrans %} </th>
                <th>{% trans %}Name{% endtrans %} </th>
                <th>{% trans %}Managers{% endtrans %} </th>
                <th>{% trans %}Description{% endtrans %} </th>
            </tr>
            </thead>
            <tbody>
            {% for item in myTeams %}
                <tr {% if loop.index is odd %}class="color"{% endif %}>
					<td></td>
                    <td>{{ item.teamId|e }}</td>
                    <td>{{ item.teamName|e }}</td>
                    <td>{{ item.managersNameSurname|e }}</td> {# Имя, Фамилия менеджеров #}
                    <td>{{ item.teamDescription|e }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

{% endblock body %}