{% extends "::base.html.twig" %}
{% trans_default_domain 'ListsHandlingBundle' %}
{% block title %}{% trans %}Create Handling{% endtrans %} {% endblock %}
{% block page_breadcrumbs %}
	<ul class="page-breadcrumb breadcrumb">
		<li>
			<i class="fa fa-home"></i>
			<a href="{{ path('sd_dashboard_homepage') }}" title="{% trans %}Dashboard{% endtrans %}">{% trans %}Dashboard{% endtrans %}</a>
			<i class="fa fa-angle-right"></i>
		</li>
		<li>			
			<a href="{{ path('lists_' ~ baseRoutePrefix ~ '_handling_index') }}" title="{% trans %}Team Handlings{% endtrans %}">{% trans %}Team Handlings{% endtrans %}</a>
			<i class="fa fa-angle-right"></i>
		</li>
		<li><a href="{{ path('lists_' ~ baseRoutePrefix ~ '_handling_new') }}" title="{% trans %}Create Handling{% endtrans %}">{% trans %}Create Handling{% endtrans %}</a></li>
	</ul>
{% endblock %}
{% block page_title %}
	<h3 class="page-title">
		{% trans %}Handling <small>create handling</small>{% endtrans %}  
	</h3>
{% endblock %}

{% block css_page_level_plugin %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('templates/metronic/plugins/jquery-multi-select/css/multi-select.css')}} " />
    <link rel="stylesheet" type="text/css" href="{{ asset('templates/metronic/plugins/jquery-tags-input/jquery.tagsinput.css')}} "  />
    <link rel="stylesheet" type="text/css" href="{{ asset('templates/metronic/plugins/bootstrap-datetimepicker/css/datetimepicker.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('templates/metronic/plugins/select2/select2_metro.css')}} " />
{% endblock %}

{% block js_page_level_plugins %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('templates/metronic/plugins/jquery-multi-select/js/jquery.multi-select.js') }}"></script>
    <script type="text/javascript" src="{{ asset('templates/metronic/plugins/jquery-multi-select/js/jquery.quicksearch.js') }}"></script>
    <script type="text/javascript" src="{{ asset('templates/metronic/plugins/jquery-tags-input/jquery.tagsinput.min.js')}}" ></script>
    <script type="text/javascript" src="{{ asset('templates/metronic/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js')}} "></script>
    <script type="text/javascript" src="{{ asset('templates/metronic/plugins/bootstrap-datepicker/js/locales/bootstrap-datepicker.ru.js')}} "></script>
    <script type="text/javascript" src="{{ asset('templates/metronic/plugins/select2/select2.min.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function(){

            $('#handlingSalesForm_handlingServices').select2({
                placeholder: "Select a Service",
                allowClear: true
            });

            $('.date-picker').datepicker({
                rtl: App.isRTL(),
                autoclose: true,
                format: "dd.m.yyyy",
                pickerPosition: (App.isRTL() ? "bottom-right" : "bottom-left"),
                language: 'ru',
                endDate: new Date(),
                weekStart: 1
            });
        })

    </script>
{% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-12">
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption"><i class="fa fa-reorder"></i>{% trans %}Create Handling{% endtrans %}</div>
                <div class="tools">
                    <a class="collapse" href="javascript:;"></a>
                </div>
            </div>
            <div class="portlet-body form">
                <!-- BEGIN FORM-->
                {% form_theme form 'SDCommonBundle:Form:form_errors.html.twig' %}
                {{ form_start(form,
                    {
                        'action': path('lists_' ~ baseRoutePrefix ~ '_handling_new'),
                        'attr': {'class' : 'horizontal-form'}
                    })
                }}
                {{ form_errors(form) }}
                <div class="form-body">
                    <div class="alert alert-danger display-hide">
                        <button class="close" data-close="alert"></button>
                        {% trans %}You have some form errors. Please check below.{% endtrans %}
                    </div>
                    <h3 class="form-section">{% trans %}General information{% endtrans %}</h3>
                    <div class="row">
                        <div class="col-md-6
							{% if form.createdate.vars.errors|length %}
							    has-error
							{% endif %}">
                            <div class="form-group">
                                {{ form_label(form.createdate, 'Handling Create DateTime *', {'attr': {'class': 'control-label'}}) }}
                                <div class="input-group input-medium date date-picker">
                                    {{ form_widget(form.createdate, {'attr': {
                                    'class': 'form-control',
                                    'data-required': '1',
                                    'placeholder': 'Enter Handling Create DateTime',
                                    'readonly': 'readonly'
                                    }}) }}
                                    <span class="input-group-btn">
                                    <button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
                                    </span>
                                </div>
                                {% if form.createdate.vars.errors|length %}
                                    {{ form_errors(form.createdate) }}
                                {% else %}
                                    <span class="help-block">{% trans %}Enter Handling Create DateTime{% endtrans %}"</span>
                                {% endif %}
                            </div>
                        </div>
                        <!--/span-->
                        <div class="col-md-6">
                            <div class="form-group">
								{# Create User - current user - only show#}
                                {{ form_label(form.user, 'Create User', {'attr': {'class': 'control-label'}}) }}
                                {{ form_widget(form.user, {'attr': {'class': 'form-control', 'placeholder': 'Enter organization short name'}}) }}
                            </div>
                        </div>
                        <!--/span-->
                    </div>
                    <!--/row-->
					<div class="row">
                        <div class="col-md-6
							{% if form.type.vars.errors|length %}
							    has-error
							{% endif %}">
							{# Тип обращения #}
                            <div class="form-group">
                                {{ form_label(form.type, 'Handling Type *', {'attr': {'class': 'control-label'}}) }}
                                {{ form_widget(form.type, {'attr': {'class': 'form-control', 'data-required': '1', 'placeholder': 'Enter Handling Type'}}) }}
								{% if form.type.vars.errors|length %}
									{{ form_errors(form.name) }}
								{% else %}
									<span class="help-block">{% trans %}Enter Handling Type{% endtrans %}"</span>
								{% endif %}
                            </div>
                        </div>
                        <!--/span-->
                        <div class="col-md-6">
                            <div class="form-group">
								{# Organization only show #}
                                {{ form_label(form.organization, 'Organization Name', {'attr': {'class': 'control-label'}}) }}
                                {{ form_widget(form.organization, {'attr': {'class': 'form-control', 'placeholder': 'Enter organization short name'}}) }}
                            </div>
                        </div>
                        <!--/span-->
                    </div>
                    <!--/row-->
					<div class="row">
                        <div class="col-md-6">
							{# Предлагаемые услуги #}
                            <div class="form-group">
                                {{ form_label(form.serviceOffered, 'Enter Service', {'attr': {'class': 'control-label'}}) }}
                                {{ form_widget(form.serviceOffered, {'attr': {'class': 'form-control', 'data-required': '1', 'placeholder': 'Enter Service offered'}}) }}
								<span class="help-block">{% trans %}Enter Service offered{% endtrans %}"</span>
                            </div>
                        </div>
                        <!--/span-->
                        <div class="col-md-6">
                            <div class="form-group">
								{{ form_label(form.description, 'Notice', {'attr': {'class': 'control-label'}}) }}
                                {{ form_widget(form.description, {'attr': {'class': 'form-control', 'data-required': '1', 'placeholder': 'Enter Notice'}}) }}
								<span class="help-block">{% trans %}Enter Notice{% endtrans %}"</span>
                            </div>
                        </div>
                        <!--/span-->
                    </div>
                    <!--/row-->
					<div class="row">
                        <div class="col-md-6">
							{# Бюджет - сюда нужно money control #}
                            <div class="form-group">
                                {{ form_label(form.budget, 'Budget without VAT', {'attr': {'class': 'control-label'}}) }}
                                {{ form_widget(form.budget, {'attr': {'class': 'form-control', 'data-required': '1', 'placeholder': 'Budget without VAT'}}) }}
								<span class="help-block">{% trans %}Enter Budget without VAT{% endtrans %}"</span>
                            </div>
                        </div>
                        <!--/span-->
                        <div class="col-md-6">
                            <div class="form-group">
								{{ form_label(form.status, 'Status', {'attr': {'class': 'control-label'}}) }}
                                {{ form_widget(form.status, {'attr': {'class': 'form-control', 'data-required': '1', 'placeholder': 'Enter Status'}}) }}
								<span class="help-block">{% trans %}Enter Status{% endtrans %}"</span>
                            </div>
                        </div>
                        <!--/span-->
                    </div>
                    <!--/row-->
					<div class="row">
                        <div class="col-md-6">
							{# Square - control with numeric validation #}
                            <div class="form-group">
                                {{ form_label(form.square, 'Square', {'attr': {'class': 'control-label'}}) }}
                                {{ form_widget(form.square, {'attr': {'class': 'form-control', 'data-required': '1', 'placeholder': 'Square'}}) }}
								<span class="help-block">{% trans %}Enter Square{% endtrans %}"</span>
                            </div>
                        </div>
                        <!--/span-->
                        <div class="col-md-6">
                            <div class="form-group">
								{{ form_label(form.statusDescription, 'Status Description', {'attr': {'class': 'control-label'}}) }}
                                {{ form_widget(form.statusDescription, {'attr': {'class': 'form-control', 'data-required': '1', 'placeholder': 'Status Description'}}) }}
								<span class="help-block">{% trans %}Enter Status Description{% endtrans %}"</span>
                            </div>
                        </div>
                        <!--/span-->
                    </div>
					<!--/row-->
					<div class="row">
                        <div class="col-md-6">
							{# Chance - control with numeric validation and procents #}
                            <div class="form-group">
                                {{ form_label(form.chance, 'Chance', {'attr': {'class': 'control-label'}}) }}
                                {{ form_widget(form.chance, {'attr': {'class': 'form-control', 'data-required': '1', 'placeholder': 'Chance'}}) }}
								<span class="help-block">{% trans %}Enter Chance{% endtrans %}"</span>
                            </div>
                        </div>
                        <!--/span-->
                        <div class="col-md-6">
                            <div class="form-group">
								{{ form_label(form.result, 'Result', {'attr': {'class': 'control-label'}}) }}
                                {{ form_widget(form.result, {'attr': {'class': 'form-control', 'data-required': '1', 'placeholder': 'Result'}}) }}
								<span class="help-block">{% trans %}Enter Result{% endtrans %}"</span>
                            </div>
                        </div>
                        <!--/span-->
                    </div>
                    <!--/row-->
					<div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                {{ form_label(form.handlingServices, 'Services', {'attr': {'class': 'control-label'}}) }}
                                {{ form_widget(form.handlingServices, {'attr': {'class': 'form-control', 'data-required': '1', 'placeholder': 'Result Description'}}) }}
                                <span class="help-block">{% trans %}Enter Services{% endtrans %}"</span>
                            </div>
                        </div>
                        <!--/span-->
                        <div class="col-md-6">
                            <div class="form-group">
								{{ form_label(form.resultString, 'Result', {'attr': {'class': 'control-label'}}) }}
                                {{ form_widget(form.resultString, {'attr': {'class': 'form-control', 'data-required': '1', 'placeholder': 'Result Description'}}) }}
								<span class="help-block">{% trans %}Enter Result Description{% endtrans %}"</span>
                            </div>
                        </div>
                        <!--/span-->
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                {{ form_widget(form.create, { 'label': 'Create', 'attr': {'class': 'btn green'}} ) }}
                            </div>
                        </div>
                    </div>
                    {{ form_end(form) }}
                    <!--/row-->
				</div>
			</div>
		</div>
	</div>	
</div>
{% endblock body %}