{% extends '::base.html.twig' %}
{% trans_default_domain 'ListsHandlingBundle' %}
{% block title %}{% trans from 'SDDashboardBundle' %}Dashdoard{% endtrans %} {% endblock %}
{% block page_breadcrumbs %}
    <ul class="page-breadcrumb breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="{{ path('sd_dashboard_homepage') }}" title="{% trans from 'SDDashboardBundle' %}Dashboard{% endtrans %}">{% trans from 'SDDashboardBundle' %}Dashboard{% endtrans %}</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li><a href="{{ path('sd_calendar_shared_index') }}" title="{% trans  from 'messages' %}Shared calendar{% endtrans %}">{% trans   from 'messages' %}Shared calendar{% endtrans %}</a></li>
    </ul>
{% endblock %}
{% block page_title %}
    <h3 class="page-title">
        {% trans from 'messages' %}Shared calendar{% endtrans %}
    </h3>
{% endblock %}

{% block css_page_level_plugin %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('metronic/assets/global/plugins/select2/select2.css')}} " />
    <link rel="stylesheet" type="text/css" href="{{ asset('metronic/assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.css')}}" />
    <link rel="stylesheet" type="text/css  href="{{ asset('metronic/assets/global/plugins/fullcalendar/fullcalendar/fullcalendar.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('metronic/assets/global/plugins/bootstrap-datepicker/css/datepicker.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('metronic/assets/global/plugins/bootstrap-datetimepicker/css/datetimepicker.css')}}" />
{% endblock %}


{% block js_page_level_plugins %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('metronic/assets/global/plugins/select2/select2.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('metronic/assets/global/plugins/datatables/media/js/jquery.dataTables.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('metronic/assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js') }}"></script>
    <script type="text/javascript" src="{{ asset('metronic/assets/global/plugins/fullcalendar/fullcalendar/fullcalendar.js') }}"></script>
    <script type="text/javascript" src="{{ asset('metronic/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js')}} "></script>
    <script type="text/javascript" src="{{ asset('metronic/assets/global/plugins/bootstrap-datepicker/js/locales/bootstrap-datepicker.ru.js')}} "></script>
    <script type="text/javascript" src="{{ asset('metronic/assets/global/plugins/bootstrap-editable/bootstrap-editable/js/bootstrap-editable.js') }}"></script>
{% endblock %}

{% block body %}
     {{ 
        ajax_filter_render(
            'dashboardCalendarFilterType',
            ajax_filter_namespace_dashboard_calendar, {
                '#calendar': 'SD.updateCalendar'
            })
     }}
        
    {{ include('SDCalendarBundle:Dashboard:filterColors.html.twig') }}
    {{ 
        include('SDCalendarBundle::base.html.twig', {
            url: path('sd_calendar_salesadmin_handling_message'),
            'text':'Shared calendar' |trans({}, 'messages')
        }) 
    }}
{% endblock %}
