{% trans_default_domain 'ITDoorsOperBundle' %}
<div class="tab-pane active" id="tab_5">
    <div class="col-md-12">
        {% if organizerReports|length != 0 %}
        <ul class="media-list">
            {% for comment in organizerReports %}
                <li class="media">
                    <a class="pull-left" href="{{ path('sd_user_show',{ 'id': comment.user.id}) }}">
                        <img class="todo-userpic" src="{{ web_image(comment.user.photo is not empty ?  userprofiles_url ~ comment.user.id ~ '/' ~ comment.user.photo : userprofiles_url ~ 'no_avatar.png').resize(27, 27) }}" width="27px" height="27px">
                    </a>
                    <div class="media-body todo-comment">
                        <p class="todo-comment-head">
                            <span class="todo-comment-username">{{ comment.user }}</span> &nbsp; <span class="todo-comment-date">{{ comment.createDatetime|date('d-m-Y H:i ') }} </span>
                        </p>
                        <p class="todo-text-color" style="white-space: pre-line">{{ comment.value|raw  }} <br></p>
                    </div>
                </li>
            {% endfor %}
        </ul>
        {% else %}
            <p style="text-align: center;">
                <i>{% trans %}No reports found{% endtrans %}</i>
            </p>
        {% endif %}



    </div>
</div>