{% trans_default_domain 'ITDoorsOperBundle' %}
<div data-url="{{ url('it_doors_oper_department_info_resposible', {'id' : departmentId}) }}" id="tab_department">
    {% if is_granted('ROLE_HRADMIN') %}
        <div class="btn-group">
            <button id="managers_list_new" class="btn green ajax-form"
                    data-target_holder="stuffDepartmentTpl"
                    data-form_name="stuffDepartmentForm"
                    data-default='{"departments":"{{departmentId}}"}'
                    data-post_function="updateList"
                    data-post_target_id="tab_department"
                    style="margin-bottom: 10px;"
                    >
                    {% trans %} Add {% endtrans %} <i class="fa fa-plus"></i>
            </button>
        </div>
        <div style="display: none" id="stuffDepartmentTpl"></div>
    {% endif %}
    {% if stuffDepartments|length > 0 %}
        <div class="table-scrollable" id="department-table">
            <table class="table table-striped table-hover table-bordered">
                <thead>
                <tr>
                    <th>{% trans %}User{% endtrans %}</th>
                    <th>{% trans %}Userkey{% endtrans %}</th>
                    <th>{% trans %}Claimtype{% endtrans %}</th>
                    {% if is_granted('ROLE_HRADMIN') %}
                    <th>{% trans %}Action{% endtrans %}</th>
                    {% endif %}
                </tr>
                </thead>
                <tbody>
                {% for items in stuffDepartments %}
                    <tr>
                        <td>{{ items.user }}</td>
                        <td>
                            {% for key,userkeys in items.userkey %}
                                {{ key }}
                                {% for userkey in userkeys %}
                                    <br>
                                {% endfor %}
                            {% endfor %}
                        </td>
                        <td>
                            {% for key,userkeys in items.userkey %}
                                {% for userkey in userkeys %}
                                    {{ userkey.claimtypes.name }}<br>
                                {% endfor %}
                            {% endfor %}
                        </td>
                        {% if is_granted('ROLE_HRADMIN') %}
                        <td>
                             <a
                                class="ajax-delete fa fa-trash-o"
                                title="{% trans %}Delete{% endtrans %}"
                                href="javascript:;"
                                data-params='{"model":"stuffDepartmens","departmentId":{{ departmentId }},"stuffId":{{ items.stuffId }}}'
                            ></a>
                        </td>
                        {% endif %}
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>
    {% else %}
        <p align="center" style="color:red;">{% trans%}No coworkers found{% endtrans %}</p>
    {% endif %}
</div>

