<!-- BEGIN SIDEBAR -->
<div class="page-sidebar-wrapper">

<div class="page-sidebar navbar-collapse collapse">
    <!-- BEGIN SIDEBAR MENU -->
    <ul class="page-sidebar-menu" data-auto-scroll="true" data-slide-speed="200">

    <li class="sidebar-toggler-wrapper">
        <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
        <div class="sidebar-toggler">
        </div>
        <!-- END SIDEBAR TOGGLER BUTTON -->
    </li>
        {% include 'sidebar_search.html.twig' %}
        <li class="start{% if path(app.request.attributes.get('_route'),app.request.attributes.get('_route_params')) == path('sd_dashboard_homepage') %} active{% endif %}">
            <a href="{{ path('sd_dashboard_homepage') }}">
                <i class="icon-home"></i>
                <span class="title">{% trans %}Dashboard{% endtrans %}</span>
                <span class="selected"></span>
            </a>
        </li>
        {% if is_granted('ROLE_SALES') %}
            <li{% if 
                        path(app.request.attributes.get('_route'),app.request.attributes.get('_route_params')) == path('lists_competitors_organization_index')
                         or
                        path(app.request.attributes.get('_route'),app.request.attributes.get('_route_params')) == path('lists_competitors_organization_new')
                        or
                        (
                            app.request.attributes.get('_route_params').id is defined
                            and
                            path(app.request.attributes.get('_route'),app.request.attributes.get('_route_params')) == path('lists_competitors_organization_show', app.request.attributes.get('_route_params'))
                        )
                    
                %} class="active"{% endif %}>
                <a href="javascript:;">
                    <i class="icon-handbag"></i>
                    <span class="title">{% trans %}My Sales{% endtrans %}</span>
                    <span class="arrow "></span>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a href="{{ path('lists_sales_handling_index') }}" title="{% trans %}My Handlings{% endtrans %}">
                            <i class="icon-pencil"></i>
                            {% trans %}My Handlings{% endtrans %}
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('lists_sales_contact_index') }}" title="{% trans %}My Contacts{% endtrans %}">
                            <i class="icon-basket"></i>
                            {% trans %}My Contacts{% endtrans %}
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('lists_sales_organization_index') }}" title="{% trans %}My Organizations{% endtrans %}">
                            <i class="icon-tag"></i>
                            {% trans %}My Organizations{% endtrans %}
                        </a>
                    </li>				
                    {#
                    <li >
                            <a href="{{ path('lists_sales_tender_index') }}" title="{% trans %}My Tenders{% endtrans %}">
                                    <i class="fa fa-gavel"></i>
                                    {% trans %}My Tenders{% endtrans %}
                            </a>
                    </li>
    #}
                    {#<li >
                            <a href="{{ path('lists_sales_calendar_index') }}" title="{% trans %}My Calendar{% endtrans %}">
                            <i class="fa fa-calendar"></i>
                            &#123;&#35;<span class="badge badge-important">14</span>&#35;&#125;{% trans %}My Calendar{% endtrans %}</a>
                    </li>#}
                    <li>
                        <a href="{{ path('lists_sales_report_index') }}" title="{% trans %}My Reports{% endtrans %}">
                            <i class="fa fa-bar-chart-o"></i>
                            {% trans %}My Reports{% endtrans %}</a>
                    </li>
                    <li>
                        <a href="{{ path('lists_sales_team_index') }}" title="{% trans %}My Team{% endtrans %}">
                            <i class="fa fa-group"></i>
                            {% trans %}My Team{% endtrans %}</a>
                    </li>
                    {% if is_granted('ROLE_DOGOVORADMIN') != true %}
                        <li{% if
                                path(app.request.attributes.get('_route'),app.request.attributes.get('_route_params')) == path('lists_competitors_organization_index')
                                or 
                                path(app.request.attributes.get('_route'),app.request.attributes.get('_route_params')) == path('lists_competitors_organization_new')
                                or
                                (
                                    app.request.attributes.get('_route_params').id is defined
                                    and
                                    path(app.request.attributes.get('_route'),app.request.attributes.get('_route_params')) == path('lists_competitors_organization_show',app.request.attributes.get('_route_params'))
                                )
                            %} class="active"{% endif %}>
                            <a href="{{ path('lists_competitors_organization_index') }}">
                                <i class="fa fa-comments"></i>
                                <span class="title">{% trans %}Competitors{% endtrans %}</span>
                            </a>
                        </li>
                    {% endif %}
                     {#<li{% if path(app.request.attributes.get('_route'),app.request.attributes.get('_route_params')) == path('lists_contractor_index')
                    %} class="active"{% endif %}>
                        <a href="{{ path('lists_contractor_index') }}">
                            <i class="fa fa-money"></i>
                            <span class="title">{% trans %}Contractors{% endtrans %}</span>
                        </a>
                    </li>#}
                </ul>
            </li>
        {% endif %}

        {% if is_granted('ROLE_SALESDISPATCHER') %}
            <li class="">
                <a href="javascript:;">
                    <i class="icon-pencil"></i>
                    <span class="title">{% trans %}Sales Dispatcher{% endtrans %}</span>
                    <span class="arrow "></span>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a href="{{ path('lists_sales_dispatcher_handling_index') }}" title="{% trans %}Team Handlings{% endtrans %}">
                            <i class="fa fa-comments"></i>
                            {% trans %}Team Handlings{% endtrans %}
                        </a>
                    </li>
                    <li >
                        <a href="{{ path('lists_sales_dispatcher_contact_index') }}" title="{% trans %}Team Contacts{% endtrans %}">
                            <i class="fa fa-envelope"></i>
                            {% trans %}Team Contacts{% endtrans %}
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('lists_sales_dispatcher_organization_index') }}" title="{% trans %}Team Organizations{% endtrans %}">
                            <i class="fa fa-building"></i>
                            {% trans %}Team Organizations{% endtrans %}
                        </a>
                    </li>				
                    {#
                    <li >
                            <a href="{{ path('lists_sales_dispatcher_tender_index') }}" title="{% trans %}Team Tenders{% endtrans %}">
                                    <i class="fa fa-gavel"></i>
                                    {% trans %}Team Tenders{% endtrans %}
                            </a>
                    </li>
                    #}
                    {#<li >
                            <a href="{{ path('lists_sales_dispatcher_calendar_index') }}" title="{% trans %}Team Calendar{% endtrans %}">
                            <i class="fa fa-calendar"></i>
                            {% trans %}Team Calendar{% endtrans %}</a>
                    </li>#}
                    <li>
                        <a href="{{ path('lists_sales_dispatcher_report_index') }}" title="{% trans %}Team Reports{% endtrans %}">
                            <i class="fa fa-bar-chart-o"></i>
                            {% trans %}Team Reports{% endtrans %}</a>
                    </li>
                    <li >
                        <a href="{{ path('lists_sales_dispatcher_team_index') }}" title="{% trans %}Teams{% endtrans %}">
                            <i class="fa fa-group"></i>
                            {% trans %}Teams{% endtrans %}</a>
                    </li>
                </ul>
            </li>
        {% endif %}
        {% if is_granted('ROLE_SALESADMIN') %}
            <li{% if
                        path(app.request.attributes.get('_route'),app.request.attributes.get('_route_params')) == path('sd_calendar_shared_index')
                        or
                        path(app.request.attributes.get('_route'),app.request.attributes.get('_route_params')) == path('lists_sales_admin_organization_transfer')
                        %} class="active"{% endif %}>
                <a href="javascript:;">
                    <i class="icon-pencil"></i>
                    <span class="title">{% trans %}Sales Admin short{% endtrans %}</span>
                    <span class="arrow "></span>
                </a>
                <ul class="sub-menu">
                    <li{% if
                                path(app.request.attributes.get('_route'),app.request.attributes.get('_route_params')) == path('sd_calendar_shared_index')
                        %} class="active"{% endif %}>
                        <a href="{{ path('sd_calendar_shared_index') }}" title="{% trans %}Shared calendar{% endtrans %}">
                            <i class="fa fa-calendar"></i>
                            {% trans %}Shared calendar{% endtrans %}
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('lists_sales_admin_handling_index') }}" title="{% trans %}Projects{% endtrans %}">
                            <i class="fa fa-comments"></i>
                            {% trans %}Projects{% endtrans %}
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('lists_sales_admin_contact_index') }}" title="{% trans %}Contacts{% endtrans %}">
                            <i class="fa fa-envelope"></i>
                            {% trans %}Contacts{% endtrans %}
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('lists_sales_admin_organization_index') }}" title="{% trans %}Organizations{% endtrans %}">
                            <i class="fa fa-building"></i>
                            {% trans %}Organizations{% endtrans %}
                        </a>
                    </li>				
                    <li{% if
                             path(app.request.attributes.get('_route'),app.request.attributes.get('_route_params')) == path('lists_sales_admin_organization_transfer')
                        %} class="active"{% endif %}>
                        <a href="{{ path('lists_sales_admin_organization_transfer') }}" title="{% trans %}Transfer organizations{% endtrans %}">
                            <i class="fa fa-building"></i>
                            {% trans %}Transfer organizations{% endtrans %}
                        </a>
                    </li>				
                    <li>
                        <a href="{{ path('lists_sales_admin_tender_index') }}" title="{% trans %}Tenders{% endtrans %}">
                            <i class="fa fa-gavel"></i>
                            {% trans %}Tenders{% endtrans %}
                        </a>
                    </li>
                    {#<li >
                            <a href="&#123;&#35;{{ path('lists_sales_admin_calendar_index') }}&#35;&#125;" title="{% trans %}Calendar{% endtrans %}">
                            <i class="fa fa-calendar"></i>
                            {% trans %}Calendar{% endtrans %}</a>
                    </li>#}
                    <li >
                        <a href="/report/salesadmin/" title="{% trans %}Reports{% endtrans %}">
                            <i class="fa fa-bar-chart-o"></i>
                            {% trans %}Reports{% endtrans %}
                        </a>
                    </li>				
                    <li >
                        <a href="{{ path('lists_sales_admin_team_index') }}" title="{% trans %}Teams{% endtrans %}">
                            <i class="fa fa-group"></i>
                            {% trans %}Teams{% endtrans %}
                        </a>
                    </li>
                </ul>
            </li>
            <li class="">
                <a href="javascript:;">
                    <i class="icon-pencil"></i>
                    <span class="title">{% trans %}Sales Admin report{% endtrans %}</span>
                    <span class="arrow "></span>
                </a>
                <ul class="sub-menu">
                    <li >
                        <a href="{{ path('lists_sales_admin_report_advanced_range') }}" title="{% trans %}Activity{% endtrans %}">
                            <i class="fa fa-comments"></i>
                            {% trans %}Activity{% endtrans %}
                        </a>
                    </li>
                    <li >
                        <a href="{{ path('lists_sales_admin_report_simple') }}" title="{% trans %}All projects{% endtrans %}">
                            <i class="fa fa-comments"></i>
                            {% trans %}All projects{% endtrans %}
                        </a>
                    </li>
                    <li >
                        <a href="{{ path('lists_report_sales_admin_handling_status') }}" title="{% trans %}All projects{% endtrans %}">
                            <i class="fa fa-comments"></i>
                            {% trans %}100% projects{% endtrans %}
                        </a>
                    </li>
                    <li >
                        <a href="{{ path('lists_report_sales_admin_last_messages') }}" title="{% trans %}All projects{% endtrans %}">
                            <i class="fa fa-comments"></i>
                            {% trans %}Last messages{% endtrans %}
                        </a>
                    </li>
                    <li >
                        <a href="{{ path('lists_report_sales_admin_activity') }}" title="{% trans %}All manager activity{% endtrans %}">
                            <i class="fa fa-comments"></i>
                            {% trans %}All manager activity{% endtrans %}
                        </a>
                    </li>
                </ul>
            </li>
        {% endif %}
        {% if is_granted('ROLE_INTRANET') %}
            <li class="">
                <a href="javascript:;">
                    <i class="icon-pencil"></i>
                    <span class="title">{% trans %}Intranet{% endtrans %}</span>
                    <span class="arrow "></span>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a href="/profile/intranet/" title="{% trans %}My Profile{% endtrans %}">
                            <i class="fa fa-user"></i>
                            {% trans %}My Profile{% endtrans %}
                        </a>
                    </li>
                    <li>
                        <a href="/document/intranet/" title="{% trans %}Documents{% endtrans %}">
                            <i class="fa fa-building"></i>
                            {% trans %}My Organizations{% endtrans %}
                        </a>
                    </li>				
                    <li>
                        <a href="/news/intranet/" title="{% trans %}News{% endtrans %}">
                            <i class="fa fa-coffee"></i>
                            {% trans %}News{% endtrans %}
                        </a>
                    </li>
                    <li>
                        <a href="/tender/sales" title="{% trans %}My Tenders{% endtrans %}">
                            <i class="fa fa-gavel"></i>
                            {% trans %}My Tenders{% endtrans %}
                        </a>
                    </li>
                    <li >
                        <a href="/calendar/sales/" title="{% trans %}My Calendar{% endtrans %}">
                            <i class="fa fa-calendar"></i>
                            <span class="badge badge-important">14</span>{% trans %}My Calendar{% endtrans %}</a>
                    </li>
                    <li>
                        <a href="/report/sales/" title="{% trans %}My Reports{% endtrans %}">
                            <i class="fa fa-bar-chart-o"></i>
                            {% trans %}My Reports{% endtrans %}</a>
                    </li>
                    <li>
                        <a href="/team/sales/" title="{% trans %}My Team{% endtrans %}">
                            <i class="fa fa-group"></i>
                            {% trans %}My Team{% endtrans %}</a>
                    </li>
                </ul>
            </li>
        {% endif %}
        {% if is_granted('ROLE_DOGOVORADMIN') %}
            <li{% if 
                   
                    path(app.request.attributes.get('_route'),app.request.attributes.get('_route_params')) == path('lists_dogovor_made_index')
                     or
                    path(app.request.attributes.get('_route'),app.request.attributes.get('_route_params')) == path('lists_competitors_organization_index')
                     or
                    path(app.request.attributes.get('_route'),app.request.attributes.get('_route_params')) == path('lists_dogovor_admin_organization_index')
                     or
                    path(app.request.attributes.get('_route'),app.request.attributes.get('_route_params')) == path('lists_dogovor_admin_organization_new')
                     or
                    path(app.request.attributes.get('_route'),app.request.attributes.get('_route_params')) == path('lists_competitors_organization_new')
                    or
                    (
                        app.request.attributes.get('_route_params') is not empty
                        and
                        (
                            (
                                app.request.attributes.get('_route_params').id is defined
                                and
                                path(app.request.attributes.get('_route'),app.request.attributes.get('_route_params')) == path('lists_competitors_organization_show', app.request.attributes.get('_route_params'))
                            )
                            or
                            (
                                app.request.attributes.get('_route_params').id is defined
                                and
                                path(app.request.attributes.get('_route'),app.request.attributes.get('_route_params')) == path('lists_dogovor_admin_organization_show',app.request.attributes.get('_route_params'))
                            )
                        )
                    )
                %} class="active"{% endif %}>
                <a href="javascript:;">
                    <i class="icon-pencil"></i>
                    <span class="title">{% trans %}My Dogovor{% endtrans %}</span>
                    <span class="arrow "></span>
                </a>
                <ul class="sub-menu">
                    <li{% if 
                            ( 
                                app.request.attributes.get('_route_params') is not empty
                                and
                                app.request.attributes.get('_route_params').id is defined
                                and
                                path(app.request.attributes.get('_route'),app.request.attributes.get('_route_params')) == path('lists_dogovor_admin_organization_show',app.request.attributes.get('_route_params'))
                            )
                                or
                            path(app.request.attributes.get('_route'),app.request.attributes.get('_route_params')) == path('lists_dogovor_admin_organization_index')
                                or
                            path(app.request.attributes.get('_route'),app.request.attributes.get('_route_params')) == path('lists_dogovor_admin_organization_new')
                        %} class="active"{% endif %}>
                        <a href="{{ path('lists_dogovor_admin_organization_index') }}" title="{% trans %}Organizations{% endtrans %}">
                            <i class="fa fa-comments"></i>
                            {% trans %}Organizations{% endtrans %}
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('lists_dogovor_dogovor_index') }}" title="{% trans %}Dogovor List{% endtrans %}">
                            <i class="fa fa-comments"></i>
                            {% trans %}My Dogovor{% endtrans %}
                        </a>
                    </li>
                    <li{% if path(app.request.attributes.get('_route'),app.request.attributes.get('_route_params')) == path('lists_dogovor_made_index') %} class="active"{% endif %}>
                        <a href="{{ path('lists_dogovor_made_index') }}" title="{% trans %}Made agreement{% endtrans %}">
                            <i class="fa fa-comments"></i>
                            {% trans %}Made agreement{% endtrans %}
                        </a>
                    </li>
                    <li >
                        <a href="{{ path('lists_dogovor_dogovor_new') }}" title="{% trans %}New Dogovor{% endtrans %}">
                            <i class="fa fa-comments"></i>
                            {% trans %}New Dogovor{% endtrans %}
                        </a>
                    </li>
                    <li{% if
                                path(app.request.attributes.get('_route'),app.request.attributes.get('_route_params')) == path('lists_competitors_organization_index')
                                or 
                                path(app.request.attributes.get('_route'),app.request.attributes.get('_route_params')) == path('lists_competitors_organization_new')
                                or
                                (
                                    app.request.attributes.get('_route_params') is not empty
                                    and
                                    app.request.attributes.get('_route_params').id is defined
                                    and
                                    path(app.request.attributes.get('_route'),app.request.attributes.get('_route_params')) == path('lists_competitors_organization_show',app.request.attributes.get('_route_params'))
                                )
                        %} class="active"{% endif %}>
                        <a href="{{ path('lists_competitors_organization_index') }}">
                            <i class="fa fa-comments"></i>
                            <span class="title">{% trans %}Competitors{% endtrans %}</span>
                        </a>
                    </li>
                </ul>
            </li>
        {% endif %}
        {% if 
            is_granted('ROLE_OPER') 
            or
            is_granted('ROLE_SUPERVISOR')
        %}
        <li{% if path(app.request.attributes.get('_route'),app.request.attributes.get('_route_params')) == path('it_doors_oper_homepage') 
                or
                path(app.request.attributes.get('_route'),app.request.attributes.get('_route_params')) == path('lists_sales_organization_index')
            %} class="active"{% endif %}>
            <a href="javascript:;">
                <i class="icon-pencil"></i>
                <span class="title">{% trans %}Opermanager{% endtrans %}</span>
                <span class="arrow "></span>
            </a>
            <ul  class="sub-menu">
                <li{% if 
                            path(app.request.attributes.get('_route'),app.request.attributes.get('_route_params')) == path('it_doors_oper_homepage')
                                
                    %} class="active"{% endif %}>
                    <a href="{{ path('it_doors_oper_homepage') }}">
                        <i class="fa fa-money"></i>
                        <span class="title">{% trans %}Offices{% endtrans %}</span>
                    </a>
                </li>
                {% if is_granted('ROLE_OPER') %}
                    <li{% if path(app.request.attributes.get('_route'),app.request.attributes.get('_route_params')) == path('it_doors_oper_coworker')
                    %} class="active"{% endif %}>
                        <a href="{{ path('it_doors_oper_coworker') }}">
                            <i class="fa fa-money"></i>
                            <span class="title">{% trans %}Coworkers{% endtrans %}</span>
                        </a>
                    </li>
                {% endif %}
                    <li{% if path(app.request.attributes.get('_route'),app.request.attributes.get('_route_params')) == path('lists_sales_organization_index')
                    %} class="active"{% endif %}>
                        <a href="{{ path('lists_sales_organization_index') }}" title="{% trans %}Organizations{% endtrans %}">
                            <i class="fa fa-comments"></i>
                            {% trans %}Organizations{% endtrans %}
                        </a>
                        {#<a href="{{ path('lists_contractor_index') }}">
                            <i class="fa fa-money"></i>
                            <span class="title">{% trans %}Contractors{% endtrans %}</span>
                        </a>#}
                    </li>
                {% if is_granted('ROLE_SUPERVISOR') %}
                    <li{% if path(app.request.attributes.get('_route'),app.request.attributes.get('_route_params')) == path('it_doors_oper_supervisor_coworkers')
                    %} class="active"{% endif %}>
                        <a href="{{ path('it_doors_oper_supervisor_coworkers') }}">
                            <i class="fa fa-money"></i>
                            <span class="title">{% trans %}Coworkers{% endtrans %}</span>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </li>
        {% endif %}
            {% if is_granted('ROLE_CONTROLLING') or is_granted('ROLE_CONTROLLING_OPER') %}
                <li{% if 
                            path(app.request.attributes.get('_route'),app.request.attributes.get('_route_params')) == path('lists_dogovor_dogovor_index')
                            or
                            path(app.request.attributes.get('_route'),app.request.attributes.get('_route_params')) == path('it_doors_controlling_invoice_analytic')
                            or
                            path(app.request.attributes.get('_route'),app.request.attributes.get('_route_params')) == path('it_doors_controlling_invoice')
                            or
                            (
                                app.request.attributes.get('_route_params').invoiceid is defined
                                and
                                path(app.request.attributes.get('_route'),app.request.attributes.get('_route_params')) == path('it_doors_controlling_invoice_invoice',app.request.attributes.get('_route_params'))
                            )
                            or
                            (
                                app.request.attributes.get('_route_params').id is defined
                                and
                                (
                                    path(app.request.attributes.get('_route'),app.request.attributes.get('_route_params')) == path('lists_dogovor_admin_organization_show',app.request.attributes.get('_route_params'))
                                    or
                                    path(app.request.attributes.get('_route'),app.request.attributes.get('_route_params')) == path('lists_dogovor_dogovor_show',app.request.attributes.get('_route_params'))
                                )
                            )
                                or
                            path(app.request.attributes.get('_route'),app.request.attributes.get('_route_params')) == path('lists_dogovor_admin_organization_index')
                                or
                            path(app.request.attributes.get('_route'),app.request.attributes.get('_route_params')) == path('lists_dogovor_admin_organization_new')
                    %} class="active"{% endif %}>
                    <a href="javascript:;">
                        <i class="icon-pencil"></i>
                        <span class="title">{% trans %}DebtControll{% endtrans %}</span>
                        <span class="arrow "></span>
                    </a>
                    <ul  class="sub-menu">
                        <li{% if 
                                    path(app.request.attributes.get('_route'),app.request.attributes.get('_route_params')) == path('it_doors_controlling_invoice')
                                    or
                                    (
                                        app.request.attributes.get('_route_params').invoiceid is defined
                                        and
                                        path(app.request.attributes.get('_route'),app.request.attributes.get('_route_params')) == path('it_doors_controlling_invoice_invoice',app.request.attributes.get('_route_params'))
                                    )
                            %} class="active"{% endif %}>
                            <a href="{{ path('it_doors_controlling_invoice') }}" title="{% trans %}Invoices{% endtrans %}">
                                <i class="fa fa-comments"></i>
                                {% trans %}Invoices{% endtrans %}
                            </a>
                        </li>
                         {% if is_granted('ROLE_CONTROLLING') %}
                        <li{% if 
                                    path(app.request.attributes.get('_route'),app.request.attributes.get('_route_params')) == path('it_doors_controlling_invoice_analytic')
                            %} class="active"{% endif %}>
                            <a href="{{ path('it_doors_controlling_invoice_analytic') }}" title="{% trans %}Analytics{% endtrans %}">
                                <i class="fa fa-comments"></i>
                                {% trans %}Analytics{% endtrans %}
                            </a>
                        </li>
                        <li{% if 
                                    path(app.request.attributes.get('_route'),app.request.attributes.get('_route_params')) == path('lists_dogovor_dogovor_index')
                                    or
                                    (
                                        app.request.attributes.get('_route_params').id is defined
                                        and
                                        path(app.request.attributes.get('_route'),app.request.attributes.get('_route_params')) == path('lists_dogovor_dogovor_show',app.request.attributes.get('_route_params'))
                                    )
                            %} class="active"{% endif %}>
                        <a href="{{ path('lists_dogovor_dogovor_index') }}" title="{% trans %}Dogovors{% endtrans %}">
                            <i class="fa fa-comments"></i>
                            {% trans %}Dogovors{% endtrans %}
                        </a>
                    </li>
                    
                        <li{% if 
                            (
                                app.request.attributes.get('_route_params').id is defined
                                and
                                path(app.request.attributes.get('_route'),app.request.attributes.get('_route_params')) == path('lists_dogovor_admin_organization_show',app.request.attributes.get('_route_params'))
                            )
                                or
                            path(app.request.attributes.get('_route'),app.request.attributes.get('_route_params')) == path('lists_dogovor_admin_organization_index')
                                or
                            path(app.request.attributes.get('_route'),app.request.attributes.get('_route_params')) == path('lists_dogovor_admin_organization_new')
                            %} class="active"{% endif %}>
                            <a href="{{ path('lists_dogovor_admin_organization_index') }}" title="{% trans %}Organizations{% endtrans %}">
                                <i class="fa fa-comments"></i>
                                {% trans %}Organizations{% endtrans %}
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                </li>
            {% endif %}
            {% if is_granted('ROLE_SALESADMIN') %}
                <li{% if path(app.request.attributes.get('_route'),app.request.attributes.get('_route_params')) == path('it_doors_email_templates') or path(app.request.attributes.get('_route'),app.request.attributes.get('_route_params')) == path('it_doors_email_history')  %} class="active"{% endif %}>
                    <a href="javascript:;">
                        <i class="fa fa-tachometer"></i>
                        <span class="title">{% trans %}Email{% endtrans %}</span>
                        <span class="arrow "></span>
                    </a>
                    <ul  class="sub-menu">
                        <li{% if path(app.request.attributes.get('_route'),app.request.attributes.get('_route_params')) == path('it_doors_email_templates') %} class="active"{% endif %}>
                            <a href="{{ path('it_doors_email_templates') }}" title="{% trans %}Email templates{% endtrans %}">
                                <i class="fa fa-comments"></i>
                                {% trans %}Email templates{% endtrans %}
                            </a>
                        </li>
                        <li{% if path(app.request.attributes.get('_route'),app.request.attributes.get('_route_params')) == path('it_doors_email_history')  %} class="active"{% endif %}>
                            <a href="{{ path('it_doors_email_history') }}" title="{% trans %}Email templates{% endtrans %}">
                                <i class="fa fa-comments"></i>
                                {% trans %}Email history{% endtrans %}
                            </a>
                        </li>
                    </ul>
                </li>
            {% endif %}
            <li{% if 
                path(app.request.attributes.get('_route'),app.request.attributes.get('_route_params')) == path('list_companystructure_employees')
                or
                path(app.request.attributes.get('_route'),app.request.attributes.get('_route_params')) == path('sd_user_stuff')
                or
                (
                    app.request.attributes.get('_route_params').id is defined
                    and
                    app.request.attributes.get('_route_params').id | number_format(0)
                    and
                    path(app.request.attributes.get('_route'),app.request.attributes.get('_route_params')) == path('sd_user_show',app.request.attributes.get('_route_params'))
                )
                %} class="active"{% endif %}>
                <a href="javascript:;">
                    <i class="fa fa-tachometer"></i>
                    <span class="title">{% trans %}Impel griffin{% endtrans %}</span>
                    <span class="arrow "></span>
                </a>
                <ul  class="sub-menu">
                    <li{% if path(app.request.attributes.get('_route'),app.request.attributes.get('_route_params')) == path('list_companystructure_employees') %} class="active"{% endif %}>
                        <a href="{{ path('list_companystructure_employees') }}" title="{% trans %}Structure company{% endtrans %}">
                            <i class="icon-pencil"></i>
                            <span class="title">{% trans %}Structure company{% endtrans %}</span>
                        </a>
                    </li>
                    <li{% if 
                path(app.request.attributes.get('_route'),app.request.attributes.get('_route_params')) == path('sd_user_stuff')
                or
                (
                    app.request.attributes.get('_route_params').id is defined
                    and
                    app.request.attributes.get('_route_params').id | number_format(0)
                    and
                    path(app.request.attributes.get('_route'),app.request.attributes.get('_route_params')) == path('sd_user_show',app.request.attributes.get('_route_params'))
                )
                %} class="active"{% endif %}>
                <a href="{{ path('sd_user_stuff') }}">
                    <i class="icon-pencil"></i>
                    <span class="title">{% trans %}Stuff{% endtrans %}</span>
                </a>
            </li>
                </ul>
            </li>
           
            
            <li{% if 
                    path(app.request.attributes.get('_route'),app.request.attributes.get('_route_params')) == path('list_article_vote_history') 
                        or
                    path(app.request.attributes.get('_route'),app.request.attributes.get('_route_params')) == path('list_article_vote_history_add')
                        or
                    path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) == path('list_article_vote_decision')
                        or
                    path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) == path('list_article_vote_decision_add') 
                        or
                    (
                        app.request.attributes.get('_route_params').id is defined
                        and
                        (
                            path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) == path('list_article_vote_history_show', app.request.attributes.get('_route_params')) 
                            or
                            path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) == path('list_article_vote_decision_show', app.request.attributes.get('_route_params'))
                        )
                    )
                %} class="active"{% endif %}>
                <a href="javascript:;">
                    <i class="icon-pencil"></i>
                    <span class="title">{% trans %}Vote{% endtrans %}</span>
                    <span class="arrow "></span>
                </a>
                <ul  class="sub-menu">
                    <li{% if  path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) == path('list_article_vote_history') %} class="active"{% endif %}>
                        <a href="{{ path('list_article_vote_history') }}" title="{% trans %}History{% endtrans %}">
                            <i class="fa fa-comments"></i>
                            {% trans %}History{% endtrans %}
                        </a>
                    </li>
                    <li{% if  
                            path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) == path('list_article_vote_decision') 
                            or
                            path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) == path('list_article_vote_decision_add') 
                            or
                            (
                                app.request.attributes.get('_route_params').id is defined
                                and
                                path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) == path('list_article_vote_decision_show', app.request.attributes.get('_route_params'))
                            ) 
                            %} class="active"{% endif %}>
                        <a href="{{ path('list_article_vote_decision') }}" title="{% trans %}Decisions{% endtrans %}">
                            <i class="fa fa-comments"></i>
                            {% trans %}Decisions{% endtrans %}
                        </a>
                    </li>
                </ul>
            </li>

            <li{% if
            path(app.request.attributes.get('_route'),app.request.attributes.get('_route_params')) == path('sd_task_homepage')
            %} class="active"{% endif %}>
                <a href="{{ path('sd_task_homepage') }}">
                    <i class="icon-pencil"></i>
                    <span class="title">{% trans %}My tasks{% endtrans %}</span>
                </a>
            </li>
            {% if is_granted('ROLE_HRADMIN') %}
                <li{% if
                path(app.request.attributes.get('_route'),app.request.attributes.get('_route_params')) == path('sd_holiday_index')
                %} class="active"{% endif %}>
                    <a href="{{ path('sd_holiday_index') }}">
                        <i class="icon-pencil"></i>
                        <span class="title">{% trans %}Holidays{% endtrans %}</span>
                    </a>
                </li>
            {% endif %}

    </ul>
        <!-- END SIDEBAR MENU -->
    </div>
    <!-- END SIDEBAR -->
</div>
