<!-- BEGIN SIDEBAR -->
<div class="page-sidebar navbar-collapse collapse">
    <!-- BEGIN SIDEBAR MENU -->        
    <ul class="page-sidebar-menu">
        <li>
            <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
            <div class="sidebar-toggler hidden-phone"></div>
            <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
        </li>
        {% include 'sidebar_search.html.twig' %}
        <li class="start active ">
            <a href="{{ path('sd_dashboard_homepage') }}">
                <i class="fa fa-home"></i> 
                <span class="title">{% trans %}Dashboard{% endtrans %}</span>
                <span class="selected"></span>
            </a>
        </li>
		{% if is_granted('ROLE_SALES') %}
        <li class="">
            <a href="javascript:;">
                <i class="fa fa-money"></i> 
                <span class="title">{% trans %}My Sales{% endtrans %}</span>
                <span class="arrow "></span>
            </a>
            <ul class="sub-menu">
                <li >
                    <a href="{{ path('lists_sales_handling_index') }}" title="{% trans %}My Handlings{% endtrans %}">
                        <i class="fa fa-comments"></i>
                        {% trans %}My Handlings{% endtrans %}
                    </a>
                </li>
                <li >
                    <a href="{{ path('lists_sales_contact_index') }}" title="{% trans %}My Contacts{% endtrans %}">
                        <i class="fa fa-envelope"></i>
                        {% trans %}My Contacts{% endtrans %}
                    </a>
                </li>
                <li >
                    <a href="{{ path('lists_sales_organization_index') }}" title="{% trans %}My Organizations{% endtrans %}">
                        <i class="fa fa-building"></i>
                        {% trans %}My Organizations{% endtrans %}
                    </a>
                </li>				
				{#
				<li >
					<a href="{{ path('lists_sales_tender_index') }}" title="{% trans %}My Tenders{% endtrans %}">
						<i class="fa fa-gavel"></i>
						{% trans %}My Tenders{% endtrans %}
					</a>
				</li>
                #}
				{#<li >
					<a href="{{ path('lists_sales_calendar_index') }}" title="{% trans %}My Calendar{% endtrans %}">
					<i class="fa fa-calendar"></i>
					&#123;&#35;<span class="badge badge-important">14</span>&#35;&#125;{% trans %}My Calendar{% endtrans %}</a>
				</li>#}
                <li >
                    <a href="{{ path('lists_sales_report_index') }}" title="{% trans %}My Reports{% endtrans %}">
                        <i class="fa fa-bar-chart-o"></i>
                        {% trans %}My Reports{% endtrans %}</a>
                </li>
                <li >
                    <a href="{{ path('lists_sales_team_index') }}" title="{% trans %}My Team{% endtrans %}">
                        <i class="fa fa-group"></i>
                        {% trans %}My Team{% endtrans %}</a>
                </li>
            </ul>
        </li>
        {% endif %}

        {% if is_granted('ROLE_SALESDISPATCHER') %}
        <li class="">
            <a href="javascript:;">
                <i class="fa fa-sitemap"></i> 
                <span class="title">{% trans %}Sales Dispatcher{% endtrans %}</span>
                <span class="arrow "></span>
            </a>
            <ul class="sub-menu">
                <li >
                    <a href="{{ path('lists_sales_dispatcher_handling_index') }}" title="{% trans %}Team Handlings{% endtrans %}">
                        <i class="fa fa-comments"></i>
                        {% trans %}Team Handlings{% endtrans %}
                    </a>
                </li>
                <li >
                    <a href="{{ path('lists_sales_dispatcher_contact_index') }}" title="{% trans %}Team Contacts{% endtrans %}">
                        <i class="fa fa-envelope"></i>
                        {% trans %}Team Contacts{% endtrans %}
                    </a>
                </li>
                <li >
                    <a href="{{ path('lists_sales_dispatcher_organization_index') }}" title="{% trans %}Team Organizations{% endtrans %}">
                        <i class="fa fa-building"></i>
                        {% trans %}Team Organizations{% endtrans %}
                    </a>
                </li>				
				{#
				<li >
					<a href="{{ path('lists_sales_dispatcher_tender_index') }}" title="{% trans %}Team Tenders{% endtrans %}">
						<i class="fa fa-gavel"></i>
						{% trans %}Team Tenders{% endtrans %}
					</a>
				</li>
				#}
				{#<li >
					<a href="{{ path('lists_sales_dispatcher_calendar_index') }}" title="{% trans %}Team Calendar{% endtrans %}">
					<i class="fa fa-calendar"></i>
					{% trans %}Team Calendar{% endtrans %}</a>
				</li>#}
                <li >
                    <a href="{{ path('lists_sales_dispatcher_report_index') }}" title="{% trans %}Team Reports{% endtrans %}">
                        <i class="fa fa-bar-chart-o"></i>
                        {% trans %}Team Reports{% endtrans %}</a>
                </li>
                <li >
                    <a href="{{ path('lists_sales_dispatcher_team_index') }}" title="{% trans %}Teams{% endtrans %}">
                        <i class="fa fa-group"></i>
                        {% trans %}Teams{% endtrans %}</a>
                </li>
            </ul>
        </li>
        {% endif %}

        {% if is_granted('ROLE_SALESADMIN') %}
        <li class="">
            <a href="javascript:;">
                <i class="fa fa-tachometer"></i>
                <span class="title">{% trans %}Sales Admin short{% endtrans %}</span>
                <span class="arrow "></span>
            </a>
            <ul class="sub-menu">
                <li >
                    <a href="{{ path('lists_sales_admin_handling_index') }}" title="{% trans %}Handlings{% endtrans %}">
                        <i class="fa fa-comments"></i>
                        {% trans %}Handlings{% endtrans %}
                    </a>
                </li>
                <li >
                    <a href="{{ path('lists_sales_admin_contact_index') }}" title="{% trans %}Contacts{% endtrans %}">
                        <i class="fa fa-envelope"></i>
                        {% trans %}Contacts{% endtrans %}
                    </a>
                </li>
                <li >
                    <a href="{{ path('lists_sales_admin_organization_index') }}" title="{% trans %}Organizations{% endtrans %}">
                        <i class="fa fa-building"></i>
                        {% trans %}Organizations{% endtrans %}
                    </a>
                </li>				

                <li >
                    <a href="{{ path('lists_sales_admin_tender_index') }}" title="{% trans %}Tenders{% endtrans %}">
                        <i class="fa fa-gavel"></i>
                        {% trans %}Tenders{% endtrans %}
                    </a>
                </li>
				{#<li >
					<a href="&#123;&#35;{{ path('lists_sales_admin_calendar_index') }}&#35;&#125;" title="{% trans %}Calendar{% endtrans %}">
					<i class="fa fa-calendar"></i>
					{% trans %}Calendar{% endtrans %}</a>
				</li>#}
                <li >
                    <a href="/report/salesadmin/" title="{% trans %}Reports{% endtrans %}">
                        <i class="fa fa-bar-chart-o"></i>
                        {% trans %}Reports{% endtrans %}</a>
                </li>				
                <li >
                    <a href="{{ path('lists_sales_admin_team_index') }}" title="{% trans %}Teams{% endtrans %}">
                        <i class="fa fa-group"></i>
                        {% trans %}Teams{% endtrans %}</a>
                </li>
            </ul>
        </li>

        <li class="">
            <a href="javascript:;">
                <i class="fa fa-tachometer"></i>
                <span class="title">{% trans %}Sales Admin report{% endtrans %}</span>
                <span class="arrow "></span>
            </a>
            <ul class="sub-menu">
                <li >
                    <a href="{{ path('lists_sales_admin_report_advanced_range') }}" title="{% trans %}Activity{% endtrans %}">
                        <i class="fa fa-comments"></i>
                        {% trans %}Activity{% endtrans %}
                    </a>
                </li>
                <li >
                    <a href="{{ path('lists_sales_admin_report_simple') }}" title="{% trans %}All projects{% endtrans %}">
                        <i class="fa fa-comments"></i>
                        {% trans %}All projects{% endtrans %}
                    </a>
                </li>
                <li >
                    <a href="{{ path('lists_report_sales_admin_handling_status') }}" title="{% trans %}All projects{% endtrans %}">
                        <i class="fa fa-comments"></i>
                        {% trans %}100% projects{% endtrans %}
                    </a>
                </li>
                <li >
                    <a href="{{ path('lists_report_sales_admin_last_messages') }}" title="{% trans %}All projects{% endtrans %}">
                        <i class="fa fa-comments"></i>
                        {% trans %}Last messages{% endtrans %}
                    </a>
                </li>
            </ul>
        </li>
        {% endif %}


        {% if is_granted('ROLE_INTRANET') %}
        <li class="">
            <a href="javascript:;">
                <i class="fa fa-suitcase"></i> 
                <span class="title">{% trans %}Intranet{% endtrans %}</span>
                <span class="arrow "></span>
            </a>
            <ul class="sub-menu">
                <li >
                    <a href="/profile/intranet/" title="{% trans %}My Profile{% endtrans %}">
                        <i class="fa fa-user"></i>
                        {% trans %}My Profile{% endtrans %}
                    </a>
                </li>
                <li >
                    <a href="/document/intranet/" title="{% trans %}Documents{% endtrans %}">
                        <i class="fa fa-building"></i>
                        {% trans %}My Organizations{% endtrans %}
                    </a>
                </li>				
                <li >
                    <a href="/news/intranet/" title="{% trans %}News{% endtrans %}">
                        <i class="fa fa-coffee"></i>
                        {% trans %}News{% endtrans %}
                    </a>
                </li>
                <li >
                    <a href="/tender/sales" title="{% trans %}My Tenders{% endtrans %}">
                        <i class="fa fa-gavel"></i>
                        {% trans %}My Tenders{% endtrans %}
                    </a>
                </li>
                <li >
                    <a href="/calendar/sales/" title="{% trans %}My Calendar{% endtrans %}">
                        <i class="fa fa-calendar"></i>
                        <span class="badge badge-important">14</span>{% trans %}My Calendar{% endtrans %}</a>
                </li>
                <li >
                    <a href="/report/sales/" title="{% trans %}My Reports{% endtrans %}">
                        <i class="fa fa-bar-chart-o"></i>
                        {% trans %}My Reports{% endtrans %}</a>
                </li>
                <li >
                    <a href="/team/sales/" title="{% trans %}My Team{% endtrans %}">
                        <i class="fa fa-group"></i>
                        {% trans %}My Team{% endtrans %}</a>
                </li>
            </ul>
        </li>
		{% endif %}
        {% if is_granted('ROLE_DOGOVORADMIN') %}
        <li class="">
            <a href="javascript:;">
                <i class="fa fa-money"></i>
                <span class="title">{% trans %}My Dogovor{% endtrans %}</span>
                <span class="arrow "></span>
            </a>
            <ul class="sub-menu">
                <li >
                    <a href="{{ path('lists_dogovor_admin_organization_index') }}" title="{% trans %}Organizations{% endtrans %}">
                        <i class="fa fa-comments"></i>
                            {% trans %}Organizations{% endtrans %}
                    </a>
                </li>
                <li >
                    <a href="{{ path('lists_dogovor_dogovor_index') }}" title="{% trans %}Dogovor List{% endtrans %}">
                        <i class="fa fa-comments"></i>
                            {% trans %}My Dogovor{% endtrans %}
                    </a>
                </li>
                <li >
                    <a href="{{ path('lists_dogovor_dogovor_new') }}" title="{% trans %}New Dogovor{% endtrans %}">
                        <i class="fa fa-comments"></i>
                            {% trans %}New Dogovor{% endtrans %}
                    </a>
                </li>
            </ul>
        </li>
        {% endif %}
        {#% if is_granted('ROLE_CONTROLLING') %#}
        <li>
            <a href="javascript:;">
                <i class="fa fa-tachometer"></i>
                <span class="title">{% trans %}Controlling{% endtrans %}</span>
                <span class="arrow "></span>
            </a>
            <ul  class="sub-menu">
                <li>
                    <a href="{{ path('it_doors_controlling_invoice') }}" title="{% trans %}debtors{% endtrans %}">
                        <i class="fa fa-comments"></i>
                        {% trans %}debtors{% endtrans %}
                    </a>
                </li>
            </ul>
        </li>
            {#% endif %#}
        {#% if is_granted('ROLE_EMAIL') %#}
        <li>
            <a href="javascript:;">
                <i class="fa fa-tachometer"></i>
                <span class="title">{% trans %}Email{% endtrans %}</span>
                <span class="arrow "></span>
            </a>
            <ul  class="sub-menu">
                <li>
                    <a href="{{ path('it_doors_email_templates') }}" title="{% trans %}Email templates{% endtrans %}">
                        <i class="fa fa-comments"></i>
                        {% trans %}Email templates{% endtrans %}
                    </a>
                    <a href="{{ path('it_doors_email_history') }}" title="{% trans %}Email templates{% endtrans %}">
                        <i class="fa fa-comments"></i>
                        {% trans %}Email history{% endtrans %}
                    </a>
                </li>
            </ul>
        </li>
            {#% endif %#}
    </ul>
    <!-- END SIDEBAR MENU -->
</div>
<!-- END SIDEBAR -->
