{% form_theme form 'ITDoorsAjaxBundle:Form:fields.html.twig' %}
<div class="row ">
    <div class="col-md-12">
        <div class="portlet box yellow">
            <div class="portlet-title">
                <div class="caption"><i class="fa fa-edit"></i>
                    {% trans from 'messages' %}Filters{% endtrans %}
                </div>
            </div>
            <div class="portlet-body">
                {% if form.vars.valid is sameas(false) %}
                    <div class="alert alert-danger">
                        <button class="close" data-close="alert"></button>
                        {% trans from 'messages' %}You have some form errors. Please check below.{% endtrans %}
                        {{ form_errors(form) }}
                    </div>
                {% endif %}

                {{ form_start(form, {
                    'action' : path('it_doors_ajax_filter'),
                    'attr' : {
                        'method' : 'POST',
                        'class' : 'ajax-filter-form',
                        'novalidate': 'novalidate'
                    }
                }) }}
                <div class="form-group col-md-12 row">
                {% for child in form %}
                    {% if child.vars.block_prefixes.1 != 'submit' %}
                        {{ form_row(child) }}
                    {% endif %}
                {% endfor %}
                </div>
                <div class="clear" style="clear: both"></div>
                <div>
                    <div class="form-actions">
                        {{ form_widget(form.submit, { 'label': 'Filter'|trans({}, 'messages'), 'attr': {'class': 'btn blue'} } ) }}
                        {{ form_widget(form.reset, { 'label': 'Reset'|trans({}, 'messages'), 'attr': {'class': 'btn default sd-filter-cancel-btn'} } ) }}
                    </div>
                </div>

                <input type="hidden" name="formAlias" value="{{ form.vars.name }}">
                <input type="hidden" name="reset" value="0" class="ajax-form-reset-field">

                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>
