    {% trans_default_domain 'ListsContactBundle' %}
    {% if organizationId %}
    {% else %}
        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
    {% endif %}

	<div class="table-scrollable">
        <table class="table table-striped table-hover table-bordered">
            <thead>
            <tr>
                <th>#</th>
                {% if organizationId %}
                {% else %}
                    <th>{% trans %}Organization{% endtrans %}</th>
                {% endif %}
                <th>{% trans %}FirstName{% endtrans %}</th>
                <th>{% trans %}LastName{% endtrans %}</th>
                <th>{% trans %}SurName{% endtrans %}</th>
                <th>{% trans %}Position{% endtrans %}</th>
                <th>{% trans %}Phone{% endtrans %}</th>
                <th>{% trans %}Mobile{% endtrans %}</th>
                <th>{% trans %}Email{% endtrans %}</th>
                <th>{% trans %}Birthday{% endtrans %}</th>
                <th>{% trans %}Owner{% endtrans %}</th>
                <th>{% trans %}Creator{% endtrans %}</th>
            </tr>
            </thead>
            <tbody>
            {% for item in pagination %}
            <tr >
                <td>{{ item.0.id }}</td>
                {% if organizationId %}
                {% else %}
                    <td>{{ item.organizationName }}</td>
                {% endif %}
                <td>{{ item.0.firstName }}</td>
                <td>{{ item.0.lastName }}</td>
                <td>{{ item.0.middleName }}</td>
                <td>{{ item.0.position }}</td>
                <td>{{ item.0.phone1 }}</td>
                <td>{{ item.0.phone2 }}</td>
                <td>{{ item.0.email }}</td>
                <td>
                    {% if item.0.birthday %}
                        {{ item.0.birthday|date("d.m.y") }}
                    {% endif %}
                </td>
                <td>
                    {{ item.ownerFullName }}
                    {% if item.0.ownerdatetime %}
                        ({{ item.0.ownerdatetime|date("d.m.y") }})
                    {% endif %}
                </td>
                <td>
                    {{ item.creatorFullName }}
                    {% if item.0.createdatetime %}
                        ({{ item.0.createdatetime|date("d.m.y") }})
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% if organizationId %}
    {% else %}
        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
    {% endif %}