{% trans_default_domain 'SDTaskBundle' %}
    <div class="row">
        <div class="col-md-12">
            <div id="tasks_list" data-url="{{ path('sd_task_table_dashboard')}}">
                    {{ render(controller('SDTaskBundle:Task:taskTableDashboard')) }}
            </div>
        </div>
            <input type="hidden" id="more_info_input"
                    data-url_task_modal="{{ path('sd_task_modal') }}"
                    data-url_task_table="{{ path('sd_task_table_dashboard')}}"
                    data-url_task_ajax_table="{{ path('sd_task_table_dashboard_rows_ajax')}}">
            {#
                        <div id="base_table_test" data-url="{{ path('it_doors_oper_coworker_test_table')}}">
                            {{ render(controller('ITDoorsOperBundle:OperCoworkerInfo:testTableRender', {

                            })) }}
                        </div>
            #}

            <div id="form_modal_task_view" class="modal fade" tabindex="-1" role="basic" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                            <h4 class="modal-title">{% trans %}View task{% endtrans %}</h4>
                        </div>
                        <div class="modal-body">
                            <div id="taskViewTpl"></div>
                        </div>
                        <div class="modal-footer">
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
            </div>
    </div>
