    <div id="form_modal_task" class="modal fade" tabindex="-1" role="basic" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title">Create task</h4>
                </div>
                <div class="modal-body">
                    <div id="taskFormTpl1"></div>
                </div>
                <div class="modal-footer">
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
    </div>


    <div class="row">
        <div class="col-md-12">

                        <a id="managers_list_new" class="btn green ajax-form"
                           data-toggle="modal"
                           href="#form_modal_task"
                           data-target_holder="taskFormTpl1"
                           data-form_name="taskForm1"
                           data-post_function="updateList"
                           data-post_target_id="tasks_list"
                                >
                            {% trans %}Add task{% endtrans %} <i class="fa fa-plus"></i>
                        </a>
                        <br><br>
                        <div class="row">
                            <div class="col-md-3"><a class="yellow btn filterButton" style="min-width: 100px;" href="#" data-show="all">{% trans %}All{% endtrans %}</a></div>
                            <div class="col-md-3"><a class="blue btn filterButton" style="min-width: 100px;" href="#" data-show="performer">{% trans %}Performer{% endtrans %}</a></div>
                            <div class="col-md-3"><a class="purple btn filterButton" style="min-width: 100px;" href="#" data-show="controller">{% trans %}Controller{% endtrans %}</a></div>
                            <div class="col-md-3"><a class="red btn filterButton" style="min-width: 100px;" href="#" data-show="author">{% trans %}Author{% endtrans %}</a></div>
                        </div>

                        <br>

                        <div id="tasks_list" data-url="{{ path('sd_task_table')}}">
                                {{ render(controller('SDTaskBundle:Task:taskTable')) }}
                        </div>
        </div>
            <input type="hidden" id="more_info_input"
                    data-url_task_modal="{{ path('sd_task_modal') }}"
                    data-url_task_table="{{ path('sd_task_table')}}">
            {#
                        <div id="base_table_test" data-url="{{ path('it_doors_oper_coworker_test_table')}}">
                            {{ render(controller('ITDoorsOperBundle:OperCoworkerInfo:testTableRender', {

                            })) }}
                        </div>
            #}

            <div id="form_modal_task_view" class="modal fade" tabindex="-1" role="basic" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                            <h4 class="modal-title">{% trans %}View task{% endtrans %}</h4>
                        </div>
                        <div class="modal-body">
                            <div id="taskViewTpl"></div>
                        </div>
                        <div class="modal-footer">
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
            </div>
    </div>
