{% trans_default_domain 'ITDoorsOperBundle' %}

<div id="form_modal_more_info" class="modal fade" role="basic" aria-hidden="true">
    <div class="modal-dialog" >
        <div class="modal-content" >
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">{% trans  from 'ListsHandlingBundle' %}More info{% endtrans %}</h4>
            </div>
            <div class="modal-body" >
                <div id="moreInfoTpl" data-text="{% trans from 'ListsContactBundle' %}Loading data. Please wait{% endtrans %}">
                </div>
                <a class="btn green right_float" data-dismiss="modal" aria-hidden="true">{% trans %}Exit {% endtrans %}</a>
                <br>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
</div>

<div id="form_modal_info_user" class="modal fade" role="basic" aria-hidden="true">
    <div class="modal-dialog" style="">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">{% trans %}Coworker info{% endtrans %}</h4>
            </div>
            <div class="modal-body">
                <div id="infoUserTpl" data-text="{% trans from 'ListsContactBundle' %}Loading data. Please wait{% endtrans %}">
                </div>
                <br>
                <a class="btn green right_float" data-dismiss="modal" aria-hidden="true">{% trans %}Exit{% endtrans %}</a>
                <br>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
</div>


<script>

    function updateSums(sendData, idCoworker, idReplacement) {
        $.ajax({
            type: 'POST',
            url: $('#info_input').data('url_reload_sums'),
            data: sendData,

            success: function(data1) {
                data = JSON.parse(data1);
                if (data.success == 0) {

                } else {

                    $('.sums'+idCoworker+idReplacement).remove();
                    $('#row'+idCoworker+idReplacement).append(data.html);
                    $('#total_salary').html(data.totalSalary);
                    $('#salary_not_officially').html(data.salaryNotOfficially);
                    $('#salary_officially').html(data.salaryOfficially);
                    //href.html(data.html);
                }
            }

        })

    }

    $(document).ready(function(){
        $('.fio').die('click');
        $('.fio').live('click', function(e) {
            e.preventDefault();
            var params = $(this).data('params');
            var date = $('#info_input').data('date');
            var sendData = {
                'params': params,
                'date': date
            }

            var url = $('#info_input').data('url_user_info');
            $('#form_modal_info_user').modal('show');
            $.ajax({
                type: 'POST',
                url: url,
                data: sendData,
                success: function(data1) {
                    //alert(data);
                    data = JSON.parse(data1);

                    if (data.success == 1) {
                        $('#infoUserTpl').html(data.html);
                    }

                }
            })

        })
    });


</script>
<table class="table table-striped table-hover table-bordered">
    <thead>
    <tr>
        <th>#</th>
        <th>{% trans %}Accruals{% endtrans %}</th>
        <th>{% trans %}P/z{% endtrans %}</th>
        <th>{% trans %}Id{% endtrans %}</th>
        <th>{% trans %}Mpk{% endtrans %}
            {{ ajax_ordering('mpk', ajax_namespace_oper_department_schedule, {
            'coworker_list': 'ITDoorsAjax.updateList'
            }) }}
        </th>
        <th>
            {% trans %}Self organization{% endtrans %}
        </th>
        <th>{% trans %}DRFO{% endtrans %}</th>
        <th>{% trans %}Passport{% endtrans %}</th>
        <th>{% trans %}Surname{% endtrans %}
            {{ ajax_ordering('lastName', ajax_namespace_oper_department_schedule, {
            'coworker_list': 'ITDoorsAjax.updateList'
            }) }}
        </th>
        <th>{% trans %}Name{% endtrans %}</th>
        <th>{% trans %}Middle Name{% endtrans %}</th>
        <th>{% trans %}Date accepted{% endtrans %}</th>
        <th>{% trans %}Date faired{% endtrans %}</th>
        <th>{% trans %}Date accepted UU{% endtrans %}</th>
        <th>{% trans %}Date faired UU{% endtrans %}</th>

        <th>{% trans %}Total officially{% endtrans %}</th>
        <th>{% trans %}Accruals officially{% endtrans %}</th>
        <th>{% trans %}Official salary{% endtrans %}</th>
        <th>{% trans %}Total notofficially{% endtrans %}</th>
        <th>{% trans %}Planned accruals{% endtrans %}</th>
        <th>{% trans %}Accruals notofficially{% endtrans %}</th>
        <th>{% trans %}Not Official salary{% endtrans %}</th>
        <th>{% trans %}Real salary{% endtrans %}</th>
    </tr>
    </thead>
    <tbody>
        {% set counter = 0 %}
        {% for coworker in coworkers %}
            {% set counter = counter + 1 %}
            <tr id="row{{ coworker.idCoworker }}{{ coworker.replacementId }}">
                {{  include(
                'ITDoorsOperBundle:Coworker:coworkerTableRow.html.twig',
                        {
                        coworker: coworker,
                        counter: counter,
                        date: year~'-'~month,
                        }
                    )
                }}
            </tr>
        {% endfor %}
    </tbody>


</table>

<input type="hidden" id="info_input"
        data-url_user_info = "{{ path('it_doors_oper_schedule_show_user_basic_table') }}"
        data-date="{{ year }}-{{ month }}"
        data-url_reload_sums="{{ path('it_doors_oper_schedule_sums_table') }}"

        >