{% if coworkerSupervisorPage %}
    {% set filterName = 'ScheduleSupervisorFilterFormType'  %}
{% else %}
    {% set filterName = 'ScheduleFilterFormType'  %}
{% endif %}

{{ ajax_filter_render(filterName, ajax_namespace_oper_department_schedule, {
'schedule_content': 'ITDoorsAjax.updateList'
}) }}

<div id="form_modal_more_info" class="modal fade" role="basic" aria-hidden="true">
    <div class="modal-dialog" style="width: 60%; min-width: 650px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">
                    <span id="day_header_date"></span> -
                    {% trans %}Day schedule{% endtrans %}
                </h4>
            </div>
            <div class="modal-body">
                <div id="moreInfoTpl" data-text="{% trans from 'ListsContactBundle' %}Loading data. Please wait{% endtrans %}">
                </div>
                <a class="btn green right_float" data-dismiss="modal" aria-hidden="true">{% trans %}Exit {% endtrans %}</a>
                <br>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
</div>


<div id="total_schedule">
    {{ render(controller('ITDoorsOperBundle:OperSchedule:scheduleTable', {
    'id': 0
    })) }}
</div>

<script src="{{ asset('bundles/itdoorsajax/js/jquery.forms.js') }}" type="text/javascript"></script>
<script src="{{ asset('bundles/itdoorsajax/js/itdoors.ajax.js?v=1.01') }}" type="text/javascript"></script>
<!-- END PAGE LEVEL SCRIPTS -->
<script>
    jQuery(document).ready(function() {
        SD.init({
            ajaxFormUrl: '{{ path('sd_common_ajax_form') }}',
            ajaxDeleteUrl: '{{ path('sd_common_ajax_delete') }}',
            assetsDir: '{{ asset('') }}'
        });
        ITDoorsAjax.init({
            assetsDir: '{{ asset('') }}'
        });
        //Index.initJQVMAP(); // init index page's custom scripts
        //Index.initCalendar(); // init index page's custom scripts
        //Index.initCharts(); // init index page's custom scripts
        //Index.initChat();
        //Index.initMiniCharts();
        //Index.initDashboardDaterange();
        //Index.initIntro();
        //Tasks.initDashboardWidget();
    });
</script>
