{% trans_default_domain 'ListsOrganizationBundle' %}
<div class="table-responsive">
    <div class="navigation">
        {{ ajax_paginator_render(
                    pagination, namespase, {
                            'datatable_ajax': 'ITDoorsAjax.updateList'
                        }
                    )
        }}
    </div>
    <table class="table table-striped table-bordered table-advance table-hover">
        <thead>
            <tr>
                <th>{% trans %}ID{% endtrans %} </th>
                <th>{% trans %}Name{% endtrans %} </th>
                <th>{% trans %}Edrpou{% endtrans %} </th>
                <th>{% trans %}City{% endtrans %} </th>
                <th>{% trans %}Region{% endtrans %} </th>
                <th>{% trans %}Scope{% endtrans %} </th>
                <th>{% trans %}Managers{% endtrans %} </th>
            </tr>
        </thead>
        <tbody>
            {% for item in pagination %}
                <tr {% if loop.index is odd %}class="color"{% endif %}>
                    <td>
                        {% if item.creatorId == app.user.id %}
                        <a
                            href="{{ path('lists_' ~ baseRoutePrefix ~ '_organization_show', { id: item.organizationId }) }}">
                            {{ item.organizationId|e }}
                        </a>
                        {% else %}
                            {{ item.organizationId|e }}
                        {% endif %}
                    </td>
                    <td>{{ item.organizationName|e }}</td>
                    <td>{{ item.edrpou|e }}</td>
                    <td>{{ item.cityName|e }}</td>
                    <td>{{ item.regionName|e }}</td>
                    <td>{{ item.scopeName|e }}</td>
                    <td>{{ item.fullNames|e }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="navigation">
        {{ ajax_paginator_render(
            pagination, namespase, {
                    'datatable_ajax': 'ITDoorsAjax.updateList'
                }
            )
        }}
    </div>
</div>
