{% trans_default_domain 'ListsProjectBundle' %}
{% if access.canChangeManager%}
<script>
    $(document).ready(function(){
        $('.part-editable').editable({
            url: '{{ path('lists_project_ajax_editable_manager') }}',
            success: function(response, newValue) {
                if(response.error){
                    return false;
                }
            }
        });
        $('.part-editable').on('save', function(e, params) {
                var response = JSON.parse(params.response);
                if(response.manager.managerPart){
                    $('#managerProjectPart'+response.manager.managerId).text(response.manager.managerPart);
                }
            });
        $('.ajax-delete-and-update').on('click', function(e) {
            e.preventDefault();

            if (!confirm('{% trans %}Delete manager{% endtrans %}?'))
            {
                return;
            }

            var parentElement = $(this).parents('tr');
            var params = $(this).data('params');
            parentElement.css('opacity', '0.5');

            $.ajax({
                url: '{{ path('sd_common_ajax_delete') }}',
                type: 'POST',
                data: {
                    params: params
                },
                success: function(response) {
                    ITDoorsAjax.updateList('managers_list');
                }
            });
        });
        
    
 });
 </script>
{% endif %}

<table class="table table-striped table-hover table-bordered">
    <thead>
    <tr>
        <th>{% trans %}FirstName, LastName{% endtrans %}</th>
        <th>{% trans %}Mobile{% endtrans %}</th>
        <th>{% trans %}Email{% endtrans %}</th>
        <th>{% trans %}Role{% endtrans %}</th>
        <th>{% trans %}Percentage of participation{% endtrans %}</th>
        {% if access.canChangeManager%}
        <th>{% trans %}Action{% endtrans %}</th>
        {% endif %}
    </tr>
    </thead>
    <tbody>
    {% for item in managers %}
        <tr>
            <td>{{ item.user.firstName }} {{ item.user.lastName }}</td>
            <td>{{ item.user.stuff.mobilephone }}</td>
            <td>{{ item.user.email }}</td>
            <td>{{ item.getRole|trans }}</td>
            <td>
                {% if managerProject.getUser() == app.user and item.user != app.user and access.canChangeManager  %}
                    <a href="#"
                       class="part-editable"
                       data-name="part"
                       data-type="text"
                       data-pk="{{ item.id }}"
                       data-value="{{ item.part }}"
                       data-original-title="{% trans %}Change part{% endtrans %}"
                    >
                        {{ item.part }}
                    </a>
                {% else %}
                    <div id="managerProjectPart{{item.id}}">{{ item.part }}
                {% endif %}
            </td>
            {% if access.canChangeManager%}
            <td>
                {% if item.isManager and item.user != app.user  %}
                    <a class="ajax-delete fa"
                        title="{% trans %}Delete{% endtrans %}"
                        href="javascript:;"
                        data-question="{% trans %}Delete manager{% endtrans %}?"
                        data-url="{{ path('lists_project_ajax_remove_manager', { id : item.id }) }}"
                    >{% trans %}Delete{% endtrans %}</a>
                {% endif %}
            </td>
             {% endif %}
        </tr>
    {% endfor %}
    </tbody>
</table>
