{% extends "::base.html.twig" %}
{% trans_default_domain 'ListsProjectBundle' %}
{% form_theme form 'ITDoorsCommonBundle:Form:form_errors.html.twig' %}
{% block title %}{% trans %}List of actions{% endtrans %} {% endblock %}
{% block page_title %}
    <h3 class="page-title">
        {% trans %}Action{% endtrans %} <small>{% trans %}period of actions{% endtrans %}</small>
    </h3>
{% endblock %}
{% block page_breadcrumbs %}
    <ul class="page-breadcrumb breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="{{ path('sd_dashboard_homepage') }}">{% trans %}Dashboard{% endtrans %}</a>
        </li>
        <li><a href="">{% trans %}Action{% endtrans %}</a></li>
    </ul>
{% endblock %}
{% block css_page_level_plugin %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('metronic/assets/global/plugins/select2/select2.css')}} " />
    <link rel="stylesheet" type="text/css" href="{{ asset('metronic/assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.css')}} " />
    <link rel="stylesheet" type="text/css" href="{{ asset('metronic/assets/global/plugins/bootstrap-datepicker/css/datepicker.css')}} " />
{% endblock %}

{% block js_page_level_plugins %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('metronic/assets/global/plugins/select2/select2.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('metronic/assets/global/plugins/select2/select2_locale_'~ app.request.getLocale() ~'.js') }}"></script>
    <script type="text/javascript" src="{{ asset('metronic/assets/global/plugins/datatables/media/js/jquery.dataTables.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('metronic/assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js') }}"></script>
    <script type="text/javascript" src="{{ asset('metronic/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js')}} "></script>
    <script type="text/javascript" src="{{ asset('metronic/assets/global/plugins/bootstrap-datepicker/js/locales/bootstrap-datepicker.ru.js')}} "></script>
    <script type="text/javascript" src="{{ asset('metronic/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js')}} "></script>
    <script type="text/javascript" src="{{ asset('metronic/assets/global/plugins/bootstrap-datepicker/js/locales/bootstrap-datepicker.ru.js')}} "></script>
{% endblock %}

{% block body %}

    <script type="text/javascript">
        $(document).ready(function(){

            $('.date-picker').datepicker({
                rtl: Metronic.isRTL(),
                autoclose: true,
                format: "dd.mm.yyyy",
                pickerPosition: (Metronic.isRTL() ? "bottom-right" : "bottom-left"),
                language: 'ru',
                weekStart: 1
            });
        });

    </script>

<div class="row">
    <div class="col-md-12">
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption"><i class="fa fa-reorder"></i>{% trans %}Create report{% endtrans %}</div>
                <div class="tools">
                    <a class="collapse" href="javascript:;"></a>
                </div>
            </div>
            <div class="portlet-body form">
                {{ form_start(form,
                    {
                        'action': path('lists_project_simple_report_message'),
                        'attr': {'class' : 'horizontal-form', 'novalidate': 'novalidate'}
                    })
                }}
                {{ form_errors(form) }}
                    <div class="form-body">
                        <div class="alert alert-danger display-hide">
                            <button class="close" data-close="alert"></button>
                            {% trans %}You have some form errors. Please check below.{% endtrans %}
                        </div>
                        <div class="row">
                            <div class="col-md-3{% if form.fromDate.vars.errors|length %} has-error{% endif %}">
                                <div class="form-group">
                                    {{ form_label(form.fromDate, 'From DateTime *', {'attr': {'class': 'control-label'}}) }}
                                    <div class="input-group input-medium date date-picker">
                                        {{ form_widget(form.fromDate, {'attr': {
                                        'class': 'form-control',
                                        'data-required': '1',
                                        'placeholder': 'Enter From DateTime',
                                        'readonly': 'readonly'
                                        } }) }}
                                        <span class="input-group-btn">
                                            <button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
                                        </span>
                                    </div>
                                    {% if form.fromDate.vars.errors|length %}
                                        {{ form_errors(form.fromDate) }}
                                    {% else %}
                                        <span class="help-block">{% trans %}Enter From DateTime{% endtrans %}</span>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-md-3{% if form.toDate.vars.errors|length %} has-error{% endif %}">
                                <div class="form-group">
                                    {{ form_label(form.toDate, 'To DateTime *', {'attr': {'class': 'control-label'} }) }}
                                    <div class="input-group input-medium date date-picker">
                                        {{ form_widget(form.toDate, {'attr': {'class': 'form-control', 'data-required': '1','placeholder': 'Enter To DateTime','readonly': 'readonly'} }) }}
                                        <span class="input-group-btn">
                                            <button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
                                        </span>
                                    </div>
                                    {% if form.toDate.vars.errors|length %}
                                        {{ form_errors(form.toDate) }}
                                    {% else %}
                                        <span class="help-block">{% trans %}Enter To DateTime{% endtrans %}</span>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-md-3">
                                 <div class="form-group">
                                    {{ form_label(form.managers, 'Manager', {'attr': {'class': 'control-label'}}) }}
                                    {{ form_widget(form.managers)}}    
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    {{ form_widget(form.create, { 'label': 'Create', 'attr': {'class': 'btn green'}} ) }}
                                </div>
                            </div>
                        </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% if results|length > 0 %}
<script>
    $(document).ready(function(){
        $('.toggle-show').on('click', function(){
            var objects = $('.'+$(this).data('class'));
            $(this).text(objects.is(':visible') ? '+' : '-');
            objects.toggle('visible');
            return false;
        });
    });
</script>
{#<div class="portlet">
    <div class="">
        <div class="">
            <div class="btn-group">
                <a class="btn default green-stripe" href="{{ path('lists_handling_export_report_to_excel')}}">
                    <i class="fa fa-share"></i>
                    <span class="hidden-480">{% trans %}Export to Excel{% endtrans %}</span>
                </a>
            </div>
        </div>
    </div>
</div>#}
<div class="table-scrollable">
    <table class="table table-striped table-bordered table-advance table-hover" id="report-activity-content">
        <thead>
            <tr>
                <th>{% trans %}ID{% endtrans %}</th>
                <th>{% trans %}Organization{% endtrans %}</th>
                <th>{% trans %}Date{% endtrans %}</th>
                <th>{% trans %}View action{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
        {% for result in results %}
            <tr>
                <td colspan="4" style="vertical-align: middle">{{ result.user }}</td>
            </tr>
            {% set actionName = null %}
            {% for message in result.message %}
                {% if actionName != message.type %}
                    {% set actionName = message.type %}
                    {% for actionCount in result.count %}
                        {% if message.type.name == actionCount.typeAction %}
                            <tr>
                                <td><a style="" href="#" class="toggle-show" data-class="{{ result.user.id }}-{{ message.type.id }}">+</a></td>
                                <td colspan="2"></td>
                                <td>{{ actionCount.typeAction }} ({{ actionCount.countAction}})</td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                {% endif %}
                <tr class="{{ result.user.id }}-{{ message.type.id }}" style="display:none">                    
                    <td>{{ message.id }}</td>
                    <td><a href="{{ path('lists_project_'~message.project.getDiscr()~'_show', { id : message.project.id }) }}" title="{% trans %}Show Handling{% endtrans %}">{{ message.project.organization }}</a></td>
                    <td>{{ message.eventDatetime | date('d.m.Y H:i') }}</td>
                    <td><a href="{{ path('lists_project_'~message.project.getDiscr()~'_show', { id : message.project.id }) }}#message_{{ message.id }}"  title="{% trans %}Show action{% endtrans %}">{{ message.type }}</td>
                </tr>
            {% endfor %}
        {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}
{% endblock body %}
