{% trans_default_domain 'SDCalendarBundle' %}
<div class="table-scrollable">
    <table class="table table-striped table-bordered table-hover dataTable" aria-describedby="datatable_ajax_info">
        <thead>
            <tr role="row" class="heading">
                <th width="5%" class="sorting_disabled" role="columnheader" rowspan="1" colspan="1">
                    {% trans %}ID{% endtrans %}
                </th>
                <th width="5%" class="sorting_disabled" role="columnheader" rowspan="1" colspan="1">
                    {% trans %}Name{% endtrans %}
                </th>
                <th width="5%" class="sorting" role="columnheader" tabindex="0" aria-controls="datatable_ajax" rowspan="1" colspan="1">
                    {% trans %}Short description{% endtrans %}
                </th>
                <th width="5%" class="sorting_desc" role="columnheader" tabindex="0" aria-controls="datatable_ajax" rowspan="1" colspan="1">
                    {% trans %}Action{% endtrans %}
                </th>
            </tr>
        </thead>
        <tbody role="alert" aria-live="polite" aria-relevant="all">
            {% for item in entities %}
                <tr class="{{ cycle(['odd', 'even'], item.id) }}">
                    <td class="">{{ item.id }}</td>
                    <td class="">{{ item.name }}</td>
                    <td class="">{{ item.shortDescription }}</td>
                    <td class="">
                        <a class="ajax-delete fa fa-trash-o"
                            title="{% trans %}Delete{% endtrans %}"
                            href="javascript:;"
                            data-params='{"model":"Holiday","id":{{ item.id }}}'
                        ></a>
                        
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>