{% trans_default_domain 'SDCalendarBundle' %}
<div id="form_modal_contact" class="modal fade" role="basic" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">{% trans from 'SDCalendarBundle' %}Edit holiday{% endtrans %}</h4>
            </div>
            <div class="modal-body">
                <div id="modelContactFormTpl" data-text="{% trans from 'ListsContactBundle' %}Loading data. Please wait{% endtrans %}">
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
</div>
<script>
    $(document).ready(function(){
         $('.editable-holiday').editable({
            url: '{{ path('sd_holiday_save') }}',
            emptytext: '{% trans %}Enter value{% endtrans %}'
        });
         $('.date-holiday').live('mouseover', function(e){
            e.preventDefault();

            $(this).on('shown', function(e, editable) {
                var input = editable.input.$input;
                input.attr('readonly', 'readonly');
                input.datepicker({
                    rtl: Metronic.isRTL(),
                    autoclose: true,
                    format: "dd.mm",
                    pickerPosition: (Metronic.isRTL() ? "bottom-right" : "bottom-left"),
                    language: 'ru',
                    weekStart: 1
                });
            });
        });
    });
</script>
<div class="table-scrollable">
    <table class="table table-striped table-bordered table-hover dataTable" aria-describedby="datatable_ajax_info">
        <thead>
            <tr role="row" class="heading">
                <th>{% trans %}ID{% endtrans %}</th>
                <th>{% trans %}Date{% endtrans %}</th>
                <th>{% trans %}Name{% endtrans %}</th>
                <th>{% trans %}Short description{% endtrans %}</th>
                <th>{% trans %}Description{% endtrans %}</th>
                <th>{% trans %}Action{% endtrans %}</th>
            </tr>
        </thead>
        <tbody role="alert" aria-live="polite" aria-relevant="all">
            {% for item in entities %}
                <tr class="{{ cycle(['odd', 'even'], item.id) }}">
                    <td class="">{{ item.id }}</td>
                    <td class="">
                        <a href="#"
                            class="date-holiday editable-holiday"
                            data-name="date"
                            data-type="text"
                            data-pk="{{ item.id }}"
                            data-value="{{ item.date | date('d.m') }}"
                            data-original-title="{% trans %}Enter date{% endtrans %}"
                        >{{ item.date | date('d.m') }}</a>
                    </td>
                    <td class="">
                        <a class="editable-holiday" href="#" id="name" data-type="text" data-pk="{{ item.id }}" data-original-title="{% trans %}Name{% endtrans %}">{{ item.name }}</a>
                    </td>
                    <td class="">
                        <a class="editable-holiday" href="#" id="shortDescription" data-type="textarea" data-pk="{{ item.id }}" data-original-title="{% trans %}Short description{% endtrans %}">{{ item.shortDescription }}</a>
                    </td>
                    <td class="">
                        <a class="editable-holiday" href="#" id="description" data-type="textarea" data-pk="{{ item.id }}" data-original-title="{% trans %}Description{% endtrans %}">{{ item.description }}</a>
                    </td>
                    <td class="">
                        <a class="ajax-delete fa fa-trash-o"
                            title="{% trans %}Delete{% endtrans %}"
                            href="javascript:;"
                            data-params='{"model":"Holiday","id":{{ item.id }}}'
                        ></a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>