{% trans_default_domain 'ListsOrganizationBundle' %}

<script>
    $(document).ready(function(){
        SD.select2('#' + '{{ filterForm.vars.name }}' + '_firstName', {
            multiple: true
        });
        SD.select2('#' + '{{ filterForm.vars.name }}' + '_position', {
            multiple: true
        });
        SD.select2('#' + '{{ filterForm.vars.name }}' + '_email', {
            multiple: true
        });
        SD.select2('#' + '{{ filterForm.vars.name }}' + '_isActive', {
            minimumInputLength: 0,
            allowClear: true
        });
        SD.select2('#' + '{{ filterForm.vars.name }}' + '_isFired', {
            minimumInputLength: 0,
            allowClear: true
        });
    });
</script>

<div class="row ">
	<div class="col-md-12">
		<div class="portlet box yellow">
			<div class="portlet-title">
				<div class="caption">
                    <i class="fa fa-reorder"></i>
                    {{ 'Filters'|trans({}, 'messages') }}
                </div>
				<div class="tools"><a class="collapse" href="" title="{% trans %}Filters{% endtrans %}"></a></div>
			</div>
			<div class="portlet-body">
                <p>{% trans %}Enter filter parameters and press Filter button.{% endtrans %}</p>
                {{ form_start(filterForm,
                    {
                        'action': path('sd_user_staff_filter'),
                        'attr': {'novalidate': 'novalidate', 'class': 'form-inline', 'role': 'form'}
                    })
                }}
                <div class="row">
                    {{ form_errors(filterForm) }}
                    <div class="form-group col-md-3">
                        {{ form_widget(filterForm.firstName, {'attr': {
                            'class': 'form-control select2 input-middle',
                            'placeholder': 'Enter fio',
                            'data-url': path('sd_common_ajax_user_fio'),
                            'data-url-by-id': path('sd_common_ajax_user_by_ids')
                        }}) }}
                    </div>
                    <div class="form-group col-md-3">
                        {{ form_widget(filterForm.email, {'attr': {
                            'class': 'form-control select2 input-middle',
                            'placeholder': 'Enter email',
                            'data-url': path('sd_common_ajax_user_email'),
                            'data-url-by-id': path('sd_common_ajax_user_by_ids')
                        }}) }}
                    </div>
                    <div class="form-group col-md-3">
                        {{ form_widget(filterForm.position, {'attr': {
                            'class': 'form-control select2 input-middle',
                            'placeholder': 'Enter position',
                            'data-url': path('sd_common_ajax_user_position'),
                            'data-url-by-id': path('sd_common_ajax_user_by_ids')
                        }}) }}
                    </div>
                    <div class="form-group col-md-3">
                        {#{{ form_label(filterForm.city, 'Enter City', {'attr': {'class': 'sr-only'}}) }}#}
                        {#{ form_widget(filterForm.customer, {'attr': {
                            'class': 'form-control select2 input-middle',
                            'placeholder': 'Enter Customer',
                            'data-url': path('sd_common_ajax_organization_for_contacts'),
                            'data-url-by-id': path('sd_common_ajax_organization_by_ids')
                        }}) }#}
                    </div>
                    <div class="form-group col-md-3">
                        {#{{ form_label(filterForm.city, 'Enter City', {'attr': {'class': 'sr-only'}}) }}#}
                        {#{ form_widget(filterForm.performer, {'attr': {
                            'class': 'form-control select2 input-middle',
                            'placeholder': 'Enter Performer',
                            'data-url': path('sd_common_ajax_organization_for_contacts'),
                            'data-url-by-id': path('sd_common_ajax_organization_by_ids')
                        }}) }#}
                    </div>
                </div>
                    <br>
                <div class="row">
                    <div class="form-group col-md-3">
                        {{ form_widget(filterForm.isActive, {'attr': {
                            'class': 'form-control select2 input-middle',
                            'placeholder': 'Status',
                        }}) }}
                    </div>
                    <div class="form-group col-md-3">
                        {{ form_widget(filterForm.isFired, {'attr': {
                            'class': 'form-control select2 input-middle',
                            'placeholder': 'Fired',
                        }}) }}
                    </div>
                    <div class="form-group col-md-3">
                        {#{ form_widget(filterForm.dogovorType, {'attr': {
                            'class': 'form-control select2',
                            'placeholder': 'Dogovor Type',
                        }}) }#}
                    </div>
                    <div class="form-group col-md-3">
                        {#{ form_widget(filterForm.number, {'attr': {
                            'class': 'form-control',
                            'placeholder': 'Enter Number',
                        }}) }#}
                    </div>
                    <div class="form-group col-md-3">
                        {{ form_widget(filterForm.save, { 'label': 'Filter', 'attr': {'class': 'btn green'}} ) }}
                        {{ form_widget(filterForm.reset, { 'label': 'Clear Filter', 'attr': {'class': 'btn'}} ) }}
                    </div>
                </div>
                {{ form_end(filterForm) }}
		    </div>
		</div>
	</div>
</div>