{% extends "::base.html.twig" %}
{% trans_default_domain 'SDUserBundle' %}
{% block title %}{% trans %}List of users{% endtrans %} {% endblock %}
{% block page_title %}
    <h3 class="page-title">
        {% trans %}Users <small>list of users</small>{% endtrans %}
    </h3>
{% endblock %}
{% block page_breadcrumbs %}
    <ul class="page-breadcrumb breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="{{ path('sd_dashboard_homepage') }}" title="{% trans %}Dashboard{% endtrans %}">{% trans %}Dashboard{% endtrans %}</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li><a href="" title="{% trans %}User list{% endtrans %}">{% trans %}User list{% endtrans %}</a></li>
    </ul>
{% endblock %}

{% block css_page_level_plugin %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('metronic/assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.css')}} " />
    <link rel="stylesheet" type="text/css" hrefasset('metronic/assets/global/plugins/ugins/select2/select2.css')}} " />
{% endblock %}

{% block js_page_level_plugins %}
    {{ parent() }}
    <script type="text/javascriptasset('metronic/assets/global/plugins/ic/plugins/select2/select2.min.js') }}"></script>
    <script type="text/javasasset('metronic/assets/global/plugins/etronic/plugins/data-tables/jquery.dataTables.min.js') }}"></script>
    <script type="text/asset('metronic/assets/global/plugins/tes/metronic/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js') }}"></script>
{% endblock %}

{% block body %}
    {{ include('SDUserBundle:' ~ baseTemplate ~ ':list.html.twig', {items: items}) }}
{% endblock body %}
