{% trans_default_domain 'SDUserBundle' %}
<div class="portlet box blue" id="groups">
	<div class="portlet-title">
		<div class="caption">
			<i class="fa fa-edit"></i>{% trans %}User Groups{% endtrans %}
		</div>
		<div class="tools">
			<a href="javascript:;" class="collapse" data-original-title="" title="">
			</a>
		</div>
	</div>
	<div class="portlet-body">
        <table  class="table table-striped table-hover table-bordered dataTable no-footer">
            <thead>
                <tr>
                    <th width="30%" role="columnheader" rowspan="1" colspan="1">{% trans %}Group{% endtrans %}</th>
                    <th width="50%" role="columnheader" rowspan="1" colspan="1">{% trans %}User Roles{% endtrans %}</th>
                    <th width="20%" role="columnheader" rowspan="1" colspan="1">{% trans %}Edit{% endtrans %}</th>
                </tr>
            </thead>
            <tbody>
                {% for group in groups %}
                <tr>
                    <td>{{ group.name }}</td>
                    <td>{{ group.roles | join(', ') }}</td>
                    <td>
                        <input name="groups" type="checkbox" class="checkboxes" {% if group in userGroups %}checked="true"{% endif %} value="{{ group.id }}">
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
	</div>
</div>
<div class="portlet box blue" id="roles">
	<div class="portlet-title">
		<div class="caption">
			<i class="fa fa-edit"></i>{% trans %}User Roles{% endtrans %}
		</div>
		<div class="tools">
			<a href="javascript:;" class="collapse" data-original-title="" title="">
			</a>
		</div>
	</div>
	<div class="portlet-body">
        <table  class="table table-striped table-hover table-bordered dataTable no-footer">
            <thead>
                <tr>
                    <th width="80%" role="columnheader" rowspan="1" colspan="1">{% trans %}Role{% endtrans %}</th>
{#                     <th width="20%" role="columnheader" rowspan="1" colspan="1">{% trans %}Edit{% endtrans %}</th>#}
                </tr>
            </thead>
            <tbody>
                {% for role in roles %}
                <tr>
                    <td>{{ role }}</td>
{#                     <td>#}
{#                         <input name="roles" type="checkbox" class="checkboxes" disabled="disabled" value="{{ role }}">#}
{#                     </td>#}
                </tr>
                {% endfor %}
            </tbody>
        </table>
	</div>
</div>

<script>
    $(document).ready(function(){
    	$('.checkboxes').uniform();
        $('.checkboxes').change(function(){
            var name = $(this).attr('name');
            $.ajax({
                type: 'GET',
                url: "{{ url('sd_user_assign_group_or_role') }}",
                dataType: 'json',
                data: {
                    id: {{ userId }},
                    action: name,
                    value: $(this).val(),
                    checked: $(this).prop('checked')
                },
                beforeSend: function () {
                	SD.blockUI($('#' + name));
                },
                success: function(response) {
                	SD.unblockUI($('#' + name));
                }
            });
        });
    });
</script>