{% trans_default_domain 'SDUserBundle' %}
<div class="tab-pane active" id="tab_1_3">
    <div class="row profile-account">
        <div class="col-md-3">
            <ul class="ver-inline-menu tabbable margin-bottom-10">
                <li class="active">
                    <a data-toggle="tab" href="#tab_1-1">
                        <i class="fa fa-cog"></i>{% trans %}Contaсts{% endtrans %}
                    </a>
                    <span class="after"></span>
                </li>
                <li>
                    <a data-toggle="tab" href="#tab_2-2">
                        <i class="fa fa-lock"></i>{% trans %}Change Password{% endtrans %}
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-md-9">
            <div class="tab-content">
                <div id="tab_1-1" class="tab-pane active">
                    <button id="managers_list_new" class="btn green ajax-form"
                            data-target_holder="userContactinfoFormTpl"
                            data-form_name="userContactinfoForm"
                            data-post_function="updateList"
                            data-post_target_id="contact_list"
                            data-default='{"user_id":"{{ item.id }}"}'
                            >
                        {% trans %}Add Contact{% endtrans %} <i class="fa fa-plus"></i>
                    </button>
                    <div id="userContactinfoFormTpl"></div>
                    <div class="portlet-body" id="contact_list" data-url="{{ url('sd_user_show_contactinfo') }}">
                        {{ render(controller('SDUserBundle:User:contactinfo')) }}
                    </div>
                </div>
                <div id="tab_2-2" class="tab-pane">
                    <div id="change-password-form" data-url="{{ path('sd_user_change_password_form', { id : item.id }) }}">
                        {{ render(controller('SDUserBundle:User:ChangePasswordForm', {
                            id: item.id
                        })) }}
                    </div>
                </div>
            </div>
        </div>
        <!--end col-md-9-->
    </div>
</div>