{% trans_default_domain 'SDUserBundle' %}
{% if is_granted('ROLE_COACHADMIN') %}
<script>
    $(document).ready(function(){
    	$('#is_coach').editable({
            url: '{{ path('lists_coach_ajax_set_coach') }}',
            source: [
                     {value: 1, text: '{% trans from "ListsCoachBundle" %}is_coach{% endtrans %}'},
                     {value: 0, text: '{% trans from "ListsCoachBundle" %}not_coach{% endtrans %}'}
                 ]
        });
    });
</script>
{% endif %}
{% if isAdmin  or app.user.id == item.id %}
<script>
    $(document).ready(function(){
        $('#changeAvatar').on('hidden.bs.modal', function () {
            document.location.reload();
        });
        $('#locked').editable({
            url: '{{ path('sd_common_ajax_user_save') }}',
            source: [
                {value: 1, text: '{% trans %}Blocked{% endtrans %}'},
                {value: 0, text: '{% trans %}Active{% endtrans %}'}
            ],
            select2: {
                placeholder: '{% trans %}Select status blocked{% endtrans %}',
                minimumInputLength: 0,
                width: 250
            }
        });
        
        $('#username, #email, #position, #lastName, #firstName, #middleName').editable({
            url: '{{ path('sd_common_ajax_user_save') }}',
            emptytext: '{% trans %}Enter value{% endtrans %}'
        });
        
        
        $('.sd-user-editable').editable({
            url: '{{ path('sd_common_ajax_user_save') }}'
        });
        {% if item.stuffId is not empty %}
            $('#status').editable({
                url: '{{ path('sd_common_ajax_stuff_save') }}',
                emptytext: '{% trans %}Enter value{% endtrans %}',
                source: [
                    {value: 67, text: '{% trans %}Fired{% endtrans %}'},
                    {value: 68, text: '{% trans %}Worked{% endtrans %}'},
                    {value: 69, text: '{% trans %}Decree{% endtrans %}'}
                ],
                select2: {
                    placeholder: '{% trans %}Select status fired{% endtrans %}',
                    minimumInputLength: 0,
                    width: 250
                }
            });
            $('#mobilephone, #phonePersonal, #phoneInside, #education, #issues, #birthPlace').editable({
                url: '{{ path('sd_common_ajax_stuff_save') }}',
                emptytext: '{% trans %}Enter value{% endtrans %}'
            });
            $('.sd-stuff-editable').editable({
                url: '{{ path('sd_common_ajax_stuff_save') }}'
            });
            $('#companystructureId').editable({
                url: '{{ path('sd_common_ajax_stuff_save') }}',
                source: '{{ path('sd_common_ajax_company_structure') }}',
                emptytext: '{% trans %}Enter value{% endtrans %}',
                select2: {
                    placeholder: '{% trans %}Select companystructure{% endtrans %}',
                    minimumInputLength: 0,
                    width: 250,
                    allowClear: true
                }
            });

            $('#userPosition').editable({
                url: '{{ path('sd_common_ajax_stuff_save') }}',
                source: '{{ path('sd_common_ajax_user_position_table') }}',
                emptytext: '{% trans %}Enter value{% endtrans %}',
                select2: {
                    placeholder: '{% trans %}Select position{% endtrans %}',
                    minimumInputLength: 0,
                    width: 250,
                    allowClear: true
                }
            });

        {% endif %}
        
        $('.sd-stuff-date').live('mouseover', function(e){

            e.preventDefault();

            $(this).on('shown', function(e, editable) {

                var input = editable.input.$input;

                input.attr('readonly', 'readonly');

                input.datepicker({
                    rtl: Metronic.isRTL(),
                    autoclose: true,
                    format: "dd.mm.yyyy",
                    pickerPosition: (Metronic.isRTL() ? "bottom-right" : "bottom-left"),
                    language: 'ru',
                    startView: 'decade',
                    //endDate: new Date(),
                    weekStart: 1
                });
            });
        });
        $('.sd-user-date').live('mouseover', function(e){

            e.preventDefault();

            $(this).on('shown', function(e, editable) {

                var input = editable.input.$input;

                input.attr('readonly', 'readonly');

                input.datepicker({
                    rtl: Metronic.isRTL(),
                    autoclose: true,
                    format: "dd.mm.yyyy",
                    pickerPosition: (Metronic.isRTL() ? "bottom-right" : "bottom-left"),
                    language: 'ru',
                    startView: 'decade',
                    //endDate: new Date(),
                    weekStart: 1
                });
            });
        });
       
    });
</script>
{% endif %}
<style type="text/css">
    #avatar, #preview-pane .preview-container img{
        width: 600px;
    }
    .jcrop-holder #preview-pane {
      display: block;
      position: absolute;
      z-index: 2000;
      top: 10px;
      right: -250px;
      padding: 6px;
      border: 1px rgba(0,0,0,.4) solid;
      background-color: white;

      -webkit-border-radius: 6px;
      -moz-border-radius: 6px;
      border-radius: 6px;

      -webkit-box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
      -moz-box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
      box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
    }
    #preview-pane .preview-container {
      width: 200px;
      height: 200px;
      overflow: hidden;
    }
    @media (max-width: 1024px) {
    .jcrop-holder #preview-pane {
        right: 0;
    }
}
</style>

<link href="{{ asset('templates/metronic/plugins/jcrop/css/jquery.Jcrop.min.css')}}" rel="stylesheet" type="text/css"/>
<script src="{{ asset('templates/metronic/plugins/jcrop/js/jquery.color.js')}}" type="text/javascript"></script>
<script src="{{ asset('templates/metronic/plugins/jcrop/js/jquery.Jcrop.min.js')}}" type="text/javascript"></script>

<div id="changeAvatar" class="modal fade" role="basic" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">{% trans %}Change photo profile{% endtrans %}</h4>
            </div>
            <div id="userAvatarFormTpl" data-text="{% trans from 'ListsContactBundle' %}Loading data. Please wait{% endtrans %}"></div>

        </div>
        <!-- /.modal-content -->
    </div>
</div>

<div class="row profile">
    <div class="col-md-12">
        <div class="tab-pane active" id="tab_1_1">
            <div class="row">
                <div class="col-md-3">
                    <ul class="list-unstyled profile-nav">
                        <li>
                            {% if item.photo is not empty %}
                                <img src="{{ web_image( userprofiles_url ~ item.id ~ '/' ~ item.photo).resize(820) }}" class="img-responsive" alt=""/>
                            {% else %}
                                <img src="{{ asset( userprofiles_url ~  'no_avatar.png') }}" class="img-responsive" alt=""/>
                            {% endif %}
                            {% if app.user.id == item.id or is_granted('ROLE_HRADMIN') %}
                            <a 
                                id="managers_list_new"
                                data-toggle="modal"
                                href="#changeAvatar"
                                data-target_holder="userAvatarFormTpl"
                                data-target_holder="changeAvatar"
                                data-form_name="userAvatarForm"
                                data-default='{"user_id":{{ item.id }},"url":"{{ item.photo is not empty ? userprofiles_url ~ item.id ~ '/original_' ~ item.photo : '' }}"}'

                                {#data-post_function="updateList"
                                data-post_target_id="messages_list"#}
                                class="profile-edit btn default ajax-form">{% trans %}Change photo{% endtrans %}</a>
                            {% endif %}
                        </li>
                    </ul>
                </div>
                <div class="col-md-9">
                    <div class="row">
                        <div class="col-md-12 profile-info">
                            <h1>{{ item.lastName }} {{ item.firstName }} {{ item.middleName }}</h1>
                            <p>{{ item.issues }}</p>
                            <ul class="list-inline">
                                <li>
                                    <i class="fa fa-map-marker"></i> {{ item.companyName }}
                                </li>
                                <li>
                                    <i class="fa fa-calendar"></i> {{ item.birthday == '' ? '' : item.birthday|date('d.m.Y') }}
                                </li>
                                <li>
                                    <i class="fa fa-briefcase"></i> {{ item.position }}
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="tabbable tabbable-custom tabbable-custom-profile">
    
                        <div class="tab-content">
                            <div class="tab-pane active" id="tab_1_11">
                                <div class="portlet-body">
                                    <table class="table table-striped table-bordered table-advance table-hover">
                                        <tbody>
                                            {% if item.stuffId is not empty %}
                                                <tr>
                                                    <td class="hidden-xs">
                                                        {% trans %}Subdivision{% endtrans %} 
                                                    </td>
                                                    <td>
                                                        {% if isAdmin %}
                                                         <a href="#" id="companystructureId" data-type="select2" data-pk="{{ item.stuffId }}" data-original-title="{% trans %}Companustructure{% endtrans %}">
                                                            {{ item.companyName }}
                                                         </a>
                                                         {% else %}
                                                            {{ item.companyName }}
                                                        {% endif %}
                                                    </td>
                                                </tr>
                                            {% endif %}
                                            <tr>
                                                <td class="hidden-xs">
                                                    {% trans %}Position{% endtrans %}
                                                </td>
                                                <td>
                                                    {% if isAdmin or app.user.id == item.id %}
                                                        <a href="#" id="userPosition" data-type="select" {#data-value="{{ item.locked }}"#} data-pk="{{ item.id }}" data-placement="right" data-placeholder="{% trans %}Choose position{% endtrans %}" data-original-title="{% trans %}Choose position{% endtrans %}">
                                                            {{ item.userPositionName }}
                                                        </a>
                                                    {% else %}
                                                        {{ item.userPositionName }}
                                                    {% endif %}
                                                </td>
                                            </tr>
                                            {% if isAdmin or app.user.id == item.id %}
                                                <tr>                                                                                                
                                                    <td class="hidden-xs">
                                                        {% trans %}Position description{% endtrans %}
                                                    </td>
                                                    <td>
                                                        <a href="#" id="position" data-type="text" data-pk="{{ item.id }}" data-placement="right" data-placeholder="{% trans %}Enter position description{% endtrans %}" data-original-title="{% trans %}Enter position description{% endtrans %}">
                                                            {{ item.position }}
                                                        </a>
                                                    </td>
                                                </tr>
                                                <tr>                                                                                                
                                                    <td class="hidden-xs">
                                                        {% trans %}Last name{% endtrans %} 
                                                    </td>
                                                    <td>
                                                        <a href="#" id="lastName" data-type="text" data-pk="{{ item.id }}" data-placement="right" data-placeholder="{% trans %}Enter last name{% endtrans %}" data-original-title="{% trans %}Enter last name{% endtrans %}">
                                                            {{ item.lastName }}
                                                        </a>
                                                    </td>
                                                </tr>
                                                <tr>                                                                                                
                                                    <td class="hidden-xs">
                                                        {% trans %}First Name{% endtrans %} 
                                                    </td>
                                                    <td>
                                                        <a href="#" id="firstName" data-type="text" data-pk="{{ item.id }}" data-placement="right" data-placeholder="{% trans %}Enter first name{% endtrans %}" data-original-title="{% trans %}Enter first name{% endtrans %}">
                                                            {{ item.firstName }}
                                                        </a>
                                                    </td>
                                                </tr>
                                                <tr>                                                                                                
                                                    <td class="hidden-xs">
                                                        {% trans %}Middle Name{% endtrans %} 
                                                    </td>
                                                    <td>
                                                        <a href="#" id="middleName" data-type="text" data-pk="{{ item.id }}" data-placement="right" data-placeholder="{% trans %}Enter middle name{% endtrans %}" data-original-title="{% trans %}Enter middle name{% endtrans %}">
                                                            {{ item.middleName }}
                                                        </a>
                                                    </td>
                                                </tr>
                                            
                                            {% endif %}
                                            <tr>                                                                                                
                                                <td class="hidden-xs">
                                                    {% trans %}Username{% endtrans %} 
                                                </td>
                                                <td>
                                                    {% if isAdmin %}
                                                        <a href="#" id="username" data-type="text" data-pk="{{ item.id }}" data-placement="right" data-placeholder="{% trans %}Enter username{% endtrans %}" data-original-title="{% trans %}Enter username{% endtrans %}">
                                                            {{ item.username }}
                                                        </a>
                                                    {% else %}
                                                        {{ item.username }}
                                                    {% endif %}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="hidden-xs">
                                                    {% trans %}Blocked{% endtrans %} 
                                                </td>
                                                <td>
                                                    {% if isAdmin %}
                                                        <a href="#" 
                                                            id="locked" 
                                                            class="status-edit" 
                                                            data-type="select" 
                                                            data-pk="{{ item.id }}"
                                                            data-value="{{ item.locked }}" 
                                                            data-placement="right" 
                                                            data-original-title="{% trans %}Select status blocked{% endtrans %}">
                                                             {% if item.locked ==  true %}
                                                                 {% trans %}Blocked{% endtrans %}
                                                             {% else%}
                                                                 {% trans %}Active{% endtrans %}
                                                             {% endif%}
                                                         </a>
                                                    {% else %}
                                                        {{ item.locked  ? 'Blocked'| trans() : 'Active'| trans() }}
                                                    {% endif %}
                                                </td>
                                            </tr>
                                            
                                            <tr>                                                                                                
                                                <td class="hidden-xs">
                                                    {% trans %}Email{% endtrans %} 
                                                </td>
                                                <td>
                                                    {% if isAdmin or app.user.id == item.id %}
                                                        <a href="#" id="email" data-type="text" data-pk="{{ item.id }}" data-placement="right" data-placeholder="{% trans %}Enter email{% endtrans %}" data-original-title="{% trans %}Enter email{% endtrans %}">
                                                            {{ item.email }}
                                                        </a>
                                                    {% else %}
                                                        {{ item.email }}
                                                    {% endif %}
                                                </td>
                                            </tr>
                                            {% if item.stuffId is not empty %}
                                                <tr>                                                                                                
                                                    <td class="hidden-xs">
                                                        {% trans %}Corporate mobile{% endtrans %} 
                                                    </td>
                                                    <td>
                                                        {% if isAdmin or app.user.id == item.id %}
                                                            <a href="#" id="mobilephone" data-type="text" data-pk="{{ item.stuffId }}" data-placement="right" data-placeholder="{% trans %}Enter mobilephone{% endtrans %}" data-original-title="{% trans %}Enter mobilephone{% endtrans %}">
                                                                {{ item.mobilephone }}
                                                            </a>
                                                        {% else %}
                                                            {{ item.mobilephone }}
                                                        {% endif %}
                                                    </td>
                                                </tr>
                                                <tr>  
                                                    <td class="hidden-xs">
                                                        {% trans %}Personale phone{% endtrans %} 
                                                    </td>
                                                    <td>
                                                        {% if isAdmin or app.user.id == item.id %}
                                                            <a href="#" id="phonePersonal" data-type="text" data-pk="{{ item.stuffId }}" data-placement="right" data-placeholder="{% trans %}Enter phonePersonal{% endtrans %}" data-original-title="{% trans %}Enter phonePersonal{% endtrans %}">
                                                                {{ item.phonePersonal }}
                                                            </a>
                                                        {% else %}
                                                            {{ item.phonePersonal }}
                                                        {% endif %}
                                                    </td>
                                                </tr>
                                                <tr>  
                                                    <td class="hidden-xs">
                                                        {% trans %}Inside phone{% endtrans %} 
                                                    </td>
                                                    <td>
                                                        {% if isAdmin or app.user.id == item.id %}
                                                            <a href="#" id="phoneInside" data-type="text" data-pk="{{ item.stuffId }}" data-placement="right" data-placeholder="{% trans %}Enter phoneInside{% endtrans %}" data-original-title="{% trans %}Enter phoneInside{% endtrans %}">
                                                                {{ item.phoneInside }}
                                                            </a>
                                                        {% else %}
                                                            {{ item.phoneInside }}
                                                        {% endif %}
                                                    </td>
                                                </tr>
                                                <tr>  
                                                    <td class="hidden-xs">
                                                        {% trans %}Place of birth{% endtrans %} 
                                                    </td>
                                                    <td>
                                                        {% if isAdmin or app.user.id == item.id %}
                                                            <a href="#" id="birthPlace" data-type="text" data-pk="{{ item.stuffId }}" data-placement="right" data-placeholder="{% trans %}Enter birthPlace{% endtrans %}" data-original-title="{% trans %}Enter birthPlace{% endtrans %}">
                                                                {{ item.birthPlace }}
                                                            </a>
                                                        {% else %}
                                                            {{ item.birthPlace }}
                                                        {% endif %}
                                                    </td>
                                                </tr>
                                            {% endif %}
                                            {% if isAdmin or app.user.id == item.id%}
                                                <tr>                                                                                                
                                                   <td class="hidden-xs">
                                                       {% trans %}Birthday{% endtrans %} 
                                                   </td>
                                                   <td>
                                                        <a href="#"
                                                           class="sd-user-date sd-user-editable {% if item.birthday is empty %} editable-empty {% endif %}"
                                                           data-name="birthday"
                                                           data-type="text"
                                                           data-pk="{{ item.id }}"
                                                                {% if item.birthday %}
                                                                    data-value="{{ item.birthday|date("d.m.Y") }}"
                                                                {% endif %}
                                                           data-original-title="{% trans %}Enter birthday{% endtrans %}"
                                                                >
                                                            {% if item.birthday %}
                                                                {{ item.birthday|date("d.m.Y") }}
                                                            {% else %}
                                                                {% trans from 'messages' %}Enter value{% endtrans %}
                                                            {% endif %}
                                                       </a>
                                                   </td>
                                               </tr>
                                            {% endif %}
                                            {% if item.stuffId is not empty %}
                                            <tr>  
                                                <td class="hidden-xs">
                                                    {% trans %}Education{% endtrans %} 
                                                </td>
                                                <td>
                                                    {% if isAdmin or app.user.id == item.id %}
                                                        <a href="#" id="education" data-type="textarea" data-pk="{{ item.stuffId }}" data-placement="right" data-placeholder="{% trans %}Enter education{% endtrans %}" data-original-title="{% trans %}Enter education{% endtrans %}">{{ item.education }}</a>
                                                    {% else %}
                                                        {{ item.education }}
                                                    {% endif %}
                                                </td>
                                            </tr>
                                            {% if isAdmin or app.user.id == item.id %}
                                            <tr>  
                                                <td class="hidden-xs">
                                                    {% trans %}Enter issues{% endtrans %} 
                                                </td>
                                                <td>
                                                    <a href="#" id="issues" data-type="textarea" data-pk="{{ item.stuffId }}" data-placement="right" data-placeholder="{% trans %}Enter issues{% endtrans %}" data-original-title="{% trans %}Enter issues{% endtrans %}">{{ item.issues }}</a>
                                                </td>
                                            </tr>
                                            {% endif %}
                                            <tr>  
                                                <td class="hidden-xs">
                                                    {% trans %}Hire Date{% endtrans %} 
                                                </td>
                                                <td>
                                                    {% if isAdmin %}
                                                    <a href="#"
                                                        class="sd-stuff-date sd-stuff-editable {% if item.dateHire is empty %} editable-empty {% endif %}"
                                                        data-name="dateHire"
                                                        data-type="text"
                                                        data-pk="{{ item.stuffId }}"
                                                             {% if item.dateHire %}
                                                                 data-value="{{ item.dateHire|date("d.m.Y") }}"
                                                             {% endif %}
                                                        data-original-title="{% trans %}Enter Hire Date{% endtrans %}"
                                                             >
                                                         {% if item.dateHire %}
                                                             {{ item.dateHire|date("d.m.Y") }}
                                                         {% else %}
                                                             {% trans from 'messages' %}Enter value{% endtrans %}
                                                         {% endif %}
                                                    </a>
                                                    {% else %}
                                                        {{ item.dateHire == '' ? '' : item.dateHire|date('d.m.Y') }}
                                                    {% endif %}
                
                                                </td>
                                            </tr>
                                            <tr>  
                                                <td class="hidden-xs">
                                                    {% trans %}Termination date{% endtrans %} 
                                                </td>
                                                <td>
                                                    {% if isAdmin %}
                                                    <a href="#"
                                                        class="sd-stuff-date sd-stuff-editable {% if item.dateFire is empty %} editable-empty {% endif %}"
                                                        data-name="dateFire"
                                                        data-type="text"
                                                        data-pk="{{ item.stuffId }}"
                                                             {% if item.dateFire %}
                                                                 data-value="{{ item.dateFire|date("d.m.Y") }}"
                                                             {% endif %}
                                                        data-original-title="{% trans %}Enter termination date{% endtrans %}"
                                                             >
                                                         {% if item.dateFire %}
                                                             {{ item.dateFire|date("d.m.Y") }}
                                                         {% else %}
                                                             {% trans from 'messages' %}Enter value{% endtrans %}
                                                         {% endif %}
                                                    </a>
                                                    {% else %}
                                                        {{ item.dateFire == '' ? '' : item.dateFire|date('d.m.Y') }}
                                                    {% endif %}
                                                </td>
                                            </tr>
                                            <tr>  
                                                <td class="hidden-xs">
                                                    {% trans %}Status{% endtrans %} 
                                                </td>
                                                <td>
                                                    {% if isAdmin %}
                                                         <a href="#" 
                                                            id="status" 
                                                            class="status-edit" 
                                                            data-type="select" 
                                                            data-pk="{{ item.stuffId }}"
                                                            data-value="{{ item.status }}" 
                                                            data-placement="right" 
                                                            data-original-title="{% trans %}Select status fired{% endtrans %}">
                                                             {{ item.statusName }}
                                                         </a>
                                                    {% else %}
                                                        {{ item.statusName }}
                                                    {% endif %}
                                                </td>
                                            </tr>
                                            {% endif %}
                                            
                                            {% for contact in usercontactinfo %}
                                                <tr>
                                                    <td>{{ contact.contactinfo.name }}:</td>
                                                    <td>{{ contact.value }}</td>
                                                </tr>
                                            {% endfor %}
                                            
                                            {% if is_granted('ROLE_COACHADMIN') %}
                                            <tr>  
                                                <td class="hidden-xs">
                                                    {% trans from "ListsCoachBundle" %}Coach{% endtrans %}? 
                                                </td>
                                                <td>
                                                    <a href="#" 
                                                            id="is_coach" 
                                                            class="status-edit" 
                                                            data-type="select" 
                                                            data-pk="{{ item.username }}"
                                                            data-value="{{ coachStatus }}" 
                                                            data-placement="right" 
                                                            data-original-title="{% trans from "ListsCoachBundle" %}Add to coaches{% endtrans %}">
                                                     </a>
                                                </td>
                                            </tr>
                                            {% endif %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
