{% trans_default_domain 'SDUserBundle' %}

{{  include(
        'SDUserBundle:User:filters.html.twig',
        {
            filterForm: filterForm,
            filterFormName: filterFormName
        }
        )
    }}
{#<div class="navigation">
    {{ ajax_paginator_render(
            items, namespasePagin, {
                    'datatable_ajax': 'ITDoorsAjax.updateList'
                }
            )
    }}
</div>#}
<div class="table-scrollable">
    {% if items|length %}
        <table class="table table-striped table-bordered table-advance table-hover" id="user-list">
            <thead>
            <tr>
                <th>{% trans %}ID{% endtrans %} </th>
                <th>{% trans %}First name{% endtrans %} </th>
                <th>{% trans %}Last name{% endtrans %} </th>
                <th>{% trans %}Middle name{% endtrans %} </th>
                <th>{% trans %}Mobile phone{% endtrans %} </th>
                <th>{% trans %}Email{% endtrans %} </th>
                <th>{% trans %}Position{% endtrans %} </th>
                <th>{% trans %}Company structure{% endtrans %} </th>
                <th>{% trans %}Status{% endtrans %} </th>
                <th>{% trans %}Fired{% endtrans %} </th>
            </tr>
            </thead>
            {% for item in items %}
                <tr {% if loop.index is odd %}class="color"{% endif %}>
                    <td>
                        <a href="{{ path('sd_user_show', { id : item.id }) }}">
                            {{ item.id|e }}
                        </a>
                    </td>
                    <td>
                        <a href="{{ path('sd_user_show', { id : item.id }) }}">
                            {{ item.firstName|e }}
                        </a>
                    </td>
                    <td>{{ item.lastName|e }}</td>
                    <td>{{ item.middleName|e }}</td>
                    <td>{{ item.mobilephone }} </td>
                    <td>{{ item.email|e }}</td>
                    <td>{{ item.position|e }}</td>
                    <td>где связь?</td>
                    <td>{% if item.isBlocked %}blocked{% else %}active{% endif %}</td>
                    <td>{% if item.isFired %}fired{% else %}No fired{% endif %}</td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
</div>
{#<div class="navigation">
    {{ ajax_paginator_render(
            items, namespasePagin, {
                    'datatable_ajax': 'ITDoorsAjax.updateList'
                }
            )
    }}
</div>#}