<!-- BEGIN INBOX DROPDOWN -->
<li class="dropdown dropdown-extended dropdown-inbox" id="header_inbox_bar">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
        <i class="fa fa-envelope"></i>
        {% if items|length > 0 %}
        <span class="badge badge-default">{{items|length}}</span>
        {% endif %}
    </a>
    <ul class="dropdown-menu extended inbox">
        <li>
            <p>{% trans %}You have{% endtrans %} {{items|length}} {% trans %}new messages{% endtrans %}</p>
        </li>
        <li>
            <ul class="dropdown-menu-list scroller" style="height: 250px;">
                {% if items|length > 0 %} {% for i in 0..(items|length-1) %}
                <li>
                    <a href="{{path('list_article_'~ items[i].type~'_show',{'id':items[i].id})}}">
                        <span class="photo">
                            {% if items[i].getUser.photo is not empty %}
                            <img class="img-circle" alt="" src="{{ web_image(items[i].getUser.getWebPath()).resize(29,29) }}" />
                            {% else %}
                            <img src="{{ asset( userprofiles_url ~  'no_avatar.png') }}" />
                            {% endif %}
                        </span>
                        <span class="subject">
                            <span class="from">{{items[i].getUser()}}</span>
                            <span class="time">{{items[i].datePublick|date('d-m-Y')}}</span>
                        </span>
                        <span class="message">{{items[i].title}}</span>
                    </a>
                </li>
                {% endfor %} {% endif %}
            </ul>
        </li>
        <li class="external">
            <a href="{{path('list_article_blog')}}">
                {% trans %}See all news {% endtrans %}
                <i class="m-icon-swapright"></i>
            </a>
        </li>
        <li class="external">
            <a href="{{path('list_article_notification')}}">
                {% trans %}See all notification {% endtrans %}
                <i class="m-icon-swapright"></i>
            </a>
        </li>
    </ul>
</li>
<!-- END INBOX DROPDOWN -->