{% extends '::base.html.twig' %}
{% trans_default_domain 'ListsHandlingBundle' %}
{% block title %}{% trans from 'SDDashboardBundle' %}Dashdoard{% endtrans %} {% endblock %}
{% block page_breadcrumbs %}
    <ul class="page-breadcrumb breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="{{ path('sd_dashboard_homepage') }}" title="{% trans from 'SDDashboardBundle' %}Dashboard{% endtrans %}">{% trans from 'SDDashboardBundle' %}Dashboard{% endtrans %}</a>
        </li>
    </ul>
{% endblock %}
{% block page_title %}
    <h3 class="page-title">
        {% trans from 'SDDashboardBundle' %}Dashdoard <small>my work</small>{% endtrans %}
    </h3>
{% endblock %}

{% block css_page_level_plugin %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('templates/metronic/plugins/select2/select2_metro.css')}} " />
    <link rel="stylesheet" type="text/css" href="{{ asset('templates/metronic/plugins/data-tables/DT_bootstrap.css')}} " />
    <link href="{{ asset('templates/metronic/plugins/fullcalendar/fullcalendar/fullcalendar.css')}} " rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="{{ asset('templates/metronic/plugins/bootstrap-datepicker/css/datepicker.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('templates/metronic/plugins/bootstrap-datetimepicker/css/datetimepicker.css')}}" />
{% endblock %}


{% block js_page_level_plugins %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('templates/metronic/plugins/select2/select2.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('templates/metronic/plugins/data-tables/jquery.dataTables.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('templates/metronic/plugins/data-tables/DT_bootstrap.js') }}"></script>
    <script type="text/javascript"  src="{{ asset('templates/metronic/plugins/fullcalendar/fullcalendar/fullcalendar.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('templates/metronic/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js')}} "></script>
    <script type="text/javascript" src="{{ asset('templates/metronic/plugins/bootstrap-datepicker/js/locales/bootstrap-datepicker.ru.js')}} "></script>
{% endblock %}

{% block body %}
    {% include 'SDDashboardBundle:Default:items.html.twig' %}
{% endblock %}
