{% if oneDayTime.notOfficially != true %}
    <tr class="tdHolder">
        <td>
            <span class="timeFrom">{{ oneDayTime.fromTime|date('H:i') }}</span>
            <input type="text" class="timeFromInput notDisplayed timepiker-cool" size="5">
        </td>
        <td>
            <span class="timeTo">{{ oneDayTime.toTime|date('H:i') }}</span>
            <input type="text" class="timeToInput notDisplayed timepiker-cool" size="5">
        </td>
        <td>{{ oneDayTime.total }}</td>
        <td>{{ oneDayTime.totalDay }}</td>
        <td>{{ oneDayTime.totalEvening }}</td>
        <td>{{ oneDayTime.totalNight }}</td>
        <td align="center">
            <i class="fa fa-edit action_button editButton"></i>
            <i class="fa fa-check-circle-o action_button checkButton notDisplayed"></i>
            <i class="fa fa-spinner fa-spin spinner notDisplayed"></i>
            &nbsp;&nbsp;
            <i class="fa fa-trash-o action_button deleteButton"
               data-url="{{ path('it_doors_oper_schedule_delete_day_time') }}"
               data-id_grafik_time="{{ oneDayTime.id }}"></i>
            <i class="fa fa-times action_button cancelButton notDisplayed"></i>
        </td>
    </tr>
{% elseif oneDayTime.notOfficially == true %}
    <tr class="tdHolder">
        <td>
            <span class="timeFrom">{{ oneDayTime.fromTime|date('H:i') }}</span>
            <input type="text" class="timeFromInput notDisplayed timepiker-cool" size="5">
        </td>
        <td>
            <span class="timeTo">{{ oneDayTime.toTime|date('H:i') }}</span>
            <input type="text" class="timeToInput notDisplayed timepiker-cool" size="5">
        </td>
        <td class="td_not_officialy">{{ oneDayTime.totalNotOfficially }}</td>
        <td class="td_not_officialy">{{ oneDayTime.totalDayNotOfficially }}</td>
        <td class="td_not_officialy">{{ oneDayTime.totalEveningNotOfficially }}</td>
        <td class="td_not_officialy">{{ oneDayTime.totalNightNotOfficially }}</td>
        <td align="center">
            <i class="fa fa-edit action_button editButton"></i>
            <i class="fa fa-check-circle-o action_button checkButton notDisplayed"></i>
            <i class="fa fa-spinner fa-spin spinner notDisplayed"></i>
            &nbsp;&nbsp;
            <i class="fa fa-trash-o action_button deleteButton"
               data-url="{{ path('it_doors_oper_schedule_delete_day_time') }}"
               data-id_grafik_time="{{ oneDayTime.id }}"></i>
            <i class="fa fa-times action_button cancelButton notDisplayed"></i>
        </td>
    </tr>
{% endif %}
