{% for accrual in accruals %}
    {% if accrual.code == code %}
        <div style="border:1px solid #cfcfcf; padding:5px;">
            {{ accrual.type }}: {{ accrual.value }} ({{ accrual.workType }})
            <br> {{ accrual.description }}<br>
            <a href="#" class="delete_accrual" data-pk="{{ accrual.id }}" data-code="{{ accrual.code }}">delete</a>
        </div>
            <br>
    {% endif %}
{% endfor %}
