{% trans_default_domain 'ITDoorsOperBundle' %}
{% set shown = false %}
{% if oneDayTime.notOfficially != true %}
    {% set shown = true %}
    <tr class="tdHolder">
        <td>
            <span class="timeFrom">{{ oneDayTime.fromTime|date('H:i') }}</span>
            <input type="text" class="timeFromInput notDisplayed timepiker-cool" size="5">
        </td>
        <td>
            <span class="timeTo">{{ oneDayTime.toTime|date('H:i') }}</span>
            <input type="text" class="timeToInput notDisplayed timepiker-cool" size="5">
        </td>
        <td class="td_officialy">{{ oneDayTime.total }}</td>
        <td class="td_officialy">{{ oneDayTime.totalDay }}</td>
        <td class="td_officialy">{{ oneDayTime.totalEvening }}</td>
        <td class="td_officialy">{{ oneDayTime.totalNight }}</td>
{% elseif oneDayTime.notOfficially == true %}
    {% set shown = true %}
    <tr class="tdHolder">
        <td>
            <span class="timeFrom">{{ oneDayTime.fromTime|date('H:i') }}</span>
            <input type="text" class="timeFromInput notDisplayed timepiker-cool" size="5">
        </td>
        <td>
            <span class="timeTo">{{ oneDayTime.toTime|date('H:i') }}</span>
            <input type="text" class="timeToInput notDisplayed timepiker-cool" size="5">
        </td>
        <td class="td_not_officialy">{{ oneDayTime.totalNotOfficially }}</td>
        <td class="td_not_officialy">{{ oneDayTime.totalDayNotOfficially }}</td>
        <td class="td_not_officialy">{{ oneDayTime.totalEveningNotOfficially }}</td>
        <td class="td_not_officialy">{{ oneDayTime.totalNightNotOfficially }}</td>
{% endif %}

{% if shown %}
        <td align="center">
            <i class="fa fa-edit action_button editButton" data-not_officially="{{ oneDayTime.notOfficially }}"
               title="{% trans %}Edit{% endtrans %}"></i>
            <i class="fa fa-check-circle-o action_button checkButton notDisplayed"
               data-url="{{ path('it_doors_oper_schedule_add_new_time') }}"
               data-id_grafik_time="{{ oneDayTime.id }}"
               title="{% trans %}Submit{% endtrans %}"></i>
            <i class="fa fa-spinner fa-spin spinner notDisplayed"></i>
            &nbsp;&nbsp;
            <i class="fa fa-trash-o action_button deleteButton"
               data-url="{{ path('it_doors_oper_schedule_delete_day_time') }}"
               data-id_grafik_time="{{ oneDayTime.id }}"
               title="{% trans %}Delete{% endtrans %}"></i>
            <i class="fa fa-times action_button cancelButton notDisplayed"
               title="{% trans %}Cancel{% endtrans %}"></i>
        </td>
    </tr>
{% endif %}
