{% trans_default_domain 'ListsHandlingBundle' %}

<table class="table table-striped table-hover table-bordered">
    <thead>
    <tr>
        <th>{% trans %}FirstName, LastName{% endtrans %}</th>
        <th>{% trans %}Mobile{% endtrans %}</th>
        <th>{% trans %}Email{% endtrans %}</th>
        <th>{% trans %}Action{% endtrans %}</th> {# Поле для действий #}
    </tr>
    </thead>
    <tbody>
    {% for item in handlingUsers %}
        <tr>
            <td>{{ item.fullName }}</td>
            <td>
                {% if item.staff %}
                    {{ item.staff.mobilephone }}
                {% endif %}
            </td>
            <td>
                {{ item.email }}
            </td>
            <td>
                <a
                    class="ajax-delete"
                    href="javascript:;"
                    data-params='{"model":"HandlingUser","handlingId":{{ handlingId }},"userId":{{ item.id }}}'
                >
                    {% trans %}Delete{% endtrans %}
                </a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>