{% trans_default_domain 'ListsHandlingBundle' %}

<script type="text/javascript">
    $(document).ready(function(){
        jQuery.extend( jQuery.fn.dataTableExt.oSort, {

            "date-euro-pre": function ( a ) {
                if ($.trim(a) != '') {
                    var frDatea = $.trim(a).split(', ');

                    var frTimea = ['00', '00'];

                    if (typeof frDatea[1] != "undefined" )
                    {
                        frTimea = frDatea[1].split(':');
                    }

                    var frDatea2 = frDatea[0].split('.');
                    var x = (frDatea2[2] + frDatea2[1] + frDatea2[0] + frTimea[0] + frTimea[1]) * 1;
                } else {
                    var x = 1; // = l'an 1000 ...
                }

                return x;
            },

            "date-euro-asc": function ( a, b ) {
                return a - b;
            },

            "date-euro-desc": function ( a, b ) {
                return b - a;
            }
        } );

        jQuery.extend( jQuery.fn.dataTableExt.oSort, {
            "data-value-pre": function ( a ) {
                var x = $(a).data('value');
                return parseFloat( x );
            },

            "data-value-asc": function ( a, b ) {
                return ((a < b) ? -1 : ((a > b) ? 1 : 0));
            },

            "data-value-desc": function ( a, b ) {
                return ((a < b) ? 1 : ((a > b) ? -1 : 0));
            }
        } );


        /*
         * Initialize DataTables, with no sorting on the 'details' column
         */
        var oTable = $('#dashboard-handling').dataTable( {
            //"sDom": '<"row"<"col-md-9 col-sm-12" f><"col-md-3 col-sm-12" l>>rt<"bottom"ip><"clear">',
            /*"aoColumnDefs": [
                {"bSortable": false, "aTargets": [ 0 ] }
            ],*/
            "aoColumns": [
                { "sType": "data-value" },
                null,
                null,
                { "sType": "data-value" },
                { "sType": "date-euro" },
                { "sType": "date-euro" },
                { "sType": "date-euro" }
            ],
            "aaSorting": [[0, 'desc']],
            "aLengthMenu": [
                [10, 20, 50, -1],
                [10, 20, 50, "All"] // change per page values here
            ],
            // set the initial value
            "iDisplayLength": 10,
            "oLanguage": {
                "sProcessing":   "Подождите...",
                "sLengthMenu":   "Показать _MENU_ записей",
                "sZeroRecords":  "Записи отсутствуют.",
                "sInfo":         "Записи с _START_ до _END_ из _TOTAL_ записей",
                "sInfoEmpty":    "Записи с 0 до 0 из 0 записей",
                "sInfoFiltered": "(отфильтровано из _MAX_ записей)",
                "sInfoPostFix":  "",
                "sSearch":       "Поиск:",
                "sUrl":          "",
                "oPaginate": {
                    "sFirst": "Первая",
                    "sPrevious": "Предыдущая",
                    "sNext": "Следующая",
                    "sLast": "Последняя"
                },
                "oAria": {
                    "sSortAscending":  ": активировать для сортировки столбца по возрастанию",
                    "sSortDescending": ": активировать для сортировки столбцов по убыванию"
                }
            }
        });

        jQuery('#dashboard-handling_wrapper .dataTables_filter input').addClass("form-control input-small"); // modify table search input
        jQuery('#dashboard-handling_wrapper .dataTables_length select').addClass("form-control input-small"); // modify table per page dropdown
        jQuery('#dashboard-handling_wrapper .dataTables_length select').select2(); // modify table per page dropdown
    })
</script>

<div class="portlet box green">
    <div class="portlet-title">
        <div class="caption"><i class="fa fa-globe"></i>{% trans %}My Handling List{% endtrans %}</div>
        <div class="tools">
            <a href="javascript:;" class="reload"></a>
            <a href="javascript:;" class="remove"></a>
        </div>
    </div>
    <div class="portlet-body">
        {% if pagination|length %}
            <table class="table table-striped table-bordered table-advance table-hover" id="dashboard-handling">
                <thead>
                <tr>
                    <th>{% trans %}ID{% endtrans %} </th>
                    <th>{% trans %}Name{% endtrans %} </th>
                    <th>{% trans %}ServiceOffered{% endtrans %} </th>
                    <th>{% trans %}Chance{% endtrans %}</th>
                    <th>{% trans %}Createdatetime{% endtrans %} </th>
                    <th>{% trans %}LastHandlingDate{% endtrans %} </th>
                    <th>{% trans %}NextHandlingDate{% endtrans %} </th>
                </tr>
                </thead>
                {% for item in pagination %}
                    <tr {% if loop.index is odd %}class="color"{% endif %}>
                        <td>
                            <a href="{{ path('lists_' ~ baseRoutePrefix ~ '_handling_show', { id: item.handlingId } ) }}"  data-value="{{ item.handlingId|e }}">
                                {{ item.handlingId|e }}
                            </a>
                        </td>
                        <td>
                            <a href="{{ path('lists_' ~ baseRoutePrefix ~ '_handling_show', { id: item.handlingId } ) }}">
                                {{ item.organizationName|e }}
                            </a>
                        </td>
                        <td>{{ item.serviceList|e }}</td>
                        {% set progress = (item.resultProgress is not null) ? item.resultProgress : item.progress %}
                        {% set percentageString = item.resultPercentageString ? item.resultPercentageString : item.percentageString %}
                        <td>
                            <div style="width: {{ progress }}%" aria-valuemax="100" data-value="{{ progress ? progress : 0 }}" aria-valuemin="0" aria-valuenow="{{ progress }}" role="progressbar" class="progress-bar progress-bar-success">
                                <span class="">{{ percentageString|e }}</span>
                            </div>
                        </td>
                        <td>{{ item.handlingCreatedate|date("d.m.y") }}</td>
                        <td>
                            {% if item.handlingLastHandlingDate %}
                                {{ item.handlingLastHandlingDate|date("d.m.y, H:i") }}
                            {% endif %}
                        </td>
                        <td>
                            {% if item.handlingNextHandlingDate %}
                                {{ item.handlingNextHandlingDate|date("d.m.y, H:i") }}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}
    </div>
</div>
