    {% trans_default_domain 'ListsHandlingBundle' %}
	{% for item in messages %}
    <div class="portlet box {% if item.isFutureMessage %}red{% else %}yellow{% endif %}">
        <div class="portlet-title">
            <div class="caption">
                {{ item.createdate|date('d.m.Y') }} ({{  item.createdatetime|date('d.m.Y, H:i')}}) | {{ item.type }} | {{ item.contact }} | {{ item.user }}
                {% if item.isBusinessTrip %}
                    | {% trans %}Business trip{% endtrans %}
                {% endif %}
            </div>
            <div class="tools"><a class="collapse" href="" title="{% trans %}Roll Up{% endtrans %}"></a></div>
        </div>
        <div class="portlet-body">
            {{ item.description }} <br />
            {% if item.filepath %}
                <div class="panel panel-default">
                    <div class="panel-heading">{% trans %}Attached Files{% endtrans %}</div>
                    <div class="panel-body">
                        <a href="/uploads/handling_message/{{ item.handlingId }}/{{ item.filepath }}" target="_blank">
                            {% if item.filename %}
                                {{ item.filename }}
                            {% else %}
                                {% trans %}Noname File{% endtrans %}
                            {% endif %}
                        </a>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
    {% endfor %}