{% trans_default_domain 'ListsHandlingBundle' %}

<script type="text/javascript">

    $(document).ready(function (){

        $(".form_datetime").datetimepicker({
            autoclose: true,
            isRTL: App.isRTL(),
            format: "dd.mm.yyyy hh:ii",
            pickerPosition: (App.isRTL() ? "bottom-right" : "bottom-left"),
            language: 'ru',
            weekStart: 1,
            startDate: new Date()
        });
    })
</script>
{% form_theme form 'SDCommonBundle:Form:form_errors.html.twig' %}
    {{ form_start(form, {
            'action' : path('lists_sales_handling_create_step4'),
            'attr' : {
            'method' : 'POST'
        }
    }) }}

<div class="portlet-body">
    {% if form.vars.valid %}
    {% else %}
        <div class="alert alert-danger">
            <button class="close" data-close="alert"></button>
            {{ form_errors(form) }}
        </div>
    {% endif %}
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">{% trans %}Current Message{% endtrans %}</div>
                <div class="panel-body">
                    <div class="form-group"> {#.'<span class="required"> * </span>'#}
                        {{ form_label(form.createdate, 'Current Message Create Date', {'attr': {'class': 'control-label'}}) }}
                        <div class="input-group date form_datetime">
                            {{ form_widget(form.createdate, {'attr' : {
                            'class' : 'form-control',
                            'placeholder': 'Create date',
                            'readonly': 'readonly'
                            }}) }}
                            <span class="input-group-btn">
                                <button class="btn default date-set" type="button"><i class="fa fa-calendar"></i></button>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(form.type, 'Message Type', {'attr': {'class': 'control-label'}}) }}
                        {{ form_widget(form.type, {'attr' : {'class' : 'form-control', 'placeholder': 'Message Type'} } ) }}
                    </div>
                    <div class="form-group">
                        {# Контактное лицо - с кем уже  контактировали.
                        #}
                        {{ form_label(form.contact, 'Contact Person', {'attr': {'class': 'control-label'}}) }}
                        {{ form_widget(form.contact, {'attr' : {'class' : 'form-control', 'placeholder': 'Select Contact Person'} } ) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.description, 'Description', {'attr': {'class': 'control-label'}}) }}
                        {{ form_widget(form.description, {'attr' : {'class' : 'form-control', 'placeholder': 'Description'} } ) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.filename, 'Filename', {'attr': {'class': 'control-label'}}) }}
                        {{ form_widget(form.filename, {'attr' : {'class' : 'form-control', 'placeholder': 'Filename'} } ) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.file, 'Select File', {'attr': {'class': 'control-label'}}) }}
                        {{ form_widget(form.file ) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">{% trans %}Next Message{% endtrans %}</div>
                <div class="panel-body">
                    <div class="form-group">
                        {{ form_label(form.createdate, 'Next Message Create Date', {'attr': {'class': 'control-label'}}) }}
                        <div class="input-group date form_datetime">
                            {{ form_widget(form.nextcreatedate, {'attr' : {
                            'class' : 'form-control',
                            'placeholder': 'Create Date',
                            'readonly': 'readonly'
                            }}) }}
                            <span class="input-group-btn">
                                <button class="btn default date-set" type="button"><i class="fa fa-calendar"></i></button>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(form.nexttype, 'Message Type', {'attr': {'class': 'control-label'}}) }}
                        {{ form_widget(form.nexttype, {'attr' : {'class' : 'form-control', 'placeholder': 'Message Type'} } ) }}
                    </div>
                    <div class="form-group">
                        {# Контактное лицо - с кем будем контактировать.
                        #}
                        {{ form_label(form.contactnext, 'Contact Person', {'attr': {'class': 'control-label'}}) }}
                        {{ form_widget(form.contactnext, {'attr' : {'class' : 'form-control', 'placeholder': 'Select Contact Person'} } ) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.descriptionnext, 'Description', {'attr': {'class': 'control-label'}}) }}
                        {{ form_widget(form.descriptionnext, {'attr' : {'class' : 'form-control', 'placeholder': 'Description'} } ) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">{% trans %}Extra{% endtrans %}</div>
                <div class="panel-body">
                    <div class="form-group">

                        <div class="checkbox-list">
                            <label class="checkbox-inline">
                                <div id="uniform-inlineCheckbox21" class="checker">
                                    <span>
                                        {{ form_widget(form.next_is_business_trip, {'attr' : {'class' : 'form-control', 'placeholder': 'Is business trip'} } ) }}
                                    </span>
                                </div>
                                Is business trip
                            </label>
                        </div>

                    </div>
                    <div class="form-group">
                        {# Статус проекта - должны заполнять при создании сообщения
                           По умолчанию подтягивается текущий статус проекта.
                           Поле обяязательно к заполнению.
                        #}
                        {{ form_label(form.status, 'Project Status', {'attr': {'class': 'control-label'}}) }}
                        {{ form_widget(form.status, {'attr' : {'class' : 'form-control', 'placeholder': 'Project Status'} } ) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="form-actions fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-offset-3 col-md-9">
                <a href="{{ path('lists_sales_handling_create_step2') }}" class="btn default button-previous">
                    <i class="m-icon-swapleft"></i> Back
                </a>
                {{ form_widget(form.create, { 'label': 'Continue', 'attr': {'class': 'btn green button-submit'} } ) }}
            </div>
        </div>
    </div>
</div>
{{ form_end(form) }}