{% extends "::base.html.twig" %}
{% trans_default_domain 'ListsArticleBundle' %}
{% block title %}{% trans %}My notification{% endtrans %} {% endblock %}
{% block page_title %}
    <h3 class="page-title">
        {% trans %}My notification{% endtrans %}
    </h3>
{% endblock %}

{% block page_breadcrumbs %}
    <ul class="page-breadcrumb breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="{{ path('sd_dashboard_homepage') }}" title="{% trans %}Dashboard{% endtrans %}">{% trans %}Dashboard{% endtrans %}</a>
        </li>
        <li>
            <a href="{{ path('list_article_notification') }}" title="{% trans %}My notification{% endtrans %}">{% trans %}My notification{% endtrans %}</a>
        </li>
    </ul>
{% endblock %}

{% block css_page_level_plugin %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('metronic/assets/global/plugins/bootstrap-editable/bootstrap-editable/css/bootstrap-editable.css')}} " />

{% endblock %}

{% block js_page_level_plugins %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('metronic/assets/global/plugins/bootstrap-editable/bootstrap-editable/js/bootstrap-editable.js') }}"></script>

{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="tab-content ajax-tab-holder" id="datatable_ajax" data-url="{{ url('list_article_notification_list') }}">
                {{ render(controller('ListsArticleBundle:Notification:list')) }}
            </div>
        </div>
    </div>
{% endblock body %}
