{% trans_default_domain 'ListsDogovorBundle' %}
{% if access.canEdit %}
<script type="text/javascript">
    $(document).ready(function(){

        $.fn.editable.defaults.inputclass = 'form-control';
        $.fn.editable.defaults.emptytext = '{% trans from 'messages' %}Enter value{% endtrans %}';

        $('.sd-editable').editable({
            url: '{{ path('sd_common_ajax_dogovor_save') }}'
        });

        $('#customerId, #performerId').editable({
            url: '{{ path('sd_common_ajax_dogovor_save') }}',
            source: '{{ path('sd_common_ajax_organization') }}',
            select2: {
                placeholder: '{% trans %}Select Organization{% endtrans %}',
                minimumInputLength: 2,
                width: 250
            },
            success: function(response, newValue) {
                var url = "{{ path('lists_organization_show_empty') }}"+newValue;
                var id = $(this).attr('id');
                $('#'+id+'Url').remove();
                $(' <a id="'+id+'Url" target="_blank" href="'+url+'">({% trans %}Open{% endtrans%})</a>').insertAfter($(this));
            }
        });
        $('#organizationId').editable({
            url: '{{ path('sd_common_ajax_dogovor_save') }}',
            source: '{{ path('sd_common_ajax_organization') }}',
            select2: {
                placeholder: '{% trans %}Select Organization{% endtrans %}',
                minimumInputLength: 2,
                width: 250,
                allowClear: true
            }
        });

        $('#sallerId').editable({
            url: '{{ path('sd_common_ajax_dogovor_save') }}',
            source: '{{ path('sd_common_ajax_user') }}',
            select2: {
                placeholder: '{% trans %}Select Saller{% endtrans %}',
                minimumInputLength: 2,
                width: 250
            }
        });

        $('#cityId').editable({
            url: '{{ path('sd_common_ajax_dogovor_save') }}',
            source: '{{ path('sd_common_ajax_city') }}',
            select2: {
                placeholder: '{% trans %}Select City{% endtrans %}',
                minimumInputLength: 2,
                width: 250
            }
        });
        $('#delayType').editable({
            url: '{{ path('sd_common_ajax_dogovor_save') }}',
            source: '{{ path('lists_dogovor_ajax_delay_type') }}',
            select2: {
                placeholder: '{% trans %}Select delay type{% endtrans %}',
                minimumInputLength: 0,
                width: 250
            }
        });

        $('#dogovorTypeId').editable({
            url: '{{ path('sd_common_ajax_dogovor_save') }}',
            source: '{{ path('sd_common_ajax_dogovor_type') }}',
            select2: {
                placeholder: '{% trans %}Select Dogovor Type{% endtrans %}',
                minimumInputLength: 0,
                width: 250
            }
        });

        $.fn.modal.Constructor.prototype.enforceFocus = function() {};

        $('.sd-dogovor-date').live('mouseover', function(e){

            e.preventDefault();

            $(this).on('shown', function(e, editable) {

                var input = editable.input.$input;

                input.attr('readonly', 'readonly');

                input.datepicker({
                    rtl: Metronic.isRTL(),
                    autoclose: true,
                    format: "dd.mm.yyyy",
                    pickerPosition: (Metronic.isRTL() ? "bottom-right" : "bottom-left"),
                    language: 'ru',
                    startView: 'decade',
                    //endDate: new Date(),
                    weekStart: 1
                });
            });
        });

        $('#prolongationTerm').editable({
            url: '{{ path('sd_common_ajax_dogovor_save') }}',
            emptytext: '{% trans %}Enter Prolongation Term{% endtrans %}'
        });

        $('#isActive').editable({
            url: '{{ path('sd_common_ajax_dogovor_save') }}',
            source: {{  dogovor.isActiveChoices|json_encode|raw }}
        });

        $('#prolongation, #paymentDeferment, #delayComment').editable({
            url: '{{ path('sd_common_ajax_dogovor_save') }}',
            source: {{  dogovor.prolongationChoices|json_encode|raw }}
        });

        $('#mashtab').editable({
            url: '{{ path('sd_common_ajax_dogovor_save') }}',
            source: {{  dogovor.mashtabChoices|json_encode|raw }}
        });
    });
</script>
{% endif %}
<div class="col-md-12">
    <table id="dogovor" class="table table-bordered table-striped">
        <tbody>
        <tr> {# 0 #}
            <td>{% trans %}Date create{% endtrans %}</td>
            <td>{{ dogovor.createDateTime is empty ? "" : dogovor.createDateTime|date('d.m.Y H:i') }}</td>
            <td>{% trans %}Creator{% endtrans %}</td>
            <td>{{ dogovor.creatorLastName }} {{ dogovor.creatorFirstName }} {{ dogovor.creatorMiddleName }}</td>
        </tr>
        <tr> {# 1 #}
            <td style="width:15%">{% trans %}ID{% endtrans %}</td>
            <td style="width:35%">{{ dogovor.id }}</td>
            <td style="width:15%">{% trans %}Prolongation{% endtrans %}</td>
            <td style="width:35%">
                {% if dogovor.prolongation %}
                    {% set prolongation ='Yes' %}
                {% else %}
                    {% set prolongation ='No' %}
                {% endif %}
                {% if access.canEdit %}
                <a href="#" id="prolongation" data-type="select" data-pk="{{ dogovor.id }}" data-value="{{ prolongation }}" data-placement="right" data-original-title="{% trans %}Prolongation{% endtrans %}">
                {% endif %}
                    {{ prolongation|trans({}, 'messages')  }}
                {% if access.canEdit %}
                </a>
                {% endif %}

                {% if access.canEdit %}
                (<a href="#" id="prolongationTerm" data-type="text" data-pk="{{ dogovor.id }}" data-value="{{ dogovor.prolongationTerm }}" data-placement="right" data-original-title="{% trans %}Enter Prolongation Term In Days{% endtrans %}">
                {% endif %}
                    {{ dogovor.prolongationTerm }}
                {% if access.canEdit %}
                </a>)
                {% endif %}
            </td>
        </tr>
        <tr> {# 2 #}
            <td>{% trans %}Dogovor Number{% endtrans %}</td>
            <td>
                {% if access.canEdit %}
                <a href="#" id="number" class="sd-editable" data-type="text" data-pk="{{ dogovor.id }}" data-value="{{ dogovor.number }}" data-placement="right" data-original-title="{% trans %}Enter Number{% endtrans %}">
                {% endif %}
                    {{ dogovor.number }}
                {% if access.canEdit %}
                </a>
                {% endif %}
            </td>
            <td>{% trans %}Organization{% endtrans %}</td>
            <td>
                {% if access.canEdit %}
                <a href="#" id="organizationId" data-type="select2" data-pk="{{ dogovor.id }}" data-value="{{ dogovor.organizationName }}" data-placement="right" data-original-title="{% trans %}Enter Organization{% endtrans %}">
                 {% endif %}
                    {{ dogovor.organizationName }}
                {% if access.canEdit %}
                </a>
                {% endif %}
            </td>
        </tr>
        <tr> {# 3 #}
            <td>{% trans %}Customer{% endtrans %}</td>
            <td>
                {% if access.canEdit %}
                <a href="#" id="customerId"  data-type="select2" data-pk="{{ dogovor.id }}" data-value="{{ dogovor.customerName }}" data-placement="right" data-original-title="{% trans %}Enter Customer{% endtrans %}">
                {% endif %}
                    {{ dogovor.customerName }}
                {% if access.canEdit %}
                </a>
                {% endif %}
                {% if  dogovor.customerName %}
                    <a id="customerIdUrl" href="{{ path('lists_organization_show', { id:dogovor.customerId }) }}" target="_blank">({% trans %}Open{% endtrans%})</a>
                {% endif %}
            </td>
            <td>{% trans %}Performer{% endtrans %}</td>
            <td>
                {% if access.canEdit %}
                <a href="#" id="performerId"  data-type="select2" data-pk="{{ dogovor.id }}" data-value="{{ dogovor.performerName }}" data-placement="right" data-original-title="{% trans %}Enter Performer{% endtrans %}">
                {% endif %}
                    {{ dogovor.performerName }}
                {% if access.canEdit %}
                </a>
                {% endif %}
                {% if  dogovor.performerName %}
                    <a id="performerIdUrl"  href="{{ path('lists_organization_show', { id:dogovor.performerId }) }}" target="_blank">({% trans %}Open{% endtrans%})</a>
                {% endif %}
            </td>
        </tr>
        <tr> {# 4 #}
            <td>{% trans %}Startdatetime{% endtrans %}</td>
            <td>
                {% if access.canEdit %}
                <a href="#"
                   class="sd-dogovor-date sd-editable {% if dogovor.startdatetime is empty %} editable-empty {% endif %}"
                   data-name="startdatetimeString"
                   data-type="text"
                   data-pk="{{ dogovor.id }}"
                    {% if dogovor.startdatetime %}
                        data-value="{{ dogovor.startdatetime|date("d.m.Y") }}"
                    {% endif %}
                   data-original-title="{% trans %}Edit{% endtrans %}"
                >
                {% endif %}
                    {% if dogovor.startdatetime %}
                        {{ dogovor.startdatetime|date("d.m.Y") }}
                    {% else %}
                        {% trans from 'messages' %}Enter value{% endtrans %}
                    {% endif %}
                {% if access.canEdit %}
                </a>
                {% endif %}
            </td>
            <td>{% trans %}Stopdatetime{% endtrans %}</td>
            <td>
                {% if access.canEdit %}
                <a href="#"
                   class="sd-dogovor-date sd-editable {% if dogovor.stopdatetime is empty %} editable-empty {% endif %}"
                   data-name="stopdatetimeString"
                   data-type="text"
                   data-pk="{{ dogovor.id }}"
                        {% if dogovor.stopdatetime %}
                            data-value="{{ dogovor.stopdatetime|date("d.m.Y") }}"
                        {% endif %}
                   data-original-title="{% trans %}Edit{% endtrans %}"
                >
                {% endif %}
                    {% if dogovor.stopdatetime %}
                        {{ dogovor.stopdatetime|date("d.m.Y") }}
                    {% else %}
                        {% trans from 'messages' %}Enter value{% endtrans %}
                    {% endif %}
                {% if access.canEdit %}
                </a>
                {% endif %}
            </td>
        </tr>
        <tr> {# 5 #}
            <td>{% trans from 'messages' %}City{% endtrans %}</td>
            <td>
                {% if access.canEdit %}
                <a href="#" id="cityId"
                   data-type="select2"
                   data-pk="{{ dogovor.id }}"
                   data-value="{{ dogovor.cityName }}"
                   data-placement="right"
                   data-original-title="{% trans from 'messages' %}Enter City{% endtrans %}">
                {% endif %}
                    {{ dogovor.cityName }}
               {% if access.canEdit %}
                </a>
                {% endif %}
            </td>
            <td>{% trans %}Subject{% endtrans %}</td>
            <td>
                {% if access.canEdit %}
                <a href="#" id="subject" class="sd-editable" data-type="text" data-pk="{{ dogovor.id }}" data-value="{{ dogovor.subject }}" data-placement="right" data-original-title="{% trans %}Enter Subject{% endtrans %}">
                {% endif %}
                    {{ dogovor.subject }}
                {% if access.canEdit %}
                </a>
                {% endif %}
            </td>
        </tr>
        <tr> {# 6 #}
            <td>{% trans from 'messages' %}File{% endtrans %}</td>
            <td>
                {% if dogovor.filepath %}
                    {% if is_granted('ROLE_LAWYER') %}
                        <a href="{{ url('it_doors_file_access_get_if_authenticated', {path:'/uploads/dogovor/'~dogovor.filepath ,timestamp:'now'|date('U') }) }}"  target="_blank" >{% trans %}See document{% endtrans %}</a>
                    {% else %}
                        {% trans %}Недоступно{% endtrans %}
                    {% endif %}
                {% endif %}
                {% if access.canEdit %}
                <script>
                    $(document).ready(function(){
                        $(function () {
                            $('#fileupload').fileupload({
                               
                            dataType: 'json',
                            fail: function (e, data) {
                                alert('Error upload');
                            },
                            done: function (e, data) {
                                $(this).parents('td').find('a').remove();
                                $(this).parents('td').prepend('<a href="javascript:;" class="doclink" timestamp="'+Date.now().getUnixTime()+'" value="/uploads/dogovor/'+data.result.file+'">{% trans %}See document{% endtrans %}</a>');
                                alert('{% trans %}Document is uploaded{% endtrans %}');
                                $.each(data.result.files, function (index, file) {
                                   // $('<p/>').text(file.name).appendTo('#files');
                                   
                                });
                            },
                            add: function (e, data) {
                                if(confirm('{% trans %}Upload a new document? The old document will be removed.{% endtrans %}')){data.submit();}
                            }
                            }).prop('disabled', !$.support.fileInput)
                                .parent().addClass($.support.fileInput ? undefined : 'disabled');
                        });
                    });
                </script>
                <span class="btn btn-success fileinput-button">
                    <i class="glyphicon glyphicon-plus"></i>
                    <span>{% trans %}Upload new document{% endtrans %}</span>
                    <input id="fileupload" type="file" name="dogovor" data-url="{{ path('sd_common_ajax_dogovor_upload_file', {'id': dogovor.id}) }}">
                </span>               
                {% endif %}
            </td>
            <td>{% trans %}Dogovor Type{% endtrans %}</td>
            <td>
                {% if access.canEdit %}
                <a href="#" id="dogovorTypeId" data-type="select2" data-pk="{{ dogovor.id }}" data-value="{{ dogovor.type }}" data-placement="right" data-original-title="{% trans %}Enter Dogovor Type{% endtrans %}">
                {% endif %}
                    {{ dogovor.type }}
                {% if access.canEdit %}
                </a>
                {% endif %}
            </td>
        </tr>
        <tr> {# 7 #}
            <td>{% trans %}Is Active{% endtrans %}</td>
            <td>
                {% if dogovor.isActive %}
                    {% set isActive ='Yes' %}
                {% else %}
                    {% set isActive ='No' %}
                {% endif %}
                {% if access.canEdit %}
                <a href="#" id="isActive" data-type="select" data-pk="{{ dogovor.id }}" data-value="{{ isActive }}" data-placement="right" data-original-title="{% trans %}Is Active{% endtrans %}">
                {% endif %}
                    {{ isActive|trans({}, 'messages') }}
                {% if access.canEdit %}
                </a>
                {% endif %}
            </td>
            <td>{% trans %}Mashtab{% endtrans %}</td>
            <td>
                {% if access.canEdit %}
                <a href="#" id="mashtab" data-type="select" data-pk="{{ dogovor.id }}" data-value="{{ dogovor.mashtab }}" data-placement="right" data-original-title="{% trans %}Enter Dogovor Mashtab{% endtrans %}">
                {% endif %}
                    {% if (dogovor.mashtabChoices[dogovor.mashtab]) %}
                        {{ dogovor.mashtabChoices[dogovor.mashtab] }}
                    {% endif %}
                {% if access.canEdit %}
                </a>
                {% endif %}
            </td>
        </tr>
        <tr> {# 8 #}
            <td>{% trans %}Saller{% endtrans %}</td>
            <td>
                {% if access.canEdit %}
                <a href="#" id="sallerId"  data-type="select2" data-pk="{{ dogovor.id }}" data-value="{{ dogovor.sallerName }}" data-placement="right" data-original-title="{% trans %}Enter Saller{% endtrans %}">
                {% endif %}
                    {{ dogovor.sallerName }}
                {% if access.canEdit %}
                </a>
                {% endif %}
            </td>
            <td>{% trans %}Delay{% endtrans %}</td>
            <td>
                {% if access.canEdit %}
                <a href="#" id="paymentDeferment"  data-type="text" data-pk="{{ dogovor.id }}" data-value="{{ dogovor.paymentDeferment }}" data-placement="right" data-original-title="{% trans %}Enter delay{% endtrans %}">
                {% endif %}
                    {{ dogovor.paymentDeferment }}
                {% if access.canEdit %}
                </a>
                {% endif %}
                (
                {% if access.canEdit %}
                 <a href="#" id="delayType"  data-type="select2" data-pk="{{ dogovor.id }}" data-value="{{ dogovor.delayTypeName }}" data-placement="right" data-original-title="{% trans %}Select delay type{% endtrans %}">
                {% endif %}
                    {{ dogovor.delayTypeName }}
                {% if access.canEdit %}
                </a>
                {% endif %}
                )
                (
                {% if access.canEdit %}
                 <a href="#" id="delayComment"  data-type="text" data-pk="{{ dogovor.id }}" data-value="{{ dogovor.delayComment }}" data-placement="right" data-original-title="{% trans %}Enter delay comment{% endtrans %}">
                {% endif %}
                    {{ dogovor.delayComment }}
                {% if access.canEdit %}
                </a>
                {% endif %}
                )
            </td>
        </tr>
        </tbody>
    </table>
</div>
