<script type="text/javascript">
    $(document).ready(function(){

        $.fn.editable.defaults.inputclass = 'form-control';
        $.fn.editable.defaults.emptytext = '{% trans %}Enter value{% endtrans %}';

        $('.sd-editable').editable({
            url: '{{ path('sd_common_ajax_dogovor_save') }}'
        });

    });
</script>

<div class="col-md-12">
    <table id="dogovor" class="table table-bordered table-striped">
        <tbody>
        <tr> {# 1 #}
            <td style="width:15%">{% trans %}Dogovor ID{% endtrans %}</td>
            <td style="width:35%">{{ dogovor.id }}</td>
            <td style="width:15%">{% trans %}Dogovor Name{% endtrans %}</td>
            <td style="width:35%">{{ dogovor.name }}
                {% if dogovor.filepath %}
                    <a href="/uploads/dogovor/{{ dogovor.filepath }}" target="_blank">
                        {% trans %}File{% endtrans %}
                    </a>
                {% endif %}
                {#<a href="#" id="statusId" data-type="select" data-pk="{{ handling.0.id }}" data-value="{{ handling.0.statusId }}" data-placement="right" data-original-title="{% trans %}Select Handling Status{% endtrans %}">
                    {{ handling.0.status }}
                    {% if handling.0.statusChangeDate %}
                        {{ handling.0.statusChangeDate|date("d.m.y, H:i") }}
                    {% endif %}
                </a>#}
            </td>
        </tr>
        <tr> {# 2 #}
            <td>{% trans %}Dogovor number{% endtrans %}</td>
            <td>
                <a href="#" id="number" class="sd-editable" data-type="text" data-pk="{{ dogovor.id }}" data-value="{{ dogovor.number }}" data-placement="right" data-original-title="{% trans %}Enter Number{% endtrans %}">
                    {{ dogovor.number }}
                </a>
            </td>
            <td>{% trans %}Subject{% endtrans %}</td>
            <td>
                <a href="#" id="subject" class="sd-editable" data-type="text" data-pk="{{ dogovor.id }}" data-value="{{ dogovor.subject }}" data-placement="right" data-original-title="{% trans %}Enter Subject{% endtrans %}">
                    {{ dogovor.subject }}
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>