{% extends "::base.html.twig" %}
{% trans_default_domain 'ListsDogovorBundle' %}
{% block title %}{% trans %}Dogovor list{% endtrans %} {% endblock %}
{% block page_breadcrumbs %}
    <ul class="page-breadcrumb breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="{{ path('sd_dashboard_homepage') }}" title="{% trans from 'messages' %}Dashboard{% endtrans %}">{% trans from 'messages' %}Dashboard{% endtrans %}</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li><a href="{{ path('lists_' ~ baseRoutePrefix ~ '_dogovor_index') }}" title="{% trans %}Dogovor list{% endtrans %}">{% trans %}Dogovor list{% endtrans %}</a></li>
    </ul>
{% endblock %}
{% block page_title %}
    <h3 class="page-title">
        {% trans %}Dogovor list <small>dogovor list</small>{% endtrans %}
    </h3>
{% endblock %}

{% block css_page_level_plugin %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('metronic/assets/global/plugins/select2/select2.css')}} " />
    <link rel="stylesheet" type="text/css" hrefasset('metronic/assets/global/plugins/ugins/bootstrap-editable/bootstrap-editable/css/bootstrap-editable.css')}} " />
    <link rel="stylesheet" type="text/css"asset('metronic/assets/global/plugins/ic/plugins/bootstrap-datetimepicker/css/datetimepicker.css')}} " />
{% endblock %}

{% block js_page_level_plugins %}
    {{ parent() }}
    <script type="text/javasasset('metronic/assets/global/plugins/etronic/plugins/select2/select2.min.js') }}"></script>
    <script type="text/asset('metronic/assets/global/plugins/tes/metronic/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js')}} "></script>
    <script type="asset('metronic/assets/global/plugins/emplates/metronic/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js')}} "></script>
    <script tasset('metronic/assets/global/plugins/et('templates/metronic/plugins/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.ru.js')}} "></script>
{% endblock %}

{% block body %}
    {{  include(
        'ListsDogovorBundle:' ~ baseTemplate ~ ':filters.html.twig',
            {
                filterForm: filterForm,
                filterFormName: filterFormName
            }
        )
    }}

    <script type="text/javascript">
        $(document).ready(function(){
            $.fn.modal.Constructor.prototype.enforceFocus = function() {};
        });
    </script>

    <div id="form_dogovor_history" class="modal fade" role="basic" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title">{% trans from 'ListsDogovorBundle' %}Prolongation{% endtrans %}</h4>
                </div>
                <div class="modal-body">
                    <div id="dogovorHistoryFormTpl" data-text="{% trans from 'messages' %}Loading data. Please wait{% endtrans %}">
                    </div>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
    </div>

    <div class="table-responsive">
        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>

        <table class="table table-striped table-bordered table-advance table-hover">
            <thead>
            <tr>
                <th>{% trans %}ID{% endtrans %} </th>
                <th>{% trans %}Number{% endtrans %} </th>
                <th>{% trans %}Organization{% endtrans %} </th>
                <th>{% trans %}Customer{% endtrans %} </th>
                <th>{% trans %}Performer{% endtrans %} </th>
                <th>{% trans %}Startdatetime{% endtrans %} </th>
                <th>{% trans %}Stopdatetime{% endtrans %} </th>
                <th>{% trans %}Prolongation{% endtrans %} </th>
                <th>{% trans %}Prolongation Date{% endtrans %} </th>
                <th>{% trans %}Status{% endtrans %} </th>
                <th>{% trans %}Subject{% endtrans %} </th>
                <th>{% trans %}Dogovor Type{% endtrans %} </th>
                <th>{% trans %}Actions{% endtrans %} </th>
            </tr>
            </thead>
            <tbody>
            {% for item in pagination %}
                <tr {% if loop.index is odd %}class="color"{% endif %}
                    id="dogovorItem{{ item.dogovorId|e }}"
                    data-url="{{ path('lists_' ~ baseRoutePrefix ~ '_ajax_element', {
                        id: item.dogovorId,
                    }) }}"
                >
                    {{  include(
                        'ListsDogovorBundle:' ~ baseTemplate ~ ':element.html.twig',
                            {
                                item: item,
                                baseRoutePrefix: baseRoutePrefix,
                            }
                        )
                    }}
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
{% endblock body %}
