{% extends "::base.html.twig" %}
{% trans_default_domain 'ListsDogovorBundle' %}
{% block title %}{% trans %}Dogovor new{% endtrans %} {% endblock %}
{% block page_breadcrumbs %}
    <ul class="page-breadcrumb breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="{{ path('sd_dashboard_homepage') }}" title="{% trans %}Dashboard{% endtrans %}">{% trans %}Dashboard{% endtrans %}</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li><a href="{{ path('lists_' ~ baseRoutePrefix ~ '_dogovor_new') }}" title="{% trans %}Dogovor new{% endtrans %}">{% trans %}Dogovor new{% endtrans %}</a></li>
    </ul>
{% endblock %}
{% block page_title %}
    <h3 class="page-title">
        {% trans %}Dogovor new <small>dogovor new</small>{% endtrans %}
    </h3>
{% endblock %}

{% block css_page_level_plugin %}
    {{ parent() }}
{% endblock %}

{% block js_page_level_plugins %}
    {{ parent() }}
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-md-12">
            <p>{% trans %}New dogovor{% endtrans %}</p>
        </div>
    </div>

    <div class="portlet-body form">
        <!-- BEGIN FORM-->
        {% form_theme form 'SDCommonBundle:Form:form_errors.html.twig' %}
        {{ form_start(form,
            {
                'action': path('lists_' ~ baseRoutePrefix ~ '_dogovor_new'),
                'attr': {'class' : 'horizontal-form'}
            })
        }}


        <div class="form-body">
            <div class="alert alert-danger display-hide">
                <button class="close" data-close="alert"></button>
                {% trans %}You have some form errors. Please check below.{% endtrans %}
                {{ form_errors(form) }}
            </div>
            <h3 class="form-section">{% trans %}General information{% endtrans %}</h3>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        {# Create User - current user - only show#}
                        {{ form_label(form.name, 'Dogovor Name', {'attr': {'class': 'control-label'}}) }}
                        {{ form_widget(form.name, {'attr': {'class': 'form-control', 'placeholder': 'Enter Dogovor Name'}}) }}
                    </div>
                </div>
                <!--/span-->
                {#<div class="col-md-6">
                    <div class="form-group">
                        &#123;&#35; Create User - current user - only show&#35;&#125;
                        {{ form_label(form.user, 'Create User', {'attr': {'class': 'control-label'}}) }}
                        {{ form_widget(form.user, {'attr': {'class': 'form-control', 'placeholder': 'Enter organization short name'}}) }}
                    </div>
                </div>#}
                <!--/span-->
            </div>
            <!--/row-->
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        {{ form_widget(form.create, { 'label': 'Create', 'attr': {'class': 'btn green'}} ) }}
                    </div>
                </div>
            </div>
            {{ form_end(form) }}
            <!--/row-->
        </div>
    </div>
{% endblock body %}

