{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'SDUserBundle' %}

{% block fos_user_content %}
{% if error %}
    <div>{{ error|trans }}</div>
{% endif %}
    <div>
        23423
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
        <a href="{{ path('fos_user_security_logout') }}">
            {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
        </a>
    {% else %}
        <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
    {% endif %}
</div>

<!-- BEGIN LOGIN FORM -->
<form action="{{ path("fos_user_security_check") }}" method="post">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    <h3 class="form-title">{% trans %}Login to your account{% endtrans %}</h3>
    <div class="alert alert-error hide">
        <button class="close" data-dismiss="alert"></button>
        <span>{% trans %}Enter valid username and password.{% endtrans %}</span>
    </div>
    <div class="form-group">
        <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
        <label class="control-label visible-ie8 visible-ie9">{% trans %}User name{% endtrans %}</label>
        <div class="input-icon">
            <i class="fa fa-user"></i>
            <input class="form-control placeholder-no-fix" type="text" id="username" autocomplete="off" placeholder="{% trans %}Username{% endtrans %}" name="_username" value="{{ last_username }}" required="required"/>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label visible-ie8 visible-ie9">{% trans %}Password{% endtrans %}</label>
        <div class="input-icon">
            <i class="fa fa-lock"></i>
            <input class="form-control placeholder-no-fix" type="password" id="password" autocomplete="off" placeholder="{% trans %}Password{% endtrans %}" name="_password" required="required"/>
        </div>
    </div>

    <div class="form-actions">
        <label class="checkbox">
            <input type="checkbox" id="remember_me" name="_remember_me" value="on" /> {% trans %}Remember me{% endtrans %}
        </label>
        <button type="submit" class="btn green pull-right" id="_submit" name="_submit">
            {% trans %}Login{% endtrans %} <i class="m-icon-swapright m-icon-white"></i>
        </button>
    </div>
    <div class="forget-password">
        <h4>{% trans %}Forgot your password ?{% endtrans %}</h4>
        <p>
            {% trans %}no worries, click {% endtrans %} <a href="javascript:;"  id="forget-password">{% trans %}here{% endtrans %}</a> {% trans %}to reset your password.{% endtrans %}
        </p>
    </div>
</form>
<!-- END LOGIN FORM -->
<!-- BEGIN FORGOT PASSWORD FORM -->
<form class="forget-form" action="index.html" method="post">
    <h3>{% trans %}Forget Password ?{% endtrans %}</h3>
    <p>{% trans %}Enter your e-mail address below to reset your password.{% endtrans %}</p>
    <div class="form-group">
        <div class="input-icon">
            <i class="icon-envelope"></i>
            <input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="Email" name="email" />
        </div>
    </div>
    <div class="form-actions">
        <button type="button" id="back-btn" class="btn">
            <i class="m-icon-swapleft"></i> {% trans %}Back{% endtrans %}
        </button>
        <button type="submit" class="btn green pull-right">
            {% trans %}Submit{% endtrans %} <i class="m-icon-swapright m-icon-white"></i>
        </button>
    </div>
</form>
<!-- END FORGOT PASSWORD FORM -->

{% endblock fos_user_content %}
