{% extends "::base.html.twig" %}
{% trans_default_domain 'ListsProjectBundle' %}
{% block title %}{% trans %}List of projects{% endtrans %} {% endblock %}
{% block page_title %}
    <h3 class="page-title">
        {% trans %}Projects{% endtrans %} <small>{% trans %}list of projects{% endtrans %}</small>
    </h3>
{% endblock %}
{% block page_breadcrumbs %}
	<ul class="page-breadcrumb breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="{{ path('sd_dashboard_homepage') }}" title="{% trans %}Dashboard{% endtrans %}">{% trans %}Dashboard{% endtrans %}</a>
            </li>
            <li><a href="{{ path('lists_project_simple_index') }}" title="{% trans %}Projects{% endtrans %}">{% trans %}Projects{% endtrans %}</a></li>
	</ul>
{% endblock %}

{% block css_page_level_plugin %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('metronic/assets/global/plugins/select2/select2.css')}} " />
{% endblock %}

{% block js_page_level_plugins %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('metronic/assets/global/plugins/select2/select2.min.js') }}"></script>
{% endblock %}

{% block body %}

    {#{ ajax_filter_render(filter, filterNamespace, {
            'datatable_ajax': 'ITDoorsAjax.updateList'
        }) }#}

    <div id="gosTenderList" data-url="{{ url('lists_project_simple_list') }}">
        {{ render(controller('ListsProjectBundle:ProjectSimple:list')) }}
   </div>
{% endblock body %}
