{% trans_default_domain 'ListsProjectBundle' %}
{% if access.canEditProjectStateTender %}
    {{ include ('ListsProjectBundle:ProjectStateTender/Button:addDocument.html.twig')}}
    <script type="text/javascript">
        $(document).ready(function(){
            $('.editable-project-file').editable({
                url: '{{ path('lists_project_ajax_editable_project_file') }}'
            });
        });
    </script>
{% endif %}

<div class="table-scrollable">
    <table class="table table-striped table-bordered table-advance table-hover">
        <thead>
            <tr>
                <th>{% trans %}№{% endtrans %}</th>
                <th>{% trans %}Type document{% endtrans %}</th>
                <th>{% trans %}Document{% endtrans %}</th>
                <th>{% trans %}Description{% endtrans %}</th>
                <th>{% trans %}Author{% endtrans %}</th>
                <th>{% trans %}Date upload{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
            {% set list = 1 %}
            {% if object.dogovor %}
                <tr>
                    <td>{{ list  }}</td>
                    <td>{% trans%}Dogovor{% endtrans%} {{ object.dogovor.number }}</td>
                    <td>
                         {% if object.dogovor.filepath %}
                            {% if is_granted('ROLE_LAWYER') %}
                                <a href="{{ url('it_doors_file_access_get_if_authenticated', {path:'/uploads/dogovor/'~object.dogovor.filepath ,timestamp:'now'|date('U') }) }}"  target="_blank" >{% trans %}See document{% endtrans %}</a>
                            {% else %}
                                {% trans %}Недоступно{% endtrans %}
                            {% endif %}
                        {% endif %}
                    </td>
                    <td></td>
                    <td>{{ object.dogovor.user}}</td>
                    <td></td>
                <tr>
            {% endif %}
            {% for file in object.files %}
                {% set list = list+1 %}
                <tr>
                    <td>{{ list }}</td>
                    <td>{{ file.type ? file.type.name : '' }}</td>
                    <td>
                        {% if file.name %}
                        <a href="{{ path('it_doors_file_access_get_if_authenticated', {path:file.getWebPath ,timestamp:'now'|date('U') }) }}" target="_blank">{{file.nameOriginal is empty ? 'Document'|trans :file.nameOriginal }}</a>
                        {% elseif access.canEditProjectStateTender %}
                            <script>
                                $(document).ready(function(){
                                    $(function () {
                                        $('#fileupload{{ list }}').fileupload({

                                            dataType: 'json',
                                            fail: function (e, data) {
                                                alert('Upload error');
                                            },
                                            done: function (e, data) {
                                                ITDoorsAjax.updateList('list_documents');
                                            },
                                            add: function (e, data) {
                                                if(confirm('{% trans %}Upload new document{% endtrans %}?')){data.submit();}
                                            }
                                            }).prop('disabled', !$.support.fileInput)
                                                .parent().addClass($.support.fileInput ? undefined : 'disabled');
                                    });
                                });
                            </script>
                            <span class="btn btn-success fileinput-button">
                                <i class="glyphicon glyphicon-plus"></i>
                                <span>{% trans %}Upload new document{% endtrans %}</span>
                                <input id="fileupload{{ list }}" type="file" name="file" data-url="{{ path('lists_project_ajax_upload_file', {'id': file.id}) }}">
                            </span>  
                        {% endif %}
                    </td>
                    <td>
                        {% if access.canEditProjectStateTender %}
                        <a class="editable-project-file" data-pk="{{file.id}}" href="#" id="shortText" data-type="text" data-placement="top" data-original-title="{% trans %}Short text{% endtrans %}">
                        {% endif %}
                            {{ file.shortText}}
                        {% if access.canEditProjectStateTender %}
                        </a>
                        {% endif %}
                    </td>
                    <td>{{ file.user}}</td>
                    <td>{{ file.createDatetime is empty ? '' : file.createDatetime|date('d.m.Y H:i') }}</td>
                <tr>
            {% endfor %}
        </tbody>
    </table>
</div>
