{% trans_default_domain 'ITDoorsOperBundle' %}
<div style="overflow: auto;">
<table class="table table-striped table-hover table-bordered" id="graffic_table" cellpadding="0" cellspacing="0">
    <thead>
        <tr>
            <th>{% trans %}Id{% endtrans %}</th>
            <th>{% trans %}With prolongation{% endtrans %}</th>
            <th>{% trans %}Organization{% endtrans %}</th>
            <th>{% trans %}Customer{% endtrans %}</th>
            <th>{% trans %}Performer{% endtrans %}</th>
{#
            <th>{% trans %}Name doc{% endtrans %}</th>
#}
            <th>{% trans %}Number{% endtrans %}</th>
            <th>{% trans %}Start date{% endtrans %}</th>
            <th>{% trans %}End date{% endtrans %}</th>
            <th>{% trans %}City{% endtrans %}</th>
            <th>{% trans %}Subject{% endtrans %}</th>
            <th>{% trans %}Status{% endtrans %}</th>
            <th>{% trans %}Type dogovor{% endtrans %}</th>
{#
            <th>{% trans %}User created{% endtrans %}</th>
            <th>{% trans %}User sold{% endtrans %}</th>
            <th>{% trans %}Payment deferment{% endtrans %}</th>
            <th>{% trans %}Sum{% endtrans %}</th>
#}
            <th>{% trans %}File{% endtrans %}</th>
        </tr>
    </thead>
    <tbody>
        {% for dogovorDepartment in dogovorsDepartment %}
            {% set dogovor = dogovorDepartment.dogovor %}
            {% if dogovorDepartment.dopDogovor is empty %}
            <tr>
                <td>{{ dogovor.id }}</td>
                <td>
                    {% if dogovor.prolongation %}
                        {% trans %}Yes{% endtrans %}
                    {% else %}
                        {% trans %}No{% endtrans %}
                    {% endif %}
                </td>
                <td>{{ dogovor.organization }}</td>
                <td>{{ dogovor.customer }}</td>
                <td>{{ dogovor.performer }}</td>
{#
                <td>{{ dogovor.name }}</td>
#}
                <td>{{ dogovor.number }}</td>
                <td>{{ dogovor.startdatetime|date('d-m-Y') }}</td>
                <td>{{ dogovor.stopdatetime|date('d-m-Y') }}</td>
                <td>{{ dogovor.city }}</td>
                <td>{{ dogovor.subject }}</td>
                <td>
                    {% if dogovor.isActive %}
                        {% trans %}Active{% endtrans %}
                    {% else %}
                        {% trans %}Not active{% endtrans %}
                    {% endif %}
                </td>
                <td>{{ dogovor.dogovorType }}</td>
{#
                <td>{{ dogovor.user }}</td>
                <td>{% if dogovor.saller is not empty %}
                        {{ dogovor.saller }}
                    {% endif %}
                </td>

                <td>{{ dogovor.paymentDeferment }}</td>
                <td>{{ dogovor.summMonthVat }}</td>
#}
                <td>
{#                     <a href="/uploads/dogovor/{{ dopDogovor.filepath }}" target="_blank">{% trans %}File{% endtrans %}</a>#}
                    <a href="javascript:;" class="doclink" timestamp="{{ date().timestamp }}" value="/uploads/dogovor/{{ dogovor.filepath }}">{% trans %}File{% endtrans %}</a>
                </td>
            </tr>
                {% set headerDone = false %}
                {% set hasDopDogovor = false %}
                {% for dogovorDepartment in dogovorsDepartment %}
                    {% set dogovorMain = dogovorDepartment.dogovor %}
                    {% set dopDogovor = dogovorDepartment.dopDogovor %}
                    {% if dopDogovor is not empty and dogovorMain.id == dogovor.id %}
                        {% if headerDone == false %}
                        <tr>
                            <td></td>
                            <td colspan="12">{% trans %}List of dopDogovors for dogovor{% endtrans %}:{{ dogovor.id }}</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td colspan="12">
                                <table class="table table-striped table-hover">
                                    <thead>
                                    <tr>
                                        <th>{% trans %}id{% endtrans %}</th>
                                        <th>{% trans %}Type dopDogovor{% endtrans %}</th>
                                        <th>{% trans %}Number{% endtrans %}</th>
                                        <th>{% trans %}Start date{% endtrans %}</th>
                                        <th>{% trans %}Activation date{% endtrans %}</th>
                                        <th>{% trans %}Subject{% endtrans %}</th>
                                        <th>{% trans %}Status{% endtrans %}</th>
{#
                                        <th>{% trans %}User created{% endtrans %}</th>
                                        <th>{% trans %}User sold{% endtrans %}</th>
                                        <th>{% trans %}Sum{% endtrans %}</th>
#}
                                        <th>{% trans %}File{% endtrans %}</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                        {% endif %}
                        {% set headerDone = true %}
                        {% set hasDopDogovor = true %}
                                    <tr>
                                        <td>{{ dopDogovor.id }}</td>
                                        <td>{{ dopDogovor.dopDogovorType }}</td>
                                        <td>{{ dopDogovor.number }}</td>
                                        <td>{{ dopDogovor.startdatetime|date('d-m-Y') }}</td>
                                        <td>{{ dopDogovor.activedatetime|date('d-m-Y') }}</td>
                                        <td>{{ dopDogovor.subject }}</td>
                                        <td>
                                            {% if dopDogovor.isActive %}
                                                {% trans %}Active{% endtrans %}
                                            {% else %}
                                                {% trans %}Not active{% endtrans %}
                                            {% endif %}

                                        </td>
{#
                                        <td>{{ dopDogovor.user }}</td>
                                        <td>{{ dopDogovor.saller }}</td>
                                        <td>{{ dopDogovor.total }}</td>
#}
                                        <td>
{#                                             <a href="/uploads/dogovor/{{ dopDogovor.filepath }}" target="_blank">{% trans %}File{% endtrans %}</a>#}
                                            <a href="javascript:;" class="doclink" timestamp="{{ date().timestamp }}" value="/uploads/dogovor/{{ dopDogovor.filepath }}">{% trans %}File{% endtrans %}</a>
                                        </td>
                                    </tr>
                    {% endif %}

                {% endfor %}
                {% if hasDopDogovor %}
                    
                                 </tbody>
                                </table>
                                 </td> 
                            </tr>
                            {% endif %}
            {% endif %}
        {% endfor %}
    </tbody>
</table>
</div>

<script>
    $(document).ready(function(){
        $('.doclink').click(function(){
        	var url = '{{ url('it_doors_file_access_get_if_authenticated') }}';
        	url += '?';
        	url += encodeURI('path') + '=' + encodeURI($(this).attr('value')) + '&';
        	url += encodeURI('timestamp') + '=' + encodeURI($(this).attr('timestamp')) + '&';
        	url += encodeURI('role') + '=' + encodeURI($(this).attr('role'));
        	window.location = url;
        });
    });
</script>