{% trans_default_domain 'ListsReportBundle' %}
{% if results is not null %}
    {% if results|length %}
    <table class="table table-striped table-bordered table-advance table-hover">
        <thead>
        <tr style="border: 1px solid #fff;">
            <th style="border: 1px solid #fff; text-align: center" colspan="2">{% trans %}Organization{% endtrans %} </th>
            <th style="border: 1px solid #fff; text-align: center"colspan="4">{% trans %}Message{% endtrans %} </th>
            <th style="border: 1px solid #fff; text-align: center"  colspan="4">{% trans %}Future Message{% endtrans %} </th>
        </tr>
        <tr style="border: 1px solid #fff;">
            <th>{% trans %}ID{% endtrans %} </th>
            <th style="border-right: 1px solid #fff;">{% trans %}Project{% endtrans %} </th>
            <th>{% trans %}Date{% endtrans %} </th>
            <th>{% trans %}Type{% endtrans %} </th>
            <th>{% trans %}Contact{% endtrans %} </th>
            <th style="border-right: 1px solid #fff;">{% trans %}Description{% endtrans %} </th>
            <th>{% trans %}Date{% endtrans %} </th>
            <th>{% trans %}Type{% endtrans %} </th>
            <th>{% trans %}Contact{% endtrans %} </th>
            <th>{% trans %}Description{% endtrans %} </th>
        </tr>
        </thead>
        <tbody>
        {% for item in results %}
            <tr {% if loop.index is odd %}class="color"{% endif %}>
                <td>
                    <a href="">
                        {{ item.id }}
                    </a>
                </td>
                <td>
                    <a href="">
                        {{ item.organization }}
                    </a>
                </td>
                <td>{{ item.lastMessageCurrent.eventDatetime|date('d.m.Y H:i') }}</td>
                <td>{{ item.lastMessageCurrent.type|e }}</td>
                <td>{{ item.lastMessageCurrent.contact|e }}</td>
                <td>{{ item.lastMessageCurrent.description|e }}</td>
                <td>{{ item.lastMessagePlanned.eventDatetime|date('d.m.Y H:i') }}</td>
                <td>{{ item.lastMessagePlanned.type|e }}</td>
                <td>{{ item.lastMessagePlanned.contact|e }}</td>
                <td>{{ item.lastMessagePlanned.description|e }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
        <div class="note note-danger">
            <h4 class="block">{% trans %}Activies not found{% endtrans %}</h4>
        </div>
    {%  endif%}
{% else %}
    <div class="note note-danger">
        <h4 class="block">{% trans %}Please enter at least one parameter in the filter{% endtrans %}</h4>
    </div>
{%  endif%}
