{% extends "::base.html.twig" %}
{% trans_default_domain 'ListsReportBundle' %}
{% block title %}{% trans %}Last messages{% endtrans %} {% endblock %}
{% block page_title %}
    <h3 class="page-title">
        {% trans %}Last messages{% endtrans %} <small>{% trans %}list of last messages{% endtrans %}</small>
    </h3>
{% endblock %}
{% block page_breadcrumbs %}
    <ul class="page-breadcrumb breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="{{ path('sd_dashboard_homepage') }}">{% trans %}Dashboard{% endtrans %}</a>
        </li>
        <li><a href="">{% trans %}Last messages{% endtrans %}</a></li>
    </ul>
{% endblock %}
{% block css_page_level_plugin %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('metronic/assets/global/plugins/select2/select2.css')}} " />
    <link rel="stylesheet" type="text/css" href="{{ asset('metronic/assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.css')}} " />
    <link rel="stylesheet" type="text/css" href="{{ asset('templates/core/plugins/table-tools/media/css/TableTools.css')}} " />
    <link rel="stylesheet" type="text/css" href="{{ asset('metronic/assets/global/plugins/bootstrap-daterangepicker/daterangepicker-bs3.css')}} " />
    <link rel="stylesheet" type="text/css" href="{{ asset('metronic/assets/global/plugins/bootstrap-datetimepicker/css/datetimepicker.css')}} " />
{% endblock %}

{% block js_page_level_plugins %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('metronic/assets/global/plugins/select2/select2.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('metronic/assets/global/plugins/select2/select2_locale_'~ app.request.getLocale() ~'.js') }}"></script>
    <script type="text/javascript" src="{{ asset('metronic/assets/global/plugins/datatables/media/js/jquery.dataTables.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('templates/core/plugins/table-tools/media/js/ZeroClipboard.js') }}"></script>
    <script type="text/javascript" src="{{ asset('templates/core/plugins/table-tools/media/js/TableTools.js') }}"></script>
    <script type="text/javascript" src="{{ asset('metronic/assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js') }}"></script>
    <script type="text/javascript" src="{{ asset('metronic/assets/global/plugins/bootstrap-daterangepicker/moment.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('metronic/assets/global/plugins/bootstrap-daterangepicker/daterangepicker.js') }}"></script>
{% endblock %}

{% block body %}
    {{ ajax_filter_render('reportLastMessagesType', ajax_filter_namespace_report_last_messages, {
        'last-messages-holder': 'ITDoorsAjax.updateList'
    }) }}

    <div class="table-responsive" id="last-messages-holder" data-url="{{ path('lists_report_' ~ baseRoutePrefix ~ '_last_messages_table') }}">
        {{ render(controller('ListsReportBundle:' ~ baseTemplate ~ ':ReportLastMessagesTable')) }}
    </div>
{% endblock body %}
