{% trans_default_domain 'ITDoorsControllingBundle' %}
{% if entities|length %}
<div class="table-scrollable">
    <table class="table table-striped table-bordered table-hover dataTable" aria-describedby="datatable_ajax_info">
        <thead style="vertical-align:middle">
            <tr role="row" class="heading">
                <th width="40%" class="sorting_desc" role="columnheader" tabindex="0" aria-controls="datatable_ajax" rowspan="1" colspan="1" style="color: #fff;background-color: #000 !important;">
                    {% trans %}Customer{% endtrans %}
                </th>
                <th rowspan="2" width="5%" class="sorting_disabled" role="columnheader"  style="vertical-align: middle;color: #fff;background-color: #000 !important;text-align: center">
                    {% trans %}Planned date <br> of Pay{% endtrans %}
                </th>
                <th rowspan="2" width="5%" class="sorting" role="columnheader" tabindex="0" aria-controls="datatable_ajax" style="vertical-align: middle;color: #fff;background-color: #000 !important;text-align: center;">
                    {% trans %}Actual date <br> of payment{% endtrans %}
                </th>
                <th rowspan="2" width="5%" class="sorting" role="columnheader" tabindex="0" aria-controls="datatable_ajax" style="vertical-align: middle;color: #fff;background-color: #000 !important;text-align: center;">
                    {% trans %}The debt <br> initial{% endtrans %}
                </th>
                 <th rowspan="2" width="5%" class="sorting" role="columnheader" tabindex="0" aria-controls="datatable_ajax" style="vertical-align: middle;color: #fff;background-color: #000 !important;text-align: center;">
                    {% trans %}The amount <br> paid{% endtrans %}
                </th>
                <th rowspan="2" width="5%" class="sorting" role="columnheader" tabindex="0" aria-controls="datatable_ajax" style="vertical-align: middle;color: #fff;background-color: #000 !important;text-align: center;">
                    {% trans %}Days <br> overdue{% endtrans %}
                </th>
                <th rowspan="2" width="5%" class="sorting" role="columnheader" tabindex="0" aria-controls="datatable_ajax" style="vertical-align: middle;color: #fff;background-color: #000 !important;text-align: center;">
                    {% trans %}Remaining <br> debt{% endtrans %}
                </th>
            </tr>
            <tr>
                <th width="5%" class="sorting_disabled" role="columnheader" rowspan="1" colspan="1" style="color: #fff;background-color: #000 !important;">
                    {% trans %}Invoice{% endtrans %}
                </th>
            </tr>
        </thead>
        <tbody role="alert" aria-live="polite" aria-relevant="all">
            {% for entity in entities %}
                <tr>
                    <td  colspan="3" style="color: #000;background-color: #6FC48C !important;"><b>{{ entity.customer.name}}</b></td>
                    <td  colspan="1" style="color: #000;background-color: #6FC48C !important;text-align: right;"><b>{{ entity.customer.debtSum |number_format(2, ',' , ' ')}}</b></td>
                    <td  colspan="1" style="color: #000;background-color: #6FC48C !important;text-align: right;"><b>{{ entity.customer.paySum |number_format(2, ',' , ' ')}}</b></td>
                    <td  colspan="1" style="color: #000;background-color: #6FC48C !important;text-align: right;"><b>{{ (entity.customer.days /(entity['invoices']|length)) |round(0, 'floor')}}</b></td>
                    <td  colspan="1" style="color: #000;background-color: #6FC48C !important;text-align: right;"><b>{{ entity.customer.lastDebt |number_format(2, ',' , ' ')}}</b></td>
                </tr>
                {% for invoice in entity['invoices'] %}
                    <tr>
                        <td  colspan="1" style="color: #000;background-color: #C5FFBC !important;">{{ invoice.id}} {% trans %}Invoice for the customer{% endtrans %} {{ invoice.invoiceId}} {{ invoice.date | date('d.m.Y H:i:s')}}</td>
                        <td  colspan="1" style="color: #000;background-color: #C5FFBC !important;text-align: right">{{ invoice.delayDate | date('d.m.Y')}}</td>
                        <td  colspan="1" style="color: #000;background-color: #C5FFBC !important;text-align: right">{{ invoice.dateFact == '' ? '' : invoice.dateFact | date('d.m.Y')}}</td>
                        <td  colspan="1" style="color: #000;background-color: #C5FFBC !important;text-align: right;">{{ invoice.sumActs |number_format(2, ',' , ' ')}}</td>
                        <td  colspan="1" style="color: #000;background-color: #C5FFBC !important;text-align: right;">{{ invoice.paymentsSumma |number_format(2, ',' , ' ')}}</td>
                        <td  colspan="1" style="color: #000;background-color: #C5FFBC !important;text-align: right;">{{ invoice.days }}</td>
                        <td  colspan="1" style="color: #000;background-color: #C5FFBC !important;text-align: right;">{{ (invoice.sumActs-invoice.paymentsSumma) |number_format(2, ',' , ' ')}}</td>
                    </tr>
                {% endfor %}
            {% endfor %}
      
        </tbody>
    </table>
</div>
{% elseif filters.isFired is defined or filters|length == 0 %}
    <div class="note note-danger">
        <h4 class="block">{% trans %}Please enter at least one parameter in the filter{% endtrans %}</h4>
    </div>
{% elseif entities|length == 0 %}
    <div class="note note-danger">
        <h4 class="block">{% trans %}How to specify accounts found{% endtrans %}</h4>
    </div>
{%  endif%}

