{% extends "::base.html.twig" %}
{% trans_default_domain 'ITDoorsControllingBundle' %}
{% block title %}{% trans %}List of debtors{% endtrans %} {% endblock %}
{% block page_title %}
<h3 class="page-title">
        {% trans %}Invoice <small>list of debtors</small>{% endtrans %}
</h3>
{% endblock %}
{% block page_breadcrumbs %}
<ul class="page-breadcrumb breadcrumb">
    <li>
        <i class="fa fa-home"></i>
        <a href="{{ path('it_doors_controlling_invoice') }}" title="{% trans %}Controlling{% endtrans %}">{% trans %}Controlling{% endtrans %}</a>
        <i class="fa fa-angle-right"></i>
    </li>
    <li><a href="{{ path('it_doors_controlling_invoice') }}" title="{% trans %}debtors{% endtrans %}">{% trans %}debtors{% endtrans %}</a></li>
</ul>
{% endblock %}

{% block css_page_level_plugin %}
    {{ parent() }}
<link rel="stylesheet" type="text/css" href="{{ asset('templates/metronic/plugins/bootstrap-datepicker/css/datepicker.css')}} " />
<link rel="stylesheet" type="text/css" href="{{ asset('templates/metronic/plugins/bootstrap-editable/bootstrap-editable/css/bootstrap-editable.css')}} " />
{% endblock %}

{% block js_page_level_plugins %}
    {{ parent() }}

<script type="text/javascript" src="{{ asset('templates/metronic/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js')}} "></script>
<script type="text/javascript" src="{{ asset('templates/metronic/plugins/bootstrap-datepicker/js/locales/bootstrap-datepicker.ru.js')}} "></script>
<script type="text/javascript" src="{{ asset('templates/metronic/plugins/bootstrap-editable/bootstrap-editable/js/bootstrap-editable.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/itdoorscontrolling/js/invoice.js') }}"></script>
{% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-12">
        <div class="tabbable tabbable-custom boxless">
             {{ ajax_tab_render( tabs, tab, ajax_filter_namespace_report_invoice) }}
            <div class="tab-content ajax-tab-holder" id="datatable_ajax" data-url="{{ url('it_doors_controlling_invoice_show', { period: tab }) }}">
                 {{ render(controller('ITDoorsControllingBundle:Invoice:show')) }}
            </div>
        </div>
    </div>
</div>
{% endblock body %}