{% trans_default_domain 'ITDoorsControllingBundle' %}
{% for messag in messages %}
    <div class="portlet box yellow">
        <div class="portlet-title">
            <div class="caption">
                #{{messag.id}} | {{messag.createdate|date('d.m.y H:i')}} | {{messag.lastName}} {{messag.firstName}} | {{messag.clastName}} {{messag.cfirstName}}
            </div>
            <div class="tools"><a class="collapse" href="" title="Фильтры"></a></div>
        </div>
        <div class="portlet-body">{{ messag.note|raw('html') }} </div>
    </div>
{% endfor%}
