{% trans_default_domain 'ITDoorsControllingBundle' %}
<div class="table-scrollable" id="invoice_list" data-url="{{ url('it_doors_controlling_invoice_show', { period: period }) }}">
    <div class="navigation">
        {{ ajax_paginator_render(
            entities, ajax_filter_namespace_report_invoice, {
                    'invoice_list': 'ITDoorsAjax.updateList'
                }
            )
        }}
    </div>
    <table class="table table-striped table-bordered table-hover dataTable" id="datatable_ajax" aria-describedby="datatable_ajax_info">
        <thead>
            <tr role="row" class="heading">
                <th width="5%" class="sorting_disabled" role="columnheader" rowspan="1" colspan="1">
                    {% trans %}Customer{% endtrans %}
                </th>
                <th width="5%" class="sorting_disabled" role="columnheader" rowspan="1" colspan="1">
                    {% trans %}Performer{% endtrans %}
                </th>
                <th width="5%" class="sorting" role="columnheader" tabindex="0" aria-controls="datatable_ajax" rowspan="1" colspan="1">
                {% trans %}Invoice amount{% endtrans %}
                </th><th width="5%" class="sorting_desc" role="columnheader" tabindex="0" aria-controls="datatable_ajax" rowspan="1" colspan="1">
                {% trans %}№ and date invoice{% endtrans %}
                </th><th width="5%" class="sorting" role="columnheader" tabindex="0" aria-controls="datatable_ajax" rowspan="1" colspan="1">
                {% trans %}№ and date ABP/BH{% endtrans %}
                </th><th width="10%" class="sorting" role="columnheader" tabindex="0" aria-controls="datatable_ajax" rowspan="1" colspan="1">
                {% trans %}Responsible{% endtrans %}
                </th><th width="10%" class="sorting" role="columnheader" tabindex="0" aria-controls="datatable_ajax" rowspan="1" colspan="1">
                {% trans %}№ and date contract{% endtrans %}
                </th><th width="10%" class="sorting" role="columnheader" tabindex="0" aria-controls="datatable_ajax" rowspan="1" colspan="1">
                {% trans %}Deferment{% endtrans %}
                </th><th width="10%" class="sorting" role="columnheader" tabindex="0" aria-controls="datatable_ajax" rowspan="1" colspan="1">
                {% trans %}Original ABP/BH{% endtrans %}
                </th><th width="10%" class="sorting" role="columnheader" tabindex="0" aria-controls="datatable_ajax" rowspan="1" colspan="1">
                {% trans %}Notes{% endtrans %}
                </th><th width="10%" class="sorting" role="columnheader" tabindex="0" aria-controls="datatable_ajax" rowspan="1" colspan="1">
                {% trans %}Expected date of payment{% endtrans %}
                </th><th width="10%" class="sorting" role="columnheader" tabindex="0" aria-controls="datatable_ajax" rowspan="1" colspan="1">
                {% trans %}The actual date of payment{% endtrans %}
                </th></tr>
        </thead>
        <tbody role="alert" aria-live="polite" aria-relevant="all">
            {% for entity in entities %}
            <tr class="{{ cycle(['odd', 'even'], entity.invoiceId) }}">
                <td class=""><a href="{{ path('it_doors_controlling_invoice_invoice', {invoiceid:entity.id}) }}">{{ entity.organizationName }}</a></td>
                <td class=""><a href="{{ path('it_doors_controlling_invoice_invoice', {invoiceid:entity.id}) }}">{{ entity.performerName }}</a></td>
                <td class="">{{ entity.sum|number_format(2, ',', ' ')  }}</td>
                <td class=""><a href="{{ path('it_doors_controlling_invoice_invoice', {invoiceid:entity.id}) }}">{{ entity.invoiceId }}</a> {{ entity.date is empty ? '' : entity.date|date("d.m.y") }}</td>
                <td class="">{{ entity.dogovorActName }} {{ entity.dogovorActDate is empty ? '' : entity.dogovorActDate|date("d.m.y") }}</td>
                <td class="">
                    {% for responsible in responsibles[entity.id] %}
                        {{ responsible.company.name }}<br>
                    {% endfor %}
                </td>
                <td class="">{{ entity.dogovorNumber }} {{ entity.dogovorStartDatetime is empty ? '' :  entity.dogovorStartDatetime|date("d.m.y") }}</td>
                <td class="">{{ entity.delayDate is empty ? '' :  entity.delayDate|date("d.m.y")  }} ({{ entity.delayDays }} {{ entity.delayDaysType }})</td>
                <td class="">{% if entity.dogovorActOriginal is not empty %}{% trans %}on{% endtrans %}{% else %}{% trans %}off{% endtrans %}{% endif %}</td>
                <td class="">{{ entity.description }}</td>
                <td class="">{{ entity.dateEnd is empty ? '' : entity.dateEnd|date("d.m.y") }}</td>
                <td class="">{{ entity.dateFact is empty ? '' : entity.dateFact|date("d.m.y") }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="navigation">
        {{ ajax_paginator_render(
            entities, ajax_filter_namespace_report_invoice, {
                    'invoice_list': 'ITDoorsAjax.updateList'
                }
            )
        }}
    </div>
</div>