{% trans_default_domain 'ITDoorsControllingBundle' %}
<script>
    $(document).ready(function() {
        {% if access.canEdit %}
            $('.datesave').editable({
                type: 'date',
                name: 'DateEnd',
                url: '{{ path('sd_common_ajax_invoice_save') }}',
                emptytext: '{% trans from 'messages' %}Enter value{% endtrans %}',
                clear: '{% trans from 'ITDoorsControllingBundle' %}clear{% endtrans %}<i class="icon-remove fa fa-times" style="font-size:12px"></i>',
                datepicker: {
                    rtl: Metronic.isRTL(),
                    autoclose: true,
                    format: "dd.mm.yyyy",
                    pickerPosition: (Metronic.isRTL() ? "bottom-right" : "bottom-left"),
                    language: "{{ app.request.locale }}",
                    startView: 'month',
                    weekStart: 1
                }
            });
        {% endif %}
        {% if access.canChangeStatusCourt %}
            $('.status-edit').editable({
                url: '{{ path('sd_common_ajax_invoice_save') }}',
                source: [
                    {value: 1, text: '{% trans %}In coutr{% endtrans %}'},
                    {value: 0, text: 'Empty'}
                ]
            });
        {% endif %}
        {% if access.canChangeStatus %}
            $('.status-invoice').editable({
                url: '{{ path('sd_common_ajax_invoice_save') }}',
                source: [
                    {value: 1, text: '{% trans %}Problem{% endtrans %}'},
                    {value: 2, text: '{% trans %}Loyal{% endtrans %}'}
                ]
            });
        {% endif %}
    });
            
</script>
<div class="navigation">
    {{ ajax_paginator_render(
            entities, namespaceInvoice, {
                    'datatable_ajax': 'ITDoorsAjax.updateList'
                }
            )
    }}
</div>
<div class="table-scrollable">
    <table class="table table-striped table-bordered table-hover dataTable" aria-describedby="datatable_ajax_info">
        <thead>
            <tr role="row" class="heading">
                <th>
                    {% trans %}№ and date invoice{% endtrans %}
                    {{ ajax_ordering('invoiceId', namespaceInvoice, {
                        'datatable_ajax_tab': 'ITDoorsAjax.updateList'
                        }, true) }}
                </th>
                <th>
                    {% trans %}Customer{% endtrans %}
                    {{ ajax_ordering('customer', namespaceInvoice, {
                        'datatable_ajax_tab': 'ITDoorsAjax.updateList'
                        }, true) }}
                </th>
                <th>{% trans %}Performer{% endtrans %}</th>
                <th>{% trans %}Invoice amount{% endtrans %}</th>
                <th>{% trans %}Summa act{% endtrans %}</th>
                <th>{% trans %}Payments{% endtrans %}</th>
                <th>{% trans %}Debt{% endtrans %}</th>
                <th>{% trans %}Deferment{% endtrans %}</th>
                <th>{% trans %}№ and date ABP/BH{% endtrans %}</th>
                <th>{% trans %}Original ABP/BH{% endtrans %}</th>
                <th>
                    {% trans %}Responsible{% endtrans %}
                    {{ ajax_ordering('responsible', namespaceInvoice, {
                        'datatable_ajax_tab': 'ITDoorsAjax.updateList'
                        }, true) }}
                </th>
                <th>
                    {% trans %}Bank{% endtrans %}
                    {{ ajax_ordering('bank', namespaceInvoice, {
                        'datatable_ajax_tab': 'ITDoorsAjax.updateList'
                        }, true) }}
                </th>
                <th>
                    {% trans %}№ and date contract{% endtrans %}
                    {{ ajax_ordering('dogovorNumber', namespaceInvoice, {
                        'datatable_ajax_tab': 'ITDoorsAjax.updateList'
                        }, true) }}
                </th>
                <th>
                    {% trans %}Notes{% endtrans %}
                    {{ ajax_ordering('notes', namespaceInvoice, {
                        'datatable_ajax_tab': 'ITDoorsAjax.updateList'
                        }, true) }}
                </th>
                <th width="10%" class="sorting" role="columnheader" tabindex="0" aria-controls="datatable_ajax" rowspan="1" colspan="1">
                {% trans %}Expected date of payment{% endtrans %}
                </th>
                <th>{% trans %}The actual date of payment{% endtrans %}</th>
                {% if access.canChangeStatusCourt %}
                <th>{% trans %}Status{% endtrans %}</th>
                {% endif %}
                <th>{% trans %}Status invoice{% endtrans %}</th>
            </tr>
        </thead>
        <tbody role="alert" aria-live="polite" aria-relevant="all">
            {% for entity in entities %}
                {% set days = (('now'|date('U')-entity.delayDate|date('U'))/86400)|round(0, 'floor') %}
            <tr class="{{ cycle(['odd', 'even'], entity.invoiceId) }}{{ days > 60 and entity.dateFact is empty  ? (entity.status is empty ? ' warning' : ' success' ): ''}}">
                <td class=""><a href="{{ path('it_doors_controlling_invoice_invoice', {invoiceid:entity.id}) }}">{{ entity.invoiceId }}</a> {{ entity.date is empty ? '' : entity.date|date("d.m.y") }}</td>
                <td class=""><a href="{{ path('it_doors_controlling_invoice_invoice', {invoiceid:entity.id}) }}">{{ entity.invoiceCustomerName }} {{ '(' ~ entity.customerName ~ ')' }}</a></td>
                <td class="">{{ entity.performerName }}</td>
                <td class="">
                    {{ entity.sum|number_format(2, ',', ' ')  }}
                </td>
                <td class="">
                    {{ entity.sumActs|number_format(2, ',', ' ')  }}
                </td>
                <td class="">
                    {{ entity.paymentsSumma|number_format(2, ',', ' ')  }}
                </td>
                <td class="">
                    {{ (entity.debitSum)|number_format(2, ',', ' ')  }}
                </td>
                 <td class="">
                    {{ entity.delayDate is empty ? '' :  entity.delayDate|date("d.m.y")  }}
                    {% if entity.delayDays is not empty %}<br>({{ entity.delayDays}}{{ entity.delayDaysType }}) {% endif %}
                    <br>({% if entity.dateFact is empty %}{{ days > 0 ? days : 0 }}{% else %}0{% endif %})
                </td>
                <td class="">
                    {% if entity.actNumbers | length %}
                    {% set actNumbers = entity.actNumbers |split(',')%}
                    {% set actDates = entity.actDates |split(',')%}
                    <table>
                    {% for key,number in actNumbers %}
                        <tr><td>{{ number }}</td><td> ({{ actDates[key]|date("d.m.y") }})</td></tr>
                    {% endfor %}
                    </table>
                    {% endif %}
                </td>
                <td class="">
                    {% if entity.actOriginals | length %}
                    {% set actOriginals = entity.actOriginals |split(',')%}
                    <table>
                    {% for original in actOriginals %}
                        <tr><td>{% if original == 't' %}{% trans %}on{% endtrans %}{% else %}{% trans %}off{% endtrans %}{% endif %}</td></tr>
                    {% endfor %}
                    </table>
                    {% endif %}
                </td>
                <td class="">
                    {% if access.canAddResponsible %}
                    <a id="managers_list_new"
                       class="fa ajax-form fa-plus"
                       title="{% trans %}Add note{% endtrans %}"
                       data-toggle="modal"
                       href="#form_modal"
                       data-target_holder="invoiceMessageFormTpl"
                       data-default='{"invoiceId":"{{ entity.id }}"}'
                       data-form_name="invoiceCompanystructureForm"
                       data-post_function="updateList"
                       data-post_target_id="datatable_ajax"
                    ></a><br>
                    {% endif %}
                    {% set responsibles = entity.responsibles|split(',') %}
                    {% for responsible in responsibles %}
                    <a href="{{ path('it_doors_controlling_invoice_invoice', {invoiceid:entity.id}) }}">
                        {{ responsible }}
                    </a>
                    <br>
                    {% endfor %}
                </td>
                <td class="">{{ entity.bank }}</td>
                <td class="">
                    <a href="{{ path('it_doors_controlling_invoice_invoice', {invoiceid:entity.id}) }}">
                        {{ entity.dogovorNumber }}
                    </a>
                    {{ entity.dogovorStartDatetime is empty ? '' :  entity.dogovorStartDatetime|date("d.m.y") }}
                </td>
                <td class="">
                    {% if access.canAddNote %}
                    <a id="managers_list_new" class="fa ajax-form fa-plus" title="{% trans %}Add note{% endtrans %}"
                       data-toggle="modal"
                       href="#form_modal"
                       data-target_holder="invoiceMessageFormTpl"
                       data-default='{"invoice_id":"{{ entity.id }}"}'
                       data-form_name="invoiceMessageForm"
                       data-post_function="updateList"
                       data-post_target_id="datatable_ajax"
                    ></a>
                    {% endif %}
                       {{ entity.descriptiondate is empty ? '' : '('~entity.descriptiondate |date("d.m.y")~')'}}
                       {{ entity.description |raw('html') }}
                       {% if entity.file is not empty %}
                            <br><a href="{{ invoice_scan_file_path ~ entity.id ~ '/' ~ entity.file }}" target="_blank">{% trans %}Scan document{% endtrans %}</a>
                        {% endif %}
                </td>
                <td class="">
                    {% if access.canEdit %}
                    <a href="#" 
                       class="datesave fa fa-plus" data-pk="{{ entity.id }}"
                       data-original-title="{% trans %}Select data{% endtrans %}"
                       data-date="{{entity.dateEnd|date("d.m.Y")}}"
                       data-format="dd.mm.yyyy"> 
                    {% endif %}
                        {{ entity.dateEnd is empty ? '' : entity.dateEnd|date("d.m.Y") }}
                    {% if access.canEdit %}
                    </a>
                    {% endif %}
                </td>
                <td class="">{{ entity.dateFact is empty ? '' : entity.dateFact|date("d.m.Y") }}</td>
                {% if access.canChangeStatusCourt %}
                <td class="">
                    <a href="#" 
                       id="court" 
                       class="status-edit" 
                       data-type="select" 
                       data-pk="{{ entity.id }}"
                       data-value="{{ entity.court }}" 
                       data-placement="right" 
                       data-original-title="{% trans %}Select status{% endtrans %}">
                        {% if entity.court ==  true %}
                            {% trans %}In coutr{% endtrans %}
                        {% else%}
                            Empty
                        {% endif%}
                    </a>
                </td>
                {% endif %}
                <td class="">
                    {% if access.canChangeStatus %}
                    <a href="#" 
                       id="status" 
                       class="status-invoice" 
                       data-type="select" 
                       data-pk="{{ entity.id }}"
                       data-value="{{ entity.status }}" 
                       data-placement="right" 
                       data-original-title="{% trans %}Select status{% endtrans %}">
                        {% if entity.status ==  1 %}
                            {% trans %}Problem{% endtrans %}
                        {% elseif entity.status ==  2 %}
                            {% trans %}Loyal{% endtrans %}
                        {% else%}
                            Empty
                        {% endif%}
                    </a>
                    {% else %}
                        {% if entity.status ==  1 %}
                            {% trans %}Problem{% endtrans %}
                        {% elseif entity.status ==  2 %}
                            {% trans %}Loyal{% endtrans %}
                        {% endif%}
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
      
        </tbody>
    </table>
                </div>
    <div class="navigation">
        {{ ajax_paginator_render(
            entities, namespaceInvoice, {
                    'datatable_ajax': 'ITDoorsAjax.updateList'
                }
            )
        }}
    </div>
    {# modal window #}
    <div id="form_modal" class="modal fade" role="basic" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                </div>
                <div class="modal-body">
                    <div id="invoiceMessageFormTpl" data-text="{% trans from 'ListsContactBundle' %}Loading data. Please wait{% endtrans %}">
                    </div>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
    </div>
