{% trans_default_domain 'ITDoorsControllingBundle' %}
<div class="table-scrollable">
    <table class="table table-striped table-bordered table-hover table-full-width dataTable">
        <thead>
            <tr>
                <th>{% trans %}Customer{% endtrans %}</th>
                <th>{% trans %}Invoice amount{% endtrans %}</th>
                <th>{% trans %}№ and date invoice{% endtrans %}</th>
                <th>{% trans %}№ and date ABP/BH{% endtrans %}</th>
                <th>{% trans %}Agency{% endtrans %}</th>
                <th>{% trans %}№ and date contract{% endtrans %}</th>
                <th>{% trans %}Deferment{% endtrans %}</th>
                <th>{% trans %}Original ABP/BH{% endtrans %}</th>
                <th>{% trans %}Notes{% endtrans %}</th>
                <th>{% trans %}Expected date of payment{% endtrans %}</th>
                <th>{% trans %}The actual date of payment{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
            {% for entity in entities %}
            <tr>
                <td>{{ entity.organizationName }}</td>
                <td>{{ entity.sum }}</td>
                <td>{{ entity.invoiceId }} {{ entity.date|date("d.m.y") }}</td>
                <td>{{ entity.dogovorActName }} {{ entity.dogovorActDate|date("d.m.y") }}</td>
                <td>{{ entity.regionName }}</td>
                <td>{{ entity.dogovorNumber }} {{ entity.dogovorStartDatetime|date("d.m.y") }}</td>
                <td>{{ entity.postponement }}</td>
                <td>{% if entity.dogovorActOriginal is not empty %}{% trans %}on{% endtrans %}{% else %}{% trans %}off{% endtrans %}{% endif %}</td>
                <td>{{ entity.description }}</</td>
                <td>{{ entity.dateEnd|date("d.m.y") }}</td>
                <td>{{ entity.dateFact|date("d.m.y") }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>