{% trans_default_domain 'ITDoorsControllingBundle' %}
<script>
    $(document).ready(function() {
        $('.datesave').editable({
            type: 'date',
            name: 'DateEnd',
            url: '{{ path('sd_common_ajax_invoice_save') }}',
            emptytext: '{% trans from 'messages' %}Enter value{% endtrans %}',
                        clear: '{% trans from 'ITDoorsControllingBundle' %}clear{% endtrans %}<i class="icon-remove fa fa-times" style="font-size:12px"></i>',
                        datepicker: {
                            rtl: App.isRTL(),
                            autoclose: true,
                            format: "dd.mm.yyyy",
                            pickerPosition: (App.isRTL() ? "bottom-right" : "bottom-left"),
                            language: "{{ app.request.locale }}",
                            startView: 'month',
                            weekStart: 1
                        }
                    });
                })
</script>
<div class="col-md-12">
    <table id="handling" class="table table-bordered table-striped">
        <tbody>
            <tr>
                <td style="width:40%">{% trans %}Number act{% endtrans %}</td>
                <td style="width:40%">{{ entitie.dogovorActName}}</td>
            </tr>
            <tr>
                <td>{% trans %}MPK{% endtrans %}</td>
                <td>{{ entitie.dogovorActMPK}}</td>
            </tr>
            <tr>
                <td>{% trans %}Summa{% endtrans %}</td>
                <td>{{ entitie.dogovorActSumma}}</td>
            </tr>
            <tr>
                <td>{% trans %}Count{% endtrans %}</td>
                <td> {{ entitie.dogovorActCount}}</td>
            </tr>
            <tr>
                <td>{% trans %}Original ABP/BN{% endtrans %}</td>
                <td> {% if entitie.dogovorActOriginal is not empty %}{% trans %}on{% endtrans %}{% else %}{% trans %}off{% endtrans %}{% endif %}</td>
            </tr>
        </tbody>
    </table>

</div>