<div id="contact_list" data-url="{{ url('it_doors_controlling_invoice_invoice_show', {block: 'contacts' }) }}">
{% trans_default_domain 'ITDoorsControllingBundle' %}
<script>
    $(document).ready(function(){
        $('input[name="emailsForSed[]"]').on('click', function(){
            var _this = this;
             $.ajax({
                type: 'POST',
                url: "{{ path('it_doors_controlling_invoice_send_email') }}",
                data: 'idModelContact='+$(_this).data('modelid')+'&isSend='+$(_this).prop('checked')+'&idIsSend='+$(_this).data('idisiend'),
                beforeSend: function() {
                    //selfClass.blockUI(target);
                },
                success: function(response) {
                    response = jQuery.parseJSON(response);
                    $(_this).data('idisiend', response.id );
                    alert('{% trans %}Changes are saved{% endtrans %}');
                    //target.html(response);
                    //selfClass.unblockUI(target);
                }
            });
        });

    });
</script>

<div class="col-md-12">
    <div class="table-toolbar">
        <div class="btn-group" style="margin-bottom: 10px;">
            <button id="managers_list_new" class="btn green ajax-form"
                    data-target_holder="contactsFormTpl"
                    data-form_name="modelContactOrganizationUserForm"
                    data-default='{"modelName":"organization","modelId":{{ entitie[0].customerId}} }'
                    data-post_function="updateList"
                    data-post_target_id="contact_list"
                    >
                    {% trans %}Add Contact{% endtrans %} <i class="fa fa-plus"></i>
            </button>
        </div>
        <div style="display: none" id="contactsFormTpl">
        </div>
    </div>
    <div class="table-scrollable">
        <table id="handling" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>№</th>
                    <th>{% trans %}FirstName{% endtrans %}</th>
                    <th>{% trans %}LastName{% endtrans %}</th>
                    <th>{% trans %}SurName{% endtrans %}</th>
                    <th>{% trans %}Position{% endtrans %}</th>
                    <th>{% trans %}Phone{% endtrans %}</th>
                    <th>{% trans %}Mobile{% endtrans %}</th>
                    <th>{% trans %}Email{% endtrans %}</th>
                    <th>{% trans %}Send notifications{% endtrans %}</th>
                    <th>{% trans %}Birthday{% endtrans %}</th>
                    <th>{% trans %}Owner{% endtrans %}</th>
                </tr>
            </thead>
            {% if entitie[0].id is not null %}
            <tbody>
                {% for item in  entitie %}
                    <tr>
                        <td>{{ item.id }}</td>
                        <td>{{ item.firstName }}</td>
                        <td>{{ item.lastName }}</td>
                        <td>{{ item.middleName }}</td>
                        <td>{{ item.position }}</td>
                        <td>{{ item.phone1 }}</td>
                        <td>{{ item.phone2 }}</td>
                        <td>{{ item.email }}</td>
                        <td>{% if item.email is not null %}<input data-modelid="{{ item.id }}" data-idisiend="{{ item.idIsSend }}" type="checkbox" name="emailsForSed[]" class="allEmailsForSend" value="1"{% if item.isSend %} checked{% endif %}>{% endif %}</td>
                        <td>{{ item.birthday is empty ? '' : item.birthday|date("d.m.y") }}</td>
                        <td>{{ item.firstNameOwner }} {{ item.lastNameOwner }} {{ item.middleNameOwner }}</td>
                    </tr>
                {% endfor %}
            </tbody>
            {% endif %}
        </table>
    </div>
    </div>
</div>