{% trans_default_domain 'ITDoorsControllingBundle' %}
<div class="col-md-12">
    <table id="handling" class="table table-bordered table-striped">
        <tbody>
            <tr>
                <td style="width:50%">{% trans %}Creator{% endtrans %}</td> 
                <td style="width:50%">
                    {{ entitie.dogovor.customer.creator }} ({{ entitie.dogovor.customer.createdatetime is empty ? '' : entitie.dogovor.customer.createdatetime|date('d.m.Y, H:i')}})
                </td>
            </tr>
            <tr>
                <td>{% trans %}Organization name{% endtrans %}</td>
                <td> {{ entitie.dogovor.customer.name }} </td>
            </tr>
            <tr>
                <td>{% trans %}Short Name{% endtrans %}</td>
                <td> {{ entitie.dogovor.customer.shortname }}</td>
            </tr>
            <tr>
                <td>{% trans %}Organization type{% endtrans %}</td>
                <td>{{ entitie.dogovor.customer.organizationType }}</td>
            </tr>
            <tr>
                <td>{% trans %}Scope{% endtrans %}</td>
                <td>{{ entitie.dogovor.customer.scope }} </td>
            </tr>
            <tr>
                <td>{% trans %}Organization Group{% endtrans %}</td>
                <td>  {{ entitie.dogovor.customer.group }}</td>
            </tr>
            <tr>
                <td>{% trans %}City{% endtrans %}</td>
                <td>  {{ entitie.dogovor.customer.city }}</td>
            </tr>
            <tr>
                <td>{% trans %}Legal Address{% endtrans %}</td>
                <td>  {{ entitie.dogovor.customer.address }}</td>
            </tr>
            <tr>
                <td>{% trans %}Mailing Address{% endtrans %}</td>
                <td> {{ entitie.dogovor.customer.mailingAddress }}</td>
            </tr>
            <tr>
                <td>{% trans %}Physical Address{% endtrans %}</td>
                <td>{{entitie.dogovor.customer.physicalAddress}}</td>
            </tr>
            <tr>
                <td>{% trans %}Phone{% endtrans %}</td>
                <td>{{entitie.dogovor.customer.phone}}</td>
            </tr>
            <tr>
                <td>{% trans %}Site{% endtrans %}</td>
                <td>{{ entitie.dogovor.customer.site }}</td>
            </tr>
            <tr>
                <td>{% trans %}Edrpou{% endtrans %}</td>
                <td> {{ entitie.dogovor.customer.edrpou }}</td>
            </tr>
            <tr>
                <td>{% trans %}INN{% endtrans %}</td>
                <td> {{ entitie.dogovor.customer.inn }}</td>
            </tr>
            <tr>
                <td>{% trans %}INN Certificate{% endtrans %}</td>
                <td> {{ entitie.dogovor.customer.certificate }}</td>
            </tr>
            <tr>
                <td>{% trans %}Organization Description{% endtrans %}</td>
                <td> {{ entitie.dogovor.customer.shortDescription }}</td>
            </tr>
        </tbody>
    </table>

</div>