{% extends "::base.html.twig" %}
{% trans_default_domain 'ListsOrganizationBundle' %}
{% block title %}{% trans %}List of Organizations{% endtrans %} {% endblock %}
{% block page_breadcrumbs %}
	<ul class="page-breadcrumb breadcrumb">
		<li>
			<i class="fa fa-home"></i>
			<a href="{{ path('sd_dashboard_homepage') }}" titl="{% trans %}Dashboard{% endtrans %}">{% trans %}Dashboard{% endtrans %}</a> 
			<i class="fa fa-angle-right"></i>
		</li>
		<li><a href="{{ path('lists_sales_dispatcher_organization_index') }}" title="{% trans %}My Organizations{% endtrans %}">{% trans %}My Organizations{% endtrans %}</a></li>
	</ul>
{% endblock %}
{% block page_title %}
	<h3 class="page-title">
		{% trans %}Organization <small>list of organization</small>{% endtrans %}  
	</h3>
{% endblock %}


{% block css_page_level_plugin %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('templates/metronic/plugins/select2/select2_metro.css')}} " />
{% endblock %}

{% block js_page_level_plugins %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('templates/metronic/plugins/select2/select2.min.js') }}"></script>
{% endblock %}

{% block body %}

    {{  include(
            'ListsOrganizationBundle:SalesDispatcher:filters.html.twig',
            {
                filterForm: filterForm
            }
        )
    }}

    <div class="table-responsive">
        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>

        <table class="table table-striped table-bordered table-advance table-hover">
            <thead>
            <tr>
                <th>{% trans %}ID{% endtrans %} </th>
                <th>{% trans %}Name{% endtrans %} </th>
                <th>{% trans %}City{% endtrans %} </th>
                <th>{% trans %}Region{% endtrans %} </th>
                <th>{% trans %}Scope{% endtrans %} </th>
                <th>{% trans %}Managers{% endtrans %} </th>
                <th>{% trans %}Actions{% endtrans %} </th>
            </tr>
            </thead>
            <tbody>
            {% for item in pagination %}
                <tr {% if loop.index is odd %}class="color"{% endif %}>
                    <td>{{ item.organizationId|e }}</td>
                    <td>{{ item.organizationName|e }}</td>
                    <td>{{ item.cityName|e }}</td>
                    <td>{{ item.regionName|e }}</td>
                    <td>{{ item.scopeName|e }}</td>
                    <td>{{ item.fullNames|e }}</td>
                    <td>
                        <a
                            class="btn default btn-xs red-stripe"
                            href="{{ path('lists_sales_handling_add_organization_filter', {'organization_id': item.organizationId}) }}">
                            {{ 'handling.list'|trans({}, 'ListsOrganizationBundle') }}
                        </a>
						
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
{% endblock body %}