{% trans_default_domain 'ListsOrganizationBundle' %}
<script>
    $(document).ready(function(){
         $('.scopeId').editable({
            url: '{{ path('sd_common_ajax_dogovor_save') }}',
            source: '{{ path('sd_common_ajax_dogovor_type') }}',
            select2: {
                placeholder: '{% trans %}Select type{% endtrans %}',
                minimumInputLength: 0,
                width: 250
            }
        });
    });
</script>
    <div class="table-responsive table-scrollable">
        <table class="table table-striped table-bordered table-advance table-hover">
            <thead>
            <tr>
                <th>{% trans %}ID{% endtrans %} </th>
                <th>{% trans %}Scope{% endtrans %} </th>
                <th>{% trans %}Actions{% endtrans %} </th>
            </tr>
            </thead>
            <tbody>
            {% for item in coea %}
                <tr {% if loop.index is odd %}class="color"{% endif %}>
                   <td>{{ item.id }}</td>
                   <td>
                        <a href="#" id="scopeId" class="scopeId" data-type="select2" data-pk="{{ item.id }}" data-value="{{ item.scope }}" data-placement="right" data-original-title="{% trans %}Enter scope{% endtrans %}">
                            {{ item.scope }}
                        </a>
                   </td>
                   <td>
                       <a class="ajax-delete fa fa-trash-o"
                            title="{% trans %}Delete{% endtrans %}"
                            href="javascript:;"
                            data-params='{"model":"Coea","id":{{ item.id }}}'
                        ></a>
                   </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
