

<script>
    $(document).ready(function(){
        $('#organizationSalesFilterForm_users, #organizationSalesFilterForm_city, #organizationSalesFilterForm_scope', '').select2({
            placeholder: "Select a State",
            allowClear: true
        });
    })
</script>
{#
{{ form(
					filterForm,
					{
						'action': path('lists_sales_organization_filter'),
						'attr': {'novalidate': 'novalidate', 'class': 'form-inline', 'role': 'form'}
					})
				}}
#}
<div class="row ">
	<div class="col-md-12">
		<div class="portlet box yellow">
			<div class="portlet-title">
				<div class="caption"><i class="fa fa-reorder"></i>{% trans %}Filters{% endtrans %}</div>
				<div class="tools"><a class="collapse" href="" title="{% trans %}Filters{% endtrans %}"></a></div>
			</div>
			<div class="portlet-body">
				<p>Выберите параметры фильтра и нажмите кнопку Фильтр</p>
				
				{{ form_start(filterForm,
					{
						'action': path('lists_sales_organization_filter'),
						'attr': {'novalidate': 'novalidate', 'class': 'form-inline', 'role': 'form'}
					}) 
				}}
					{{ form_errors(filterForm) }}
					<div class="form-group">	
						{{ form_label(filterForm.city, '{% trans %}Enter City{% endtrans %}', {'attr': {'class': 'sr-only'}}) }}
						{{ form_widget(filterForm.city, {'attr': {'class': 'form-control select2 input-middle', 'placeholder': '{% trans %}Enter City{% endtrans %}', 'multiple': 'multiple'}}) }}																										
					</div>
					<div class="form-group">	
					{#	{{ form_label(filterForm.region, 'Region', {'attr': {'class': 'sr-only'}}) }}
						{{ form_widget(filterForm.region, {'attr': {'class': 'form-control select2 input-middle', 'placeholder': 'Enter Region', 'multiple': 'multiple'}}) }}																										
					#}
					</div>
					<div class="form-group">	
						{{ form_label(filterForm.scope, 'Scope', {'attr': {'class': 'sr-only'}}) }}
						{{ form_widget(filterForm.scope, {'attr': {'class': 'form-control select2 input-middle', 'placeholder': 'Enter Scope', 'multiple': 'multiple'}}) }}																										
					</div>
					<div class="form-group">	
						{{ form_label(filterForm.users, 'Manager', {'attr': {'class': 'sr-only'}}) }}
						{{ form_widget(filterForm.users, {'attr': {'class': 'form-control select2 input-middle', 'placeholder': 'Enter Manager', 'multiple': 'multiple'}}) }}																										
					</div>
					{{ form_widget(filterForm.save, { 'label': '<i class="fa fa-check"></i> {% trans %}Filter{% endtrans %}' }) }}
				{{ form_end(filterForm) }}

<!--				
									<button class="btn green" type="submit"><i class="fa fa-check"></i> {% trans %}Filter{% endtrans %}</button>
					<button class="btn" type="reset"><i class="fa fa-check"></i> {% trans %}Clear Filter{% endtrans %}</button>
-->
			</div>
		</div>
	</div>
</div>