{% extends "::base.html.twig" %}
{% block page_title %}
	<h3 class="page-title">
		{% trans %}Organization <small>list of organization</small>{% endtrans %}  
	</h3>
{% endblock %}

{% block js_page_level_plugins %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('templates/metronic/plugins/select2/select2.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('templates/metronic/plugins/data-tables/jquery.dataTables.js') }}"></script>
    <script type="text/javascript" src="{{ asset('templates/metronic/plugins/data-tables/DT_bootstrap.js') }}"></script>
{% endblock %}

{% block js_page_init_scripts %}
    {{ parent() }}
    <script src="{{ asset('templates/metronic/scripts/app.js') }}"></script>
    <script src="{{ asset('templates/core/scripts/table-ajax.js') }}"></script>
    <script>
        jQuery(document).ready(function() {
            TableAjax.init(
                "#organization_ajax_table",
                {
                    "sAjaxSource": "{{ path('lists_sales_organization_ajax_index') }}"
                }
            );
        });
    </script>
{% endblock %}

{% block body %}

    <table class="table table-striped table-bordered table-hover" id="organization_ajax_table">
        <thead>
        <tr>
            <th>{% trans %}ID{% endtrans %} </th>
            <th>{% trans %}Name{% endtrans %} </th>
            <th>{% trans %}City{% endtrans %} </th>
            <th>{% trans %}Region{% endtrans %} </th>
            <th>{% trans %}Scope{% endtrans %} </th>
            <th>{% trans %}Managers{% endtrans %} </th>
        </tr>
        </thead>
        <tbody></tbody>
    </table>
{% endblock body %}