{% trans_default_domain 'SDUserBundle' %}
<script type="text/javascript">
    $(document).ready(function(){
    var options = {
                common:{
                   onKeyUp: function(){
                       if ($('.error-list li').length === 0 && !$('.progress .progress-bar').hasClass('progress-bar-danger')){
                           $('#changePasswordForm_plainPassword_second').attr('disabled', false);
                           if ($('#changePasswordForm_plainPassword_second').val() === $('#changePasswordForm_plainPassword_first').val()){
                               $('#changePasswordForm_create').attr('disabled', false);
                           } else {
                               $('#changePasswordForm_create').attr('disabled', 'disabled');
                           }
                           if ($('#changePasswordForm_plainPassword_second').val() === $('#changePasswordForm_plainPassword_first').val()){
                               $('#changePasswordForm_create').attr('disabled', false);
                               $('#changePasswordForm_plainPassword_second_error').hide();
                               $('#changePasswordForm_plainPassword_second').parent('.form-group').removeClass('has-error');
                           } else {
                               if ($('#changePasswordForm_plainPassword_second').val() === '') {
                                   $('#changePasswordForm_plainPassword_second_error').hide();
                                   $('#changePasswordForm_plainPassword_second').parent('.form-group').removeClass('has-error');
                               } else {
                                    $('#changePasswordForm_plainPassword_second').parent('.form-group').addClass('has-error');
                                    $('#changePasswordForm_plainPassword_second_error').show();
                               }
                               $('#changePasswordForm_create').attr('disabled', 'disabled');
                           }
                           
                       } else {
                          $('#changePasswordForm_create').attr('disabled', 'disabled');
                          $('#changePasswordForm_plainPassword_second').attr('disabled', 'disabled');
                       }
                       
                   }
                },
                ui: {
                    verdicts: ["Простой", "Слабый", "Нормальный", "Средний", "Сложный"],
                    showVerdictsInsideProgressBar: true,
                    showErrors: true,
                    
                    errorMessages: {
                        password_too_short: "Пароль слишком короткий",
                        email_as_password: "Запрещено использовать email в качестве пароля",
                        same_as_username: "Пароль не должен содержать логин",
                        two_character_classes: "Пароль должен содержать латинские буквы, цифры и символы из списка: ! @ # $ % ^ & * ( ) _ - +",
                        repeated_character: "Слишком много повторений",
                        sequence_found: "Ваш пароль содержит последовательность"
                    },
                    usernameField: '#fos_user_resetting_form_username',
                    showStatus: true,
                    spanError: function (options, key) {
                        $('#changePasswordForm_create').attr('disabled', 'disabled');
                        var text = options.ui.errorMessages[key];
                        return '<span style="color: #d52929; font-size: 11px">' + text + '</span>';
                    }
                },
                rules:{
                    activated:{
                        //wordTwoCharacterClasses: true
                        wordRepetitions: true
                    }
                }
            };
            $('#changePasswordForm_plainPassword_first').pwstrength(options);
            $('#changePasswordForm_plainPassword_second').keyup(function(){
                if ($('#changePasswordForm_plainPassword_second').val() === $('#changePasswordForm_plainPassword_first').val() && $('#changePasswordForm_plainPassword_second').val() !== ''){
                    $('#changePasswordForm_create').attr('disabled', false);
                    $('#changePasswordForm_plainPassword_second_error').hide();
                    $(this).parent('.form-group').removeClass('has-error');
                } else {
                    if ($('#changePasswordForm_plainPassword_second').val() === '') {
                        $('#changePasswordForm_plainPassword_second_error').hide();
                        $(this).parent('.form-group').removeClass('has-error');
                    }
                    $('#changePasswordForm_create').attr('disabled', 'disabled');
                }
                
            });
            $('#changePasswordForm_plainPassword_second').on('change', function(){
                if ($('#changePasswordForm_plainPassword_second').val() === $('#changePasswordForm_plainPassword_first').val() && $('#changePasswordForm_plainPassword_second').val() !== ''){
                    $('#changePasswordForm_plainPassword_second_error').hide();
                    $(this).parent('.form-group').removeClass('has-error');
                } else {
                    if ($('#changePasswordForm_plainPassword_second').val() === '') {
                        $(this).parent('.form-group').removeClass('has-error');
                        $('#changePasswordForm_plainPassword_second_error').hide();
                    } else {
                        $(this).parent('.form-group').addClass('has-error');
                        $('#changePasswordForm_plainPassword_second_error').show();
                    }
                }
            });
            
            });
            
    /*$(document).ready(function (){
        $(".form_datetime").datetimepicker({
            autoclose: true,
            isRTL: Metronic.isRTL(),
            format: "dd.mm.yyyy hh:ii",
            pickerPosition: (Metronic.isRTL() ? "bottom-right" : "bottom-left"),
            language: 'ru',
            weekStart: 1,
        });
    });*/
</script>
<style>
    .progress{
        margin-bottom: 0px !important
    }
</style>
{% form_theme form 'ITDoorsCommonBundle:Form:form_errors.html.twig' %}
<div class="row">
    {% if form.vars.valid %}
    {% else %}
        <div class="alert alert-danger">
            <button class="close" data-close="alert"></button>
            {% trans from 'messages' %}You have some form errors. Please check below.{% endtrans %}
            {{ form_errors(form) }}
        </div>
    {% endif %}
    {% if notice is defined and notice %}
        <div class="alert alert-success">
            {{ notice }}
        </div>
    {% endif %}
    <div class="portlet-body form">
        {{ form_start(form, {
                'action' : path('sd_common_ajax_form'),
                'attr' : {
                'method' : 'POST',
                'class' : 'ajax-form-entity',
                'data-post_function': postFunction,
                'data-post_target_id': postTargetId,
                'data-target_id': targetId
            }
        }) }}
        {% if form.current_password is defined %}
        <div class="form-group col-md-12{% if form.current_password.vars.errors|length %} has-error{% endif %}">
            {{ form_label(form.current_password, 'Current password'|trans , {'attr': {'class': 'control-label'}}) }}
            {{ form_widget(form.current_password, {'attr' : {'class' : 'form-control', 'placeholder': "Current password"|trans}}) }}
            {% if form.current_password.vars.errors|length %}
                {{ form_errors(form.current_password) }}
            {% endif %}
        </div>
        {% endif %}
        <div class="form-group col-md-12{% if form.plainPassword.first.vars.errors|length %} has-error{% endif %}">
            {{ form_label(form.plainPassword.first, 'New password'|trans, {'attr': {'class': 'control-label'}}) }}
            {{ form_widget(form.plainPassword.first, {'attr' : {'class' : 'form-control', 'placeholder': "New password"|trans}}) }}
            {% if form.plainPassword.first.vars.errors|length %}
                {{ form_errors(form.plainPassword.first) }}
            {% endif %}
        </div>
        <div class="form-group col-md-12{% if form.plainPassword.second.vars.errors|length %} has-error{% endif %}">
            {{ form_label(form.plainPassword.second, 'New password again'|trans, {'attr': {'class': 'control-label'}}) }}
            {{ form_widget(form.plainPassword.second, {'attr' : {'class' : 'form-control',"disabled":"disabled", 'placeholder': "New password again"|trans}}) }}
            {% if form.plainPassword.second.vars.errors|length %}
                {{ form_errors(form.plainPassword.second) }}
            {% endif %}
        </div>

        <input type="hidden" name="formName" value="{{ formName }}">
        <input type="hidden" name="postFunction" value="{{ postFunction }}">
        <input type="hidden" name="postTargetId" value="{{ postTargetId }}">
        <input type="hidden" name="targetId" value="{{ targetId }}">
        <input type="hidden" name="model" value="{{ model }}">
        <input type="hidden" name="modelId" value="{{ modelId }}">
        <input type="hidden" name="defaultData" value='{{ defaultData|json_encode|raw }}'>

        <div class="form-actions">
            {{ form_widget(form.create, { 'label': 'Save', 'attr': {'class': 'btn blue'} } ) }}
        </div>
        {{ form_end(form) }}
    </div>
</div>
