{% trans_default_domain 'SDUserBundle' %}

<script type="text/javascript">

    $(document).ready(function (){

        /*$(".form_datetime").datetimepicker({
            autoclose: true,
            isRTL: App.isRTL(),
            format: "dd.mm.yyyy hh:ii",
            pickerPosition: (App.isRTL() ? "bottom-right" : "bottom-left"),
            language: 'ru',
            weekStart: 1,
        });*/
    })
</script>
{% form_theme form 'ITDoorsCommonBundle:Form:form_errors.html.twig' %}
<div class="row">
    {% if form.vars.valid %}
    {% else %}
        <div class="alert alert-danger">
            <button class="close" data-close="alert"></button>
            {% trans from 'messages' %}You have some form errors. Please check below.{% endtrans %}
            {{ form_errors(form) }}
        </div>
    {% endif %}
    {% if notice is defined and notice %}
        <div class="alert alert-success">
            {{ notice }}
        </div>
    {% endif %}
    <div class="portlet-body form">
        {{ form_start(form, {
                'action' : path('sd_common_ajax_form'),
                'attr' : {
                'method' : 'POST',
                'class' : 'ajax-form-entity',
                'data-post_function': postFunction,
                'data-post_target_id': postTargetId,
                'data-target_id': targetId
            }
        }) }}
        {% if form.current_password is defined %}
        <div class="form-group col-md-12{% if form.current_password.vars.errors|length %} has-error{% endif %}">
            {{ form_label(form.current_password, 'Current password', {'attr': {'class': 'control-label'}}) }}
            {{ form_widget(form.current_password, {'attr' : {'class' : 'form-control', 'placeholder': "Current password"}}) }}
            {% if form.current_password.vars.errors|length %}
                {{ form_errors(form.current_password) }}
            {% endif %}
        </div>
        {% endif %}
        <div class="form-group col-md-12{% if form.plainPassword.first.vars.errors|length %} has-error{% endif %}">
            {{ form_label(form.plainPassword.first, 'New password', {'attr': {'class': 'control-label'}}) }}
            {{ form_widget(form.plainPassword.first, {'attr' : {'class' : 'form-control', 'placeholder': "New password"}}) }}
            {% if form.plainPassword.first.vars.errors|length %}
                {{ form_errors(form.plainPassword.first) }}
            {% endif %}
        </div>
        <div class="form-group col-md-12{% if form.plainPassword.second.vars.errors|length %} has-error{% endif %}">
            {{ form_label(form.plainPassword.second, 'New password again', {'attr': {'class': 'control-label'}}) }}
            {{ form_widget(form.plainPassword.second, {'attr' : {'class' : 'form-control', 'placeholder': "New password again"}}) }}
            {% if form.plainPassword.second.vars.errors|length %}
                {{ form_errors(form.plainPassword.second) }}
            {% endif %}
        </div>

        <input type="hidden" name="formName" value="{{ formName }}">
        <input type="hidden" name="postFunction" value="{{ postFunction }}">
        <input type="hidden" name="postTargetId" value="{{ postTargetId }}">
        <input type="hidden" name="targetId" value="{{ targetId }}">
        <input type="hidden" name="model" value="{{ model }}">
        <input type="hidden" name="modelId" value="{{ modelId }}">
        <input type="hidden" name="defaultData" value='{{ defaultData|json_encode|raw }}'>

        <div class="form-actions">
            {{ form_widget(form.create, { 'label': 'Save', 'attr': {'class': 'btn blue'} } ) }}
        </div>
        {{ form_end(form) }}
    </div>
</div>
