{% trans_default_domain 'ListsHandlingBundle' %}
<script type="text/javascript">

    $(document).ready(function(){
        $('#handlingUserForm_user').select2({
            minimumInputLength: 2,
            ajax: {
                url: '{{ path('sd_common_ajax_user') }}',
                dataType: 'json',
                data: function (term, page) {
                    return {
                        query: term
                    };
                },
                results: function (data, page) {
                    return {
                        results: data
                    };
                }
            }
        });
    }); 

</script>

<div class="row ">
    <div class="col-md-12">
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-edit"></i>
                    {% trans %}Add manager in project{% endtrans %}
                </div>
            </div>
            <div class="portlet-body">
                {% form_theme form 'ITDoorsCommonBundle:Form:form_errors.html.twig' %}
                {{ form_start(form, {
                    'action' : path('sd_common_ajax_form'),
                    'attr' : {
                        'method' : 'POST',
                        'class' : 'ajax-form-entity',
                        'data-post_function': postFunction,
                        'data-post_target_id': postTargetId,
                        'data-target_id': targetId
                    }
                }) }}
                <div class="panel-body">
                    {% if form.vars.valid is sameas(false) %}
                    <div class="alert alert-danger">
                        <button class="close" data-close="alert"></button>
                        {% trans %}You have some form errors. Please check below.{% endtrans %}
                        {{ form_errors(form) }}
                    </div>
                    {% endif %}
                    <div class="form-group">
                        {{ form_label(form.user, 'Manager', {'attr': {'class': 'control-label'}}) }}
                        {{ form_widget(form.user, {'attr' : {'class' : 'form-control', 'placeholder': "Manager" }}) }}
                        <span class="help-block">После добавления пользователя, он получет доступ к проекту, контактам.</span>
                    </div>
                    <div class="form-group">
                        {{ form_label(form.part, 'Percentage of participation', {'attr': {'class': 'control-label'}}) }}
                        {{ form_widget(form.part, {'attr' : {'class' : 'form-control', 'placeholder': "Percentage of participation" }}) }}
                        <span class="help-block">{% trans %}Enter share{% endtrans %}</span>
                    </div>
                    <input type="hidden" name="formName" value="{{ formName }}">
                    <input type="hidden" name="postFunction" value="{{ postFunction }}">
                    <input type="hidden" name="postTargetId" value="{{ postTargetId }}">
                    <input type="hidden" name="targetId" value="{{ targetId }}">
                </div>
                <div class="form-actions">
                    {{ form_widget(form.add, { 'label': 'Save', 'attr': {'class': 'btn blue'} } ) }}
                    {{ form_widget(form.cancel, { 'label': 'Cancel', 'attr': {'class': 'btn default sd-cancel-btn'} } ) }}
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>
