<script type="text/javascript">

   /* $(document).ready(function(){
        $('#handlingUserForm_user').select2({
            minimumInputLength: 2,
            ajax: {
                url: '{{ path('sd_common_ajax_user') }}',
                dataType: 'json',
                data: function (term, page) {
                    return {
                        query: term
                    };
                },
                results: function (data, page) {
                    return {
                        results: data
                    };
                }
            }
        })
    });*/

</script>

<div class="row">
    <div class="col-md-12">
        <div class="portlet box yellow">
            <div class="portlet-body">

                {{ form_start(form, {
                    'action' : path('sd_common_ajax_form'),
                    'attr' : {
                        'method' : 'POST',
                        'class' : 'ajax-form-entity',
                        'data-post_function': postFunction,
                        'data-post_target_id': postTargetId,
                        'data-target_id': targetId
                }
                }) }}
                {{ form_errors(form) }}
                <div class="row">
                    <div class="form-group col-md-3">
                        {{ form_widget(form.createdate, {'attr' : {'class' : 'form-control', 'placeholder': 'Create date'}}) }}
                    </div>
                    <div class="form-group col-md-2">
                        {{ form_widget(form.type, {'attr' : {'class' : 'form-control', 'placeholder': 'Handling tye'} } ) }}
                    </div>
                    <div class="form-group col-md-2">
                        {{ form_widget(form.filename, {'attr' : {'class' : 'form-control', 'placeholder': 'Filename'} } ) }}
                    </div>
                    <div class="form-group col-md-2">
                        {{ form_widget(form.file ) }}
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-12">
                        {{ form_widget(form.description, {'attr' : {'class' : 'form-control', 'placeholder': 'Description'} } ) }}
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-12">
                        {{ form_widget(form.create, { 'label': 'Create', 'attr': {'class': 'btn green'} } ) }}
                    </div>
                </div>

                <input type="hidden" name="formName" value="{{ formName }}">
                <input type="hidden" name="postFunction" value="{{ postFunction }}">
                <input type="hidden" name="postTargetId" value="{{ postTargetId }}">
                <input type="hidden" name="targetId" value="{{ targetId }}">
                {{ form_end(form) }}

            </div>
        </div>
    </div>
</div>