<script type="text/javascript">

    $(document).ready(function (){

        $(".form_datetime").datetimepicker({
            autoclose: true,
            isRTL: App.isRTL(),
            format: "dd.m.yyyy hh:ii",
            pickerPosition: (App.isRTL() ? "bottom-right" : "bottom-left"),
            language: 'ru',
            weekStart: 1,
            startDate: new Date(1000*{{ form.mindate.vars.value }})
        });
    })

    console.log(new Date({{ form.mindate.vars.value }}));

</script>
{% form_theme form 'SDCommonBundle:Form:form_errors.html.twig' %}
<div class="row">
    <div class="col-md-12">
        <div class="portlet box yellow">
            <div class="portlet-body">
                {{ form_errors(form) }}
                {{ form_start(form, {
                    'action' : path('sd_common_ajax_form'),
                    'attr' : {
                        'method' : 'POST',
                        'class' : 'ajax-form-entity',
                        'data-post_function': postFunction,
                        'data-post_target_id': postTargetId,
                        'data-target_id': targetId
                }
                }) }}
                <div class="row">
                    <div class="form-group col-md-3">
                        <div class="input-group date form_datetime">
                            {{ form_widget(form.createdate, {'attr' : {
                                'class' : 'form-control',
                                'placeholder': 'Create date',
                                'readonly': 'readonly'
                            }}) }}
                            <span class="input-group-btn">
                                <button class="btn default date-set" type="button"><i class="fa fa-calendar"></i></button>
                            </span>
                        </div>
                    </div>
                    <div class="form-group col-md-2">
                        {{ form_widget(form.type, {'attr' : {'class' : 'form-control', 'placeholder': 'Handling tye'} } ) }}
                    </div>
                    <div class="form-group col-md-3">
                        <div class="input-group date form_datetime">
                            {{ form_widget(form.nextcreatedate, {'attr' : {
                                'class' : 'form-control',
                                'placeholder': 'Create date',
                                'readonly': 'readonly'
                            }}) }}
                            <span class="input-group-btn">
                                <button class="btn default date-set" type="button"><i class="fa fa-calendar"></i></button>
                            </span>
                        </div>
                    </div>
                    <div class="form-group col-md-2">
                        {{ form_widget(form.nexttype, {'attr' : {'class' : 'form-control', 'placeholder': 'Handling type'} } ) }}
                    </div>
                    <div class="form-group col-md-2">
                        <div class="checkbox-list">
                            {{ form_label(form.next_is_business_trip, 'Is business trip', {'attr': {'class': 'control-label'}}) }}
                            {{ form_widget(form.next_is_business_trip, {'attr' : {'class' : 'form-control', 'placeholder': 'Handling type'} } ) }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-12">
                        {{ form_widget(form.description, {'attr' : {'class' : 'form-control', 'placeholder': 'Description'} } ) }}
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-2">
                        {{ form_widget(form.filename, {'attr' : {'class' : 'form-control', 'placeholder': 'Filename'} } ) }}
                    </div>
                    <div class="form-group col-md-2">
                        {{ form_widget(form.file ) }}
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-12">
                        {{ form_widget(form.create, { 'label': 'Create', 'attr': {'class': 'btn green'} } ) }}
                    </div>
                </div>

                <input type="hidden" name="formName" value="{{ formName }}">
                <input type="hidden" name="postFunction" value="{{ postFunction }}">
                <input type="hidden" name="postTargetId" value="{{ postTargetId }}">
                <input type="hidden" name="targetId" value="{{ targetId }}">
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>