{% trans_default_domain 'ITDoorsControllingBundle' %}

<script type="text/javascript">

    $(document).ready(function (){

        $(".form_datetime").datetimepicker({
            autoclose: true,
            isRTL: App.isRTL(),
            format: "dd.mm.yyyy hh:ii",
            pickerPosition: (App.isRTL() ? "bottom-right" : "bottom-left"),
            language: 'ru',
            weekStart: 1,
            startDate: new Date(1000*{{ form.createdate.vars.value }})
        });

   
    });

  

</script>
{% form_theme form 'ITDoorsCommonBundle:Form:form_errors.html.twig' %}
<div class="row">
    <div class="col-md-12">
        <div class="portlet box green">
            <div class="portlet-title"><div class="caption"><i class="fa fa-cogs"></i>{% trans %}Create New Message{% endtrans %}</div></div>
            <div class="portlet-body">
                {% if form.vars.valid %}
                {% else %}
                <div class="alert alert-danger">
                    <button class="close" data-close="alert"></button>
                    {{ form_errors(form) }}
                </div>
                {% endif %}

                {{ form_start(form, {
                    'action' : path('sd_common_ajax_form'),
                    'attr' : {
                        'method' : 'POST',
                        'class' : 'ajax-form-entity',
                        'data-post_function': postFunction,
                        'data-post_target_id': postTargetId,
                        'data-target_id': targetId
                }
                }) }}
                
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">{% trans %}Current Message{% endtrans %}</div>
                            <div class="panel-body">
                                <div class="form-group">
                                    {{ form_label(form.createdate, 'Current Message Create Date', {'attr': {'class': 'control-label'}}) }}
                                    <div class="input-group date form_datetime">
                                        {{ form_widget(form.createdate, {'attr' : {
                                        'class' : 'form-control',
                                        'placeholder': 'Create date'
                                        }}) }}
                                        <span class="input-group-btn">
                                            <button class="btn default date-set" type="button"><i class="fa fa-calendar"></i></button>
                                        </span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    {{ form_label(form.note, 'Description', {'attr': {'class': 'control-label'}}) }}
                                    {{ form_widget(form.note, {'attr' : {'class' : 'form-control', 'placeholder': 'Description'} } ) }}
                                </div>
                                <div class="form-group">
                                    {{ form_label(form.contactid, 'Contact Person', {'attr': {'class': 'control-label'}}) }}
                                    {{ form_widget(form.contactid, {'attr' : {'class' : 'form-control', 'placeholder': 'Select Contact Person'} } ) }}
                                </div>
        
                            </div>
                        </div>
                    </div>
                </div>
                <input type="hidden" name="formName" value="{{ formName }}">
                <input type="hidden" name="postFunction" value="{{ postFunction }}">
                <input type="hidden" name="postTargetId" value="{{ postTargetId }}">
                <input type="hidden" name="targetId" value="{{ targetId }}">
                <input type="hidden" name="defaultData" value='{{ defaultData|json_encode|raw }}'>

                <div class="form-actions">
                    {{ form_widget(form.create, { 'label': 'Save', 'attr': {'class': 'btn blue'} } ) }}
                    {{ form_widget(form.cancel, { 'label': 'Cancel', 'attr': {'class': 'btn default sd-cancel-btn'} } ) }}
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>