<script type="text/javascript">

    $(document).ready(function(){

        $('#modelContactOrganizationForm_birthday_year, #modelContactOrganizationForm_birthday_month, #modelContactOrganizationForm_birthday_day').select2({
            allowClear: true
        });

        $('#modelContactOrganizationForm_phone1, #modelContactOrganizationForm_phone2').select2({
            minimumInputLength: 2,
            allowClear: true,
            ajax: {
                url: '{{ path('sd_common_ajax_contact_phone') }}',
                dataType: 'json',
                data: function (term, page) {
                    return {
                        query: term,
                        organizationId: $('#modelContactOrganizationForm_modelId').val()
                    };
                },
                results: function (data, page) {
                    return {
                        results: data
                    };
                }
            }
        })

        $('#modelContactOrganizationForm_email').select2({
            minimumInputLength: 2,
            allowClear: true,
            ajax: {
                url: '{{ path('sd_common_ajax_contact_email') }}',
                dataType: 'json',
                data: function (term, page) {
                    return {
                        query: term,
                        organizationId: $('#modelContactOrganizationForm_modelId').val()
                    };
                },
                results: function (data, page) {
                    return {
                        results: data
                    };
                }
            }
        })


        {% if form.modelId.vars.block_prefixes.1 != 'hidden' %}

            $('#modelContactOrganizationForm_modelId').select2({
                minimumInputLength: 2,
                ajax: {
                    url: '{{ path('sd_common_ajax_organization_for_contacts') }}',
                    dataType: 'json',
                    data: function (term, page) {
                        return {
                            q: term
                        };
                    },
                    results: function (data, page) {
                        return {
                            results: data
                        };
                    }
                }
            })

        {% endif %}

        $('.date-picker').datepicker({
            rtl: App.isRTL(),
            autoclose: true,
            format: "dd.m.yyyy",
            pickerPosition: (App.isRTL() ? "bottom-right" : "bottom-left"),
            language: 'ru',
            startView: 'decade',
            weekStart: 1
        });
    });

</script>

<div class="row ">
    <div class="col-md-12">
        <div class="portlet box yellow">
            <div class="portlet-body">

                {{ form_start(form, {
                        'action' : path('sd_common_ajax_form'),
                        'attr' : {
                        'method' : 'POST',
                        'class' : 'ajax-form-entity',
                        'data-post_function': postFunction,
                        'data-post_target_id': postTargetId,
                        'data-target_id': targetId
                    }
                }) }}

                {% if form.modelId.vars.block_prefixes.1 != 'hidden' %}
                    <div class="form-group col-md-3">
                        {{ form_widget(form.modelId, {'attr' : {'class' : 'form-control', 'placeholder': "Organization" }}) }}
                    </div>
                {% endif %}

                <div class="form-group col-md-3">
                    {{ form_widget(form.firstName, {'attr' : {'class' : 'form-control', 'placeholder': "First name"}}) }}
                </div>

                <div class="form-group col-md-3">
                    {{ form_widget(form.lastName, {'attr' : {'class' : 'form-control', 'placeholder': "Last name"}}) }}
                </div>

                <div class="form-group col-md-3">
                    {{ form_widget(form.middleName, {'attr' : {'class' : 'form-control', 'placeholder': "Middle name"}}) }}
                </div>

                <div class="form-group col-md-3">
                    {{ form_widget(form.phone1, {'attr' : {'class' : 'form-control', 'placeholder': "Phone 1"}}) }}
                </div>

                <div class="form-group col-md-3">
                    {{ form_widget(form.phone2, {'attr' : {'class' : 'form-control', 'placeholder': "Phone 2"}}) }}
                </div>

                <div class="form-group col-md-3">
                    {{ form_widget(form.position, {'attr' : {'class' : 'form-control', 'placeholder': "Position"}}) }}
                </div>

                <div class="form-group col-md-3">
                    <div class="form-group">
                        <div class="input-group input-medium date date-picker">
                            {{ form_widget(form.birthday, {'attr': {
                                'class': 'form-control',
                                'data-required': '1',
                                'placeholder': 'Enter Contact Birthday',
                                'readonly': 'readonly'
                            }}) }}
                            <span class="input-group-btn">
                            <button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
                            </span>
                        </div>
                        <span class="help-block">{% trans %}Enter Contact Birthday{% endtrans %}"</span>
                    </div>
                </div>

                <div class="form-group col-md-3">
                    {{ form_widget(form.email, {'attr' : {'class' : 'form-control', 'placeholder': "Email"}}) }}
                </div>

                <div class="form-group col-md-1">
                    {{ form_widget(form.add, { 'label': 'Add', 'attr': {'class': 'btn green'} } ) }}
                </div>

                <div class="form-group col-md-2">
                    {{ form_widget(form.cancel, { 'label': 'Cancel', 'attr': {'class': 'btn sd-cancel-btn'} } ) }}
                </div>

                <input type="hidden" name="formName" value="{{ formName }}">
                <input type="hidden" name="postFunction" value="{{ postFunction }}">
                <input type="hidden" name="postTargetId" value="{{ postTargetId }}">
                <input type="hidden" name="targetId" value="{{ targetId }}">
                {{ form_end(form) }}

            </div>
        </div>
    </div>
</div>