{% trans_default_domain 'ListsDepartmentBundle' %}
{% form_theme form 'ITDoorsCommonBundle:Form:form_errors.html.twig' %}

<script type="text/javascript">

    $(document).ready(function (){

        $(".form_date").datepicker({
            autoclose: true,
            isRTL: Metronic.isRTL(),
            format: "dd.mm.yyyy",
            pickerPosition: (Metronic.isRTL() ? "bottom-right" : "bottom-left"),
            language: 'ru',
            startView: 2,
            weekStart: 1
        });
        $('#' + '{{ form.vars.name }}' + '_organization').select2({
            minimumInputLength: 0,
            allowClear: true
        });
        $('#' + '{{ form.vars.name }}' + '_active').select2({
            allowClear: true
        });
    });


</script>

<div class="row">
    <div class="col-md-12">
        <div class="portlet box green">
            <div class="portlet-title"><div class="caption"><i class="fa fa-cogs"></i>{% trans %}Add department{% endtrans %}</div></div>
            <div class="portlet-body">
                {% if form.vars.valid %}
                {% else %}
                <div class="alert alert-danger">
                    <button class="close" data-close="alert"></button>
                    {% trans from 'messages' %}You have some form errors. Please check below.{% endtrans %}
                    {{ form_errors(form) }}
                </div>
                {% endif %}

                {{ form_start(form, {
                    'action' : path('sd_common_ajax_form'),
                    'attr' : {
                        'method' : 'POST',
                        'class' : 'ajax-form-entity',
                        'data-post_function': postFunction,
                        'data-post_target_id': postTargetId,
                        'data-target_id': targetId
                }
                }) }}
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            {{ form_label(form.department, 'Department', {'attr': {'class': 'control-label'}}) }} <span class="required"> * </span>
                            {{ form_widget(form.department, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.department) }}
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            {{ form_label(form.organization, 'Organization', {'attr': {'class': 'control-label'}}) }} <span class="required"> * </span>
                            {{ form_widget(form.organization, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.organization) }}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            {{ form_label(form.name, 'Mpk', {'attr': {'class': 'control-label'}}) }} <span class="required"> * </span>
                            {{ form_widget(form.name, {'attr': {'class': 'form-control', 'placeholder': 'Enter mpk'}}) }}
                            {{ form_errors(form.name) }}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            {{ form_label(form.active, 'Status', {'attr': {'class': 'control-label'}}) }} <span class="required"> * </span>
                            {{ form_widget(form.active, {'attr': {'class': 'form-control', 'placeholder': 'Enter status'}}) }}
                            {{ form_errors(form.active) }}
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            {{ form_label(form.startDate, 'Start date', {'attr': {'class': 'control-label'} }) }}
                            <div class="input-group date form_date">
                                {{ form_widget(form.startDate, {'attr' : {
                                'class' : 'form-control',
                                'placeholder': 'Enter date start'
                                }}) }}
                                <span class="input-group-btn">
                                    <button class="btn default date-set" type="button"><i class="fa fa-calendar"></i></button>
                                </span>
                            </div>
                            {{ form_errors(form.startDate) }}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            {{ form_label(form.endDate, 'Stop date', {'attr': {'class': 'control-label'} }) }}
                            <div class="input-group date form_date">
                                {{ form_widget(form.endDate, {'attr' : {
                                'class' : 'form-control',
                                'placeholder': 'Enter date stop'
                                }}) }}
                                <span class="input-group-btn">
                                    <button class="btn default date-set" type="button"><i class="fa fa-calendar"></i></button>
                                </span>
                            </div>
                            {{ form_errors(form.endDate) }}
                        </div>
                    </div>
                </div>
                <input type="hidden" name="formName" value="{{ formName }}">
                <input type="hidden" name="postFunction" value="{{ postFunction }}">
                <input type="hidden" name="postTargetId" value="{{ postTargetId }}">
                <input type="hidden" name="targetId" value="{{ targetId }}">
                <input type="hidden" name="defaultData" value='{{ defaultData|json_encode|raw }}'>

                <div class="form-actions">
                    {{ form_widget(form.create, { 'label': 'Save', 'attr': {'class': 'btn blue'} } ) }}
                    {{ form_widget(form.cancel, { 'label': 'Cancel', 'attr': {'class': 'btn default sd-cancel-btn'} } ) }}
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>
