<td>
    <a class="btn green button_wide" href="#">
        {{ item.id }}
    </a>
</td>
<td>
    {{  item.mpk }}
</td>
<td>
    {{ item.organization }}
</td>
{#
<td>
    {{ item.r }}
</td>
<td>
    {{ item.city }}
</td>
<td>
    {{ item.address }}
</td>
<td>
    {{ item.status }}
</td>
<td>
    {{ item.statusDate|date("d.m.Y") }}
</td>
<td>
    {{ item.type }}
</td>
<td>
    {{ item.description }}
</td>
<td>
    {{ item.opermanager }}
</td>
#}






