<td>
    <a id="managers_list_new" class="btn green ajax-form button_wide" href="#">
        {{ item.id }}
    </a>
</td>
<td>
    {{  item.mpk }}
</td>
<td>
    {{ item.organization }}
</td>
<td>
    {{ item.city.getRegion }}
</td>
<td>
    {{ item.city }}
</td>
<td>
    {{ item.address }}
</td>
<td>
    {{ item.status }}
</td>
<td>
    {{ item.statusDate|date("d.m.Y") }}
</td>
<td>
    {{ item.type }}
</td>
<td>
    {{ item.description }}
</td>







