<td>
    <a class="btn green button_wide" href="#">
        {{ item.id }}
    </a>
</td>
<td>
    {{  item.mpk }}
</td>
<td>
    {{ item.organizationName }}
</td>

<td>
    {{ item.regionName }}
</td>

<td>
    {{ item.cityName }}
</td>

<td>
    {{ item.address }}
</td>

<td>
    {{ item.statusName }}
</td>
<td>
    {{ item.statusDate|date("d.m.Y") }}
</td>
<td>
    {{ item.typeName }}
</td>
<td>
    {{ item.description }}
</td>
<td>
    {{ item.opermanagerName }}
</td>






