{% extends '::base.html.twig' %}
{% trans_default_domain 'SDServiceDeskBundle' %}
{% block title %}{% trans %}Edit{% endtrans %} {% endblock %}
{% block page_title %}
    <h3 class="page-title">
        {% trans %}Claims{% endtrans %} <small>{% trans %}edit{% endtrans %}</small>
    </h3>
{% endblock %}

{% block page_breadcrumbs %}
    <ul class="page-breadcrumb breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="{{ path('sd_dashboard_homepage') }}" title="{% trans %}Dashboard{% endtrans %}">{% trans %}Dashboard{% endtrans %}</a>
        </li>
        <li>
            <a href="{{ path('claim') }}" title="{% trans %}Claims{% endtrans %}">{% trans %}Claims{% endtrans %}</a>
        </li>
        <li>
            <a href="{{ path('claim_show', { 'id': entity.id }) }}">{{ entity.id }}</a>
        </li>
        <li>
            <a href="" title="{% trans %}Edit{% endtrans %}">{% trans %}Edit{% endtrans %}</a>
        </li>
    </ul>
{% endblock %}

{% block css_page_level_plugin %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('metronic/assets/global/plugins/jstree/dist/themes/default/style.min.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('metronic/assets/global/plugins/bootstrap-summernote/summernote.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('metronic/assets/global/plugins/select2/select2.css')}} " />
    <link rel="stylesheet" type="text/css" href="{{ asset('metronic/assets/global/plugins/bootstrap-datepicker/css/datepicker.css')}} " />
    <link rel="stylesheet" type="text/css" href="{{ asset('metronic/assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.css')}} " />

{% endblock %}

{% block js_page_level_plugins %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('metronic/assets/global/plugins/jstree/dist/jstree.js')}}"></script>
    <script type="text/javascript" src="{{ asset('metronic/assets/global/plugins/bootstrap-summernote/summernote.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('metronic/assets/global/plugins/bootstrap-summernote/lang/summernote-ru-RU.js') }}"></script>
    <script type="text/javascript" src="{{ asset('metronic/assets/global/plugins/select2/select2.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('metronic/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js')}} "></script>
    <script type="text/javascript" src="{{ asset('metronic/assets/global/plugins/bootstrap-select/bootstrap-select.min.js')}} "></script>
    <script type="text/javascript" src="{{ asset('metronic/assets/global/plugins/bootstrap-datepicker/js/locales/bootstrap-datepicker.ru.js')}} "></script>
    <script type="text/javascript" src="{{ asset('metronic/assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.js') }}"></script>

{% endblock %}

{% block body -%}
    <div class="portlet box blue">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-gift"></i>{% trans %}Edit{% endtrans %}
            </div>
        </div>
        <div class="portlet-body form">
            <script>
                $(document).ready(function() {
                    $('.select2').select2({
                        allowClear: true
                    });
                    $('.itdoors-date-picker').datepicker({
                        rtl: Metronic.isRTL(),
                        autoclose: true,
                        format: "dd.mm.yyyy",
                        pickerPosition: (Metronic.isRTL() ? "bottom-right" : "bottom-left"),
                        language: 'ru',
                        startView: 'decade',
                        weekStart: 1
                    });
                    $('#' + '{{ form.vars.name }}' + '_createdAt').datepicker( "setDate", new Date());
                    $('.textear-edit').summernote({
                    	lang: 'ru-RU',
                        'disableDragAndDrop': true,
                        'disableLinkTarget': true,
                        'onblur': function() {
                            /** Костыль для страховки */
                            $('.textear-edit').text($('.textear-edit').code());
                        },
                        'onImageUpload': function(files, editor, welEditable) {
                            sendFile(files[0],editor,welEditable);
                        }
                    });
                    function sendFile(file,editor,welEditable) {
                        data = new FormData();
                        data.append("file", file);
                        $.ajax({
                            data: data,
                            type: "POST",
                            url: "{{ path('claim_upload') }}",
                            cache: false,
                            contentType: false,
                            processData: false,
                            success: function(url) {
                                    editor.insertImage(welEditable, url);
                            }
                        });
                    }
                });
            </script>
                        
            {% if form.vars.valid is sameas(false) %}
                <div class="form-group col-md-12">
                    <div class="alert alert-danger">
                        <button class="close" data-close="alert"></button>
                        {% trans from 'messages' %}You have some form errors. Please check below.{% endtrans %}
                        {{ form_errors(form) }}
                    </div>
                </div>
            {% endif %}
    
            {{ form_start(form, {'attr' : {'class' : 'form-horizontal form-row-seperated'}}) }}
            <div class="form-body">
                <div class="form-group">
                    <label class="required control-label col-md-3">{% trans %}Claim Type{% endtrans%}</label>
                    <div class="col-md-9">
                        {{ form_widget(form.type, {'attr' : {'class' : 'form-control input-large select2me', 'data-placeholder': 'Select...' | trans}}) }}
                        {% if form.type.vars.errors|length %}{{ form_errors(form.type) }}{% endif %}
                    </div>
                </div>
                <div class="form-group">
                    <label class="required control-label col-md-3">{% trans %}Claim Status{% endtrans%}</label>
                    <div class="col-md-9">
                        {{ form_widget(form.status, {'attr' : {'class' : 'form-control input-large select2me', 'data-placeholder': 'Select...' | trans}}) }}
                        {% if form.status.vars.errors|length %}{{ form_errors(form.status) }}{% endif %}
                    </div>
                </div>
                <div class="form-group">
                    <label class="required control-label col-md-3">{% trans %}Claim Importance{% endtrans%}</label>
                    <div class="col-md-9">
                        {{ form_widget(form.importance, {'attr' : {'class' : 'form-control input-large select2me', 'data-placeholder': 'Select...' | trans}}) }}
                        {% if form.importance.vars.errors|length %}{{ form_errors(form.importance) }}{% endif %}
                    </div>
                </div>
                <div class="form-group">
                    <label class="required control-label col-md-3">{% trans %}Created{% endtrans%}</label>
                    <div class="col-md-3">
                        {{ form_widget(form.createdAt, {'attr' : {'id' : 'datepic','class' : 'form-control form-control-inline input-medium date-picker itdoors-date-picker'}}) }}
                        {% if form.createdAt.vars.errors|length %}{{ form_errors(form.createdAt) }}{% endif %}
                    </div>
                </div>
                <div class="form-group">
                    <label class="required control-label col-md-3">{% trans %}Closed{% endtrans%}</label>
                    <div class="col-md-3">
                        {{ form_widget(form.closedAt, {'attr' : {'id' : 'datepic','class' : 'form-control form-control-inline input-medium date-picker itdoors-date-picker'}}) }}
                        {% if form.closedAt.vars.errors|length %}{{ form_errors(form.closedAt) }}{% endif %}
                    </div>
                </div>
                <div class="form-group">
                    <label class="required control-label col-md-3">{% trans %}Disabled{% endtrans%}</label>
                    <div class="col-md-9">
				        <div class="checkbox-list">
							<label class="checkbox-inline">
    							{{ form_widget(form.disabled, {'attr' : {'class' : 'form-control'}}) }}
				                {% if form.disabled.vars.errors|length %}{{form_errors(form.disabled) }}{% endif %}
                            </label>
						</div>
				    </div>
                </div>
                <div class="form-group">
                    <label class="required control-label col-md-3">{% trans %}Customer{% endtrans%}</label>
                    <div class="col-md-9">
                        {{ form_widget(form.customer, {'attr' : {'class' : 'form-control input-large select2me', 'placeholder': 'Select...' | trans}}) }}
                        {% if form.customer.vars.errors|length %}{{ form_errors(form.customer) }}{% endif %}
                    </div>
                </div>
{#                 <div class="form-group">#}
{#                     <label class="required control-label col-md-3">{% trans %}Performers{% endtrans%}</label>#}
{#                     <div class="col-md-9">#}
{#                         {{ form_widget(form.performers, {'attr' : {'class' : 'form-control select2', 'multiple' : 'multiple', 'placeholder': 'Select...' | trans}}) }}#}
{#                         {% if form.performers.vars.errors|length %}{{ form_errors(form.performers) }}{% endif %}#}
{#                     </div>#}
{#                 </div>#}
                <div class="form-group">
                    <label class="required control-label col-md-3">{% trans %}Text{% endtrans%}</label>
                    <div class="col-md-9">
                        {{ form_widget(form.text, {'attr' : {'id' : 'select2','class' : 'form-control textear-edit', 'placeholder': "Changes"| trans}}) }}
                        {% if form.text.vars.errors|length %}{{ form_errors(form.text) }}{% endif %}
                    </div>
                </div>
                
                <div class="form-actions fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-offset-3 col-md-9">
                                <button type="submit" class="btn green"><i class="fa fa-pencil"></i>{% trans %}Edit{% endtrans %}</button>
                                <a class="btn btn-cl green" href="{{ path('claim') }}" title="{% trans %}Cancel{% endtrans %}">
                                    {% trans %}Cancel{% endtrans %}
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
