{% extends "::base.html.twig" %}
{% trans_default_domain 'SDServiceDeskBundle' %}
{% block title %}{% trans %}Claims{% endtrans %} {% endblock %}
{% block page_title %}
    <h3 class="page-title">
        {% trans %}Claims{% endtrans %}
    </h3>
{% endblock %}

{% block page_breadcrumbs %}
    <ul class="page-breadcrumb breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="{{ path('sd_dashboard_homepage') }}" title="{% trans %}Dashboard{% endtrans %}">{% trans %}Dashboard{% endtrans %}</a>
        </li>
        <li>
            <a href="{{ path('claim') }}" title="{% trans %}Claims{% endtrans %}">{% trans %}Claims{% endtrans %}</a>
        </li>
    </ul>
{% endblock %}

{% block css_page_level_plugin %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('metronic/assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.css')}} " />

{% endblock %}

{% block js_page_level_plugins %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('metronic/assets/global/plugins/datatables/media/js/jquery.dataTables.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('metronic/assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js') }}"></script>

{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="portlet-body">
                <div class="table-toolbar">
    				<div class="row">
    					<div class="col-md-6">
{#                                 {% if is_granted('ROLE_ARTICLEADMIN') %}#}
        							{#<a class="btn btn-cl green" href="{{ path('claim_new') }}" title="{% trans %}New Personal Claim{% endtrans %}">#}
                                        {#<i class="fa fa-plus"></i> {% trans %}Personal Claim{% endtrans %}#}
                                    {#</a>#}
                                    <a class="btn btn-cl green" href="{{ path('claimdepartment_new') }}" title="{% trans %}New Company Claim{% endtrans %}">
                                        <i class="fa fa-plus"></i> {% trans %}Company Claim{% endtrans %}
                                    </a>
{#                                 {% endif %}#}
    					</div>
    				</div>
    			</div>
                <table class="table table-striped table-bordered table-hover" id="claims_table">
                    {% set isClient = app.user.hasRole('ROLE_CLAIM_CLIENT') %}
                    <thead>
                        <tr role="row" class="heading">
                            <th>{% trans %}ID{% endtrans %}</th>
                            {% if not isClient %}
                                <th>{% trans %}Customer{% endtrans %}</th>
                            {% endif %}
                            <th>{% trans %}City{% endtrans %}</th>
                            <th>{% trans %}Address{% endtrans %}</th>
                            <th>{% trans %}Organization{% endtrans %}</th>
                            {% if not isClient %}
                            <th>{% trans %}Companystructure{% endtrans %}</th>
                            {% endif %}
                            <th>{% trans %}Claim Type{% endtrans %}</th>
                            <th>{% trans %}Claim Status{% endtrans %}</th>
                            <th>{% trans %}Claim Importance{% endtrans %}</th>
                            <th>{% trans %}Created{% endtrans %}</th>
                        </tr>
                    </thead>
                    <tbody role="alert" aria-live="polite" aria-relevant="all">
                        {% for entity in entities %}
                        <tr>
                            <td><a href="{{ path('claim_show', { 'id': entity['claim'].id }) }}">{{ entity['claim'].id }}</a></td>
                            {% if not isClient %}
                            <td>
                                {% if entity['claim'].customer %}
                                    {% if entity['claim'].customer.originOrganizations is defined %}
    									<i class="fa fa-building"></i>
                                    {% else %}
                                        <i class="fa fa-user"></i>
                                    {% endif %}
                                    <a href="{{ path('client_show', { 'id': entity['claim'].customer.id }) }}">
                                        {{ entity['lastName'] }} {{ entity['firstName'] }}
                                    </a>
                                {% endif %}
                            </td>
                            {% endif %}
                            <td>{{ entity['claim'].targetDepartment is defined ? entity['claim'].targetDepartment.city | default('') : '' }}</td>
                            <td>{{ entity['claim'].targetDepartment is defined ? entity['claim'].targetDepartment.address | default('') : '' }}</td>
                            <td>{{ entity['claim'].targetDepartment is defined ? entity['claim'].targetDepartment.organization | default('') : '' }}</td>
                            {% if not isClient %}
                            <td>{{ entity['claim'].targetDepartment is defined ? entity['claim'].targetDepartment.city.region.companystructure | join('<br>') }}</td>
                            {% endif %}
                            <td>{{ entity['claim'].type  | trans }}</td>
                            <td>{{ entity['claim'].status | trans }}</td>
                            <td>{{ entity['claim'].importance.name | default('') }}</td>
                            <td data-order="{{ entity['claim'].createdAt|date('U') }}">{% if entity['claim'].createdAt %}{{ entity['claim'].createdAt|date('d-m-y H:i') }}{% endif %}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
        </div>
    </div>

    <script>
        $(document).ready(function() {       
        	TableManaged.init();
        });
        var TableManaged = function () {
            var initTable1 = function () {
                var table = $('#claims_table');
                table.dataTable({
                	"language": {
    	                "aria": {
    	                    "sortAscending": ": activate to sort column ascending",
    	                    "sortDescending": ": activate to sort column descending"
    	                },
    	                "emptyTable": "No data available in table",
    	                "info": "Результаты с _START_ по _END_ из _TOTAL_ найденых",
    	                "infoEmpty": "Ничего не найдено",
    	                "infoFiltered": "(из _MAX_ записей)",
    	                "lengthMenu": "Show _MENU_ entries",
    	                "search": "Поиск:",
    	                "zeroRecords": "Ничего не найдено",
   	                	"search": "Поиск: ",
       	                "lengthMenu": "  _MENU_ записей",
       	                "paginate": {
       	                    "previous":"Назад",
       	                    "next": "Далее",
       	                    "last": "В конец",
       	                    "first": "В начало"
       	                }
    	            },
                    "bStateSave": true, // save datatable state(pagination, sort, etc) in cookie.
                    "columns": [
                    {% if not isClient %}{
                        "orderable": true
                    }, {
                    	"orderable": true
                    },
                     {% endif %}{
                        "orderable": true
                    }, {
                        "orderable": true
                    }, {
                        "orderable": true
                    }, {
                    	"orderable": true
                    }, {
                    	"orderable": true
                    }, {
                    	"orderable": true
                    }, {
                    	"orderable": true
                    }, {
                    	"orderable": true
                    }],
                    "lengthMenu": [
                        [5, 15, 20, -1],
                        [5, 15, 20, "Все"] // change per page values here
                    ],
                    "pageLength": 15,            
                    "pagingType": "bootstrap_full_number",
                    "columnDefs": [{  // set default column settings
                        'orderable': false,
                        'targets': [0]
                    }, {
                        "searchable": false,
                        "targets": [0]
                    }],
                    "order": [
                        [1, "asc"]
                    ] // set first column as a default sort by asc
                });
            };
        
            return {
                init: function () {
                    if (!jQuery().dataTable) {
                        return;
                    }
                    initTable1();
                }
            };
        }();
    </script>
{% endblock body %}