{% extends '::base.html.twig' %}
{% trans_default_domain 'ListsArticleBundle' %}
{% block title %}{% trans %}Add{% endtrans %} {% endblock %}
{% block page_title %}
    <h3 class="page-title">
        {% trans %}My news{% endtrans %} <small>{% trans %}add{% endtrans %}</small>
    </h3>
{% endblock %}

{% block page_breadcrumbs %}
    <ul class="page-breadcrumb breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="{{ path('sd_dashboard_homepage') }}" title="{% trans %}Dashboard{% endtrans %}">{% trans %}Dashboard{% endtrans %}</a>
        </li>
        <li>
            <a href="{{ path('list_article_blog') }}" title="{% trans %}My news{% endtrans %}">{% trans %}My news{% endtrans %}</a>
        </li>
        <li>
            <a href="" title="{% trans %}Add{% endtrans %}">{% trans %}Add{% endtrans %}</a>
        </li>
    </ul>
{% endblock %}

{% block css_page_level_plugin %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('metronic/assets/global/plugins/jstree/dist/themes/default/style.min.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('metronic/assets/global/plugins/bootstrap-summernote/summernote.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('metronic/assets/global/plugins/select2/select2.css')}} " />
    <link rel="stylesheet" type="text/css" href="{{ asset('metronic/assets/global/plugins/bootstrap-editable/bootstrap-editable/css/bootstrap-editable.css')}} " />
    <link rel="stylesheet" type="text/css" href="{{ asset('metronic/assets/global/plugins/bootstrap-datepicker/css/datepicker.css')}} " />
    <link rel="stylesheet" type="text/css" href="{{ asset('metronic/assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.css')}} " />

{% endblock %}

{% block js_page_level_plugins %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('metronic/assets/global/plugins/jstree/dist/jstree.js')}}"></script>
    <script type="text/javascript" src="{{ asset('metronic/assets/global/plugins/bootstrap-summernote/summernote.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('metronic/assets/global/plugins/bootstrap-summernote/lang/summernote-ru-RU.js') }}"></script>
    <script type="text/javascript" src="{{ asset('metronic/assets/global/plugins/select2/select2.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('metronic/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js')}} "></script>
    <script type="text/javascript" src="{{ asset('metronic/assets/global/plugins/bootstrap-datepicker/js/locales/bootstrap-datepicker.ru.js')}} "></script>
    <script type="text/javascript" src="{{ asset('metronic/assets/global/plugins/bootstrap-editable/bootstrap-editable/js/bootstrap-editable.js') }}"></script>
    <script type="text/javascript" src="{{ asset('metronic/assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.js') }}"></script>

{% endblock %}

{% block body -%}
    <div class="portlet box blue">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-gift"></i>{% trans %}Add{% endtrans %}
            </div>
        </div>
        <div class="portlet-body form">
                        
            {% if form.vars.valid is sameas(false) %}
                <div class="form-group col-md-12">
                    <div class="alert alert-danger">
                        <button class="close" data-close="alert"></button>
                        {% trans from 'messages' %}You have some form errors. Please check below.{% endtrans %}
                        {{ form_errors(form) }}
                    </div>
                </div>
            {% endif %}
    
            {{ form_start(form, {
                    'attr' : {
                        'class' : 'form-horizontal form-row-seperated'
                    }
            }) }}
            <div class="form-body">
                <div class="form-group">
                    <label class="required control-label col-md-3">{% trans %}Type{% endtrans%}</label>
                    <div class="col-md-9">
                        {{ form_widget(form.types, {'attr' : {'class' : 'form-control', 'placeholder': 'customer' | trans}}) }}
                        {% if form.types.vars.errors|length %}{{ form_errors(form.types) }}{% endif %}
                    </div>
                </div>
                <div class="form-group">
                    <label class="required control-label col-md-3">{% trans %}Status{% endtrans%}</label>
                    <div class="col-md-9">
                        {{ form_widget(form.status, {'attr' : {'class' : 'form-control'}}) }}
                        {% if form.status.vars.errors|length %}{{ form_errors(form.status) }}{% endif %}
                    </div>
                </div>
                <div class="form-group">
                    <label class="required control-label col-md-3">{% trans %}Importance{% endtrans%}</label>
                    <div class="col-md-9">
                        {{ form_widget(form.importance, {'attr' : {'class' : 'form-control'}}) }}
                        {% if form.importance.vars.errors|length %}{{ form_errors(form.importance) }}{% endif %}
                    </div>
                </div>
                <div class="form-group">
                    <label class="required control-label col-md-3">{% trans %}Created{% endtrans%}</label>
                    <div class="col-md-9">
                        {{ form_widget(form.createdAt, {'attr' : {'class' : 'form-control'}}) }}
                        {% if form.createdAt.vars.errors|length %}{{ form_errors(form.createdAt) }}{% endif %}
                    </div>
                </div>
                <div class="form-group">
                    <label class="required control-label col-md-3">{% trans %}Closed{% endtrans%}</label>
                    <div class="col-md-9">
                        {{ form_widget(form.closedAt, {'attr' : {'class' : 'form-control'}}) }}
                        {% if form.closedAt.vars.errors|length %}{{ form_errors(form.closedAt) }}{% endif %}
                    </div>
                </div>
                <div class="form-group">
                    <label class="required control-label col-md-3">{% trans %}Disabled{% endtrans%}</label>
                    <div class="col-md-9">
                        {{ form_widget(form.disabled, {'attr' : {'class' : 'form-control'}}) }}
                        {% if form.disabled.vars.errors|length %}{{ form_errors(form.disabled) }}{% endif %}
                    </div>
                </div>
                <div class="form-group">
                    <label class="required control-label col-md-3">{% trans %}Customer{% endtrans%}</label>
                    <div class="col-md-9">
                        {{ form_widget(form.customer, {'attr' : {'class' : 'form-control'}}) }}
                        {% if form.customer.vars.errors|length %}{{ form_errors(form.customer) }}{% endif %}
                    </div>
                </div>
                <div class="form-group">
                    <label class="required control-label col-md-3">{% trans %}Curators{% endtrans%}</label>
                    <div class="col-md-9">
                        {{ form_widget(form.curators, {'attr' : {'class' : 'form-control'}}) }}
                        {% if form.curators.vars.errors|length %}{{ form_errors(form.curators) }}{% endif %}
                    </div>
                </div>
                <div class="form-group">
                    <label class="required control-label col-md-3">{% trans %}Performers{% endtrans%}</label>
                    <div class="col-md-9">
                        {{ form_widget(form.performers, {'attr' : {'class' : 'form-control'}}) }}
                        {% if form.performers.vars.errors|length %}{{ form_errors(form.performers) }}{% endif %}
                    </div>
                </div>
                
                <div class="form-actions fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-offset-3 col-md-9">
                                <button type="submit" class="btn green"><i class="fa fa-pencil"></i>{% trans %}Add{% endtrans %}</button>
                                <a class="btn btn-cl green" href="{{ path('list_article_blog') }}" title="{% trans %}Cancel{% endtrans %}">
                                    {% trans %}Cancel{% endtrans %}
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
