{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Claim</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Types</th>
                <td>{{ entity.types }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ entity.status }}</td>
            </tr>
            <tr>
                <th>Importance</th>
                <td>{{ entity.importance }}</td>
            </tr>
            <tr>
                <th>Createdat</th>
                <td>{{ entity.createdAt|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Closedat</th>
                <td>{{ entity.closedAt|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Disabled</th>
                <td>{{ entity.disabled }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('claim') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('claim_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
