{% extends '::base.html.twig' %}
{% trans_default_domain 'SDServiceDeskBundle' %}
{% block title %}{% trans %}Claims{% endtrans %} {% endblock %}
{% block page_title %}
    <h3 class="page-title">
        {% trans %}Claims{% endtrans %}
    </h3>
{% endblock %}

{% block page_breadcrumbs %}
    <ul class="page-breadcrumb breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="{{ path('sd_dashboard_homepage') }}" title="{% trans %}Dashboard{% endtrans %}">{% trans %}Dashboard{% endtrans %}</a>
        </li>
        <li>
            <a href="{{ path('claim') }}" title="{% trans %}Claims{% endtrans %}">{% trans %}Claims{% endtrans %}</a>
        </li>
        <li>
            <a href="{{ path('client_show', { 'id': entity.customer.id }) }}">
                {{entity.id }} — {{ entity.customer}}
                {% if entity.disabled %}
                    <span class="badge badge-default">{% trans %}Disabled{% endtrans %}</span>
                {% else %}
                    <span class="badge badge-danger">{% trans %}Active{% endtrans %}</span>
                {% endif %}
            </a>
        </li>
    </ul>
{% endblock %}

{% block body %}
        <a class="margin-bottom-10 btn btn-cl green" href="{{ path('claim_edit', { 'id': entity.id }) }}" title="{% trans %}Edit{% endtrans %}">
            {% trans %}Edit{% endtrans %}
        </a>
        <div class="row">
            <div class="col-md-4">
                <ul class="list-group">
        			<li class="list-group-item">
        				{% trans %}Claim Type{% endtrans %} <span class="badge badge-info">
        				{{ entity.type }} </span>
        			</li>
        			<li class="list-group-item">
        				{% trans %}Target{% endtrans %}
        				{% if entity.targetDepartment is defined %}
        				    <span class="badge badge-info">{{ entity.targetDepartment }}</span>
    				    {% elseif entity.targetIndividual is defined %}
    				        <span class="badge badge-info">{{ entity.targetIndividual }}</span>
				        {% endif %}
        			</li>
        			<li class="list-group-item">
        				{% trans %}Claim Status{% endtrans %} <span class="badge badge-info">
        				{{ entity.status }} </span>
        			</li>
        			<li class="list-group-item">
        				{% trans %}Claim Importance{% endtrans %} <span class="badge badge-info">
        				{{ entity.importance }} </span>
        			</li>
        			<li class="list-group-item">
        				{% trans %}Created{% endtrans %} {% if entity.createdAt %}<span class="badge badge-info">
        				{{ entity.createdAt|date('Y-m-d') }} </span>{% endif %}
        			</li>
        			<li class="list-group-item">
        				{% trans %}Closed{% endtrans %} {% if entity.closedAt %}<span class="badge badge-info">
        				{{ entity.closedAt|date('Y-m-d') }} </span>{% endif %}
        			</li>
        		</ul>
    		</div>
    		<div class="col-md-4">
                <div class="panel panel-default">
        			<div class="panel-heading">
        				<h3 class="panel-title">{% trans %}Cause{% endtrans %}</h3>
        			</div>
        			<div class="panel-body">
                        {{ entity.text|raw('html') }}
        			</div>
        		</div>
    		</div>
    		<div class="col-md-4">
                <div class="panel panel-default">
        			<div class="panel-heading">
        				<h3 class="panel-title">{% trans %}Performers{% endtrans %}</h3>
        			</div>
        			<div class="panel-body">
        			     {% for rule in entity.claimPerformerRules %}
        			         <p>{{ rule.claimPerformer }}</p>
        			     {% endfor %}
        			</div>
        		</div>
    		</div>
		</div>
        <div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">{% trans %}Messages{% endtrans %}</h3>
			</div>
			<div class="panel-body">
			     {% for message in messages %}
			         <div class="note note-success">
						<h5 class="block">{{ message.user }} {{ message.createdAt|date('Y-m-d H:MM:s') }}</h5>
						{{ message.text }}
					</div>
			     {% endfor %}
			</div>
		</div>
{% endblock %}