{% extends '::base.html.twig' %}
{% trans_default_domain 'SDServiceDeskBundle' %}
{% form_theme form 'ITDoorsCommonBundle:Form:fields.html.twig' %}
{% block title %}{% trans %}Claims{% endtrans %} {% endblock %}
{% block page_title %}
    <h3 class="page-title">
        {% trans %}Claims{% endtrans %}
    </h3>
{% endblock %}

{% block page_breadcrumbs %}
    <ul class="page-breadcrumb breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="{{ path('sd_dashboard_homepage') }}" title="{% trans %}Dashboard{% endtrans %}">{% trans %}Dashboard{% endtrans %}</a>
        </li>
        <li>
            <a href="{{ path('claim') }}" title="{% trans %}Claims{% endtrans %}">{% trans %}Claims{% endtrans %}</a>
        </li>
        <li>
            <a href="{{ path('client_show', { 'id': entity.customer.id }) }}">{{ entity.id }}</a>
        </li>
    </ul>
{% endblock %}

{% block css_page_level_plugin %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('metronic/assets/global/plugins/bootstrap-editable/bootstrap-editable/css/bootstrap-editable.css')}} " />
    <link rel="stylesheet" type="text/css" href="{{ asset('metronic/assets/global/plugins/bootstrap-summernote/summernote.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('metronic/assets/global/plugins/select2/select2.css')}} " />
{% endblock %}

{% block js_page_level_plugins %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('templates/metronic/plugins/moment.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('metronic/assets/global/plugins/select2/select2.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('metronic/assets/global/plugins/bootstrap-select/bootstrap-select.min.js')}} "></script>
    <script type="text/javascript" src="{{ asset('metronic/assets/global/plugins/bootstrap-summernote/summernote.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('metronic/assets/global/plugins/bootstrap-summernote/lang/summernote-ru-RU.js') }}"></script>
    <script type="text/javascript" src="{{ asset('metronic/assets/global/plugins/bootstrap-editable/bootstrap-editable/js/bootstrap-editable.min.js') }}"></script>
{% endblock %}

{% block body %}
        <div class="row">
            <div class="col-md-4">
                <ul class="list-group">
        			<li class="list-group-item">
        				{% trans %}Claim Type{% endtrans %} <span class="badge badge-info">
        				<a href="#" id="claim_type">{{ entity.type | trans}}</a></span>
        			</li>
{#         			<li class="list-group-item">#}
{#         				{% trans %}Target{% endtrans %}#}
{#         				{% if entity.targetDepartment is defined %}#}
{#         				    <span class="badge badge-info">{{ entity.targetDepartment.city }}, {{ entity.targetDepartment }}</span>#}
{#     				    {% elseif entity.targetIndividual is defined %}#}
{#     				        <span class="badge badge-info">{{ entity.targetIndividual }}</span>#}
{# 				        {% endif %}#}
{#         			</li>#}
        			<li class="list-group-item">
        				{% trans %}Claim Status{% endtrans %} <span class="badge badge-info">
        				<a href="#" id="claim_status">{{ entity.status | trans}}</a></span>
        			</li>
        			<li class="list-group-item">
        				{% trans %}Claim Importance{% endtrans %} <span class="badge badge-info">
        				<a href="#" id="claim_importance">{{ entity.importance }}</a> </span>
        			</li>
        			<li class="list-group-item">
        				{% trans %}Created{% endtrans %} {% if entity.createdAt %}<span class="badge badge-info">
        				{{ entity.createdAt|date('d-m-Y H:i:s') }} </span>{% endif %}
        			</li>
        			<li class="list-group-item">
        				{% trans %}Closed{% endtrans %} {% if entity.closedAt %}<span class="badge badge-info">
        				{{ entity.closedAt|date('d-m-Y H:i:s') }} </span>{% endif %}
        			</li>
        		</ul>
        		<div class="margin-bottom-10">
        		    {{ include ('ITDoorsHistoryBundle:History:connection.html.twig', { modelName: 'sd_claim', modelId : entity.id }) }}
    		    </div>
    		</div>
    		<div class="col-md-4">
                <div class="panel panel-default">
        			<div class="panel-heading">
        				<h3 class="panel-title">{% trans %}Text{% endtrans %}</h3>
        			</div>
        			<div class="panel-body">
                        {{ entity.text|raw('html') }}
        			</div>
        		</div>
        		<div class="panel panel-default">
        			<div class="panel-heading">
        				<h3 class="panel-title">{% trans %}Files{% endtrans %}</h3>
        			</div>
        			<div class="panel-body">
                         {% for file in entity.files %}
        			         <p><a href="javascript:;" class="doclink" timestamp="{{ date().timestamp }}" value="{{ file.getLink() }}">{{ file.originName }}</a></p>
        			     {% endfor %}
        			</div>
        		</div>
    		</div>
    		<div class="col-md-4">
                <div id="performers" class="panel panel-default">
        			<div class="panel-heading">
        				<h3 class="panel-title">{% trans %}Performers{% endtrans %}</h3>
        			</div>
        			<div class="panel-body" style="overflow: auto">
        			     <div id="performers_body">
            			     {% for rule in entity.claimPerformerRules %}
            			         <p>{{ rule.claimPerformer }}
            			             <button type="button" class="close remove-performer" value="{{ rule.id }}" aria-label="Remove"></button>
            			         </p>
            			     {% endfor %}
        			     </div>
        			     {{ form_start(performerRuleForm) }}
            			     <div class="input-group">
    				               {{ form_widget(performerRuleForm.claimPerformer, {'attr' : {'class' : 'form-control select2me', 'placeholder': 'Select...' | trans}}) }}
        							<span class="input-group-btn">
        							     <button class="btn btn-cl green" type="submit">{% trans %}Add{% endtrans %}</button>
        							</span>
    						</div>
						{{ form_end(performerRuleForm) }}
        			</div>
        		</div>
    		</div>
		</div>
        <div id="messages" class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">{% trans %}Messages{% endtrans %}</h3>
			</div>
			<div class="panel-body">
		         {% for message in messages %}
			         <div class="note note-{% if message.staffOnly %}info{% else %}success{% endif %}">
						<h5 class="block"><a href="{{ path('sd_user_show', { id : message.user.id }) }}">{{ message.user }}</a> {{ message.createdAt|date('d-m-Y H:i:s') }}</h5>
						{{ message.text | raw('html') }}
						{% if message.files is not empty %}
						  <h5><br>{% trans %}Files{% endtrans %}:</h5>
						  {% for file in message.files %}
						      <p>
						          <a href="javascript:;" class="doclink" timestamp="{{ date().timestamp }}" value="{{ file.getLink() }}">{{ file.originName }} </a>
						          {{ file.description is empty ? '' : '('~file.description~')'}}
					          </p>
						  {% endfor %}
						{% endif %}
					</div>
			     {% endfor %}
			     <div id="my_msg"></div>
			     {{ form_start(form) }}
			     {{ form_widget(form.text) }}
			     <div class="row">
			         <div class="col-md-2">
                        <button id="add_msg" type="submit" class="btn btn-default margin-top-10">{% trans %}Send{% endtrans %}</button>
                     </div>
                     <div class="col-md-2 margin-top-20">
                        {{ form_widget(form.staffOnly, {'attr' : {'class' : 'form-control'}}) }}
                        <label class="required control-label">{% trans %}Staff Only{% endtrans%}</label>
                     </div>
                     <div class="col-md-8 margin-top-10">
                        {{ form_widget(form.files)|raw }}
                     </div>
                 </div>
                 {{ form_end(form) }}
			</div>
		</div>
		<script>
            $(document).ready(function() {
            	$('#claim_status').editable({
                    type: 'select',
                    title: '{% trans %}Claim Status{% endtrans %}',
                    placement: 'right',
                    value: '{{ entity.status }}',
                    source: {{ statuses | join(',') | raw }}
                    ,pk: {{ entity.id }}
                    ,url: '{{ path('claim_ch_status') }}'
                });
            	$('#claim_type').editable({
                    type: 'select',
                    title: '{% trans %}Claim Type{% endtrans %}',
                    placement: 'right',
                    value: '{{ entity.type }}',
                    source: {{ types | join(',') | raw }}
                    ,pk: {{ entity.id }}
                    ,url: '{{ path('claim_ch_type') }}'
                });
            	$('#claim_importance').editable({
                    type: 'select',
                    title: '{% trans %}Claim Importance{% endtrans %}',
                    placement: 'right',
                    value: '{{ entity.importance.id }}',
                    source: {{ importances | join(',') | raw }}
                    ,pk: {{ entity.id }}
                    ,url: '{{ path('claim_ch_importance') }}'
                });
            	$(document).on('click', '.remove-performer', function() {
                    var p = $(this).closest('p');
            		$.ajax({
                        data: {
                            rule_id: $(this).val()
                        },
                        type: "POST",
                        url: "{{ path('claim_rm_rule') }}",
                        beforeSend: function () {
                        	SD.blockUI($('#performers'));
                        },
                        success: function(response) {
                        	p.remove();
                        	SD.unblockUI($('#performers'));
                        },
                        error: function(response) {
                        	SD.unblockUI($('#performers'));
                        }
                    });
                });
            	$('.select2').select2({
                    allowClear: true
                });
            	$('.doclink').click(function(){
                	var url = '{{ url('it_doors_file_access_get_if_authenticated') }}';
                	url += '?';
                	url += encodeURI('path') + '=' + encodeURI($(this).attr('value')) + '&';
                	url += encodeURI('timestamp') + '=' + encodeURI($(this).attr('timestamp')) + '&';
                	window.location = url;
                });
                $('#{{ form.vars.name }}_text').summernote({
                	lang: 'ru-RU',
                    'disableDragAndDrop': true,
                    'disableLinkTarget': true,
                    'onblur': function() {
                        /** Костыль для страховки */
                        $('#{{ form.vars.name }}_text').text($('#{{ form.vars.name }}_text').code());
                    },
                    'onImageUpload': function(files, editor, welEditable) {
                        sendFile(files[0],editor,welEditable);
                    }
                });
                function sendFile(file,editor,welEditable) {
                    data = new FormData();
                    data.append("file", file);
                    $.ajax({
                        data: data,
                        type: "POST",
                        url: "{{ path('claim_upload') }}",
                        cache: false,
                        contentType: false,
                        processData: false,
                        success: function(url) {
                                editor.insertImage(welEditable, url);
                        }
                    });
                }
                $("form[name='{{ performerRuleForm.vars.name }}']").submit(function (e) {
                	var formData = new FormData($(this)[0]);
                	$.ajax({
                    	url: "{{ path('claim_add_rule') }}",
                        type: 'POST',
                        data: formData,
                        cache: false,
                        contentType: false,
                        processData: false,
                        beforeSend: function () {
                        	SD.blockUI($('#performers'));
                        },
                        success: function(response) {
                        	$('#performers_body').append(
                                	'<p>' + response.performer
                                	 + '<button type="button" class="close remove-performer" value="'
                                	 + response.id + '" aria-label="Remove"></button></p>');
                        	SD.unblockUI($('#performers'));
                        	$("#performerRuleForm_claimPerformer option[value="+ response.performer_id +"]").remove();
                        	$("#performerRuleForm_claimPerformer").select2('destroy');
                        	$("#performerRuleForm_claimPerformer").select2();
                        },
                        error: function(response) {
                        	SD.unblockUI($('#performers'));
                        }
                	});
                	return false;
                });
                $("form[name='{{ form.vars.name }}']").submit(function (e) {
                	var formData = new FormData($(this)[0]);
                    $.ajax({
                    	url: "{{ path('claim_add_msg') }}",
                        type: 'POST',
                        data: formData,
                        cache: false,
                        contentType: false,
                        processData: false,
                        beforeSend: function () {
                        	SD.blockUI($("form[name='{{ form.vars.name }}']"));
                        },
                        success: function(response) {
                        	var time = moment.unix(response.createdAt);
                        	var createdAt = time.format('DD-MM-YYYY HH:mm:ss');
                        	var aHTML = $('#{{ form.vars.name }}_text').code();
                        	var staffOnly = response.staffOnly ? 'info' : 'success';
                        	var messageBody = '<div id="' + response.createdAt + '" class="note note-' + staffOnly + '">\
                                                   <h5 class="block"><a href="'+ response.userLink+ '">' + response.user + '</a> ' + createdAt + '</h5>'
                                                       + aHTML;
                           if (response.files != undefined) {
                        	   messageBody += '<h5><br>{% trans %}Files{% endtrans %}:</h5>';
                        	   response.files.forEach(function(file) {
                        		   messageBody += '<p><a href="javascript:;" class="doclink" timestamp="'+response.createdAt+'" value="'+file.link+'">'+file.name+'</a> ('+file.description+')</p>';
                        	   });
                        	   messageBody += '</div>';
                           }
                        	$('#my_msg').append(messageBody);
                        	$('#{{ form.vars.name }}_text').code('<p><br></p>');
                        	
                            var files = document.getElementById('{{ form.vars.name }}_files');
                            while (files.childNodes.length > 1) {
                            	files.removeChild(files.firstChild);
                            }
                        	
                        	$('.doclink').click(function(){
                            	var url = '{{ url('it_doors_file_access_get_if_authenticated') }}';
                            	url += '?';
                            	url += encodeURI('path') + '=' + encodeURI($(this).attr('value')) + '&';
                            	url += encodeURI('timestamp') + '=' + encodeURI($(this).attr('timestamp')) + '&';
                            	window.location = url;
                            });
                        	SD.unblockUI($("form[name='{{ form.vars.name }}']"));
                        	$('#' + response.createdAt).pulsate({
                                color: "#bf1c56",
                                reach: 40,
                                speed: 100,
                                repeat: 2
                            });
                        },
                        error: function(response) {
                        	$('#{{ form.vars.name }}_text').code('<p><br></p>');
                        	$('#my_msg').prepend(
                            '<div class="alert alert-warning alert-dismissable">\
        						<button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>\
        						{% trans %}<strong>Warning!</strong> Something went wrong. Please check.{% endtrans %}\
        					</div>'
        					);
                        	SD.unblockUI($("form[name='{{ form.vars.name }}']"));
                        }
                    });
                    return false;
                });
            });
        </script>
{% endblock %}