{% extends '::base.html.twig' %}
{% trans_default_domain 'SDServiceDeskBundle' %}
{% block title %}{% trans %}Claims{% endtrans %} {% endblock %}
{% block page_title %}
    <h3 class="page-title">
        {% trans %}Claims{% endtrans %}
    </h3>
{% endblock %}

{% block page_breadcrumbs %}
    <ul class="page-breadcrumb breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="{{ path('sd_dashboard_homepage') }}" title="{% trans %}Dashboard{% endtrans %}">{% trans %}Dashboard{% endtrans %}</a>
        </li>
        <li>
            <a href="{{ path('claim') }}" title="{% trans %}Claims{% endtrans %}">{% trans %}Claims{% endtrans %}</a>
        </li>
        <li>
            <a href="{{ path('client_show', { 'id': entity.customer.id }) }}">
                {{entity.id }} — {{ entity.customer}}
                {% if entity.disabled %}
                    <span class="badge badge-default">{% trans %}Disabled{% endtrans %}</span>
                {% else %}
                    <span class="badge badge-danger">{% trans %}Active{% endtrans %}</span>
                {% endif %}
            </a>
        </li>
    </ul>
{% endblock %}

{% block css_page_level_plugin %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('metronic/assets/global/plugins/bootstrap-summernote/summernote.css') }}" />
{% endblock %}

{% block js_page_level_plugins %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('metronic/assets/global/plugins/bootstrap-summernote/summernote.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('metronic/assets/global/plugins/bootstrap-summernote/lang/summernote-ru-RU.js') }}"></script>
{% endblock %}

{% block body %}
        <a class="margin-bottom-10 btn btn-cl green" href="{{ path('claim_edit', { 'id': entity.id }) }}" title="{% trans %}Edit{% endtrans %}">
            {% trans %}Edit{% endtrans %}
        </a>
        <div class="row">
            <div class="col-md-4">
                <ul class="list-group">
        			<li class="list-group-item">
        				{% trans %}Claim Type{% endtrans %} <span class="badge badge-info">
        				{{ entity.type }} </span>
        			</li>
        			<li class="list-group-item">
        				{% trans %}Target{% endtrans %}
        				{% if entity.targetDepartment is defined %}
        				    <span class="badge badge-info">{{ entity.targetDepartment }}</span>
    				    {% elseif entity.targetIndividual is defined %}
    				        <span class="badge badge-info">{{ entity.targetIndividual }}</span>
				        {% endif %}
        			</li>
        			<li class="list-group-item">
        				{% trans %}Claim Status{% endtrans %} <span class="badge badge-info">
        				{{ entity.status }} </span>
        			</li>
        			<li class="list-group-item">
        				{% trans %}Claim Importance{% endtrans %} <span class="badge badge-info">
        				{{ entity.importance }} </span>
        			</li>
        			<li class="list-group-item">
        				{% trans %}Created{% endtrans %} {% if entity.createdAt %}<span class="badge badge-info">
        				{{ entity.createdAt|date('Y-m-d') }} </span>{% endif %}
        			</li>
        			<li class="list-group-item">
        				{% trans %}Closed{% endtrans %} {% if entity.closedAt %}<span class="badge badge-info">
        				{{ entity.closedAt|date('Y-m-d') }} </span>{% endif %}
        			</li>
        		</ul>
    		</div>
    		<div class="col-md-4">
                <div class="panel panel-default">
        			<div class="panel-heading">
        				<h3 class="panel-title">{% trans %}Cause{% endtrans %}</h3>
        			</div>
        			<div class="panel-body">
                        {{ entity.text|raw('html') }}
        			</div>
        		</div>
    		</div>
    		<div class="col-md-4">
                <div class="panel panel-default">
        			<div class="panel-heading">
        				<h3 class="panel-title">{% trans %}Performers{% endtrans %}</h3>
        			</div>
        			<div class="panel-body">
        			     {% for rule in entity.claimPerformerRules %}
        			         <p>{{ rule.claimPerformer }}</p>
        			     {% endfor %}
        			</div>
        		</div>
    		</div>
		</div>
        <div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">{% trans %}Messages{% endtrans %}</h3>
			</div>
			<div class="panel-body">
			     <div class="summernote"></div>
                 <button id="add_msg" type="button" class="btn btn-default margin-top-10 margin-bottom-15">{% trans %}Add{% endtrans %}</button>
			     {% for message in messages %}
			         <div class="note note-success">
						<h5 class="block">{{ message.user }} {{ message.createdAt|date('Y-m-d H:i:s') }}</h5>
						{{ message.text }}
					</div>
			     {% endfor %}
			</div>
		</div>
		<script>
            $(document).ready(function() {
                $('.summernote').summernote({
                	lang: 'ru-RU',
                    'disableDragAndDrop': true,
                    'disableLinkTarget': true,
                    'onblur': function() {
                        /** Костыль для страховки */
                        $('.textear-edit').text($('.textear-edit').code());
                    },
                    'onImageUpload': function(files, editor, welEditable) {
                        sendFile(files[0],editor,welEditable);
                    }
                });
                function sendFile(file,editor,welEditable) {
                    data = new FormData();
                    data.append("file", file);
                    $.ajax({
                        data: data,
                        type: "POST",
                        url: "{{ path('claim_upload') }}",
                        cache: false,
                        contentType: false,
                        processData: false,
                        success: function(url) {
                                editor.insertImage(welEditable, url);
                        }
                    });
                }
            });
        </script>
{% endblock %}