{% extends '::base.html.twig' %}
{% trans_default_domain 'SDServiceDeskBundle' %}
{% form_theme form 'ITDoorsCommonBundle:Form:fields.html.twig' %}
{% block title %}{% trans %}Claims{% endtrans %} {% endblock %}
{% block page_title %}
    <h3 class="page-title">
        {% trans %}Claims{% endtrans %}
    </h3>
{% endblock %}

{% block page_breadcrumbs %}
    <ul class="page-breadcrumb breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="{{ path('sd_dashboard_homepage') }}" title="{% trans %}Dashboard{% endtrans %}">{% trans %}Dashboard{% endtrans %}</a>
        </li>
        <li>
            <a href="{{ path('claim') }}" title="{% trans %}Claims{% endtrans %}">{% trans %}Claims{% endtrans %}</a>
        </li>
        <li>
            <a href="{{ path('client_show', { 'id': entity.customer.id }) }}">
                {{ entity.id }} — {{ entity.customer}}
                {% if entity.disabled %}
                    <span class="badge badge-default">{% trans %}Disabled{% endtrans %}</span>
                {% else %}
                    <span class="badge badge-danger">{% trans %}Active{% endtrans %}</span>
                {% endif %}
            </a>
        </li>
    </ul>
{% endblock %}

{% block css_page_level_plugin %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('metronic/assets/global/plugins/bootstrap-summernote/summernote.css') }}" />
{% endblock %}

{% block js_page_level_plugins %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('templates/metronic/plugins/moment.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('metronic/assets/global/plugins/bootstrap-summernote/summernote.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('metronic/assets/global/plugins/bootstrap-summernote/lang/summernote-ru-RU.js') }}"></script>
{% endblock %}

{% block body %}
        <a class="margin-bottom-10 btn btn-cl green" href="{{ path('claim_edit', { 'id': entity.id }) }}" title="{% trans %}Edit{% endtrans %}">
            {% trans %}Edit{% endtrans %}
        </a>
        <div class="row">
            <div class="col-md-4">
                <ul class="list-group">
        			<li class="list-group-item">
        				{% trans %}Claim Type{% endtrans %} <span class="badge badge-info">
        				{{ entity.type }} </span>
        			</li>
        			<li class="list-group-item">
        				{% trans %}Target{% endtrans %}
        				{% if entity.targetDepartment is defined %}
        				    <span class="badge badge-info">{{ entity.targetDepartment.city }}, {{ entity.targetDepartment }}</span>
    				    {% elseif entity.targetIndividual is defined %}
    				        <span class="badge badge-info">{{ entity.targetIndividual }}</span>
				        {% endif %}
        			</li>
        			<li class="list-group-item">
        				{% trans %}Claim Status{% endtrans %} <span class="badge badge-info">
        				{{ entity.status }} </span>
        			</li>
        			<li class="list-group-item">
        				{% trans %}Claim Importance{% endtrans %} <span class="badge badge-info">
        				{{ entity.importance }} </span>
        			</li>
        			<li class="list-group-item">
        				{% trans %}Created{% endtrans %} {% if entity.createdAt %}<span class="badge badge-info">
        				{{ entity.createdAt|date('Y-m-d') }} </span>{% endif %}
        			</li>
        			<li class="list-group-item">
        				{% trans %}Closed{% endtrans %} {% if entity.closedAt %}<span class="badge badge-info">
        				{{ entity.closedAt|date('Y-m-d') }} </span>{% endif %}
        			</li>
        		</ul>
    		</div>
    		<div class="col-md-4">
                <div class="panel panel-default">
        			<div class="panel-heading">
        				<h3 class="panel-title">{% trans %}Text{% endtrans %}</h3>
        			</div>
        			<div class="panel-body">
                        {{ entity.text|raw('html') }}
        			</div>
        		</div>
        		<div class="panel panel-default">
        			<div class="panel-heading">
        				<h3 class="panel-title">{% trans %}Files{% endtrans %}</h3>
        			</div>
        			<div class="panel-body">
                         {% for file in entity.files %}
        			         <p><a href="javascript:;" class="doclink" timestamp="{{ date().timestamp }}" value="{{ file.getLink() }}">{{ file.originName }}</a></p>
        			     {% endfor %}
        			</div>
        		</div>
    		</div>
    		<div class="col-md-4">
                <div class="panel panel-default">
        			<div class="panel-heading">
        				<h3 class="panel-title">{% trans %}Performers{% endtrans %}</h3>
        			</div>
        			<div class="panel-body">
        			     {% for rule in entity.claimPerformerRules %}
        			         <p>{{ rule.claimPerformer }}</p>
        			     {% endfor %}
        			</div>
        		</div>
    		</div>
		</div>
        <div id="messages" class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">{% trans %}Messages{% endtrans %}</h3>
			</div>
			<div class="panel-body">
			     {{ form_start(form) }}
			     {{ form_widget(form.text) }}
			     <div class="row">
			         <div class="col-md-1">
                        <button id="add_msg" type="submit" class="btn btn-default margin-top-10 margin-bottom-15">{% trans %}Send{% endtrans %}</button>
                     </div>
                     <div class="col-md-4 margin-top-10">
                        {{ form_widget(form.files)|raw }}
                     </div>
                 </div>
                 {{ form_end(form) }}
                 <div id="my_msg"></div>
			     {% for message in messages %}
			         <div class="note note-success">
						<h5 class="block">{{ message.user }} {{ message.createdAt|date('Y-m-d H:i:s') }}</h5>
						{{ message.text | raw('html') }}
						{% if message.files is not empty %}
						  <h5><br>{% trans %}Files{% endtrans %}:</h5>
						  {% for file in message.files %}
						      <p><a href="javascript:;" class="doclink" timestamp="{{ date().timestamp }}" value="{{ file.getLink() }}">{{ file.originName }}</a></p>
						  {% endfor %}
						{% endif %}
					</div>
			     {% endfor %}
			</div>
		</div>
		<script>
            $(document).ready(function() {
            	$('.doclink').click(function(){
                	var url = '{{ url('it_doors_file_access_get_if_authenticated') }}';
                	url += '?';
                	url += encodeURI('path') + '=' + encodeURI($(this).attr('value')) + '&';
                	url += encodeURI('timestamp') + '=' + encodeURI($(this).attr('timestamp')) + '&';
                	window.location = url;
                });
                $('#{{ form.vars.name }}_text').summernote({
                	lang: 'ru-RU',
                    'disableDragAndDrop': true,
                    'disableLinkTarget': true,
                    'onblur': function() {
                        /** Костыль для страховки */
                        $('#{{ form.vars.name }}_text').text($('#{{ form.vars.name }}_text').code());
                    },
                    'onImageUpload': function(files, editor, welEditable) {
                        sendFile(files[0],editor,welEditable);
                    }
                });
                function sendFile(file,editor,welEditable) {
                    data = new FormData();
                    data.append("file", file);
                    $.ajax({
                        data: data,
                        type: "POST",
                        url: "{{ path('claim_upload') }}",
                        cache: false,
                        contentType: false,
                        processData: false,
                        success: function(url) {
                                editor.insertImage(welEditable, url);
                        }
                    });
                }
                $("form[name='{{ form.vars.name }}']").submit(function (e) {
                	var formData = new FormData($(this)[0]);
                    $.ajax({
                    	url: "{{ path('claim_add_msg') }}",
                        type: 'POST',
                        data: formData,
                        cache: false,
                        contentType: false,
                        processData: false,
                        beforeSend: function () {
                        	SD.blockUI($('#messages'));
                        },
                        success: function(response) {
                        	var time = moment.unix(response.createdAt);
                        	var createdAt = time.format('YYYY-MM-DD HH:mm:ss');
                        	var aHTML = $('#{{ form.vars.name }}_text').code();
                        	var messageBody = '<div id="' + response.createdAt + '" class="note note-success">\
                                                   <h5 class="block">' + response.user + ' ' + createdAt + '</h5>'
                                                       + aHTML;
                           if (response.files != undefined) {
                        	   messageBody += '<h5><br>{% trans %}Files{% endtrans %}:</h5>';
                        	   response.files.forEach(function(file) {
                        		   messageBody += '<p><a href="javascript:;" class="doclink" timestamp="'+response.createdAt+'" value="'+file.link+'">'+file.name+'</a></p>';
                        	   });
                        	   messageBody += '</div>';
                           }
                        	$('#my_msg').prepend(messageBody);
                        	$('#{{ form.vars.name }}_text').code('<p><br></p>');
                        	
                            var files = document.getElementById('{{ form.vars.name }}_files');
                            while (files.childNodes.length > 1) {
                            	files.removeChild(files.firstChild);
                            }
                        	
                        	$('.doclink').click(function(){
                            	var url = '{{ url('it_doors_file_access_get_if_authenticated') }}';
                            	url += '?';
                            	url += encodeURI('path') + '=' + encodeURI($(this).attr('value')) + '&';
                            	url += encodeURI('timestamp') + '=' + encodeURI($(this).attr('timestamp')) + '&';
                            	window.location = url;
                            });
                        	SD.unblockUI($('#messages'));
                        	$('#' + response.createdAt).pulsate({
                                color: "#bf1c56",
                                reach: 40,
                                speed: 100,
                                repeat: 2
                            });
                        },
                        error: function(response) {
                        	$('#{{ form.vars.name }}_text').code('<p><br></p>');
                        	$('#my_msg').prepend(
                            '<div class="alert alert-warning alert-dismissable">\
        						<button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>\
        						{% trans %}<strong>Warning!</strong> Something went wrong. Please check.{% endtrans %}\
        					</div>'
        					);
                        	SD.unblockUI($('#messages'));
                        }
                    });
                    return false;
                });
            });
        </script>
{% endblock %}