{% trans_default_domain 'ListsHandlingBundle' %}

<script type="text/javascript">

    $(document).ready(function(){

        $.fn.editable.defaults.inputclass = 'form-control';
        $.fn.editable.defaults.emptytext = '{% trans %}Enter value{% endtrans %}';

        $('#serviceOffered, #resultString, #statusDescription, #square, #description, #chance, #budget').editable({
            url: '{{ path('sd_common_ajax_handling_save') }}'
        });

        $('#statusId').editable({
            url: '{{ path('sd_common_ajax_handling_save') }}',
            source: '{{ path('sd_common_ajax_handling_status') }}'
        });

        $('#resultId').editable({
            url: '{{ path('sd_common_ajax_handling_save') }}',
            source: '{{ path('sd_common_ajax_handling_result') }}'
        });

        $('#typeId').editable({
            url: '{{ path('sd_common_ajax_handling_save') }}',
            source: '{{ path('sd_common_ajax_handling_type') }}'
        });

        $('#handlingServices').editable({
            url: '{{ path('sd_common_ajax_handling_service_save') }}',
            source: '{{ path('sd_common_ajax_handling_service') }}'
        });


        //*********************************


        $('#serviceOffered, #shortDescription, #address, #mailingAddress, #site, #edrpou, #inn, #certificate').editable({
            url: '{{ path('sd_common_ajax_organization_save') }}'
        });

        $('#scopeId').editable({
            url: '{{ path('sd_common_ajax_organization_save') }}',
            source: '{{ path('sd_common_ajax_scope') }}'
        });

        $('#cityId').editable({
            url: '{{ path('sd_common_ajax_organization_save') }}',
            source: '{{ path('sd_common_ajax_city') }}',
            select2: {
                placeholder: '{% trans %}Select City{% endtrans %}',
                minimumInputLength: 2
            }
        });
    })

</script>

<div class="tab-pane active" id="tab_0">
    <div class="col-md-12">
        <table id="handling" class="table table-bordered table-striped">
            <tbody>
            <tr> {# 1 #}
                <td style="width:15%">{% trans %}Handling ID{% endtrans %}</td>
                <td style="width:35%">{{ handling.0.id }}</td>
				<td style="width:15%">{% trans %}Status{% endtrans %}</td>
                <td style="width:35%">
                    <a href="#" id="statusId" data-type="select" data-pk="{{ handling.0.id }}" data-value="{{ handling.0.statusId }}" data-placement="right" data-original-title="{% trans %}Enter Status{% endtrans %}">
                        {{ handling.0.status }}
                    </a>
                </td>                
            </tr>
            <tr> {# 2 #}
                <td>{% trans %}Organization Name{% endtrans %}</td>
                <td>{{ handling.organizationName }}</td>
                <td>{% trans %}Status Description{% endtrans %}</td>
                <td><a href="#" id="statusDescription" data-type="textarea" data-pk="{{ handling.0.id }}" data-value="{{ handling.0.statusDescription }}" data-placement="right" data-original-title="{% trans %}Enter Status{% endtrans %}">{{ handling.0.statusDescription }}</a>
				</td>                 
            </tr>
            <tr> {# 3 #}
				<td>{% trans %}Create User{% endtrans %}</td>
                <td>{{ handling.creatorFullName }}</td>
                <td>{% trans %}Result{% endtrans %}</td>
                <td>
                    <a href="#" id="resultId" data-type="select" data-pk="{{ handling.0.id }}" data-value="{{ handling.0.resultId }}" data-original-title="{% trans %}Select type{% endtrans %}">
                        {{ handling.0.result }}
                    </a>
                </td>
            </tr>
            <tr>{# 4 #}
				<td>{% trans %}Handling Type{% endtrans %} *</td> {# Тип : прямой вход, гостендер, ...#}
                <td>
                    <a href="#" id="typeId" data-type="select" data-pk="{{ handling.0.id }}" data-value="{{ handling.0.typeId }}" data-original-title="{% trans %}Select Handling Type{% endtrans %}">
                        {{ handling.0.type }}
                    </a>
                </td>
				<td>{% trans %}Result Description{% endtrans %}</td>
				<td><a href="#" id="resultString" data-type="textarea" data-pk="{{ handling.0.id }}" data-placement="right" data-original-title="{% trans %}Enter Status{% endtrans %}">{{ handling.0.resultString }}</a>
				</td>                 				                
            </tr>
            <tr> {# 5 #}
                <td>{% trans %}Service offered{% endtrans %}</td>
                <td>
                    <a href="#" id="serviceOffered" data-type="textarea" data-pk="{{ handling.0.id }}" data-value="{{ handling.0.serviceOffered }}" data-original-title="{% trans %}Select type{% endtrans %}">{{ handling.0.serviceoffered }}</a>
                </td>
                <td>{% trans %}Service offered{% endtrans %}</td>
                <td>
                    <a href="#" id="handlingServices" data-type="checklist" data-pk="{{ handling.0.id }}" data-placement="right" data-value="{{ handling.serviceIds }}" data-original-title="{% trans %}Enter Result Description{% endtrans %}">{{ handling.serviceList }}</a>
                </td>
            </tr>
            <tr>{# 6 #}
                <td>{% trans %}Notice{% endtrans %}</td>
                <td>
                    <a href="#" id="description" data-type="textarea" data-pk="{{ handling.0.id }}" data-value="{{ handling.0.description }}" data-original-title="{% trans %}Enter Handling Notice{% endtrans %}">{{ handling.0.description }}</a>
                </td>
                <td>{% trans %}Square{% endtrans %}</td>
                <td>
                    <a href="#" id="square" data-type="text" data-pk="{{ handling.0.id }}" data-value="{{ handling.0.square }}" data-original-title="{% trans %}Enter Square{% endtrans %}">
                        {{ handling.0.square }}
                    </a>
                </td>
            </tr> {# 7 #}
            <tr>
                <td>{% trans %}Budget without VAT{% endtrans %}</td>
                <td>
                    <a href="#" id="budget" data-type="text" data-pk="{{ handling.0.id }}" data-value="{{ handling.0.budget }}" data-original-title="{% trans %}Enter Budget{% endtrans %}">
                        {{ handling.0.budget }}
                    </a>
                </td>                
            </tr>
            <tr> {# 8 #}
                <td>{% trans %}Chance{% endtrans %}</td>
                <td><a href="#" id="chance" data-type="text" data-pk="{{ handling.0.id }}" data-value="{{ handling.0.chance }}" data-original-title="{% trans %}Enter Сhance{% endtrans %}">
					{{ handling.0.chance }}
					</a>
				</td>
				<td>{% trans %}History{% endtrans %}</td>
				<td></td>
            </tr>            
            </tbody>
        </table>
    </div>
</div>