{% trans_default_domain 'ITDoorsControllingBundle' %}
<script>
    function showTooltip(x, y, contents) {
        $('<div id="tooltip">' + contents + '</div>').css({
                position: 'absolute',
                display: 'none',
                top: y + 5,
                left: x -50 ,
                border: '1px solid #333',
                padding: '4px',
                color: '#fff',
                'border-radius': '3px',
                'background-color': '#333',
                opacity: 0.80
            }).appendTo("body").fadeIn(200);
    }
        
    function chart(pageviews, visitors, id) {

        $.plot($("#chart_"+id), [
                {
                    data: pageviews,
                    label: "Общий долг",
                    lines: {
                        lineWidth: 1
                    },
                    shadowSize: 0

                }, {
                    data: visitors,
                    label: "Простроченый долг",
                    lines: {
                        lineWidth: 1
                    },
                    shadowSize: 0
                }
            ], {
                series: {
                    lines: {
                        show: true,
                        lineWidth: 1,
                        fill: true,
                        fillColor: {
                            colors: [{
                                    opacity: 0.05
                                }, {
                                    opacity: 0.01
                                }
                            ]
                        }
                    },
                    points: {
                        show: true,
                        radius: 3,
                        lineWidth: 1
                    },
                    shadowSize: 1
                },
                grid: {
                    hoverable: true,
                    clickable: true,
                    tickColor: "#eee",
                    borderColor: "#eee",
                    borderWidth: 1
                },
                colors: ["#808080", "#d84a38", "#52e136"],
                 legend: {
                    show: true,
                    sorted: null    // default to no legend sorting
                },
                xaxis: {
                    mode: "categories",
                    tickLength: 0,
                    //ticks: 10,
                    //tickDecimals: 0,
                    tickColor: "#eee",
                    alignTicksWithAxis: 10
                },
                yaxis: {
                    ticks: 10,
                    tickDecimals: 0,
                    tickColor: "#eee"
                }
                
            });
        var previousPoint = null;
        $("#chart_"+id).bind("plothover", function (event, pos, item) {
            $("#x").text(pos.x.toFixed(2));
            $("#y").text(pos.y.toFixed(2));
            if (item) {
                if (previousPoint !== item.dataIndex) {
                    previousPoint = item.dataIndex;

                    $("#tooltip").remove();
                    var x = item.series.data[item.datapoint[0]][0],
                        y = item.datapoint[1].toFixed(2);

                    showTooltip(item.pageX, item.pageY, item.series.label + " " + x + " - " + y);
                }
            } else {
                $("#tooltip").remove();
                previousPoint = null;
            }
        });
    }
    var mountsShort = [];
        mountsShort['01'] = 'Янв.';
        mountsShort['02'] = 'Фев.';
        mountsShort['03'] = 'Мар.';
        mountsShort['04'] = 'Апр.';
        mountsShort['05'] = 'Май';
        mountsShort['06'] = 'Июн.';
        mountsShort['07'] = 'Июл.';
        mountsShort['08'] = 'Авг.';
        mountsShort['09'] = 'Сен.';
        mountsShort['10'] = 'Окт.';
        mountsShort['11'] = 'Ноя.';
        mountsShort['12'] = 'Дек.';
    var months = ['01','02','03','04','05','06','07','08','09','10','11','12'];
</script>


<div class="navigation">
    {{ ajax_paginator_render(
            entities, namespasePagin, {
                    'datatable_ajax_1': 'ITDoorsAjax.updateList'
                }
            )
    }}
</div>
    {% if entities | length %}
    {% set last = false %}
    {% set customerId = null %}
    {% for  key,item in entities %}
        {% if customerId !=  item.customerId %}
            {% if customerId is not null %}
                var allSum = 0;
                var allSumm = 0;
                for (var year in y) {
                    for (var month in months) {
                         if(sum[y[year]][months[month]] != undefined) {
                            allSum = sum[y[year]][months[month]];
                         }
                         if(sumd[y[year]] != undefined && sumd[y[year]][months[month]] != undefined) {
                            allSumm = sumd[y[year]][months[month]];
                         }
                         pageviews.push([mountsShort[months[month]]+' '+y[year], allSum-allSumm]);
                         visitors.push([mountsShort[months[month]]+' '+y[year], allSum-allSumm]);
                    }
                }
                console.log('{{ last.customerName }}');
                console.log(y);
                console.log(sum);
                console.log(sumd);
                chart(pageviews, visitors, {{ last.customerId }});
            });
            </script>
            <div class="portlet box red">
                <div class="portlet-title">
                        <div class="caption">
                                <i class="fa fa-gift"></i>{{ last.customerName }}
                        </div>
                        <div class="tools">
                                <a href="javascript:;" class="collapse"></a>
                                <a href="javascript:;" class="remove"></a>
                        </div>
                </div>
                <div class="portlet-body">
                    <div id="chart_{{ last.customerId }}" class="chart" style="padding: 0px; position: relative;"></div>
                </div>
            </div>
            {% endif %}
            {% set customerId = item.customerId %}
            <script>
                $(document).ready(function(){
                var pageviews = [];
                var visitors = [];
                var y = [];
                var sum = [];
                var sumd = [];
                var allsUmma = 0;
                var delayDate = 0;
        {% endif %}
                if($.inArray('{{item.date|date('Y')}}', y) === -1) {
                    y.push('{{item.date|date('Y')}}');
                }
                
                
                if(sum['{{item.date|date('Y')}}']  === undefined) {
                    sum['{{item.date|date('Y')}}'] = [];
                }
                if(sum['{{item.date|date('Y')}}']['{{item.date|date('m')}}']  === undefined) {
                    sum['{{item.date|date('Y')}}']['{{item.date|date('m')}}'] = 0;
                }
                if(sumd['{{item.delayDate|date('Y')}}']  === undefined) {
                    sumd['{{item.delayDate|date('Y')}}'] = [];
                }
                if(sumd['{{item.delayDate|date('Y')}}']['{{item.delayDate|date('m')}}']  === undefined) {
                    sumd['{{item.delayDate|date('Y')}}']['{{item.delayDate|date('m')}}'] = [];
                }
                
                
                allsUmma = allsUmma+{{item.allSumma}};
                delayDate = delayDate+Number({{item.paymentsSumma}});
                sum['{{item.date|date('Y')}}']['{{item.date|date('m')}}'] = allsUmma;
                sumd['{{item.delayDate|date('Y')}}']['{{item.delayDate|date('m')}}'] = delayDate;
        {% set last = item %}
    {% endfor %}
                  var allSum = 0;
                        var allSumm = 0;
                        for (var year in y) {
                            for (var month in months) {
                                 if(sum[y[year]][months[month]] !== undefined) {
                                    allSum = sum[y[year]][months[month]];
                                 }
                                 if(sumd[y[year]] !== undefined && sumd[y[year]][months[month]] !== undefined) {
                                    allSumm = sumd[y[year]][months[month]];
                                 }
                                 pageviews.push([mountsShort[months[month]]+' '+y[year], allSum-allSumm]);
                                 visitors.push([mountsShort[months[month]]+' '+y[year], allSum-allSumm]);
                            }
                        }
                        console.log('{{ last.customerName }}');
                        console.log(y);
                        console.log(sum);
                        console.log(sumd);
                        chart(pageviews, visitors, {{ last.customerId }});
            });
        </script>
        <div class="portlet box red">
            <div class="portlet-title">
                    <div class="caption">
                            <i class="fa fa-gift"></i>{{ last.customerName }}
                    </div>
                    <div class="tools">
                            <a href="javascript:;" class="collapse"></a>
                            <a href="javascript:;" class="remove"></a>
                    </div>
            </div>
            <div class="portlet-body">
                <div id="chart_{{ last.customerId }}" class="chart" style="padding: 0px; position: relative;"></div>
            </div>
        </div>
    <div class="navigation">
        {{ ajax_paginator_render(
                entities, namespasePagin, {
                        'datatable_ajax_1': 'ITDoorsAjax.updateList'
                    }
                )
        }}
    </div>
{% endif %}
{#% for  key,item in entities %}
    {{ item.customerName }} {{item.date|date('Y')}} {{item.allSumma}} <br>
{% endfor %#}