{% trans_default_domain 'ITDoorsControllingBundle' %}
<script>
    function showTooltip(x, y, contents) {
        $('<div id="tooltip">' + contents + '</div>').css({
                position: 'absolute',
                display: 'none',
                top: y + 5,
                left: x + 15,
                border: '1px solid #333',
                padding: '4px',
                color: '#fff',
                'border-radius': '3px',
                'background-color': '#333',
                opacity: 0.80
            }).appendTo("body").fadeIn(200);
    }
        
    function chart(pageviews, visitors, id) {

        var plot = $.plot($("#chart_"+id), [
                {
                    data: pageviews,
                    label: "Общий долг",
                    lines: {
                        lineWidth: 1
                    },
                    shadowSize: 0

                }, {
                    data: visitors,
                    label: "Простроченый долг",
                    lines: {
                        lineWidth: 1
                    },
                    shadowSize: 0
                }
            ], {
                series: {
                    lines: {
                        show: true,
                        lineWidth: 1,
                        fill: true,
                        fillColor: {
                            colors: [{
                                    opacity: 0.05
                                }, {
                                    opacity: 0.01
                                }
                            ]
                        }
                    },
                    points: {
                        show: true,
                        radius: 3,
                        lineWidth: 1
                    },
                    shadowSize: 1
                },
                grid: {
                    hoverable: true,
                    clickable: true,
                    tickColor: "#eee",
                    borderColor: "#eee",
                    borderWidth: 1
                },
                colors: ["#808080", "#d84a38", "#52e136"],
                xaxis: {
                    mode: "time",
                    timeformat: "%Y/%m/%d"
                    //ticks: 10,
                    //tickDecimals: 0,
                    //tickColor: "#eee"
                },
                yaxis: {
                    ticks: 10,
                    tickDecimals: 0,
                    tickColor: "#eee"
                }
                
            });


        

        var previousPoint = null;
        $("#chart_"+id).bind("plothover", function (event, pos, item) {
            $("#x").text(pos.x.toFixed(2));
            $("#y").text(pos.y.toFixed(2));
            if (item) {
                if (previousPoint != item.dataIndex) {
                    previousPoint = item.dataIndex;

                    $("#tooltip").remove();
                    var x = item.datapoint[0].toFixed(2),
                        y = item.datapoint[1].toFixed(2);

                    showTooltip(item.pageX, item.pageY, item.series.label + " of " + x + " - " + y);
                }
            } else {
                $("#tooltip").remove();
                previousPoint = null;
            }
        });
    }
    $(document).ready(function(){

    function chart2() {
        function randValue() {
            return (Math.floor(Math.random() * (1 + 40 - 20))) + 20;
        }
        var pageviews = [
            [1, randValue()],
            [2, randValue()],
            [3, 2 + randValue()]
        ];
        var visitors = [
            [1, randValue() - 5],
            [2, randValue() - 5],
            [3, randValue() - 5]
        ];

        var plot = $.plot($("#chart_2"), [{
                    data: pageviews,
                    label: "Общий долг",
                    lines: {
                        lineWidth: 1,
                    },
                    shadowSize: 0

                }, {
                    data: visitors,
                    label: "Простроченый долг",
                    lines: {
                        lineWidth: 1,
                    },
                    shadowSize: 0
                }
            ], {
                series: {
                    lines: {
                        show: true,
                        lineWidth: 1,
                        fill: true,
                        fillColor: {
                            colors: [{
                                    opacity: 0.05
                                }, {
                                    opacity: 0.01
                                }
                            ]
                        }
                    },
                    points: {
                        show: true,
                        radius: 3,
                        lineWidth: 1
                    },
                    shadowSize: 1
                },
                grid: {
                    hoverable: true,
                    clickable: true,
                    tickColor: "#eee",
                    borderColor: "#eee",
                    borderWidth: 1
                },
                colors: ["#808080", "#d84a38", "#52e136"],
                xaxis: {
                    mode: "time",
                    timeformat: "%Y/%m/%d"
                    /*ticks: 10,
                    tickDecimals: 0,
                    tickColor: "#eee"*/
                },
                yaxis: {
                    ticks: 10,
                    tickDecimals: 0,
                    tickColor: "#eee"
                }
            });


        function showTooltip(x, y, contents) {
            $('<div id="tooltip">' + contents + '</div>').css({
                    position: 'absolute',
                    display: 'none',
                    top: y + 5,
                    left: x + 15,
                    border: '1px solid #333',
                    padding: '4px',
                    color: '#fff',
                    'border-radius': '3px',
                    'background-color': '#333',
                    opacity: 0.80
                }).appendTo("body").fadeIn(200);
        }

        var previousPoint = null;
        $("#chart_2").bind("plothover", function (event, pos, item) {
            $("#x").text(pos.x.toFixed(2));
            $("#y").text(pos.y.toFixed(2));

            if (item) {
                if (previousPoint != item.dataIndex) {
                    previousPoint = item.dataIndex;

                    $("#tooltip").remove();
                    var x = item.datapoint[0].toFixed(2),
                        y = item.datapoint[1].toFixed(2);

                    showTooltip(item.pageX, item.pageY, item.series.label + " of " + x + " - " + y);
                }
            } else {
                $("#tooltip").remove();
                previousPoint = null;
            }
        });
    }
    chart2();
    });

</script>
<div class="portlet box red">
    <div class="portlet-title">
            <div class="caption">
                    <i class="fa fa-gift"></i>Interactive Chart
            </div>
            <div class="tools">
                    <a href="javascript:;" class="collapse"></a>
                    <a href="javascript:;" class="reload"></a>
                    <a href="javascript:;" class="remove"></a>
            </div>
    </div>
    <div class="portlet-body">
        <div id="chart_2" class="chart" style="padding: 0px; position: relative;"></div>
    </div>
</div>
{% set last = false %}
{% set customerId = null %}
{% for  key,item in entities %}
    {% if customerId !=  item.customerId %}
        {% if customerId is not null %}
                chart(pageviews, visitors, {{ last.customerId }});
            });
        </script>
        <div class="portlet box red">
            <div class="portlet-title">
                    <div class="caption">
                            <i class="fa fa-gift"></i>{{ last.customerName }}
                    </div>
                    <div class="tools">
                            <a href="javascript:;" class="collapse"></a>
                            <a href="javascript:;" class="reload"></a>
                            <a href="javascript:;" class="remove"></a>
                    </div>
            </div>
            <div class="portlet-body">
                <div id="chart_{{ last.customerId }}" class="chart" style="padding: 0px; position: relative;"></div>
            </div>
        </div>
        {% endif %}
        {% set customerId = item.customerId %}
        <script>
            $(document).ready(function(){
            var pageviews = [];
            var visitors = [];
    {% endif %}
            console.log('{{item.delayDate|date('U')}}');
            pageviews.push(['{{item.delayDate|date('U')}}', {{ item.allSumma }}]);
            visitors.push(['{{item.delayDate|date('U')}}', {{ item.allSumma-item.paymentsSumma }}]);
    {% set last = item %}
{% endfor %}
            chart(pageviews, visitors, {{ last.customerId }});
        });
    </script>
    <div class="portlet box red">
        <div class="portlet-title">
                <div class="caption">
                        <i class="fa fa-gift"></i>{{ last.customerName }}
                </div>
                <div class="tools">
                        <a href="javascript:;" class="collapse"></a>
                        <a href="javascript:;" class="reload"></a>
                        <a href="javascript:;" class="remove"></a>
                </div>
        </div>
        <div class="portlet-body">
            <div id="chart_{{ last.customerId }}" class="chart" style="padding: 0px; position: relative;"></div>
        </div>
    </div>
