{% extends "::base.html.twig" %}
{% trans_default_domain 'ITDoorsControllingBundle' %}
{% block title %}{% trans %}Grafic of debtors{% endtrans %} {% endblock %}
{% block page_title %}
<h3 class="page-title">
        {% trans %}Invoice <small>grafic of debtors</small>{% endtrans %}
</h3>
{% endblock %}

{% block page_breadcrumbs %}
<ul class="page-breadcrumb breadcrumb">
    <li>
         <i class="fa fa-home"></i>
         <a href="{{ path('sd_dashboard_homepage') }}" title="{% trans %}Dashboard{% endtrans %}">{% trans %}Dashboard{% endtrans %}</a>
        <i class="fa fa-angle-right"></i>
    </li>
    <li>
        <a href="{{ path('it_doors_controlling_invoice') }}" title="{% trans %}Analitic{% endtrans %}">{% trans %}Analitic{% endtrans %}</a>
    </li>
</ul>
{% endblock %}

{% block css_page_level_plugin %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('metronic/assets/global/plugins/bootstrap-datepicker/css/datepicker.css')}} " />
    <link rel="stylesheet" type="text/css" href="{{ asset('metronic/assets/global/plugins/bootstrap-editable/bootstrap-editable/css/bootstrap-editable.css')}} " />
    <link rel="stylesheet" type="text/css" href="{{ asset('metronic/assets/global/plugins/select2/select2.css')}} " />
{% endblock %}

{% block js_page_level_plugins %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('metronic/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js')}} "></script>
    <script type="text/javascript" src="{{ asset('metronic/assets/global/plugins/bootstrap-datepicker/js/locales/bootstrap-datepicker.ru.js')}} "></script>
    <script type="text/javascript" src="{{ asset('metronic/assets/global/plugins/bootstrap-editable/bootstrap-editable/js/bootstrap-editable.js') }}"></script>
    <script type="text/javascript" src="{{ asset('metronic/assets/global/plugins/select2/select2.min.js') }}"></script>
{% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-12">
        {#<div class="portlet">
            <div class="portlet-title">
                <div class="actions">
                    <div class="btn-group">
                        <a class="btn default yellow-stripe" href="{{ path('it_doors_controlling_invoice_export_exel')}}">
                            <i class="fa fa-share"></i>
                            <span class="hidden-480">{% trans %}Export to Excel{% endtrans %}</span>
                            <i class="fa fa-angle-down"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        {{ ajax_filter_render(filter, namespace, {
            'datatable_ajax': 'ITDoorsAjax.updateList'
        }) }}#}
        <div class="tabbable tabbable-custom boxless">
             {{ ajax_tab_render( tabs, tab, namespace) }}
            <div class="tab-content ajax-tab-holder" id="datatable_ajax" data-url="{{ tabs[tab].url }}">
                 {{ render(controller('ITDoorsControllingBundle:Analytic:grafic'~tab | title)) }}
            </div>
        </div>
    </div>
</div>
{% endblock body %}