{% trans_default_domain 'ITDoorsEmailBundle' %}
{% extends "::base.html.twig" %}
{% trans_default_domain 'ITDoorsEmailBundle' %}
{% block title %}{% trans %}List of email history send{% endtrans %} {% endblock %}
{% block page_title %}
    <h3 class="page-title">
        {% trans %}Email <small>history send</small>{% endtrans %}
    </h3>
{% endblock %}
{% block page_breadcrumbs %}
    <ul class="page-breadcrumb breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="{{ path('sd_dashboard_homepage') }}" title="{% trans %}Dashboard{% endtrans %}">{% trans %}Dashboard{% endtrans %}</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="{{ path('it_doors_email_history') }}" title="{% trans %}Email history send{% endtrans %}">{% trans %}Email history send{% endtrans %}</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            {{ entity.id }}
        </li>
    </ul>
{% endblock %}

{% block css_page_level_plugin %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('templates/metronic/plugins/bootstrap-summernote/summernote.css') }}">
{% endblock %}

{% block js_page_level_plugins %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('templates/metronic/plugins/bootstrap-summernote/summernote.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('templates/metronic/plugins/bootstrap-summernote/lang/summernote-ru-RU.js') }}"></script>
    <script type="text/javascript" src="{{ asset('templates/metronic/scripts/form-dropzone.js') }}"></script>
{% endblock %}
{% block body %}
<div class="table-scrollable">
    <table class="table table-striped table-bordered table-hover dataTable" aria-describedby="datatable_ajax_info">
    <tbody>
        <tr>
            <th>{% trans %}From{% endtrans %}</th>
            <td>{{ entity.fromName }} {{ entity.fromEmail }}</td>
        </tr>
        <tr>
            <th>{% trans %}Toemail{% endtrans %}</th>
            <td>{{ entity.toEmail }}</td>
        </tr>
        <tr>
            <th>{% trans %}Createdat{% endtrans %}</th>
            <td>{{ entity.createdAt|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>{% trans %}Sentat{% endtrans %}</th>
            <td>{% if entity.sentAt %}{{ entity.sentAt|date('Y-m-d H:i:s') }}{% endif %}</td>
        </tr>
        <tr>
            <th>{% trans %}Status{% endtrans %}</th>
            <td>
                {% if entity.isSent == true %}
                    {% trans %}Send{% endtrans %}
                {% elseif entity.isFailed == true %}
                    {% trans %}Error send{% endtrans %}
                {% elseif entity.isSending == true %}
                    {% trans %}In progress{% endtrans %}
                {% else %}
                    {% trans %}In send{% endtrans %}
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>{% trans %}Subject{% endtrans %}</th>
            <td>{{ entity.subject }}</td>
        </tr>
        <tr>
            <th>{% trans %}Body{% endtrans %}</th>
            <td>{% autoescape false %}{{ entity.body }}{% endautoescape %}</td>
        </tr>
        {% if files %}
        <tr>
            <th>{% trans %}files{% endtrans %}</th>
            <td>
                {% for file in files%}
                    <a href="/files/email/{{ file.getName() }}" target="_blank">{{ file.getName() }}</a><br>
                {% endfor %}
            </td>
        </tr>
        {% endif %}
    </tbody>
</table>
</div>
<ul class="record_actions">
    <li>
        <a href="{{ path('it_doors_email_history') }}">
            {% trans %}Back to the list{% endtrans %}
        </a>
    </li>
    {#<li>
        <a href="{{ path('automailer_edit', { 'id': entity.id }) }}">
            {% trans %}Edit{% endtrans %}
        </a>
    </li>#}
    <li>
        <form action="{{ path('automailer_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">{% trans %}Delete{% endtrans %}</button>
        </form>
    </li>
</ul>
{% endblock %}