{% trans_default_domain 'ListsOrganizationBundle' %}
<script src="{{ asset('metronic/assets/global/plugins/bootstrap/js/bootstrap.min.js') }}" type="text/javascript"></script>

<link rel="stylesheet" type="text/css" href="{{ asset('metronic/assets/global/plugins/select2/select2.css')}} " />
<link rel="stylesheet" type="text/css" href="{{ asset('metronic/assets/global/plugins/bootstrap-editable/bootstrap-editable/css/bootstrap-editable.css')}} " />

<script type="text/javascript" src="{{ asset('metronic/assets/global/plugins/select2/select2.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('metronic/assets/global/plugins/bootstrap-editable/bootstrap-editable/js/bootstrap-editable.min.js') }}"></script>


<script type="text/javascript">

    $(document).ready(function(){

        $.fn.editable.defaults.inputclass = 'form-control';
        $.fn.editable.defaults.emptytext = '{% trans %}Enter value{% endtrans %}';

        $('#name, #shortname, #address, #mailingAddress, #physicalAddress, #site, #phone, #edrpou, #inn, #certificate, #shortDescription').editable({
            url: '{{ path('sd_common_ajax_organization_save') }}',
            emptytext: '{% trans %}Enter value{% endtrans %}'
        });

        $('#organizationTypeId').editable({
            url: '{{ path('sd_common_ajax_organization_save') }}',
            source: '{{ path('sd_common_ajax_organization_type') }}',
            emptytext: '{% trans %}Enter value{% endtrans %}'
        });

        $('#groupId').editable({
            url: '{{ path('sd_common_ajax_organization_save') }}',
            source: '{{ path('sd_common_ajax_organization_group') }}',
            emptytext: '{% trans %}Enter value{% endtrans %}',
            select2: {
                placeholder: '{% trans %}Select Group{% endtrans %}',
                minimumInputLength: 2,
                width: 250,
                allowClear: true
            }
        });

        $('#scopeId').editable({
            url: '{{ path('sd_common_ajax_organization_save') }}',
            source: '{{ path('sd_common_ajax_scope') }}',
            emptytext: '{% trans %}Enter value{% endtrans %}',
            select2: {
                placeholder: '{% trans %}Select scope{% endtrans %}',
                minimumInputLength: 0
            }
        });

        $('#cityId').editable({
            url: '{{ path('sd_common_ajax_organization_save') }}',
            source: '{{ path('sd_common_ajax_city') }}',
            emptytext: '{% trans %}Enter value{% endtrans %}',
            select2: {
                placeholder: '{% trans %}Select city{% endtrans %}',
                minimumInputLength: 0,
                width: 250
            }
        });
        $('#ownershipId').editable({
            url: '{{ path('sd_common_ajax_organization_save') }}',
            source: '{{ path('sd_common_ajax_ownership') }}',
            emptytext: '{% trans %}Enter value{% endtrans %}',
            select2: {
                placeholder: '{% trans %}Select ownership{% endtrans %}',
                minimumInputLength: 0,
                width: 250,
                allowClear: true
            }
        });
    });

</script>

    <div class="col-md-12">
        <table id="user" class="table table-bordered table-striped">
            <tbody>
            <tr>
                <td style="width:15%">{% trans %}Creator{% endtrans %}</td> {# Добавляем создателя и дату создания #}
                <td style="width:50%">
                    {{ organization.creator }} {{ organization.createdatetime == '' ? '' : '(' ~ organization.createdatetime|date('d.m.Y, H:i') ~ ')' }}
                </td>
                <td style="width:35%"><span class="text-muted">{% trans %}Creator (date create){% endtrans %}</span></td>
            </tr>
            <tr>
                <td style="width:15%">{% trans %}Organization name{% endtrans %}</td>
                <td style="width:50%">
                    <a href="#" id="name" data-type="text" data-pk="{{ organization.id }}" data-placement="right" data-placeholder="{% trans %}Enter organization name{% endtrans %}" data-original-title="{% trans %}Enter organization name{% endtrans %}">
                        {{ organization.name }}
                    </a>
                </td>
                <td style="width:35%"><span class="text-muted">{% trans %}for example{% endtrans %}: ООО "Импел Гриффин Групп"</span></td>
            </tr>
            <tr>
                <td>{% trans %}Short Name{% endtrans %}</td>
                <td>
                    <a href="#" id="shortname" data-type="text" data-pk="{{ organization.id }}" data-original-title="{% trans %}Enter organization short name{% endtrans %}">
                        {{ organization.shortname }}
                    </a>
                </td>
                <td><span class="text-muted">{% trans %}for example{% endtrans %}: Impel Griffin {% trans %}(limit 50 chars){% endtrans %}</span></td>
            </tr>
            <tr>
                <td>{% trans %}Organization type{% endtrans %}</td>
                <td><a href="#" id="organizationTypeId" data-type="select" data-pk="{{ organization.id }}" data-value="" data-original-title="{% trans %}Enter organization type{% endtrans %}">{{ organization.organizationType }}</a></td>
                <td><span class="text-muted">{% trans %}Select organization type{% endtrans %}</span></td>
            </tr>
            <tr>
                <td>{% trans %}Scope{% endtrans %}</td>
                <td>
                    <a href="#" id="scopeId" data-type="select2" data-pk="{{ organization.id }}" data-value="{{ organization.scopeId }}" data-original-title="{% trans %}Select scope{% endtrans %}">
                        {{ organization.scope }}
                    </a>
                </td>
                <td><span class="text-muted">{% trans %}Select Organization scope{% endtrans %}</td>
            </tr>
            <tr>
                <td>{% trans %}Organization Group{% endtrans %}</td>
                <td>
                    <a href="#" id="groupId" data-type="select2" data-pk="{{ organization.id }}" data-value="{{ organization.groupId }}" data-original-title="{% trans %}Select Organization Group{% endtrans %}">
                        {{ organization.group }}
                    </a>
                </td>
                <td><span class="text-muted">{% trans %}Select a control group that owns the organization{% endtrans %}</td>
            </tr>
            <tr>
                <td>{% trans %}City{% endtrans %}</td>
                <td>
                    <a href="#" id="cityId" data-type="select2" data-pk="{{ organization.id }}" data-value="BS" data-original-title="{% trans %}Select city{% endtrans %}">
                        {{ organization.city }}
                    </a>
                </td>
                <td><span class="text-muted">{% trans %}Select city{% endtrans %}</span></td>
            </tr>
            <tr>
                <td>{% trans %}Legal Address{% endtrans %}</td>
                <td>
                    <a href="#" id="address" data-type="text" data-pk="{{ organization.id }}" data-original-title="{% trans %}Enter Legal Address{% endtrans %}">
                        {{ organization.address }}
                    </a>
                </td>
                <td><span class="text-muted">{% trans %}Enter Legal Address{% endtrans %}</span></td>
            </tr>
            <tr>
                <td>{% trans %}Mailing Address{% endtrans %}</td>
                <td>
                    <a href="#" id="mailingAddress" data-type="text" data-pk="{{ organization.id }}" data-original-title="{% trans %}Enter Mailing Address{% endtrans %}">
                        {{ organization.mailingAddress }}
                    </a>
                </td>
                <td><span class="text-muted">{% trans %}Enter Mailing Address{% endtrans %}</span></td>
            </tr>
            <tr>
                <td>{% trans %}Physical Address{% endtrans %}</td>
                <td>
                    <a href="#" id="physicalAddress" data-type="text" data-pk="{{ organization.id }}" data-original-title="{% trans %}Enter Physical Address{% endtrans %}">
                        {{ organization.physicalAddress }}
                    </a>
                </td>
                <td><span class="text-muted">{% trans %}Enter Physical Address{% endtrans %}</span></td>
            </tr>
            <tr>
                <td>{% trans %}Phone{% endtrans %}</td>
                <td><a href="#" id="phone" data-type="text" data-pk="{{ organization.id }}" data-original-title="{% trans %}Enter Phone{% endtrans %}">{{ organization.phone }}</a></td>
                <td><span class="text-muted">{% trans %}Enter Phone{% endtrans %}</span></td>
            </tr>
            <tr>
                <td>{% trans %}Site{% endtrans %}</td>
                <td>
                    <a href="#" id="site" data-type="text" data-pk="{{ organization.id }}" data-original-title="{% trans %}Enter Organization Site{% endtrans %}">
                        {{ organization.site }}
                    </a>
                </td>
                <td><span class="text-muted">{% trans %}Enter Organization Site{% endtrans %}</span></td>
            </tr>
            <tr>
                <td>{% trans %}Edrpou{% endtrans %}</td>
                <td>
                    <a href="#" id="edrpou" data-type="text" data-pk="{{ organization.id }}" data-original-title="{% trans %}Enter edrpou{% endtrans %}">
                        {{ organization.edrpou }}
                    </a>
                </td>
                <td><span class="text-muted">{% trans %}Enter edrpou{% endtrans %}</span></td>
            </tr>
            <tr>
                <td>{% trans %}INN{% endtrans %}</td>
                <td>
                    <a href="#" id="inn" data-type="text" data-pk="{{ organization.id }}" data-original-title="{% trans %}Enter INN{% endtrans %}">
                        {{ organization.inn }}
                    </a>
                </td>
                <td><span class="text-muted">{% trans %}Enter INN{% endtrans %}</span></td>
            </tr>
            <tr>
                <td>{% trans %}Certificate{% endtrans %}</td>
                <td>
                    <a href="#" id="certificate" data-type="text" data-pk="{{ organization.id }}" data-original-title="{% trans %}INN Certificate{% endtrans %}">
                        {{ organization.certificate }}
                    </a>
                </td>
                <td><span class="text-muted">{% trans %}Enter INN Certificate{% endtrans %}</span></td>
            </tr>
            <tr>
                <td>{% trans %}Organization Description{% endtrans %}</td>
                <td>
                    <a href="#" id="shortDescription" data-type="text" data-pk="{{ organization.id }}" data-original-title="{% trans %}Organization Description{% endtrans %}">
                        {{ organization.shortDescription }}
                    </a>
                </td>
                <td><span class="text-muted">{% trans %}Enter Organization Description{% endtrans %}</span></td>
            </tr>
            <tr>
                <td>{% trans %}Ownership{% endtrans %}</td>
                <td>
                    <a href="#" id="ownershipId" data-type="select2" data-pk="{{ organization.id }}" data-original-title="{% trans %}Ownership{% endtrans %}">
                        {{ organization.ownership }}
                    </a>
                </td>
                <td><span class="text-muted">{% trans %}Select ownership{% endtrans %}</span></td>
            </tr>
            </tbody>
        </table>
    </div>
