{% extends "::base.html.twig" %}
{% trans_default_domain 'ListsOrganizationBundle' %}
{% block title %}{% trans %}Show Organization{% endtrans %} {% endblock %}
{% block page_breadcrumbs %}
	<ul class="page-breadcrumb breadcrumb">
		<li>
			<i class="fa fa-home"></i>
			<a href="{{ path('sd_dashboard_homepage') }}" title="{% trans %}Dashboard{% endtrans %}">{% trans %}Dashboard{% endtrans %}</a>
			<i class="fa fa-angle-right"></i>
		</li>
		<li><a href="{{ path('lists_' ~ baseRoutePrefix ~ '_index') }}" title="{% trans %}Contractors{% endtrans %}">{% trans %}Contractors{% endtrans %}</a><i class="fa fa-angle-right"></i></li>
		<li><a href="{{ path('lists_' ~ baseRoutePrefix ~ '_show', { id : organization.id }) }}" title="{% trans %}Show Organization{% endtrans %}">{% trans %}Show Organization{% endtrans %}</a></li>
	</ul>
{% endblock %}
{% block page_title %}
	<h3 class="page-title">
		{% trans %}Contractor{% endtrans %} <small>{% trans %}Show contractor{% endtrans %}</small>
	</h3>
{% endblock %}

{% block css_page_level_plugin %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('metronic/assets/global/plugins/select2/select2.css')}} " />
    <link rel="stylesheet" type="text/css" href="{{ asset('metronic/assets/global/plugins/bootstrap-editable/bootstrap-editable/css/bootstrap-editable.css')}} " />
    <link rel="stylesheet" type="text/css" href="{{ asset('metronic/assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.css')}} " />
    <link rel="stylesheet" type="text/css" href="{{ asset('metronic/assets/global/plugins/bootstrap-datetimepicker/css/datetimepicker.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('metronic/assets/global/plugins/jquery-file-upload/css/style.css')}}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('metronic/assets/global/plugins/jquery-file-upload/css/jquery.fileupload.css')}}"/>
{% endblock %}

{% block js_page_level_plugins %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('metronic/assets/global/plugins/select2/select2.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('metronic/assets/global/plugins/bootstrap-editable/bootstrap-editable/js/bootstrap-editable.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('metronic/assets/global/plugins/datatables/media/js/jquery.dataTables.js') }}"></script>
    <script type="text/javascript" src="{{ asset('metronic/assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js') }}"></script>
    <script type="text/javascript" src="{{ asset('metronic/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js')}} "></script>
    <script type="text/javascript" src="{{ asset('metronic/assets/global/plugins/bootstrap-datepicker/js/locales/bootstrap-datepicker.ru.js')}} "></script>
    <script type="text/javascript" src="{{ asset('metronic/assets/global/plugins/jquery-file-upload/js/vendor/jquery.ui.widget.js')}}"></script>
    <script type="text/javascript" src="{{ asset('metronic/assets/global/plugins/jquery-file-upload/js/jquery.iframe-transport.js')}}"></script>
    <script type="text/javascript" src="{{ asset('metronic/assets/global/plugins/jquery-file-upload/js/jquery.fileupload.js')}}"></script>
{% endblock %}

{% block body %}

	<div class="row">
		<div class="col-md-12">
			<div class="tabbable tabbable-custom boxless">
				<ul class="nav nav-tabs">
					<li class="active"><a href="#tab_0" data-toggle="tab">{% trans %}Organization{% endtrans %}</a></li>
					<li><a href="#tab_1" data-toggle="tab">{% trans %}Managers{% endtrans %}</a></li>
					<li><a href="#tab_2" data-toggle="tab">{% trans %}Contacts{% endtrans %}</a></li>
					<li><a href="#tab_3" data-toggle="tab">{% trans %}Contracts{% endtrans %}</a></li>
					<li><a href="#tab_4" data-toggle="tab">{% trans %}Dogovors{% endtrans %}</a></li>
					<li><a href="#tab_5" data-toggle="tab">{% trans %}COEA{% endtrans %}</a></li>
				</ul>
				<div class="tab-content">
                    <div class="tab-pane active" id="tab_0">
                        {{  include(
                            'ListsOrganizationBundle:' ~ baseTemplate ~ ':edit.html.twig',
                            {
                                organization: organization
                            }
                            )
                        }}
                    </div>
					<!--tabpane-->
                    {{  include(
                        'ListsOrganizationBundle:' ~ baseTemplate ~ ':managers.html.twig',
                            {
                                organization: organization,
                                baseTemplate: baseTemplate,
                                baseRoutePrefix: baseRoutePrefix
                            }
                        )
                    }}
					<!--tabpane-->
                    {{  include(
                        'ListsOrganizationBundle:' ~ baseTemplate ~ ':contacts.html.twig',
                            {
                                organization: organization,
                                baseTemplate: baseTemplate,
                                baseRoutePrefix: baseRoutePrefix
                            }
                        )
                    }}
					<!--tabpane-->
					<div class="tab-pane" id="tab_3"></div>
                                        <div class="tab-pane" id="tab_4">
                                            <script>
                                                $(document).ready(function(){
                                                    $(function () {
                                                        $('#fileupload').fileupload({

                                                        dataType: 'json',
                                                        fail: function (e, data) {
                                                            alert('Error upload');
                                                        },
                                                        done: function (e, data) {
                                                            ITDoorsAjax.updateList('updateListDogovors');
                                                        }
                                                        }).prop('disabled', !$.support.fileInput)
                                                            .parent().addClass($.support.fileInput ? undefined : 'disabled');
                                                    });
                                                });
                                            </script>
                                            <span class="btn btn-success fileinput-button">
                                                <i class="glyphicon glyphicon-plus"></i>
                                                <span>{% trans %}Add document{% endtrans %}</span>
                                                <input id="fileupload" type="file" name="dogovor" data-url="{{ path('sd_common_ajax_contractor_upload_file', {'id': organization.id}) }}">
                                            </span>
                                            <div data-url="{{ path('lists_contractor_show_list_dogovor', { id:organization.id } )}}" id="updateListDogovors">
                                                {{ render(controller('ListsOrganizationBundle:Contractor:listDogovor', { id:organization.id })) }}
                                            </div>
                                        </div>
					<div class="tab-pane" id="tab_5">
                                            <div class="table-toolbar">
                                                <div class="btn-group">
                                                    <button id="managers_list_new" class="btn green ajax-form"
                                                            data-target_holder="kvedFormTpl"
                                                            data-form_name="kvedForm"
                                                            data-default='{"organizationId":"{{ organization.id }}"}'
                                                            data-post_function="updateList"
                                                            data-post_target_id="updateListKved"
                                                            >
                                                                    {% trans %}Add kved{% endtrans %} <i class="fa fa-plus"></i>
                                                    </button>
                                                </div>
                                                <br>
                                                <br>
                                                <div style="display: none" id="kvedFormTpl"></div>
                                            </div>
                                            <div data-url="{{ path('lists_contractor_show_list_kved', { id:organization.id } )}}" id="updateListKved">
                                                {{ render(controller('ListsOrganizationBundle:Contractor:listKved', { id:organization.id })) }}
                                            </div>
                                        </div>
					<!--tabpane-->
				</div>
				<!--tab-content-->
			</div>
			<!--tabbale-->
		</div>
	</div>
	<!--row-->
    <script>
        jQuery(document).ready(function() {
            Metronic.init(); // init metronic core components
            Layout.init(); // init current layout

            SD.init({
                ajaxFormUrl: '{{ path('sd_common_ajax_form') }}',
                ajaxDeleteUrl: '{{ path('sd_common_ajax_delete') }}',
                assetsDir: '{{ asset('') }}'
            });
            ITDoorsAjax.init({
                assetsDir: '{{ asset('') }}'
            });
            //Index.initJQVMAP(); // init index page's custom scripts
            //Index.initCalendar(); // init index page's custom scripts
            //Index.initCharts(); // init index page's custom scripts
            //Index.initChat();
            //Index.initMiniCharts();
            //Index.initDashboardDaterange();
            //Index.initIntro();
            //Tasks.initDashboardWidget();
        });
    </script>


{% endblock body %}
